@use "variables" as *;
@use "sass:meta";

@mixin mq($device) {
  // 숫자가 맞다면 'px' 단위를 붙여서 max-width로 바로 출력
  @if meta.type-of($device) == 'number' {
    @media (max-width: #{$device}px) { @content; }
  }

  @if $device == pc-xlarge {
    @media (min-width: 1921px) { @content; }
  } @else if $device == pc-large {
    @media (max-width: #{$breakpoint-pc-large}) { @content; }
  } @else if $device == pc {
    @media (max-width: #{$breakpoint-pc}) { @content; } // 노트북 이하
  } @else if $device == tablet {
    @media (max-width: #{$breakpoint-tablet}) { @content; } // 태블릿 가로
  } @else if $device == mobile {
    @media (max-width: #{$breakpoint-mobile}) { @content; } // 모바일 가로
  } @else if $device == mobile-medium {
    @media (max-width: #{$breakpoint-mobile-medium}) { @content; } // 모바일
  } @else if $device == mobile-small {
    @media (max-width: #{$breakpoint-mobile-small}) { @content; } // 소형 모바일
  }
}