@use "variables" as *;
@use "mixins" as *;

// svg img
@mixin svg-icon($size: 2rem, $effect: null) {
  display: inline-flex;
// 
  @include square($size);

  background-color: var(--#{$prefix}-color-text-basic);

  @if $effect == 'pure' {
    // mask 효과 없이 디자인된 svg 그대로 사용
    background-color: transparent !important;
  }

  forced-color-adjust: none;

  // @media (forced-colors: active) {
  // }
}

// svg icon setting
@mixin icon-set($name, $effect: null) {
  $icon-url: '#{$base-url}images/icon/ico-#{$name}.svg';

  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url('#{$icon-url}');

  @if $effect == 'pure' {
    // mask 효과 없이 디자인된 svg 그대로 사용
    mask-image: none;
    background-image: url('#{$icon-url}');
    background-color: transparent !important;
    background-size: contain;
    background-repeat: no-repeat;

    // mask: none;
  }
}
