@charset "UTF-8";

$prefix: 'hwf' !default;

//경로 url
$base-url: "../";

// 적용 웹 폰트
// $font-kr: var(--#{$prefix}-font-kr);
// $font-en: var(--#{$prefix}-font-en);
$font-kr: "Pretendard";
$font-en: "Trust2ATRIAL";
$font-family-kr: $font-kr, sans-serif;
$font-family-en: $font-en, sans-serif;
$f-pretend: $font-kr, sans-serif;
$f-trust: $font-en, sans-serif;

// BREAK POINTS
$breakpoint-pc-large: 1440px !default;
$breakpoint-pc: 1280px !default;
$breakpoint-tablet: 1024px !default;
// $breakpoint-tablet-small: 768px !default;
// $breakpoint-mobile-large: 480px !default;
// $breakpoint-mobile: 360px !default;
$breakpoint-tablet-small: 768px !default;
$breakpoint-mobile: 640px !default;
$breakpoint-mobile-medium: 480px !default;
$breakpoint-mobile-small: 360px !default;

// 640

// SVG ICON SIZE
// $icon-sizes: (
//   xsmall: 1.6rem,
//   small: 1.6rem,
//   medium: 2rem,
//   large: 2.4rem,
//   xlarge: 2.4rem,
// ) !default;

// 3. 아이콘 사이즈 맵
$icon-size: (
  xsmall: var(--#{$prefix}-icon-size-xsmall), //1.2rem
  small: var(--#{$prefix}-icon-size-small), //1.4rem
  medium: var(--#{$prefix}-icon-size-medium), //1.6rem
  large: var(--#{$prefix}-icon-size-large), //2rem
  xlarge: var(--#{$prefix}-icon-size-xlarge), //2.4rem
  xxlarge: var(--#{$prefix}-icon-size-xxlarge), //4rem
  xxxlarge: var(--#{$prefix}-icon-size-xxxlarge), //4.8rem
) !default;

// $icon-size: (
//   xsmall: 1.2rem,
//   small: 1.4rem,
//   medium: 1.6rem,
//   large: 2rem,
//   xlarge: 2.4rem,
//   xxlarge: 4rem,
//   xxxlarge: 4.8rem,
// ) !default;