<!doctype html>
<html lang="ko">
  <head>
		 <%- include('../_inc/guide_head.ejs', {
			title: '스피너',
		}) %>
  </head>

  <body>
    <div id="guideWrap">
      <div class="main_content">
        <div class="tit-lg">
          <span class="txt">스피너</span>
        </div>

        <section class="section">
          <div class="tit-xsm">
            <span class="txt">기본형</span>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%- include('../../components/spinner.ejs') %>
              <%#- include('../../components/spinner.ejs', {
                text: '데이터 로딩 중...',
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
