<!doctype html>
<html lang="ko">
  <head>
		 <%- include('../_inc/guide_head.ejs', {
			title: '뱃지',
		}) %>
  </head>

  <body>
    <div id="guideWrap">
      <div class="main_content">
				<div class="tit-lg">
					<span class="txt">뱃지</span>
				</div>

        <section class="section">
          <div class="tit-xsm">
            <span class="txt">Badge - solid</span>
          </div>

          <div class="group">
            <div class="module-box option-bg">
              <ul class="note-list depth-1">
                <li>박스형태 유형</li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%- include('../../components/badge.ejs', { 
                badgeItems: [
                  { label: '국내', variant: 'solid', color: 'light-orange' },
                  { label: '주식', variant: 'solid', color: 'light-orange' },
                  { label: '글로벌', variant: 'solid', color: 'light-orange' }
                ]
              }) -%>
              <%- include('../../components/badge.ejs', { 
                badgeItems: [
                  { label: '1등급', variant: 'solid', color: 'level6' },
                  { label: '2등급', variant: 'solid', color: 'level5' },
                  { label: '3등급', variant: 'solid', color: 'level4' },
                  { label: '4등급', variant: 'solid', color: 'level3' },
                  { label: '5등급', variant: 'solid', color: 'level2' },
                  { label: '6등급', variant: 'solid', color: 'level1' },
                ]
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
