<!doctype html>
<html lang="ko">
  <head>
		 <%- include('../_inc/guide_head.ejs', {
			title: '텍스트 필드',
		}) %>
  </head>

  <body>
    <div id="guideWrap">
      <div class="main_content">
        <div class="tit-lg">
          <span class="txt">텍스트 필드</span>
        </div>

        <section class="section">
          <div class="tit-xsm">
            <span class="txt">Input Basic</span>
          </div>

          <div class="group">
            <div class="module-box option-bg">
              <ul class="note-list depth-1">
                <li>텍스트 필드의 기본적인 형태</li>
                <li>
                  label에는 항목명이 표시되고, placeholder에는 힌트 텍스트가
                  표시됨
                </li>
                <li>placeholder가 label로 이동하는 상호작용이 일어나지 않음</li>
                <li>
                  필수입력 .bullet-must는 .label-txt상이 아닌 단독으로도
                  사용가능(모듈 &gt; 리스트 참조)
                </li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%- include('../../components/input.ejs', {
                title: "아이디",
                type: "text",
                placeholder: "아이디 입력",
                size: 'large',
                required: true,
              }) -%>
              <%- include('../../components/input.ejs', {
                title: "readonly",
                type: "text",
                value: '123',
                size: 'large',
                readonly: true,
              }) -%>
              <%- include('../../components/input.ejs', {
                title: "disabled",
                type: "text",
                placeholder: "placeholder",
                size: 'large',
                disabled: true,
              }) -%>
              <%- include('../../components/input.ejs', {
                title: "error",
                type: "text",
                value: '123',
                size: 'large',
                error: true,
              }) -%>
              <%- include('../../components/input.ejs', {
                title: "success",
                type: "text",
                value: '123',
                size: 'large',
                success: true,
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%- include('../../components/input.ejs', {
                title: "비밀번호",
                type: "password",
                placeholder: "비밀번호 입력",
                size: 'large',
                required: false,
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section>

        <!-- <section class="section">
          <div class="tit-xsm">
            <span class="txt">그룹 Input (Dash 스타일)</span>
          </div>

          <div class="group">
            <div class="module-box option-bg">
              <ul class="note-list depth-1">
                <li>
                  placeholder가 label인 형태로 힌트 텍스트를 별도로 사용하면
                  안됨.
                </li>
                <li>
                  사용자가 텍스트 필드에 포커스가 들어가면 placeholder의
                  텍스트가 label로 이동하는 상호작용이 일어남
                </li>
                <li>
                  텍스트 필드에 포커스가 들어가면 .form-wrap에 .is-focus가
                  들어감. 텍스트 없는 상태에서 포커스 아웃 될 경우 .is-focus
                  삭제됨.
                </li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%#- include('../../components/input.ejs', {
                title: "주민등록번호",
                type: "number", // 필요 시 number 등으로 변경
                size: 'large',
                dash: true, // dash 스타일 적용
                group: [
                  { placeholder: '앞자리', ariaLabel: '주민등록번호 앞자리' }, // 각 필드 placeholder, aria-label 설정
                  { placeholder: '뒷자리', ariaLabel: '주민등록번호 뒷자리', type: 'password' } // 개별 타입 변경도 가능
                ]
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section> -->

        <!-- <section class="section">
          <div class="tit-xsm">
            <span class="txt">그룹 Input</span>
          </div>

          <div class="group">
            <div class="module-box option-bg">
              <ul class="note-list depth-1">
                <li>
                  placeholder가 label인 형태로 힌트 텍스트를 별도로 사용하면
                  안됨.
                </li>
                <li>
                  사용자가 텍스트 필드에 포커스가 들어가면 placeholder의
                  텍스트가 label로 이동하는 상호작용이 일어남
                </li>
                <li>
                  텍스트 필드에 포커스가 들어가면 .form-wrap에 .is-focus가
                  들어감. 텍스트 없는 상태에서 포커스 아웃 될 경우 .is-focus
                  삭제됨.
                </li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%#- include('../../components/input.ejs', {
                title: "이메일",
                type: "text", // 필요 시 number 등으로 변경
                size: 'large',
                group: [
                  { placeholder: '앞자리'}, // 각 필드 placeholder, aria-label 설정
                  { placeholder: '뒷자리'} // 개별 타입 변경도 가능
                ]
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section> -->

        <section class="section">
          <div class="tit-xsm">
            <span class="txt">Input Complex</span>
          </div>

          <div class="group">
            <div class="module-box option-bg">
              <ul class="note-list depth-1">
                <li>
                  Basic에 unit, button, image를 각각 조합해서 사용하는 형태
                </li>
                <li>.inp-wrap에 .has-button을 추가함.</li>
              </ul>
            </div>
          </div>

          <!-- <div class="group">
            <div class="tit-xxsm">
              <span class="txt">unit 조합</span>
            </div>

            <div class="mui_tabs" fui-tab="">
              <div class="ui-tab-btns">
                <a class="ui-tab-btn" href="#none">PREVIEW</a>
                <a class="ui-tab-btn" href="#none">MARKUP</a>
              </div>
              <div class="ui-tab-pnls">
                <div class="ui-tab-pnl selected">
                  <section class="section fui-mg-center">
                    <div class="hls_preview">
                      <div class="form-wrap">
                        <div class="form-name">
                          <label for="targetInputUnit1_1" class="label-txt">
                            label unit
                          </label>
                        </div>
                        <div class="input-wrap md has-button search" fui-input>
                          <input
                            type="text"
                            class="inp-base inp-ani"
                            id="targetInputUnit1_1"
                            name=""
                            value=""
                            placeholder="입력해주세요."
                          />
                          <div class="combine">
                            <span>만원</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="ui-tab-pnl">
                  <div>
                    <pre><code class="hls" data-language="html"></code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <div class="group">
            <div class="tit-xxsm">
              <span class="txt">image 조합</span>
            </div>

            <div class="group">
              <% 
                let searchIcon = '';
                searchIcon += include('../../components/button.ejs', { variant: 'icon', label: '검색', size: 'xlarge', icon: 'search'});
              -%>
              <div class="hls_preview">
                <%- include('../../components/input.ejs', {
                  title: "검색",
                  type: "text",
                  size: 'large',
                  placeholder: '검색어 입력',
                  slot: searchIcon
                }) -%>
              </div>
              <button class="btn-code-toggle">View Code</button>
              <div class="hls-wrap">
                <pre><code class="hls language-html"></code></pre>
              </div>
            </div>
          </div>

          <div class="group">
            <div class="tit-xxsm">
              <span class="txt">button 조합</span>
            </div>

            <div class="group">
              <div class="hls_preview">
								<div class="form-group">
									<div class="form-tit">
										<label for="search-input">검색</label>
									</div>
									<div class="form-conts">
										<div class="form-input-group">
											<%- include('../../components/input.ejs', {
												type: "text",
												size: 'large',
												placeholder: '검색어 입력',
											}) -%>
											<%- include('../../components/button.ejs', {
												label: '검색',
												size: 'large',
											}) -%>
										</div>
									</div>
								</div>
              </div>
              <button class="btn-code-toggle">View Code</button>
              <div class="hls-wrap">
                <pre><code class="hls language-html"></code></pre>
              </div>
            </div>
          </div>
        </section>

        <section class="section">
          <div class="tit-xsm">
            <span class="txt">Text Area</span>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%- include('../../components/textarea.ejs', {
                title: "자기소개",
                placeholder: "자신을 소개해주세요...",
                maxlength: 200, // 글자 수 제한 및 카운트 표시
                required: true
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section>

        <!-- <section class="section">
          <div class="group">
            <div class="list-head">
              <div class="tit-xxsm">
                <span class="txt">ELInputBoxIcon</span>
              </div>
            </div>

            <div class="mui_tabs" fui-tab="">
              <div class="ui-tab-btns">
                <a class="ui-tab-btn" href="#none">PREVIEW</a>
                <a class="ui-tab-btn" href="#none">MARKUP</a>
              </div>
              <div class="ui-tab-pnls">
                <div class="ui-tab-pnl selected">
                  <section class="section fui-mg-center">
                    <div class="hls_preview">
                      <div class="form-wrap">
                        <div class="form-name">
                          <label for="targetInpBox3_1" class="label-txt">
                            검색
                          </label>
                        </div>
                        <div
                          class="input-wrap sm option-box has-button search"
                          fui-input
                        >
                          <input
                            type="text"
                            class="inp-base"
                            id="targetInpBox3_1"
                            name=""
                            value=""
                            placeholder="입력"
                          />
                          <div class="combine">
                            <button type="button" class="btn ico-search">
                              <span class="sr-only">검색</span>
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="form-wrap uAddress">
                        <div class="form-wrap">
                          <div class="form-name">
                            <label for="targetInputAddress_2" class="label-txt">
                              주소검색+삭제버튼 조합
                            </label>
                          </div>
                          <div class="item-row gap-0-2">
                            <div class="unit filled">
                              <div
                                class="input-wrap sm option-box has-button address"
                                fui-input
                              >
                                <input
                                  type="text"
                                  class="inp-base"
                                  id="targetInputAddress_3"
                                  name=""
                                  value=""
                                  placeholder="주소 검색"
                                  readonly
                                />
                                <div class="combine">
                                  <button type="button" class="btn ico-search">
                                    <span class="sr-only">검색</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="unit fixed">
                              <button
                                type="button"
                                class="btn tertiary option-xsm option-round"
                              >
                                <span>삭제</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-wrap">
                          <div
                            class="input-wrap sm option-box readonly-line"
                            fui-input
                          >
                            <input
                              type="text"
                              class="inp-base"
                              id="targetInputAddress_3_1"
                              name=""
                              value=""
                              placeholder=""
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="ui-tab-pnl">
                  <div>
                    <pre><code class="hls" data-language="html"></code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
      </div>
    </div>
  </body>
</html>
