<!doctype html>
<html lang="ko">
  <head>
		 <%- include('../_inc/guide_head.ejs', {
			title: '테이블',
		}) %>
  </head>

  <body>
    <div id="guideWrap">
      <div class="main_content">
        <div class="list-head">
          <div class="tit-lg">
            <span class="txt">테이블</span>
          </div>
        </div>

        <section class="section">
          <div class="tit-xsm">
            <span class="txt">Basic</span>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%- include('../../components/table.ejs', { 
                caption: '기간별 수익률',
                colWidths: ['auto', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%'],
                thead: ['구분', '1주', '1개월', '3개월', '6개월', '1년', '3년', '5년', '연초이후', '설정이후'],
                tbody: [
                  ['펀드 수익률', '2.13', '59.16', '66.89', '46.07', '59.50', '62.11', '80.12', '4.12', '2.12'],
                  ['벤치마크 수익률', '4.78', '58.58', '62.25', '41.47', '40.75', '42.12', '40.21', '5.45', '3.98']
                ]
              }) %>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
