<!doctype html>
<html lang="ko">
  <head>
		 <%- include('../_inc/guide_head.ejs', {
			title: '아코디언',
		}) %>
  </head>

  <body>
    <div id="guideWrap">
      <div class="main_content">
        <div class="tit-lg">
          <span class="txt">아코디언</span>
        </div>

        <section class="section">
          <div class="tit-xsm">
            <span class="txt">Basic - singleOpen</span>
          </div>

          <div class="group">
            <div class="module-box option-bg">
              <ul class="note-list depth-1">
                <li>사용자의 선택에 따라 하단 콘텐츠를 펼치거나 숨김</li>
                <li>dl.accordion-box 에 .is-open 추가 시 펼쳐짐</li>
                <li>상하 간격 1.8rem</li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%- include('../../components/accordion.ejs', {
                items: [
                  {title: '제목1', content: '<p>내용1</p>', active: true },
                  {title: '제목2', content: '<p>내용2</p>' },
                  {title: '제목3', content: '<p>내용3</p>' }
                ],
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section>

        <section class="section">
          <div class="tit-xsm">
            <span class="txt">Basic - multiOpen</span>
          </div>

          <div class="group">
            <div class="module-box option-bg">
              <ul class="note-list depth-1">
                <li>사용자의 선택에 따라 하단 콘텐츠를 펼치거나 숨김</li>
                <li>dl.accordion-box 에 .is-open 추가 시 펼쳐짐</li>
                <li>상하 간격 1.8rem</li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%- include('../../components/accordion.ejs', {
                type: 'multiOpen',
                items: [
                  {title: '제목1', content: '<p>내용1</p>', active: true },
                  {title: '제목2', content: '<p>내용2</p>' },
                  {title: '제목3', content: '<p>내용3</p>' }
                ],
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
