<!doctype html>
<html lang="ko">
  <head>
		 <%- include('../_inc/guide_head.ejs', {
			title: '인디게이터',
		}) %>
  </head>

  <body>
    <div id="guideWrap">
      <div class="main_content">
        <div class="tit-lg">
          <span class="txt">인디게이터</span>
        </div>

        <section class="section">
          <div class="tit-xsm">
            <span class="txt">Indicator</span>
          </div>

          <div class="group">
            <div class="module-box option-bg">
              <ul class="note-list depth-1">
                <li>
                  텍스트로 이루어진 콘텐츠의 총 개수 및 현재 위치를 숫자로 표시
                </li>
                <li>
                  첫 페이지와 마지막 페이지에 따라 버튼이 노출 안 됨 / disabled
                  버튼에 넣어주면 display: none; 처리됨
                </li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="hls_preview">
              <%- include('../../components/stepIndicator.ejs', {
                activeStep: 3, // 3번째 스텝 활성화
                orientation: 'vertical',
                items: [
                  { title: '정보 입력', desc: '기본 정보를 입력합니다.' },
                  { title: '약관 동의', desc: '서비스 이용 약관에 동의합니다.' },
                  { title: '본인 인증', desc: '휴대폰 또는 아이핀 인증' },
                  { title: '가입 완료' }, // 설명 없는 경우
                  { title: '추가 정보' }
                ]
              }) -%>
            </div>
            <button class="btn-code-toggle">View Code</button>
            <div class="hls-wrap">
              <pre><code class="hls language-html"></code></pre>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
