@charset "UTF-8";
@use "./util" as *;
@use "./base" as *;
@use "./component" as *;
@use "./layout" as *;

.inner {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.6rem;
  max-width: 168rem;
  width: 100%;
}

.contents {
  a {
    display: inline-block;
  }
}

section .inner {
  padding-top: 28px;
  padding-bottom: 28px;
}

//contents

//main
.page-fund {
  .fund-main {
    .section-visual {
      padding: 10rem 0 8rem;
      @include bg("img-fund-main-visual.png");

      .inner {
        display: flex;
        align-items: center;
				justify-content: space-between;
      }

      .fund-info {
				width: 58%;
        .fund-top {
          display: flex;
          align-items: center;
          gap: 2.4rem;
          margin-bottom: 2.4rem;

          .category {
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 600;

            li {
              display: flex;
              align-items: center;

              &:last-child::after {
                display: none;
              }

              &::after {
                content: "";
                display: inline-block;
                margin: 0 1.2rem;
                width: 0.1rem;
                height: 1.6rem;
                background-color: rgba(255, 255, 255, 0.3);
              }
            }
          }
          .btn-share {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);

            &::after {
              content: "";
              display: inline-block;
              @include icon-set("share");
              @include square(2.4rem);
              background-color: #fff;
            }
          }
        }
        .fund-tit {
          margin-bottom: 4rem;
          font-weight: 600;
        }
        .fund-actions {
          display: flex;
          align-items: center;
          margin-bottom: 4rem;
        }
        .fund-summary {
          display: flex;
          align-items: center;
          padding: 4rem;
          background-color: rgba(255, 255, 255, 0.1);

          li {
						flex: 1;
          }

          .tit {
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.8rem;
          }
          .value {
            display: flex;
            align-items: baseline;
            color: #fff;
            font-size: 4rem;
            font-weight: 600;

            .unit {
              display: inline-block;
              margin-left: 0.2rem;
              margin-bottom: 0.8rem;
              font-size: 2.1rem;
              font-weight: 400;
            }
          }
          .change {
            font-size: 1.8rem;
            &.up {
              color: #f65565;
            }
            &.down {
              color: #3485fa;
            }
          }
        }
      }
      .fund-ai {
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				gap: 2.4rem;
				padding: 4rem;
				width: 33%;
				@include bg("img-fund-main-ai-bg.png");

        .tit {
					display: flex;
					align-items: center;
					gap: 0.8rem;
					font-size: 2.1rem;
					font-weight: 700;
					color: #fff;

					&::before{
						content: '';
						display: inline-block;
						width: 2.4rem;
						height: 2.4rem;
						@include icon-set('ai-star', pure);
					}
        }
        .desc-wrap {
					color: #fff;

          dt {
						margin-bottom: 1.6rem;
						padding: 0.4rem 1.2rem;
						font-size: 1.6rem;
						font-weight: 700;
						background: linear-gradient(90deg, rgba(255, 85, 50, 0.80) 0%, rgba(4, 2, 30, 0.70) 100%);
          }
          dd {
						position: relative;
						padding-left: 1.2rem;
						font-size: 1.8rem;
						margin-bottom: 0.4rem;

						&:last-child::before{
							margin-bottom: 0;
						}

						&::before{
							content: '';
							position: absolute;
							top: 1.15rem;
							left: 0;
							display: block;
							width: 0.4rem;
							height: 0.4rem;
							border-radius: 50%;
							background-color: #fff;
						}
          }
        }
      }
    }
  }
}
