@charset "UTF-8";
@use "sass:list";
@use "./util" as *;
@use "./base" as *;
@use "./component" as *;
@use "./layout" as *;
// @forward "./test.scss";

@forward "./page";

.inner {
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--#{$prefix}-content-padding-x);
  max-width: var(--#{$prefix}-content-wrap-width);
  width: 100%;
}

// section .inner {
//   padding-top: 28px;
//   padding-bottom: 28px;
// }

//contents
.overlay-box-wrap {
  display: flex;

  .visual-box {
    padding: 8rem;
    width: 56.002%;
    height: 48rem;
    background: #000;

    .tit-md {
      color: #fff;
    }
  }
  .info-box {
    position: relative;
    margin-top: 6rem;
    margin-left: -4.8rem;
    padding: 8rem 12rem;
    width: 61.407%;
    z-index: 1;

		@include translucent(rgba(225, 224, 224, 0.2), 1rem, rgba(255, 255, 255, 0.3));
  }
}

.pipe-list {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;

  li {
    display: flex;
    align-items: center;

    &:last-child::after {
      display: none;
    }

    &::after {
      content: "";
      display: inline-block;
      margin: 0 1.2rem;
      width: 0.1rem;
      height: 1.6rem;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

//검색창
.search-wrap{
	.input.search{
		position: relative;
		border: 0;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.3rem;
			background: linear-gradient(90deg, #FF4D32 25%, #803C4A 50%, #022A62 100%);
		}
	}
}

.section-tit-wrap {
  // display: flex;
  // flex-direction: column;
  // gap: 2.4rem;

  .sub-tit {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: 500;
  }
  .tit {
    font-size: 4.8rem;
    font-weight: 700;
    color: #151414;

    &.txt-en {
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1.1;
    }
  }
  .desc {
    margin-top: 2.4rem;
    font-size: 2.4rem;
  }

  @include mq(mobile) {
    // gap: 1.6rem;

    .sub-tit {
      margin-bottom: 1.6rem;
      font-size: 2.1rem;
    }
    .tit {
      font-size: 3.2rem;

      &.txt-en {
        font-size: 4rem;
      }
    }
    .desc {
      margin-top: 0.8rem;
      font-size: 1.8rem;
    }
  }
}

.cont-group {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 8rem 0 12rem;

  @include mq(mobile) {
    gap: 4rem;
    padding: 4rem 0 8rem;
  }
}

//등락율
.change {
  display: inline-flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 0.2rem;
    width: 1.6rem;
    height: 1.6rem;
    @include icon-set("triangle");
    background-color: currentColor;
  }
  &.up {
    color: var(--#{$prefix}-color-change-up);
  }
  &.down {
    color: var(--#{$prefix}-color-change-down);
    &::before {
      transform: rotate(-180deg);
    }
  }

  &.bg {
    padding: 0 0.8rem;
    height: 3.2rem;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.4);

    &.up {
      color: #ff6d41;
    }
    &.down {
      color: #04c0ff;
    }
  }
}

//필터
.filter-period {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  width: 100%;

  .scroll-wrap {
    width: 100%;
  }
  .form-input-group {
    .calendar {
      width: 18.1rem;
    }
  }
  .segment-control {
    width: 100%;
    // min-width: 75.2rem;
  }

  @include mq(tablet) {
    flex-direction: column;

    .form-input-group {
      width: 100%;
      .calendar {
        width: 100%;
      }
    }
  }
  @include mq(tablet) {
    gap: 1.6rem;
  }
}

//card-list
.card-list-wrap {
  .card-list {
    display: flex;
    // align-items: center;

    .card-item {
      position: relative;
      border-left: 0.1rem solid #dcd8d6;
      // border-left: 0.1rem solid;
      // border-image-slice: 1;
      // border-image-source: linear-gradient(to bottom, #ff4d32 25%, #803c4a 50%, #022a62 100%);
      flex: 1;

      &:last-child {
        border-right: 0.1rem solid #dcd8d6;
        // border-right: 0.1rem solid;
        // border-image-slice: 1;
        // border-image-source: linear-gradient(to bottom, #ff4d32 25%, #803c4a 50%, #022a62 100%);
      }

      a {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        // display: block;
        padding: 2.4rem 4rem;
      }

      .tit {
        margin: 2.4rem 0 4rem;
        color: var(--#{$prefix}-color-text-basic);
        font-size: 2.8rem;
        font-weight: 600;
      }
      .chart-area {
        position: relative;
        width: 100%;
        // height: 35.29%;

        &::before {
          content: "";
          display: block;
          padding-top: 35.29%;
        }

        .chart {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #ddd;
        }
      }
      .info-list {
        margin-top: 2.4rem;

        dl {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.8rem;
          margin-bottom: 1.2rem;

          &.txt-emphasis {
            margin-bottom: 0.8rem;

            dd {
              color: var(--#{$prefix}-color-change-up);
              font-size: 4rem;
              font-weight: 400;

              small {
                font-size: 2.1rem;
                font-weight: 400;
              }
            }
          }
        }
        dt {
          font-size: 1.6rem;
        }
        dd {
          font-size: 1.6rem;
          font-weight: 600;
        }
      }
    }
  }
  .btn-wrap {
    margin-top: 4.8rem;
  }

  @include mq(pc) {
    .card-list {
      overflow: auto hidden;
      .card-item {
        min-width: 31.1rem;
      }
    }
  }
  @include mq(mobile) {
    .card-list {
      .card-item {
        a {
          padding: 2.4rem;
        }
        .tit {
          font-size: 2.1rem;
        }

        .chart-area {
          &::before {
            padding-top: 45.62%;
          }
        }
      }
    }
  }
}

//
.thumb-list-wrap {
  .thumb-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 2.4rem;

    &.col-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.link {
      .thumb-item {
        a {
          &::after {
            content: "";
            display: none;
            position: absolute;
            top: 1.2rem;
            right: 1.2rem;
            @include square(2.4rem);
            @include icon-set("link");
            background-color: #333;
          }

          &:hover {
            &::after {
              display: block;
              background-color: #fff;
            }
            .thumb-img {
              &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
              }
            }
          }
        }
      }
    }

    .thumb-item {
      a {
        position: relative;
        display: block;
        height: 100%;
      }
      .thumb-img {
        overflow: hidden;
        position: relative;
        border-radius: 0.2rem;

        &::before {
          content: "";
          display: block;
          padding-top: 71.33%;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          object-fit: cover;
        }
      }
      .thumb-con {
        margin-top: 1.6rem;
      }
      .source {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin-bottom: 1.6rem;
        color: #494646;
        font-size: 1.6rem;

        &::before {
          content: "";
          display: inline-block;
          @include square(2.4rem);
        }
        $icons: youtube, blog, instagram;
        @each $icon in $icons {
          &.#{$icon} {
            &::before {
              @include icon-set("#{$icon}-fill2", pure);
            }
          }
        }
      }
      .tit {
        color: #151414;
        font-size: 2.1rem;
        font-weight: 500;
      }
      .date {
        margin-top: 0.4rem;
        color: #757070;
        font-size: 1.8rem;
      }
    }
  }
  .btn-wrap {
    margin-top: 4.8rem;
  }

  @include mq(pc) {
    .thumb-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @include mq(tablet) {
    .thumb-list {
      grid-template-columns: repeat(2, 1fr);

      &.col-3 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.link {
        .thumb-item {
          a {
            &::after {
              display: block;
              background-color: #333;
            }

            &:hover {
              &::after {
                background-color: #333;
              }
              .thumb-img {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  @include mq(mobile) {
    .thumb-list {
      grid-template-columns: auto;

      &.col-3 {
        grid-template-columns: auto;
      }
    }
  }
}

.share-sns-list {
  display: flex;
  gap: 1.6rem;

  li {
    // flex: 1;

    a,
    button {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      width: 8rem;
      // padding: 0 1.6rem;
      text-align: center;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
      }
    }
    $icons: kakao, blog, instagram, copy;
    @each $icon in $icons {
      &.#{$icon} {
        a,
        button {
          &::before {
            @include icon-set("#{$icon}-fill", pure);
          }
        }
      }
    }
  }

  @include mq(mobile-medium) {
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
