@charset "UTF-8";
@use "sass:list";
@use "./util" as *;
@use "./base" as *;
@use "./component" as *;
@use "./layout" as *;

.inner {
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--#{$prefix}-layout-pc-padding-x);
  max-width: calc(var(--#{$prefix}-layout-pc-width) + var(--#{$prefix}-layout-pc-padding-x)*2);
  width: 100%;
}

.contents {
  a {
    display: inline-block;
  }
}

section .inner {
  padding-top: 28px;
  padding-bottom: 28px;
}

//contents

//main
.page-fund {
  .fund-main {
    .section-visual {
      padding: 10rem 0 8rem;
      @include bg("img-fund-main-visual.png");

      .inner {
        display: flex;
        align-items: center;
				justify-content: space-between;
      }

      .fund-info {
				width: 58%;
        .fund-top {
          display: flex;
          align-items: center;
          gap: 2.4rem;
          margin-bottom: 2.4rem;

          .category {
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 600;

            li {
              display: flex;
              align-items: center;

              &:last-child::after {
                display: none;
              }

              &::after {
                content: "";
                display: inline-block;
                margin: 0 1.2rem;
                width: 0.1rem;
                height: 1.6rem;
                background-color: rgba(255, 255, 255, 0.3);
              }
            }
          }
          .btn-share {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);

            &::after {
              content: "";
              display: inline-block;
              @include icon-set("share");
              @include square(2.4rem);
              background-color: #fff;
            }
          }
        }
        .fund-tit {
          margin-bottom: 4rem;
          font-weight: 600;
        }
        .fund-actions {
          display: flex;
          align-items: center;
          margin-bottom: 4rem;
        }
        .fund-summary {
          display: flex;
          padding: 4rem;
          background-color: rgba(255, 255, 255, 0.1);

          li {
						flex: 1;
          }

          .tit {
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.8rem;
          }
          .value {
            display: flex;
            align-items: baseline;
            color: #fff;
            font-size: 4rem;
            font-weight: 600;

            .unit {
              display: inline-block;
              margin-left: 0.2rem;
              margin-bottom: 0.8rem;
              font-size: 2.1rem;
              font-weight: 400;
            }
          }
          .change {
            font-size: 1.8rem;
            &.up {
              color: #f65565;
            }
            &.down {
              color: #3485fa;
            }
          }
        }
      }
      .fund-ai {
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				gap: 2.4rem;
				padding: 4rem;
				width: 33%;
				@include bg("img-fund-main-ai-bg.png");

        .tit {
					display: flex;
					align-items: center;
					gap: 0.8rem;
					font-size: 2.1rem;
					font-weight: 700;
					color: #fff;

					&::before{
						content: '';
						display: inline-block;
						width: 2.4rem;
						height: 2.4rem;
						@include icon-set('ai-star', pure);
					}
        }
        .desc-wrap {
					color: #fff;

          dt {
						margin-bottom: 1.6rem;
						padding: 0.4rem 1.2rem;
						font-size: 1.6rem;
						font-weight: 700;
						background: linear-gradient(90deg, rgba(255, 85, 50, 0.80) 0%, rgba(4, 2, 30, 0.70) 100%);
          }
          dd {
						position: relative;
						padding-left: 1.2rem;
						font-size: 1.8rem;
						margin-bottom: 0.4rem;

						&:last-child::before{
							margin-bottom: 0;
						}

						&::before{
							content: '';
							position: absolute;
							top: 1.15rem;
							left: 0;
							display: block;
							width: 0.4rem;
							height: 0.4rem;
							border-radius: 50%;
							background-color: #fff;
						}
          }
        }
      }
    }
    .section-detail{
      .top-fixed{
        border-bottom: 0.1rem solid #EBEAEA;

        .inner{
          display: flex;
          align-items: center;
          height: 8rem;
        }
        .summary{
          display: flex;
          align-items: center;

					&::before{
						content: '';
						flex-shrink: 0;
						display: inline-block;
						width: 2.7rem;
						height: 2.4rem;
						@include bg('logo-symbol.svg');
					}
          .name{
            margin-left: 1.6rem;
            margin-right: 2.4rem;
            font-size: 1.8em;
            color: #151414;
          }
        }
        .btn-wrap{
          margin-left: auto;
          width: fit-content;
          gap: 4rem;
        }
      }

      .layout-sidebar{
        overflow: hidden;
        display: flex;
        background-color: #F3F2F1;

        .layout-inner{
          display: flex;
          max-width: calc(var(--#{$prefix}-layout-pc-width) + var(--#{$prefix}-layout-pc-padding-x)*2);
          width: 100%;
          margin: 0 auto;
        }

        .sidebar{
          flex-shrink: 0;
          padding-top: 6.4rem;
          padding-left: var(--#{$prefix}-layout-pc-padding-x);
          width: 15.47%;
          font-size: 2.4rem;
          font-weight: 700;          


          li{
            margin-bottom: 1.6rem;
            padding: 1.4rem;
            color: #757170;

            &:last-child{
              margin-bottom: 0;
            }

            &.active{
              color: #151414;
              background: linear-gradient(90deg, rgba(223, 188, 165, 0.00) 0%, rgba(244, 178, 134, 0.70) 100%);

              &::before{
                content: '';
                display: inline-block;
                margin-right: 0.4rem;
                width: 0.6rem;
                height: 0.6rem;
                background-color: #F54500;
                vertical-align: top;
              }
            }
          }
        }
        .layout-content{
          position: relative;

          &::before{
            z-index: 0;
            content:"";
            position: absolute;
            left: 0;
            top: 0;
            width: 200%;
            height: 100%;
            background-color: #F3F2F1;
          }

          .cont-group{
						display: flex;
						flex-direction: column;
						gap: 6.4rem;
            margin-bottom: 10px;
            position: relative;
            z-index: 1;
            padding: 8rem var(--#{$prefix}-layout-pc-padding-x) 12rem 8.45%;
            background-color: #fff;

            &::before{
              z-index: -1;
              content:"";
              position: absolute;
              left: 0;
              top: 0;
              width: 200%;
              height: 100%;
              background-color: #fff;
            }

						.tit-wrap{
							display: flex;
							flex-direction: column;
							gap: 2.4rem;
						}

						.chart-wrap{
							display: flex;
							gap: 2.4rem 1.6rem;
							align-items: center;
							justify-content: space-between;
							// flex-direction: column;
							// gap: 2.4rem;

							// &.column{
							// 	align-items: flex-start;
							// 	flex-direction: column;
							// 	gap: 2.4rem;
							// }
							// &.center{
							// 	column-gap: 10rem;
							// 	justify-content: center;
							// }

							.chart-area{
								flex-shrink: 0;
								background-color: #f8f8f8; //임시
							}
							.chart-summary{
								width: 43.38%;

								.txt-wrap{
									display: flex;
									align-items: center;
									gap: 1.3rem;
								}
								.desc{
									margin-top: 1.6rem;
									color: #514E4D;
									font-size: 1.8rem;
								}
							}
							.chart-legend{
								.legend-list{
									color: #151414;
									font-size: 1.8rem;

									li{
										display: flex;
										align-items: center;
										gap: 1rem;
										min-height: 6.4rem;
										border-bottom: 0.1rem solid #EBEAEA;
									}
									.key{
										width: 1.6rem;
										height: 1.6rem;
										border-radius: 0.2rem;
										background-color: #ddd;
									}
									.label{
										
									}
									.value{
										margin-left: auto;
										font-weight: 700;
									}
								}

								.date{
									margin-top: 1.6rem;
									text-align: right;
								}
							}

							&.line{
								align-items: flex-start;
								flex-direction: column;
								gap: 2.4rem;

								.chart-area{
									width: 100%;
									height: 44rem;
								}
							}
							&.bar{
								.chart-area{
									flex-shrink: 0;
									display: flex;
									gap: 0.4rem;
									width: 48.15%;
									align-items: flex-end; 
									text-align: center;
	
									.level{
										flex: 1;
	
										&.active{
											.bar{
												height: 6rem;
											}
										}
									}
									.bar{
										display: inline-block;
										width: 100%;
										height: 0.5rem;
									}
									.label{
										margin-top: 1rem;
										color: #514E4D;
										font-size: 1.8rem;
									}
	
									$levelColor : #119EFF, #00CECF, #FFB80D, #FE6220, #FF4891, #F91D00;
									@for $i from 1 through list.length($levelColor) {
										.level#{$i} .bar {
											background-color: list.nth($levelColor, $i);
										}
									}
								}
							}
							&.doughnut{
								column-gap: 10rem;
								justify-content: center;

								.chart-area{
									position: relative;
									width: 38rem;
									height: 38rem;
	
									.doughnut-txt{
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%);
										color: #151414;
										text-align: center;
	
										.label{
											font-size: 1.8rem;
											font-weight: 500;
										}
										.value{
											margin-top: 1.2rem;
											font-size: 5.6rem;
											font-weight: 600;
											line-height: 1;
										}
									}
								}
								.chart-legend{
									width: 18.46%;
								}
							}
							&.pie{
								.chart-area{
									margin: 0 4rem;
									width: 20rem;
									height: 20rem;
								}
							}

							.date {
								color: #757170;
								font-size: 1.8rem;
							}
							.filter{

							}
						}

						.group-flex-wrap{
							display: flex;
							gap: 4.8rem;

							.group-wrap{
								flex: 1;
							}
						}

						.group-wrap{
							display: flex;
							flex-direction: column;
							gap: 2.4rem;

							[class*=tit-]{
								display: flex;
								align-items: baseline;
								gap: 1.6rem;
							}

							&.spacing-lg{
								gap: 4rem;
							}
						}

						// .graph-item{
						// 	display: flex;
						// 	justify-content: space-between;
						// 	gap: 2rem;

						// 	.graph-bar{
						// 		flex-shrink: 0;
						// 		display: flex;
						// 		gap: 0.4rem;
						// 		width: 48.15%;
						// 		align-items: flex-end; 
  					// 		text-align: center;

						// 		.level{
						// 			flex: 1;

						// 			&.active{
						// 				.bar{
						// 					height: 6rem;
						// 				}
						// 			}
						// 		}
						// 		.bar{
						// 			display: inline-block;
						// 			width: 100%;
						// 			height: 0.5rem;
						// 		}
						// 		.label{
						// 			margin-top: 1rem;
						// 			color: #514E4D;
						// 			font-size: 1.8rem;
						// 		}

						// 		$levelColor : #119EFF, #00CECF, #FFB80D, #FE6220, #FF4891, #F91D00;
						// 		@for $i from 1 through list.length($levelColor) {
						// 			.level#{$i} .bar {
						// 				background-color: list.nth($levelColor, $i);
						// 			}
						// 		}
						// 	}
						// 	.graph-info{
						// 		width: 43.38%;

						// 		.txt-wrap{
						// 			display: flex;
						// 			align-items: center;
						// 			gap: 1.3rem;
						// 		}
						// 		.desc{
						// 			margin-top: 1.6rem;
						// 			color: #514E4D;
						// 			font-size: 1.8rem;
						// 		}
						// 	}
						// }
          }
        }
      }
    }
  }
}