@charset "UTF-8";
@use "sass:list";
@use "./util" as *;

//main
.page-fund {
  .fund-main {
    .section-detail-test {
      --top-fixed-height: 8rem;
      --sidebar-width: 26rem;

      .top-fixed {
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        height: var(--top-fixed-height);
        background-color: #fff;
        border-bottom: 0.1rem solid #ebeaea;

        .inner {
          display: flex;
          align-items: center;
        }
        .summary {
          display: flex;
          align-items: center;

          &::before {
            content: "";
            flex-shrink: 0;
            display: inline-block;
            width: 2.7rem;
            height: 2.4rem;
            @include bg("logo-symbol.svg");
          }
          .name {
            margin-left: 1.6rem;
            margin-right: 2.4rem;

            
          }
        }
        .btn-wrap {
          margin-left: auto;
          width: fit-content;
          gap: 4rem;

          .txt {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            font-weight: 600;

            &::before {
              content: "";
              display: inline-block;
              width: 2.4rem;
              height: 2.4rem;
              @include icon-set("ai-star", pure);
            }
          }
        }
      }

      .layout-sidebar-test {
        display: flex;
        align-items: flex-start;
        margin: 0 auto;
        // max-width: var(--#{$prefix}-content-wrap-width);
        // align-items: center;
        // overflow: hidden;
        background-color: #f3f2f1;

        .layout-inner {
          position: relative;
          max-width: var(--#{$prefix}-content-wrap-width);
          width: 100%;
          margin: 0 auto;
        }

        .sidebar {
          position: sticky;
          // position: absolute;
          top: var(--top-fixed-height);
          z-index: 9;

          flex-shrink: 0;
          padding-top: 6.4rem;
          // padding-left: var(--#{$prefix}-content-pc-padding-x);
          padding-left: calc(5.5% + var(--#{$prefix}-content-pc-padding-x));
          padding-bottom: 6.4rem;
          // width: 15.47%;
          
          font-size: 2.4rem;
          font-weight: 700;

          ul{
            width: var(--sidebar-width);
          }

          li {
            margin-bottom: 1.6rem;

            &:last-child {
              margin-bottom: 0;
            }
            a{
              display: block;
              padding: 1.4rem;
              color: var(--#{$prefix}-color-text-subtler);
            }

            &.active {
              a{
                color: var(--#{$prefix}-color-text-basic);
                background: linear-gradient(90deg, rgba(223, 188, 165, 0) 0%, rgba(244, 178, 134, 0.7) 100%);

                &::before {
                  content: "";
                  display: inline-block;
                  margin-right: 0.4rem;
                  width: 0.6rem;
                  height: 0.6rem;
                  background-color: #f54500;
                  vertical-align: top;
                }
              }
            }
          }
        }
        .layout-content {
          // --content-bg-width: calc(100vw - 25.5%);
          --content-bg-width: 200%;
          // overflow-x: hidden;
          position: relative;
          background-color: #f3f2f1;

          // &::before {
          //   z-index: 0;
          //   content: "";
          //   position: absolute;
          //   left: 0;
          //   top: 0;
          //   width: var(--content-bg-width);
          //   height: 100%;
          //   background-color: #f3f2f1;
          // }

          .cont-group {
            position: relative;
            z-index: 1;
            // margin-left: auto;
            margin-bottom: 2.4rem;
            padding: 8rem 5.5% 12rem;
            // padding: 8rem var(--#{$prefix}-content-pc-padding-x) 12rem 7.94%;
            // width: calc(100% - var(--sidebar-width));
            background-color: #fff;
            // border-bottom: 2.4rem solid #F3F2F1;

            &[id]{
              scroll-margin-top: calc(var(--top-fixed-height) + 2.4rem);
            }

            @include mq(pc-xlarge){
              padding-left: 120px;
              padding-right: 120px;
            }

            // &::before {
            //   z-index: -1;
            //   content: "";
            //   position: absolute;
            //   left: 0;
            //   top: 0;
            //   width: var(--content-bg-width);
            //   height: 100%;
            //   background-color: #fff;
            // }
            
            .chart-wrap {
              display: flex;
              gap: 2.4rem 1.6rem;
              align-items: center;
              justify-content: space-between;

              .chart-area {
                flex-shrink: 0;
                background-color: #f8f8f8; //임시
              }
              .chart-summary {
                width: 43.38%;

                .txt-wrap {
                  display: flex;
                  align-items: center;
                  gap: 1.3rem;
                }
                .desc {
                  margin-top: 1.6rem;
                  color: #514e4d;
                }
              }
              .chart-legend {
                .legend-list {
                  li {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    min-height: 6.4rem;
                    border-bottom: 0.1rem solid #ebeaea;
                  }
                  .key {
                    width: 1.6rem;
                    height: 1.6rem;
                    border-radius: 0.2rem;
                    background-color: #ddd;
                  }
                  .value {
                    margin-left: auto;
                    font-weight: 700;
                  }
                }

                .date {
                  margin-top: 1.6rem;
                  text-align: right;
                }
              }

              &.line {
                align-items: flex-start;
                flex-direction: column;
                gap: 2.4rem;

                .chart-area {
                  width: 100%;
                  height: 44rem;
                }
              }
              &.bar {
                .chart-area {
                  flex-shrink: 0;
                  display: flex;
                  gap: 0.4rem;
                  width: 48.15%;
                  align-items: flex-end;
                  text-align: center;

                  .level {
                    flex: 1;

                    &.active {
                      .bar {
                        height: 6rem;
                      }
                    }
                  }
                  .bar {
                    display: inline-block;
                    width: 100%;
                    height: 0.5rem;
                  }
                  .label {
                    margin-top: 1rem;
                    color: #514e4d;
                  }

                  $levelColor: #119eff, #00cecf, #ffb80d, #fe6220, #ff4891, #f91d00;
                  @for $i from 1 through list.length($levelColor) {
                    .level#{$i} .bar {
                      background-color: list.nth($levelColor, $i);
                    }
                  }
                }
              }
              &.doughnut {
                column-gap: 10rem;
                justify-content: center;

                .chart-area {
                  position: relative;
                  width: 38rem;
                  height: 38rem;

                  .doughnut-txt {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    text-align: center;

                    .label {
                      font-weight: 500;
                    }
                    .value {
                      margin-top: 1.2rem;
                      font-size: 5.6rem;
                      font-weight: 600;
                      line-height: 1;
                    }
                  }
                }
                .chart-legend {
                  width: 18.46%;
                }
              }
              &.pie {
                .chart-area {
                  margin: 0 4rem;
                  width: 20rem;
                  height: 20rem;
                }
              }

              .date {
                color: var(--#{$prefix}-color-text-subtler);
              }
              .filter {
                display: flex;
                gap: 2.4rem;
              }
            }

            .group-flex-wrap {
              display: flex;
              gap: 4.8rem;

              .group-wrap {
                flex: 1;
              }
            }

            .group-wrap {
              display: flex;
              flex-direction: column;
              gap: 2.4rem;

              [class*="tit-"] {
                display: flex;
                align-items: baseline;
                gap: 1.6rem;
              }

              &.spacing-lg {
                gap: 4rem;
              }
            }

            .box-wrap {
              display: flex;
              gap: 2.4rem;

              &.bg-gray {
                padding: 2.4rem;
                background-color: #f3f2f1;
              }
              &.pd-lg {
                padding: 4rem;
              }

              .box-item {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 3.2rem 2rem 0;
                background: linear-gradient(180deg, rgba(232, 232, 232, 0.93) 0%, #fff 75%);

                $icons: "buy", "invest", "sell";
                @each $name in $icons {
                  .icon-#{$name} {
                    &::before {
                      content: "";
                      width: 2.4rem;
                      height: 2.4rem;
                      background-color: var(--#{$prefix}-color-neutral-90);
                      @include icon-set(#{$name});
                    }
                  }
                }

                .fee-box {
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  margin-top: 2.4rem;
                  padding: 2.4rem 2rem;
                  height: 100%;
                  text-align: center;
                  background-color: #fff;

                  .txt-wrap {
                    // border-bottom: 0.1rem solid #EBEAEA;
                    &::after {
                      content: "";
                      display: block;
                      margin: 2.4rem 0;
                      width: 100%;
                      height: 0.1rem;
                      background-color: #ebeaea;
                    }

                    &:last-child::after {
                      display: none;
                      // border-bottom: none;
                    }

                    .desc {
                      display: flex;
                      flex-direction: column;
                      gap: 0.8rem;
                      
                      font-size: 1.5rem;
                    }
                  }

                  .tit {
                    font-size: 2.1rem;
                  }
                  .sub-txt {
                    color: var(--#{$prefix}-color-text-primary);
                    font-size: 3.2rem;
                    font-weight: 700;
                  }
                }
              }
              .guide-item {
                flex: 1;

                .tit {
                  padding: 1.4rem;
                  color: #fff;
                  font-size: 2.4rem;
                  font-weight: 600;
                  text-align: center;

                  &.bg-orange {
                    background-color: var(--#{$prefix}-color-orange-base);
                  }
                  &.bg-indigo {
                    background-color: var(--#{$prefix}-color-navy-base);
                  }
                }

                .info-box {
                  display: flex;
                  padding: 4rem 0;

                  dl {
                    flex: 1;
                    text-align: center;
                    border-right: 0.1rem solid #ebeaea;

                    &:last-child {
                      border-right: none;
                    }
                  }
                  dt {
                    
                    font-size: 2.1rem;
                    font-weight: 700;

                    $icons: day, night;
                    @each $name in $icons {
                      &.icon-#{$name} {
                        &::before {
                          content: "";
                          display: block;
                          margin: 0 auto 0.4rem;
                          width: 2.4rem;
                          height: 2.4rem;
                          @include icon-set("#{$name}");
                          background-color: var(--#{$prefix}-color-neutral-90);
                        }
                      }
                    }
                  }
                  dd {
                    margin-top: 0.8rem;
                    
                  }
                }
              }
            }

            .product-info-wrap {
              display: flex;
              flex-wrap: wrap;
              gap: 4rem 9rem;

              dl {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
              }
              dt {
                
              }
              dd {
                font-size: 2.1rem;
                font-weight: 600;
              }
            }

            .reference-box {
              padding: 4rem 4rem 0;
              flex-shrink: 0;
              width: 52.46%;
              background-color: #fff;

              .download-wrap {
                display: flex;
                justify-content: space-between;
                gap: 2.4rem;

                .tit {
                  
                  font-size: 2.4rem;
                  font-weight: 700;
                }
                .desc {
                  margin-top: 0.8rem;
                  color: var(--#{$prefix}-color-text-subtler);
                  font-size: 1.6rem;
                }
              }
              .btn-wrap {
                &.line {
                  margin-top: 4rem;
                  padding: 2rem 0;
                  border-top: 0.1rem solid #ebeaea;
                }
              }
            }
          }
        }
      }
    }
  }
}
