<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '경영현황 | 회사소개'
		}) -%>
	</head>
	<body class="page-company">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">경영현황</h2>
						</div>
						<%
						const table1 = include('../../components/table.ejs', { 
							infoTxt: '단위 : 백만원',
							caption: '요약 연결포괄 손익계산서',
							colWidths: ['auto', '35%', '35%'],
							thead: ['항목', '제37기 <br class="tablet-small-only"/> (2024.01.01 <br class="tablet-small-only"/>~2024.12.31)', '제36기 <br class="tablet-small-only"/> (2023.01.01 <br class="tablet-small-only"/>~2023.12.31)'],
							tbody: [
								{className: 'emphasis', data: ['영업수익', '2,684,362', '2,137,333']},
								['수수료수익', '359,216', '328,843'],
								['증권평가/처분이익', '368,225', '379,927'],
								['파생상품관련이익', '1,325,077', '836,776'],
								['기타수익', '631,844', '591,787'],
								{className: 'emphasis', data: ['영업비용', '2,617,720', '2,059,850']},
								['수수료비용', '48,245', '37,462'],
								['증권평가/처분손실', '548,659', '415,772'],
								['파생상품관련손실', '1,105,804', '781,925'],
								['기타비용', '915,012', '824,691'],
								{className: 'emphasis', data: ['영업이익', '66,642', '77,483']},
								['영업외손익', '95,023', '(15,165)'],
								['법인세비용', '47,725', '15,672'],
								{className: 'emphasis', data: ['당기순이익', '113,940', '46,646']},
								['기타포괄손익', '128,744', '9,626'],
							],
							addClass: 'scroll small',
						});
						const table2 = include('../../components/table.ejs', { 
							infoTxt: '단위 : 백만원',
							caption: '요약 연결재무상태표',
							colWidths: ['auto','35%', '35%'],
							thead: ['항목', '제37기 (2024.12.31)', '제36기 (2023.12.31)'],
							tbody: [
								['현금및예치금', '1,105,284', '1,484,823'],
								['당기손익-공정가치금융자산', '9,568,213', '7,595,314'],
								['기타포괄손익-공정가치금융자산', '970,262', '662,495'],
								['관계기업투자', '239,061', '361,447'],
								['파생상품자산', '386,661', '248,525'],
								['대출채권', '2,068,444', '2,965,272'],
								['투자부동산', '84', '86'],
								['유무형자산', '88,072', '62,861'],
								['사용권자산', '48,185', '56,244'],
								['기타금융자산', '502,410', '788,572'],
								['기타자산', '133,125', '151,455'],
								{className: 'emphasis', data: ['<strong>자산총계</strong>', '<strong>15,109,801</strong>', '<strong>14,382,022</strong>']},
								['예수부채', '902,653', '1,122,515'],
								['당기손익-공정가치금융부채', '1,765,887', '1,879,109'],
								['차입부채 및 발행사채', '8,321,435', '7,151,943'],
								['파생상품부채', '565,297', '537,096'],
								['충당부채', '65,857', '58,393'],
								['순확정급여부채', '7,939', '3,332'],
								['리스부채', '48,626', '56,707'],
								['기타부채', '755,752', '1,140,280'],
								{className: 'emphasis', data: ['<strong>부채총계</strong>', '<strong>12,433,446</strong>', '<strong>11,949,375</strong>']},
								['자본금', '1,070,000', '1,070,000'],
								['기타불입자본', '3,394', '3,394'],
								['기타자본구성요소', '101,673', '23,758'],
								['이익잉여금', '570,807', '478,060'],
								['비지배지분', '930,481', '857,435'],
								{className: 'emphasis', data: ['<strong>자본총계</strong>', '<strong>2,676,355</strong>', '<strong>2,432,647</strong>']},
							],
							addClass: 'scroll small'
						});
						%>
						<%- include('../../components/tab.ejs', {
							// active: 0,
							variant: 'line',
							tablist: ['요약 연결포괄 손익계산서', '요약 연결재무상태표'],
							contents: [table1, table2],
						}) -%>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>