<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '경영현황 | 회사소개'
		}) -%>
	</head>
	<body class="page-policy">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">경영현황</h2>
						</div>
						<%
						const table1 = include('../../components/table.ejs', { 
							caption: '재무적 요인',
							colWidths: ['28%', 'auto'],
							colAligns: ['', 'left'],
							thead: ['구분', '내용'],
							tbody: [
								['주요 재무지표', '자산총계, 부채총계, 자본총계, 매출액, 영업이익, 당기순이익, 배당 등'],
								['안정성 비율', '유동비율, 부채비율, 유보율, 순차입금비율, 이자보상배율, 자기자본비율 등'],
								['성장성 비율', '매출액증가율, 판매비와 관리비 증가율, 영업이익증가율, EBITDA증가율, EPS증가율 등'],
								['수익성 비율', '매출총이익률, 세전계속사업이익률, 영업이익률, EBITDA마진율, ROA, ROE, ROIC 등'],
								['활동성 비율', '총자산회전율, 총부채회전율, 총자본회전율, 순운전자본회전율 등']
							],
							addClass: 'scroll secondary',
						});
						const table2 = include('../../components/table.ejs', { 
							caption: '스튜어드십 코드 담당자 및 책임자 ',
							colWidths: ['24%', '12.5%', 'auto', 'auto', 'auto',],
							thead: ['구분', '성명', '부서', '직책(직위)', '연락처'],
							tbody: [
								['책임자(수탁자책임활동)', '김종호', '-', '대표이사', '-'],
								['담당자(수탁자책임활동)', '황운경', '지속가능전략팀', '팀장', '02-6950-0210'],
								['책임자(이해상충방지)', '서주희', '준법감시실', '실장', '02-6950-0060'],
							],
							rowHeaders: true,
							addClass: 'scroll'
						});

						const board1 = `
						<div class="terms-content">
							${table1}
						</div>
						`;
						const board2 = `
						<div class="terms-content">
							${table2}
						</div>
						`;
						%>
						<%- include('../../components/tab.ejs', {
							// active: 0,
							variant: 'line',
							tablist: ['요약 연결포괄 손익계산서', '요약 연결재무상태표'],
							contents: [board1, board2],
						}) -%>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>