<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '오시는 길'
		}) -%>
	</head>
	<body class="page-company">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">오시는 길</h2>
						</div>
						<div class="company-map-wrap">
							<div class="map-address">
								<div class="txt-wrap">
									<!-- [2025-12-17] br 태그 추가 -->
									<p class="tit">서울시 영등포구 63로 50 <br class="mobile-only"/> 한화금융센터</p>
									<!-- //[2025-12-17] br 태그 추가 -->
									<ul class="desc-list">
										<li>대표전화 : 02 6950-0000</li>
										<li>팩스 : 02 6950-0009</li>
									</ul>
								</div>
								<div class="btn-wrap array-right">
									<%- include('../../components/button.ejs', {
										variant: 'outline',
										preIcon: 'map',
										label: '네이버 지도',
									}) -%>
									<%- include('../../components/button.ejs', {
										variant: 'outline',
										preIcon: 'map',
										label: '카카오맵',
									}) -%>
								</div>
							</div>
							<div class="map-area">
								<!-- 지도 영역 -->
							</div>
							<div class="map-info">
								<dl>
									<dt>지하철 이용 시</dt>
									<dd>
										<ul class="transport-list">
											<li>
												<p class="tit icon-line1">1호선 대방역</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'6번 출구 여의도 방향 40M 지점 무료 셔틀버스 이용 / 6번 출구 앞 시내버스 62번 이용',
													],
												}); -%>
											</li>
											<li>
												<p class="tit icon-line5">5호선 여의나루역</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'4번 출구 MBC방향 80M 지점 무료 셔틀버스 이용',
														'1번 출구 앞 시내버스 261번, 5534번, 5633번, 7611번, 8360번 이용'
													],
												}); -%>
											</li>
											<li>
												<p class="tit icon-line5">5호선 여의도역</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'5번 출구 성모병원 버스 승차장 앞 무료 셔틀버스 이용 / 5번 출구 앞 시내버스 62번 이용',
													],
												}); -%>
											</li>
											<li>
												<p class="tit icon-line9">9호선 샛강역</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'1번 출구 여의도역 방향으로 약 10M 지점 버스승차장 앞 무료 셔틀버스 이용',
													],
												}); -%>
											</li>
										</ul>
									</dd>
								</dl>
								<dl>
									<dt>버스 이용 시</dt>
									<dd>
										<ul class="transport-list grid-2">
											<li>
												<p class="tit">지선버스</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'5012, 5534, 5618, 5633, 7611, 8620',
													],
												}); -%>
											</li>
											<li>
												<p class="tit">공항버스</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'6030',
													],
												}); -%>
											</li>
											<li>
												<p class="tit">간선버스</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'162, 261, 362, 503, 505',
													],
												}); -%>
											</li>
											<li>
												<p class="tit">순환버스</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'62',
													],
												}); -%>
											</li>
											<li>
												<p class="tit">직행버스</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'700, 7007-1',
													],
												}); -%>
											</li>
											<li>
												<p class="tit">좌석버스</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'108',
													],
												}); -%>
											</li>
										</ul>
									</dd>
								</dl>
								<dl>
									<dt>무료 셔틀버스</dt>
									<dd>
										<ul class="transport-list">
											<li>
												<p class="tit">63빌딩</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'63빌딩 동편 : 동편로비 탑승',
													],
												}); -%>
											</li>
											<li>
												<p class="tit line1">1호선</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'대방역 : 6번 출구 여의도방향 40M 지점',
													],
												}); -%>
											</li>
											<li>
												<p class="tit line5">5호선</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'여의도역 : 5번 출구 MBC방향 20M 지점 임시승차장',
														'여의나루역 : 4번 출구 MBC방향 삼부아파트 6동 옆'
													],
												}); -%>
											</li>
											<li>
												<p class="tit line9">9호선</p>
												<%- include('../../components/note-list.ejs', { 
													depth: 1,
													items: [
														'샛강역 : 1번 출구 여의도역 방향 10M 지점',
													],
												}); -%>
											</li>
										</ul>
										<div class="gray-box">
											<p class="tit">순환 셔틀</p>
											<%- include('../../components/note-list.ejs', { 
												depth: 1,
												items: [
													'평일  09:28 ~ 17:23 / 20:00 ~ 21:00',
													'공휴일  09:28 ~ 20:00'
												],
											}); -%>
											<p class="note-txt fc-black">셔틀버스 운행시간은 교통사정으로 인하여 다소 지연될 수 있습니다.</p>
										</div>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>