<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '회사소개'
		}) -%>
	</head>
	<body class="page-company">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container company-main">
				<section class="section-vision">
					<div class="inner">
						<div class="company-tit-wrap">
							<p class="sub-desc txt-gradient">vision</p>
							<h2 class="tit txt-gradient">세대를 아우르는 금융 파트너</h2>
							<p class="sub-tit txt-gradient">a life-long generational partner</p>
						</div>
					</div>
					<div class="dimmed"></div>
				</section>

				<section class="section-mission">
					<!-- [2026-01-08] 마크업 삭제 -->
					<!-- <div class="img-wrap">
						<ul class="img-list">
							<li><img src="~@/assets/images/company/main-mission-bg-01.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-02.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-03.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-04.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-05.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-06.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-07.png" alt=""></li>
						</ul>
					</div> -->
					<!-- // [2026-01-08] 마크업 삭제 -->
					<div class="inner">
						<div class="company-tit-wrap medium">
							<p class="sub-desc txt-gradient">mission</p>
							<h2 class="tit">
								<p class="txt-gradient">엄격한 투자 원칙과 탁월함을 바탕으로</p>
								<p class="txt-gradient">시장과 기술 전반에 걸쳐 혁신을 선도합니다</p>
							</h2>
							<p class="sub-tit txt-gradient">Leading innovation across markets and technologies <br/> through disciplined investment excellence</p>
						</div>
					</div>
				</section>

				<section class="section-slogan">
					<div class="inner">
						<div class="company-tit-wrap">
							<p class="sub-desc txt-gradient">slogan</p>
							<h2 class="tit txt-gradient">앞서가는 내일</h2>
							<p class="deco-tit txt-gradient">one step ahead</p>
						</div>
					</div>
				</section>

				<section class="section-value">
					<!-- [2026-01-08] 마크업 삭제 -->
					<!-- <div class="img-wrap">
						<ul class="img-list">
							<li><img src="~@/assets/images/company/main-value-bg-01.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-value-bg-02.png" alt=""></li>
						</ul>
					</div> -->
					<!-- // [2026-01-08] 마크업 삭제 -->
					<div class="inner">
						<div class="company-tit-wrap">
							<p class="sub-desc txt-gradient">core value</p>
						</div>
						<ul class="value-list">
							<!-- [2025-12-30] 텍스트 수정 -->
							<li>
								<p class="tit">축적되는 신뢰</p>
								<p class="desc txt-gradient ">Building Trust</p>
							</li>
							<li>
								<p class="tit">원칙 기반의 혁신</p>
								<p class="desc txt-gradient">Purpose-Driven Innovation</p>
							</li>
							<li>
								<p class="tit">장기적 파트너십</p>
								<p class="desc txt-gradient">Generational Partnership</p>
							</li>
							<!-- // [2025-12-30] 텍스트 수정 -->
						</ul>
					</div>
				</section>

				<!-- [2026-01-15] 마크업 수정 -->
				<section class="section-info">
					<div class="inner">
						<div class="company-tit-wrap">
							<h2 class="tit txt-gradient">세계로 확장하는 <br/> <span class="f-hanwha fw-r">한화자산운용</span></h2>
						</div>
						<div class="txt-wrap">
							<dl>
								<dt>
									<p>총 운용자산</p>
									<small>(2025년 12월 말 기준)</small>
								</dt>
								<dd>
									<span class="counter">120</span>
									<small class="unit">조원</small>
								</dd>
							</dl>
							<dl>
								<dt>
									<!-- [2026-01-16] 텍스트 수정 -->
									<p>국내 운용사 중 해외 인프라 수탁고 </p>
									<!-- // [2026-01-16] 텍스트 수정 -->
									<small>AUM 3.6조원 (2025년 6월 말 기준)</small>
								</dt>
								<dd>
									<span class="counter">1</span>
									<small class="unit">위</small>
								</dd>
							</dl>
							<dl>
								<dt>
									<p>글로벌 법인</p>
									<small>샌프란시스코, 싱가포르, 아랍 에미레이트</small>
								</dt>
								<dd>
									<span class="counter">3</span>
								</dd>
							</dl>
						</div>
					</div>
				</section>
				<!-- // [2026-01-15] 마크업 수정 -->

				<section class="section-history">
					<div class="inner">
						<div class="message">
							<div class="company-tit-wrap">
								<h2 class="desc txt-gradient"><span class="f-hanwha fw-r">한화자산운용</span>은 40여 년의 운용 경험과 함께 <br/> 국내 자산운용의 역사를 이끌어 왔습니다</h2>
							</div>
						</div>

						<!-- [2026-01-08] motion fade-up 클래스 삭제 -->
						<div class="timeline-wrap">
						<!-- // [2026-01-08] motion fade-up 클래스 삭제 -->
							<div class="txt-wrap">
								<div class="company-tit-wrap">
									<h2 class="tit txt-en">history</h2>
								</div>
								<div class="blur-box">
									<ul class="timeline-list">
										<li>
											<p class="year">2025</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<div class="desc"><p>UAE법인 설립</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2024</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">07</span>
													<div class="desc"><p>PLUS ETF 브랜드 리뉴얼</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2023</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>한화위탁관리부동산투자회사 주식회사(한화리츠) 상장</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2021</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">08</span>
													<div class="desc"><p>한화투자증권 지분인수</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">06</span>
													<div class="desc"><p>책임투자보고서 발간 ('스튜어드십과 책임투자 보고서 2020')</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">05</span>
													<div class="desc"><p>이사회 내 ESG위원회 설립</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc"><p>탈석탄금융선언 지지 선언</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2019</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">10</span>
													<div class="desc"><p>국내 운용사 최초 ESG 데이터 평가 시스템 개발</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2017</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>한화생명 뉴욕 현지법인 인수</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2015</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">08</span>
													<div class="desc"><p>싱가포르 현지법인(RFMC) 영업개시</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2011</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">09</span>
													<div class="desc">
														<p>한화자산운용 출범 (09.19) (한화투자신탁운용과 푸르덴셜자산운용의 합병)</p>
														<div class="sub-desc-wrap">
															<strong class="sub-tit">합병</strong>
															<ul class="sub-desc-list">
																<li>
																	<p>2010. 06</p>
																	<p>한화그룹 계열사로 편입</p>
																</li>
																<li>
																	<p>2004. 06</p>
																	<p>미국 Prudential Financial 자회사로 편입</p>
																	<p>푸르덴셜자산운용으로 상호 변경</p>
																</li>
																<li>
																	<p>1999. 02</p>
																	<p>현대투자신탁운용으로 상호 변경</p>
																</li>
																<li>
																	<p>1998. 02</p>
																	<p>국민투자신탁운용 설립(국민투자신탁으로부터 운용조직 분리)</p>
																</li>
																<li>
																	<p>1982. 06</p>
																	<p>국민투자신탁 설립</p>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">1996</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">08</span>
													<div class="desc"><p>한화투자신탁운용주식회사로 상호변경</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">1988</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">04</span>
													<div class="desc"><p>제일투자자문주식회사 설립</p></div>
												</div>
											</div>
										</li>
									</ul>
								</div> 
							</div>
							<div class="img-wrap">
								<img src="~@/assets/images/company/main-history-01.jpg" alt="">
							</div>
						</div>

						<!-- [2026-01-08] motion fade-up 클래스 삭제 -->
						<div class="timeline-wrap reverse">
						<!-- // [2026-01-08] motion fade-up 클래스 삭제 -->
							<div class="txt-wrap">
								<div class="company-tit-wrap">
									<h2 class="tit txt-en">awards</h2>
								</div>
								<div class="blur-box">
									<aside class="timeline-sidebar">
										<ul>
											<li class="active"><a href="#year1" aria-current="page">2025-2020</a></li>
											<li><a href="#year2">2019-2014</a></li>
											<li><a href="#year3">2013-2008</a></li>
										</ul>
									</aside>
									<ul class="timeline-list">
										<li id="year1">
											<p class="year">2025</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">10</span>
													<div class="desc"><p>[동아일보 2025 K-ESG 경영대상] 사회 ESG 대상 : 한화자산운용</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">04</span>
													<div class="desc"><p>[2025 매경 증권대상] 펀드부문 대상 : 한화자산운용</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>[KG제로인 2025 대한민국 펀드어워즈] 국내주식 부문 최우수상 : 한화자산운용</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc"><p>[산업정책연구원 2025 대한민국 브랜드 명예의전당] ETF부문 : PLUS ETF</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2024</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc">
														<p>[2024 대한민국 펀드대상] 올해의 혁신펀드-ETF 부문 : PLUS K방산</p>
														<p>[I-AWARDS 2024] PLUS ETF 홈페이지 UI/UX, 기술 혁신대상 수상</p>
														<p>[GD웹 디자인어워즈 금융/보험 부분] PLUS ETF 최고대상 수상</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc">
														<p>[조선일보 소비자가 뽑은 가장 신뢰하는 브랜드 대상] 펀드플랫폼 부문 PINE</p>
														<p>[중앙일보 고객이 가장 추천하는 브랜드 대상] 펀드플랫폼 부문 PINE</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2023</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">06</span>
													<div class="desc"><p>[조선일보 국가브랜드대상] 펀드투자플랫폼 부문 PINE</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>[대한민국 펀드어워즈] 퇴직연금부문 특별상 : 한화천연자원펀드</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2022</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>[대한민국 펀드대상] 해외주식형 베스트 펀드 상 : 한화글로벌헬스케어펀드</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2021</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">11</span>
													<div class="desc"><p>[헤럴드 투자대상] 부동산펀드대상 한화자산운용 K리츠펀드</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>[대한민국 펀드어워즈] 글로벌 채권 부문 최우수상 : 한화글로벌채권펀드</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2020</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">10</span>
													<div class="desc"><p>[헤럴드 투자대상] 최우수연금펀드 한화자산운용 LIFEPLUS TDF</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc">
														<p>[대한민국 펀드어워즈] TDF 부문 최우수상 한화LIFEPLUS TDF</p>
														<p>[대한민국 펀드어워즈] '한화 코리아레전드 4차산업혁명 펀드' 일반주식 부문 최우수상</p>
														<p>KG제로인 '2020 대한민국 펀드어워즈': TDF부문 최우수상</p>
														<p>KG제로인 '2020 대한민국 펀드어워즈':‘한화 코리아레전드 4차산업혁명'펀드 일반주식 부문 최우수상</p>
													</div>
												</div>
											</div>
										</li>
										<li id="year2">
											<p class="year">2019</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">11</span>
													<div class="desc">[대한민국 증권대상] 대체투자펀드 부문 최우수상</div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc">
														<p>2019 매경 증권대상: 베스트 운용사 -ETF부문</p>
														<p>KG 제로인 2019펀드어워즈: 해외채권부문 최우수상</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2017</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>[대한민국 증권대상] 대체투자펀드 부문 최우수상</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">11</span>
													<div class="desc">
														<p>헤럴드 펀드대상 최우수 해외펀드: 한화중국본토펀드</p>
														<p>서울경제 대한민국 증권대상 해외펀드 최우수상: 한화중국본토펀드</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">10</span>
													<div class="desc"><p>매경이코노미 베스트 CIO 국내 인덱스부문: Equity 사업본부장</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">09</span>
													<div class="desc"><p>이코노믹 리뷰 2017 상반기 최강 금융상품: 한화 에너지인프라MLP 펀드</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>2017 아시아경제 아시아펀드대상 국내채권형 최우수상 수상</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2016</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>2016 머니투데이 대한민국 펀드대상 베스트 ETF 수상: ARIRANG 고배당주 ETF</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>2016 모닝스타 펀드대상 중국 주식 펀드 대상 수상: 한화중국본토 증권투자신탁</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc"><p>한국경제신문∙KFR한국펀드평가 2016 대한민국 펀드대상 베스트 국내채권형 펀드: 한화단기국공채증권투자신탁</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2015</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc">
														<p>금융투자협회 금융투자 우수광고상 상품부문: 한화코리아레전드</p>
														<p>제 13회 웹어워드코리아 금융일반부문 최우수상: 한화자산운용 웹사이트</p>
														<p>머니투데이 2015 대한민국 펀드대상 올해의 혁신 ETF 부문 “ARIRANG 스마트베타 ETF”</p>
														<p>2015 헤럴드 펀드대상 올해의 펀드매니저상: 한화코리아레전드 운용 매니저</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc">
														<p>제 6회 아시아펀드대상 국내 인덱스주식형 최우수상 '한화Smart++인덱스증권자투자신탁'</p>
														<p>2015 모닝스타 펀드대상 베스트 해외주식형 운용사 선정</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc">
														<p>매일경제신문 14회 한국펀드대상 인덱스 주식형 베스트펀드 부문 '한화 Smart++인덱스증권자투자신탁'</p>
														<p>KG제로인 2015 대한민국 펀드 어워즈 인덱스 최우수상 - '한화Smart++인덱스증권자투자신탁'</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc">
														<p>한국경제신문/KFR한국펀드평가 제 14회 2015 대한민국 펀드대상 ETF 대상</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2014</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>KG제로인 “2014 대한민국 펀드 어워즈” 일반채권부문 우수상 - 한화장기회사채형펀드</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>아시아경제 “제5회 아시아 펀드 대상” 해외주식일반형 부문 최우수상 - 한화글로벌헬스케어펀드</p></div>
												</div>
											</div>
										</li>
										<li id="year3">
											<p class="year">2013</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>2013 머니투데이 “대한민국 펀드대상” 해외주식형 베스트펀드상 - 한화재팬코아펀드</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">11</span>
													<div class="desc">
														<p>2013 헤럴드 펀드대상 “최우수 해외 채권펀a드” 선정 - 한화 스트래티직인컴 펀드</p>
														<p>2013 헤럴드 펀드대상 “최우수 국내 채권펀드” 선정 - 한화 장기회사채형 펀드</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>KG제로인 선정 “2013 대한민국 펀드어워즈” 펀드매니저 최우수상 수상 (채권형 부문)</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>매일경제 선정 “한국펀드대상”국내 채권부문 베스트펀드 수상 (한화 장기회사채형 펀드)</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2012</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>우정사업본부 : 2012년 간접채권투자부문 우정사업본부장 감사패 / 2012 헤럴드 펀드 대상 “최우수 해외펀드” 선정 - 한화 스트래티직인컴 펀드</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>제로인 2012 대한민국 펀드 어워즈 일반주식혼합형 우수상 - 한화연금60증권전환형 KM1호 주식혼합펀드</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc"><p>교보생명 : 채권형 기업채 부문 우수운용사 및 운용역 선정</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2011</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>2011 헤럴드 펀드 대상 “AI부문 최우수 펀드”선정 - 한화 스마트알파 채권혼합 펀드</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>제로인 2011 대한민국 펀드 어워즈 국내인덱스펀드 최우수상 - 한화 Smart++ 인덱스 주식 펀드</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2010</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>우정사업본부 : 2010년 간접채권투자부문 우정사업본부장 표창 - 회사채형 운용 펀드 유형 내 최근 1년 성과 최우수</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2009</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">06</span>
													<div class="desc"><p>이코노미플러스誌-제로인 선정 2009채권부문 Best 자산운용사 - 최근 3년 재무, 운용건전성, 운용성과로 평가해 베스트 자산운용사 선정</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>프리미엄바운더리1호, 제로인 선정 “2008 ZEROIN FUND AWARD” 수상 - 보수적자산배분펀드 부문 최우수 성과 펀드로 선정</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2008</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">04</span>
													<div class="desc"><p>한국금융기관 최초로 201QFII 자격 획득 - QFII : 적격해외기관투자가 (Qualified Forein Institutional Investor)</p></div>
												</div>
											</div>
										</li>
									</ul>
								</div> 
							</div>
							<div class="img-wrap">
								<img src="~@/assets/images/company/main-history-02.jpg" alt="">
							</div>
						</div>
					</div> 
				</section>

				<section class="section-banner">
					<div class="inner">
						<div class="company-tit-wrap">
							<h2 class="desc-small txt-gradient motion fade-down" data-duration="1.5">
								<span class="f-hanwha fw-l">한화자산운용</span>은, <br/> 신뢰를 기반으로 한 글로벌 파트너십과 차별화된 운용 전략을 통해 <br/>
								대한민국을 대표하는 글로벌 자산운용사로 성장할 것입니다
							</h2>
						</div>
						<div class="blur-box motion fade-up" data-duration="1.5">
							<!-- [2026-01-27] 마크업 추가 -->
							<p class="txt"><span class="f-hanwha fw-l">한화자산운용</span>은 한화 그룹의 강점을 바탕으로 한 미래 혁신기술에 투자하여 글로벌 메가 트렌드를 선도하는 테마형 ETF를 적극적으로 육성하고 있습니다. 또한, 축적된 경험과 전문성을 기반으로 글로벌 대체자산 투자 사업을 다각화하여 글로벌 투자 기회를 발굴하고 우량한 투자 대상을 선별해 높은 수익창출 기회를 제공하고자 노력하고 있습니다.</p>
							<!-- // [2026-01-27] 마크업 추가 -->
							<div class="btn-wrap">
								<!-- [2026-01-19] 버튼명 수정 -->
								<%- include('../../components/button.ejs', {
									tag: 'a',
									variant: 'outline',
									label: '회사소개서 <br/> 국문',
									icon: 'download',
									download: true,
									addClass: 'white'
								}) -%>
								<%- include('../../components/button.ejs', {
									tag: 'a',
									variant: 'outline',
									label: '회사소개서 <br/> 영문',
									icon: 'download',
									download: true,
									addClass: 'white'
								}) -%>
								<!-- // [2026-01-19] 버튼명 수정 -->
							</div>
						</div>
					</div>
				</section>
			</main>
			<!-- // container -->
			
			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
		<script src="../../assets/js/company.js" type="text/javascript"></script>
	</body>
</html>