<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '핵심가치 | 채용정보 | 회사소개'
		}) -%>
	</head>
	<body class="page-company">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container company-employ">
				<section class="section-employ">
					<div class="inner">
						<div class="cont-group">
							<div class="section-tit-wrap">
								<h2 class="tit">채용정보</h2>
							</div>
							<%
							const board1 = `
							<section class="cont-group value">
								<div class="section-tit-wrap">
									<p class="sub-tit fc-light-gray">한화정신</p>
									<h2 class="tit">한화가 이룩한 성장의 <br class="tablet-mobile-only"/> 바탕에는 <br class="pc-only"/> <span class="fc-primary">신용과 의리</span>의 <br class="tablet-mobile-only"/> 정신이 자리하고 있습니다.</h2>
									<p class="sub-desc">한화는 이를 바탕으로 인간적인 기업문화를 발전시켜왔으며 어려움에 처했을 때도 서로에 대한 믿음과 끈끈한 조직력으로 위기를 극복해 왔습니다.</p>
								</div>
								<div class="gray-box-wrap">
									<div class="gray-box line-top">
										<div class="tit-wrap">
											<p class="sub-tit">신용</p>
											<p class="tit-xsm">어떤 상황에서나, 누구에게나 줄 수 있는 믿음, 이것이 바로 <span class="fc-primary">한화인의 신용</span> 입니다.</p>	
										</div>
									</div>
									<div class="gray-box line-top">
										<div class="tit-wrap">
											<p class="sub-tit">의리</p>
											<p class="tit-xsm">인연을 소중히 여기고 영원히 이어가는 것, <br/> 이것이 바로 <span class="fc-primary">한화인의 의리</span> 입니다.</p>	
										</div>
									</div>
								</div>

								<div class="section-tit-wrap">
									<p class="sub-tit fc-light-gray">인재상</p>
									<h2 class="tit">한화는 신용과 의리에 기반하여 <span class="fc-primary">도전, 헌신, 정도</span>를 <br class="pc-only"/> 3대 핵심가치로 삼는 인재상을 추구하고 있습니다.</h2>
								</div>
								<ul class="talent-list-wrap">
									<li class="overlay-box-wrap">
										<div class="visual-box">
											<img src="~@/assets/images/company/talent-01.jpg" alt="" class="pc-tablet-only">
											<img src="~@/assets/images/company/mo-talent-01.jpg" alt="" class="mobile-only">
										</div>
										<div class="info-box">
											<div class="tit-wrap">
												<p class="sub-tit">Challenge</p>
												<p class="tit">도전적인 한화人</p>
												<p class="desc">기존의 틀에 안주하지 않고 변화와 혁신을 통해 최고를 추구합니다.</p>
											</div>
											<ul class="note-list depth-1">
												<li>맡은 분야에서 <span class="fc-primary">최고</span>가 되기 위해 <span class="fc-primary">적극적</span>으로 자신을 <span class="fc-primary">개발</span>하는 사람</li>
												<li><span class="fc-primary">열린 사고</span>와 <span class="fc-primary">창의적인 발상</span>으로 새로운 방안과 기회를 찾아내는 사람</li>
												<li>할 수 있다는 <span class="fc-primary">자신감</span>으로 <span class="fc-primary">도전적인 목표</span>를 설정하고 달성하는 사람</li>
											</ul>
										</div>
									</li>
									<li class="overlay-box-wrap">
										<div class="visual-box">
											<img src="~@/assets/images/company/talent-02.jpg" alt="" class="pc-tablet-only">
											<img src="~@/assets/images/company/mo-talent-02.jpg" alt="" class="mobile-only">
										</div>
										<div class="info-box">
											<div class="tit-wrap">
												<p class="sub-tit">Dedication</p>
												<p class="tit">헌신적인 한화人</p>
												<p class="desc">회사, 고객, 동료와의 인연을 소중히 여기고 큰 목표를 위해 혼신의 힘을 다합니다.</p>
											</div>
											<ul class="note-list depth-1">
												<li>우리를 먼저 생각하며 <span class="fc-primary">공동의 목표</span>를 최우선으로 여기는 사람</li>
												<li><span class="fc-primary">고객과의 약속</span>을 지키며 가치를 지속적으로 창출하는 사람</li>
												<li><span class="fc-primary">공동운명체 의식</span>으로 서로의 가능성을 믿으며 협력하는 사람</li>
											</ul>
										</div>
									</li>
									<li class="overlay-box-wrap">
										<div class="visual-box">
											<img src="~@/assets/images/company/talent-03.jpg" alt="" class="pc-tablet-only">
											<img src="~@/assets/images/company/mo-talent-03.jpg" alt="" class="mobile-only">
										</div>
										<div class="info-box">
											<div class="tit-wrap">
												<p class="sub-tit">Integrity</p>
												<p class="tit">정도의 한화人</p>
												<p class="desc">자긍심을 바탕으로 원칙에 따라 바르고 공정하게 행동합니다.</p>
											</div>
											<ul class="note-list depth-1">
												<li>눈앞의 이익에 흔들리지 않고 <span class="fc-primary">원칙</span>에 따라 <span class="fc-primary">정직</span>하게 행동하는 사람</li>
												<li>공과 사를 구분하여 능력과 성과에 따라 <span class="fc-primary">공정하게 대우</span>하는 사람</li>
											</ul>
										</div>
									</li>
								</ul>
							</section>
							`;
							const board2 = `
							<section class="cont-group welfare">
								<div class="section-tit-wrap">
									<h2 class="tit">열심히 일한 한화인, <br/> 누리자!</h2>
								</div>
								<ul class="grid-list-wrap">
									<li>
										<div class="tit-wrap">
											<p class="tit icon-welfare-01">재정 지원</p>
											<p class="desc">임직원과 가족의 안정적인 성장을 응원합니다.</p>	
										</div>
										<div class="txt-wrap">
											<div class="txt-item">
												<p class="tit">임직원 자녀 학자금</p>
												<ul class="note-list depth-1">
													<li>고등학교-대학교 자녀 학비 지원</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="tit-wrap">
											<p class="tit icon-welfare-02">경조사 및 포상 제도</p>
											<p class="desc">함께하는 순간을 소중히 여기며, 오랜 노고를 진심으로 보답합니다.</p>	
										</div>
										<div class="txt-wrap">
											<div class="txt-item">
												<p class="tit">경조휴가/경조금</p>
												<ul class="note-list depth-1">
													<li>경조사 관련 휴가 및 경조금 지원</li>
												</ul>
											</div>
											<div class="txt-item">
												<p class="tit">장기근속 포상</p>
												<ul class="note-list depth-1">
													<li>10년/20년/30년 포상 및 해외여행 상품권 지급</li>
												</ul>
											</div>
											<div class="txt-item">
												<p class="tit">각종 기념일 선물 지급</p>
												<ul class="note-list depth-1">
													<li>근로자의 날, 창립기념일 등</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="tit-wrap">
											<p class="tit icon-welfare-03">건강 및 안전 지원</p>
											<p class="desc">임직원의 건강과 안전을 최우선으로 생각합니다.</p>	
										</div>
										<div class="txt-wrap">
											<div class="txt-item">
												<p class="tit">본인/배우자 건강검진</p>
												<ul class="note-list depth-1">
													<li>본인 및 배우자 건강검진 실시</li>
												</ul>
											</div>
											<div class="txt-item">
												<p class="tit">단체 상해보험 가입</p>
												<ul class="note-list depth-1">
													<li>임직원 질병, 상해 보장</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="tit-wrap">
											<p class="tit icon-welfare-04">조직문화 및 복지</p>
											<p class="desc">서로를 존중하고 함께 성장하는 문화를 만들어갑니다.</p>	
										</div>
										<div class="txt-wrap">
											<div class="txt-item">
												<p class="tit">동호회 활동지원</p>
												<ul class="note-list depth-1">
													<li>계열사별 임직원 동호회 활동 비용 지원</li>
												</ul>
											</div>
											<div class="txt-item">
												<p class="tit">셔틀버스 운행</p>
												<ul class="note-list depth-1">
													<li>여의도 셔틀버스 운행</li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</section>
							`;
							const board3 = `
							<section class="cont-group recruit">
								<div class="section-tit-wrap">
									<h2 class="tit">미래의 꿈과 삶의 가치를 <br class="tablet-mobile-only"/> 만들어가는 <br class="pc-only"/> 한화인을 <br class="tablet-mobile-only"/> 기다립니다.</h2>
								</div>
								<div class="group-wrap spacing-lg">
									<h3 class="tit-sm">
										<span>신입사원 채용</span>
										<span class="desc">신입사원 채용 전형은 한화채용 공식홈페이지(www.hanwhain.com)를 통해 접수 받고 있습니다.</span>
									</h3>
									<div class="process-wrap">
										<ul class="process-list">
											<li>
												<span class="num">01</span>
												<p class="tit">
													<strong>지원서 <br/> 접수</strong>
												</p>												
											</li>
											<li>
												<span class="num">02</span>
												<p class="tit">
													<strong>서류전형</strong>
												</p>
											</li>
											<li>
												<span class="num">03</span>
												<p class="tit">
													<strong>실무면접</strong>
													<small>글로벌 관련 직무 <br/> 영어구술 포함 </small>
												</p>
											</li>
											<li>
												<span class="num">04</span>
												<p class="tit">
													<strong>임원면접</strong>
												</p>
											</li>
											<li>
												<span class="num">05</span>
												<p class="tit">
													<strong>채용검진</strong>
												</p>
											</li>
											<li>
												<span class="num">06</span>
												<p class="tit">
													<strong>인턴근무</strong>
													<small>약 8주</small>
												</p>
											</li>
											<li>
												<span class="num">07</span>
												<p class="tit">
													<strong>임원면접</strong>
												</p>
											</li>
											<li>
												<span class="num">08</span>
												<p class="tit">
													<strong>신입사원 <br/> 입사</strong>
												</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="group-wrap spacing-lg">
									<h3 class="tit-sm">
										<span>경력직원 채용</span>
										<span class="desc">인재를 필요로 하는 포지션이 발생할 경우 개별 채용 전형을 실시합니다. </span>
									</h3>
									<div class="process-wrap">
										<ul class="process-list navy">
											<li>
												<span class="num">01</span>
												<p class="tit">
													<strong>지원서 <br/> 접수</strong>
												</p>												
											</li>
											<li>
												<span class="num">02</span>
												<p class="tit">
													<strong>서류전형</strong>
												</p>
											</li>
											<li>
												<span class="num">03</span>
												<p class="tit">
													<strong>실무면접</strong>
												</p>
											</li>
											<li>
												<span class="num">04</span>
												<p class="tit">
													<strong>서류검증 <br/> 평판조회</strong>
												</p>
											</li>
											<li>
												<span class="num">05</span>
												<p class="tit">
													<strong>임원면접</strong>
												</p>
											</li>
											<li>
												<span class="num">06</span>
												<p class="tit">
													<strong>처우협의</strong>
												</p>
											</li>
											<li>
												<span class="num">07</span>
												<p class="tit">
													<strong>채용검진</strong>
												</p>
											</li>
											<li>
												<span class="num">08</span>
												<p class="tit">
													<strong>입사</strong>
												</p>
											</li>
										</ul>
									</div>
								</div>
								<ul class="note-list depth-1 small">
									<li>면접 진행방식은 전형에 따라 달라질 수 있습니다.</li>	
								</ul>
							</section>
							`;
							%>
							<%- include('../../components/tab.ejs', {
								active: 1,
								variant: 'line',
								tablist: ['핵심가치', '복리후생', '채용'],
								contents: [board1, board2, board3],
							}) -%>
						</div>
					</div>
				</section>
				<section class="section-banner">
					<div class="inner">
						<div class="txt-wrap">
							<p class="tit">지속가능한 내일을 여는 한화인을 기다립니다.</p>
							<p class="desc">한화는 적극적인 변화와 도전으로 새로운 꿈을 실현시켜 나가는 패기에 찬 인재를 찾고 있습니다.</p>
							<%- include('../../components/button.ejs', {
								variant: 'outline',
								tag: 'a',
								label: '진행중인 채용 공고 바로가기',
								size: 'xxlarge',
								icon: 'link',
								addClass: 'white'
							}) -%>
						</div>
					</div>
				</section>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>