<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '개인 | 연금펀드 | 한화펀드'
		}) -%>
	</head>
	<body class="page-fund">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container fund-pension">
				<section class="section-visual">
					<div class="inner">
					</div>
				</section>
				<section class="section-detail">
					<div class="layout-sidebar">
						<div class="layout-inner">
							<aside class="sidebar">
								<ul>
									<li class="active"><a href="#performance" aria-current="page">연금저축이란</a></li>
									<li><a href="#assets">연금저축 개요</a></li>
									<li><a href="#fees">세제 혜택 및 과세체계</a></li>
									<li><a href="#info">한화자산운용 연금펀드의 특징</a></li>
								</ul>
							</aside>

							<div class="layout-content">
								<section id="performance" class="cont-group motion fade-up">
									<div class="section-tit-wrap">
										<h2 class="tit">연금저축이란?</h2>
										<p class="desc-small">노후 준비와 절세를 함께 원하는 개인이 일정 금액을 적립하고 다양한 펀드를 운용하면서 만 55세 이후 연금으로 수령하는 세제혜택 상품입니다.</p>
									</div>
									<div class="group-wrap spacing-lg">
										<h3 class="tit-sm">연금저축 특징</h3>
										<div class="gray-box">

										</div>
									</div>
									<div class="group-wrap spacing-lg">
										<h3 class="tit-sm">연금저축, 왜 필요할까요?</h3>
										<div class="txt-wrap">
											<p class="desc">100세 시대를 맞아 은퇴 후 약 40년간 필요한 노후 생활비는 기본 생활비 약 240만 원, 적정 생활비 약 336만 원, 여유 생활비는 약 400만 원 이상으로 예상됩니다. 하지만 국민연금과 퇴직연금만으로는 이러한 생활비를 충족하기 어려워 (개인)연금저축 가입이 필수적입니다.</p>
											<p class="note-txt">(출처: 통계청 &lt;가계금융복지조사&gt;, 2024년)</p>
										</div>
									</div>
									<div class="group-wrap">
										<div class="gray-box">
											<p class="tit-sm">늘어나는 수명과 달리 앞당겨지는 은퇴 시기 <br/> 반드시 필요한 노후 대비, 연금 투자는 선택이 아닌 필수입니다</p>
										</div>
									</div>
									<div class="group-wrap">
										<div class="gray-box">
											<p class="tit-sm">국민 노후준비 수준은 70점으로 은퇴 후 안정적 노후 소득 마련을 위해서는 <br/> 3층 보장 연금체계 기반 자산 형성이 필요합니다</p>
										</div>
									</div>
								</section>
								<section id="assets" class="cont-group motion fade-up">
									<div class="section-tit-wrap">
										<h2 class="tit">연금저축 개요</h2>
									</div>
									<div class="group-wrap">
										<%- include('../../components/table.ejs', { 
											caption: '기간별 수익률',
											colWidths: ['auto', '28%', '28%', '28%'],
											thead: ['구분', {text: '연금저축펀드', class: 'emphasis'}, '연금저축보험', '연금저축신탁'],
											tbody: [
												['가입대상', {text: '자산운용사', class: 'emphasis'}, '보험사', '은행'],
												['주요판매사', {text: '증권사, 은행, 보험사', class: 'emphasis'}, '증권사, 은행, 보험사', '은행'],
												['납입방식', {text: '자유납입', class: 'emphasis'}, '정기납입', '자유납입'],
												['연금지급방식', {text: '확정기간형(제한 없음)', class: 'emphasis'}, '확정기간형 또는 종신형', '확정기간형(제한 없음)'],
												['원금보장', {text: '비보장', class: 'emphasis'}, '보장', '비보장'],
												['예금자보호', {text: '비보호', class: 'emphasis'}, '보호', '보호'],
												['가입 대상', {text: '연령 제한 없이 누구나 가입 가능', colspan: 3, align: 'left'}],
												['납입한도', {text: 
													`<strong class="desc">연간 1,800만원 內</strong>
													<ul class="note-list depth-1">
														<li>전 금융기관 합산 한도 기준, 분기별 한도 제한 없음</li>
														<li>연금저축계좌 및 퇴직연금 DC/IRP 가입자 납입분 합산</li>
													</ul>`, 
													colspan: 3, align: 'left'}],
												['세액공제', {text: 
													`<ul class="note-list depth-1">
														<li>세액공제 한도 : 개인연금 최대 600만원 (IRP 합산 최대 900만원)</li>
														<li>세액공제율 : <strong>16.5%</strong> (지방소득세율 포함) <br/> 단, 총 급여 5,500만원 또는 종합소득금액 4,500만원 초과의 경우 13.2%</li>
													</ul>`, 
													colspan: 3, align: 'left'}],
												['연금수령대상', {text: '만 55세 이상 및 5년 이상 가입고객', colspan: 3, align: 'left'}],
												['중도인출', {text: 
													`<p class="desc">가입자 필요 시 중도인출 가능</p>
													<ul class="note-list depth-1">
														<li>중도해지하거나 계약기관 종류 후 연금 외 형태로 수령 시 세액공제 받은 납입원금 및 수익에 대해 기타소득세(16.5%) 부과될 수 있음</li>
													</ul>`
													, colspan: 3, align: 'left'}],
												['인출 시 세금', {text: 
													`<p class="desc">연금적립금에서 출금 시 차감되는 세금을 줄이기 위해 세율이 낮은 적립금부터 출금</p>
													<ul class="note-list depth-1">
														<li>1순위: 연말 세액공제 시청하지 않은 비과세 대상 금액</li>
														<li>2순위: 연말 세액공제 신청한 납입금 및 연금저축에서 발생한 수익</li>
													</ul>`
													, colspan: 3, align: 'left'}],
											],
											rowHeaders: true,
											addClass: 'tertiary scroll',
										}) %>
										<%- include('../../components/note-list.ejs', { 
											depth: 1,
											items: [
												'금융투자규정 법령에 따라 2018년 부터 연금저축신탁은 신규 가입이 불가합니다.',
												'연금저축계좌 관련 세제는 소득세법 등 관련 법정의 개정등에 따라 변경될 수 있으니 유의하여 주시기 바랍니다.',
											],
											addClass: 'small'
										}); %>
									</div>
								</section>
								<section id="fees" class="cont-group motion fade-up">
									<div class="section-tit-wrap">
										<h2 class="tit">세제 혜택 및 과세체계</h2>
									</div>
									<div class="group-wrap spacing-lg">
										<h3 class="tit-sm">세제혜택</h3>
										<div class="gray-box">
											<div class="img-wrap">
												<!-- <img src="~@/assets/images/company/system-inspect-02.png" alt="">	 -->
											</div>
										</div>
										<%- include('../../components/table.ejs', { 
											caption: '세제혜택',
											colWidths: ['30%', '30%', 'auto'],
											thead: ['총급여(종합소득급여)', {text: '세액공제율(지방소득세 포함)', class: 'emphasis'}, {text: '세금절감 효과(연간불입액*세액공제율 %)', class: 'emphasis'}],
											tbody: [
												['5,500만원 이하(4,500만원)', {text: '16.5%', class: 'emphasis'}, {text: '99만원~148.5만원 <br/> (연금저축 600만원 혹은 IRP 900만원 * 16.5%)', class: 'emphasis'}],
												['5,500만원 초과(4,500만원)', {text: '13.2%', class: 'emphasis'}, {text: '79.2만원~118.8만원 <br/> (연금저축 600만원 혹은 IRP 900만원 * 13.2%)', class: 'emphasis'}],
											],
											addClass: 'tertiary scroll',
										}) %>
										<p class="note-txt">상기 세율은 관련 세법에 따라 달라질 수 있습니다</p>
									</div>
									<div class="group-wrap spacing-lg">
										<h3 class="tit-sm">과세체계</h3>
										<div class="gray-box">
											<div class="img-wrap">
												<!-- <img src="~@/assets/images/company/system-inspect-02.png" alt="">	 -->
											</div>
										</div>
									</div>
								</section>
								<section id="info" class="cont-group motion fade-up">
									<div class="section-tit-wrap">
										<p class="sub-tit txt-gradient">이 상품의 정보와 관련자료를 꼼꼼하게 확인해보세요</p>
										<h2 class="tit">상품정보</h2>
									</div>
									<div class="group-wrap">
										<div class="overlay-box-wrap">
											<div class="visual-box">
												<p class="tit-md fw-sb">한화100세시대퇴직연금코리아레전드4차산업혁명증권자투자신탁(채권혼합)</p>
												<ul class="pipe-list">
													<li>국내</li>
													<li>주식</li>
													<li>글로벌</li>
												</ul>
											</div>
											<div class="info-box">
												<div class="product-info-wrap">
													<dl>
														<dt>설정일</dt>
														<dd>2020.01.01</dd>
													</dl>
													<dl>
														<dt>담당 펀드매니저</dt>
														<dd>김운용</dd>
													</dl>
													<dl class="w-full">
														<dt>벤치마크</dt>
														<dd>KOSPI200 X 220% + MMI_CD X -120%</dd>
													</dl>

													<%- include('../../components/select.ejs', {
														variant: 'outline',
														title: "관련공시",
														placeholder: "관련공시 전체보기",
														size: 'large',
														options: [
															{ value: 'option1', text: '관련공시1' },
															{ value: 'option2', text: '관련공시2' },
															{ value: 'option3', text: '관련공시3' }
														],
													}) -%>
												</div>
											</div>
										</div>
									</div>
									<div class="group-wrap gap-40">
										<h3 class="tit-sm">관련자료</h3>
										<div class="reference-wrap">
											<div class="reference-box">
												<div class="download-wrap">
													<div class="txt-wrap">
														<p class="tit">자산운용보고서</p>
														<p class="desc">운용기간 2025.05.31 ~2025.08.30</p>
													</div>
													<%- include('../../components/button.ejs', {
														tag: 'a',
														label: '다운로드',
														size: 'large',
														icon: 'download',
														download: true,
														toast: 'download'
													}) -%>
												</div>
												<div class="btn-wrap array-left line">
													<%- include('../../components/button.ejs', {
														variant: 'text',
														label: '지난 보고서 전체보기',
														size: 'large',
														preIcon: 'file',
														icon: 'arrow-right',
													}) -%>
												</div>
											</div>
											<div class="btn-wrap column">
												<%- include('../../components/button.ejs', {
													tag: 'a',
													variant: 'line',
													label: '집합투자규약',
													size: 'xlarge',
													icon: 'download',
													download: true,
													addClass: 'dark'
												}) -%>
												<%- include('../../components/button.ejs', {
													tag: 'a',
													variant: 'line',
													label: '투자설명서',
													size: 'xlarge',
													icon: 'download',
													download: true,
													addClass: 'dark'
												}) -%>
												<%- include('../../components/button.ejs', {
													tag: 'a',
													variant: 'line',
													label: '간이투자설명서',
													size: 'xlarge',
													icon: 'download',
													download: true,
													addClass: 'dark'
												}) -%>
											</div>
										</div>
									</div>
									<div class="group-wrap gap-40">
										<h3 class="tit-sm">판매사</h3>
										<div class="btn-wrap grid-3">
											<%- include('../../components/button.ejs', {
												variant: 'line',
												label: 'IBK투자증권',
												size: 'xlarge',
												icon: 'link'
											}) -%>
											<%- include('../../components/button.ejs', {
												variant: 'line',
												label: 'KB증권',
												size: 'xlarge',
												icon: 'link'
											}) -%>
											<%- include('../../components/button.ejs', {
												variant: 'line',
												label: 'LS증권',
												size: 'xlarge',
												icon: 'link'
											}) -%>
											<%- include('../../components/button.ejs', {
												variant: 'line',
												label: '대신증권',
												size: 'xlarge',
												icon: 'link'
											}) -%>
											<%- include('../../components/button.ejs', {
												variant: 'line',
												label: '미래에셋자산운용',
												size: 'xlarge',
												icon: 'link'
											}) -%>
										</div>
										<p class="note-txt">펀드 가입은 판매사 홈페이지에서 할 수 있습니다.</p>
									</div>
									<div class="group-wrap gap-40 pt-56">
										<h2 class="tit-xlg">투자하시기 전, 꼭 확인하세요!</h2>
										<p class="note-refer">
											자산구성현황 및 주요 보유업종, 보유자산 내역은 운용펀드 기준이며 기준일로부터 1개월 전 자료이니 착오 없으시기 바랍니다.
										</p>
										<div class="box-wrap bg-gray">
											<%- include('../../components/note-list.ejs', { 
												depth: 1,
												items: [
													'이 금융상품은 예금자보호법에 따라 보호되지 않습니다.', 
													'집합투자증권은 자산가격 변동, 환율 변동, 신용등급 하락 등에 따라 투자원금의 손실(0~100%)이 발생할 수 있으며, 그 손실은 투자자에게 귀속됩니다.', 
													'가입하시기 전에 투자대상, 환매방법 및 보수 등에 관하여 투자설명서 및 약관을 반드시 읽어보시기 바랍니다.',
													'당사는 이 금융투자상품&lt;집합투자증권&gt;에 관하여 충분히 설명할 의무가 있으며, 투자자는 투자에 앞서 그러한 설명을 충분히 들으시기 바랍니다.',
													'과거의 운용실적이 미래의 수익을 보장하는 것은 아닙니다.',
													'해외투자상품에의 투자는 투자대상국가의 시장, 정치, 경제상황 환율변동 등에 따른 위험으로 자산가치가 변동되어 손실이 발생할 수 있습니다. 파생상품은 높은 가격 변동성으로 단기간에 투자원금의 전부 또는 상당부분을 잃을 수 있으며, 장외파생상품에 투자하는 경우 거래 상대방이 계약조건을 이행하지 못할 위험이 있습니다.',
													'재형저축 및 연금저축펀드에 대한 과세내용은 조세특례제한법 등 관련 법령의 변경에 따라 달라질 수 있습니다.',
													'재간접형 펀드의 경우, 피투자펀드 보수 및 증권거래 비용 등 추가비용이 발생할 수 있습니다.',
													'MMF의 경우 장부가와 시가의 괴리가 ±0.5%이상일 경우 기준가격 적용기준이 달라질 수 있습니다.',
													'레버리지 펀드는 투자원금 손실이 크게 확대될 수 있습니다.'
												],
											}) -%>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</section>
				<section class="section-trend">
					<div class="inner">
						<div class="cont-group motion fade-up">
							<div class="section-tit-wrap">
								<h2 class="tit txt-en txt-gradient">Investment Trend</h2>
								<p class="desc">지금 인기있는 펀드를 확인해보세요</p>
							</div>
							<div class="card-list-wrap">
								<ul class="card-list">
									<li class="card-item motion fade-up" data-delay="0.1">
										<a href="#!">
											<div class="card-top">
												<!-- [2025-11-21] 클래스명 변경 -->
												<%- include('../../components/badge.ejs', { 
													badgeItems: [
														{ label: '국내', variant: 'solid', color: 'red' },
														{ label: '주식', variant: 'solid', color: 'orange' },
														{ label: '글로벌', variant: 'solid', color: 'purple' }
													]
												}) -%>
												<!-- [2025-11-21] 클래스명 변경 -->
												<p class="tit">선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
												<!-- [2025-11-21] 마크업 추가 -->
												<p class="desc">종류 C-e(수수료미징구-온라인)</p>
												<!-- // [2025-11-21] 마크업 추가 -->
											</div>
											<div class="card-con">
												<div class="chart-area line">
													<div class="chart">
														<!-- Chart 영역 -->
													</div>
												</div>
		
												<div class="info-list">
													<dl class="txt-emphasis">
														<dt>3개월 수익률</dt>
														<dd>2.56<small>%</small></dd>
													</dl>
													<dl>
														<dt>기준가</dt>
														<dd>1,452.33원</dd>
													</dl>
													<dl>
														<dt>순자산</dt>
														<dd>3억원</dd>
													</dl>
												</div>
											</div>
										</a>
									</li>
									<li class="card-item motion fade-up" data-delay="0.2">
										<a href="#!">
											<div class="card-top">
												<!-- [2025-11-21] 클래스명 변경 -->
												<%- include('../../components/badge.ejs', { 
													badgeItems: [
														{ label: '국내', variant: 'solid', color: 'red' },
														{ label: '주식', variant: 'solid', color: 'orange' },
														{ label: '글로벌', variant: 'solid', color: 'purple' }
													]
												}) -%>
												<!-- [2025-11-21] 클래스명 변경 -->
												<p class="tit">한화그린히어로증권자투자신탁(주식) A</p>
												<!-- [2025-11-21] 마크업 추가 -->
												<p class="desc">종류 C-e(수수료미징구-온라인)</p>
												<!-- // [2025-11-21] 마크업 추가 -->
											</div>
											<div class="card-con">
												<div class="chart-area line">
													<div class="chart">
														<!-- Chart 영역 -->
													</div>
												</div>
		
												<div class="info-list">
													<dl class="txt-emphasis">
														<dt>3개월 수익률</dt>
														<dd>2.56<small>%</small></dd>
													</dl>
													<dl>
														<dt>기준가</dt>
														<dd>1,452.33원</dd>
													</dl>
													<dl>
														<dt>순자산</dt>
														<dd>3억원</dd>
													</dl>
												</div>
											</div>
										</a>
									</li>
									<li class="card-item motion fade-up" data-delay="0.3">
										<a href="#!">
											<div class="card-top">
												<!-- [2025-11-21] 클래스명 변경 -->
												<%- include('../../components/badge.ejs', { 
													badgeItems: [
														{ label: '국내', variant: 'solid', color: 'red' },
														{ label: '주식', variant: 'solid', color: 'orange' },
														{ label: '글로벌', variant: 'solid', color: 'purple' }
													]
												}) -%>
												<!-- [2025-11-21] 클래스명 변경 -->
												<p class="tit">한화코리아레전드4차산업혁명증권자투자신탁(주식)종류A</p>
												<!-- [2025-11-21] 마크업 추가 -->
												<p class="desc">종류 C-e(수수료미징구-온라인)</p>
												<!-- // [2025-11-21] 마크업 추가 -->
											</div>
											<div class="card-con">
												<div class="chart-area line">
													<div class="chart">
														<!-- Chart 영역 -->
													</div>
												</div>
		
												<div class="info-list">
													<dl class="txt-emphasis">
														<dt>3개월 수익률</dt>
														<dd>2.56<small>%</small></dd>
													</dl>
													<dl>
														<dt>기준가</dt>
														<dd>1,452.33원</dd>
													</dl>
													<dl>
														<dt>순자산</dt>
														<dd>3억원</dd>
													</dl>
												</div>
											</div>
										</a>
									</li>
									<li class="card-item motion fade-up" data-delay="0.4">
										<a href="#!">
											<div class="card-top">
												<!-- [2025-11-21] 클래스명 변경 -->
												<%- include('../../components/badge.ejs', { 
													badgeItems: [
														{ label: '국내', variant: 'solid', color: 'red' },
														{ label: '주식', variant: 'solid', color: 'orange' },
														{ label: '글로벌', variant: 'solid', color: 'purple' }
													]
												}) -%>
												<!-- [2025-11-21] 클래스명 변경 -->
												<p class="tit">한화헤라클레스선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
												<!-- [2025-11-21] 마크업 추가 -->
												<p class="desc">종류 C-e(수수료미징구-온라인)</p>
												<!-- // [2025-11-21] 마크업 추가 -->
											</div>
											<div class="card-con">
												<div class="chart-area line">
													<div class="chart">
														<!-- Chart 영역 -->
													</div>
												</div>
		
												<div class="info-list">
													<dl class="txt-emphasis">
														<dt>3개월 수익률</dt>
														<dd>2.56<small>%</small></dd>
													</dl>
													<dl>
														<dt>기준가</dt>
														<dd>1,452.33원</dd>
													</dl>
													<dl>
														<dt>순자산</dt>
														<dd>3억원</dd>
													</dl>
												</div>
											</div>
										</a>
									</li>
								</ul>
								<div class="btn-wrap array-center">
									<%- include('../../components/button.ejs', {
										tag: 'a',
										label: '더보기',
										size: 'large',
										hierarchy: 'tertiary',
										addClass: 'more',
									}) -%>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>

		<!-- popover -->
		<%- include('../../components/popover.ejs', {
			id: 'popover-share',
			title: '공유하기',
			popSlot: `
				<ul class="share-sns-list">
					<li class="kakao">
						<a href="#!">카카오톡</a>
					</li>
					<li class="blog">
						<a href="#!">블로그</a>
					</li>
					<li class="instagram">
						<a href="#!">인스타그램</a>
					</li>
					<li class="copy">
						<button type="button">URL복사</button>
					</li>
				</ul>
			`
		}) %>
		<!-- // popover -->

		<%- include('../../components/toast.ejs') -%>
	</body>
</html>