<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '펀드비교 팝업'
		}) -%>
	</head>
	<body>
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container" style="padding: 20rem 0;">
				<div class="inner">
          <%- include('../../components/button.ejs', {
            label: '펀드비교 팝업',
            targetType: 'modal',
            targetId: 'modalCompare',
          }) -%>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>

    <!-- popup 상품비교 -->
    <% 
    const badge = include('../../components/badge.ejs', {
      size: 'small',
      badgeItems: [
        { label: '아세안', variant: 'solid', color: 'light-orange'},
        { label: '주식혼합', variant: 'solid', color: 'light-orange'},
        { label: '중소형주/성장주', variant: 'solid', color: 'light-orange'}
      ]
    });
		const badgeWrap = `
		<!-- [2025-12-12] badge 컬러 light-orange 로 변경 -->
		${badge}
		<!-- // [2025-12-12] badge 컬러 light-orange 로 변경 -->
		`; 
    -%>
    <%- include('../../components/modal.ejs', {
      id: 'modalCompare',
      variant: 'modal',
      title: '상품비교',
      content: `
        <div class="tbl-wrap scroll fund-list-wrap">
          <table class="tbl">
            <caption>
              <span>상품명, 차트, 투자지역, 기준가(원), 총보수(연, %), 설정일, 환매방법으로 구성된 표</span>
            </caption>
            <colgroup>
              <col width="auto" />
              <col width="11.5%" />
              <col width="10.5%" />
              <col width="13%" />
              <col width="10%" />
              <col width="10%" />
              <col width="10%" />
              <col width="4%" />
            </colgroup>
            <thead>
              <tr>
                <th rowspan="2">상품명</th>
                <th rowspan="2">차트</th>
                <th>투자지역</th>
                <th>기준가(원)</th>
                <th rowspan="2">설정일</th>
                <th rowspan="2">총보수(연, %) </th>
                <th rowspan="2">환매방법</th>
                <th rowspan="2">상세 <br/> 보기</th>
              </tr>
              <tr>
                <th>상품유형</th>
                <th>순자산(원)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="fund-name">
                    ${badgeWrap}
                    <div class="txt-wrap">
                      <p class="tit">선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
                      <p class="desc">종류 C-e(수수료미징구-온라인)</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="fund-chart">
                    <div class="chart-area line">
                      <div class="chart">
                        <!-- Chart 영역 -->
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="fund-type col">
                    <span>국내</span>
                    <span>주식형</span>
                  </div>
                </td>
                <td>
                  <div class="fund-price col">
                    <span>724.47</span>
                    <span>152,851,304</span>
                  </div>
                </td>
                <td>2012.02.08</td>
                <td>1.532%</td>
                <td>해당사항없음</td>
                <td>
                  <a href="#!" class="fund-link"><span class="sr-only">상세보기</span></a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="fund-name">
                    ${badgeWrap}
                    <div class="txt-wrap">
                      <p class="tit">선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
                      <p class="desc">종류 C-e(수수료미징구-온라인)</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="fund-chart">
                    <div class="chart-area line">
                      <div class="chart">
                        <!-- Chart 영역 -->
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="fund-type col">
                    <span>국내</span>
                    <span>주식형</span>
                  </div>
                </td>
                <td>
                  <div class="fund-price col">
                    <span>724.47</span>
                    <span>152,851,304</span>
                  </div>
                </td>
                <td>2012.02.08</td>
                <td>1.532%</td>
                <td>해당사항없음</td>
                <td>
                  <a href="#!" class="fund-link"><span class="sr-only">상세보기</span></a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="fund-name">
                    ${badgeWrap}
                    <div class="txt-wrap">
                      <p class="tit">선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
                      <p class="desc">종류 C-e(수수료미징구-온라인)</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="fund-chart">
                    <div class="chart-area line">
                      <div class="chart">
                        <!-- Chart 영역 -->
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="fund-type col">
                    <span>국내</span>
                    <span>주식형</span>
                  </div>
                </td>
                <td>
                  <div class="fund-price col">
                    <span>724.47</span>
                    <span>152,851,304</span>
                  </div>
                </td>
                <td>2012.02.08</td>
                <td>1.532%</td>
                <td>해당사항없음</td>
                <td>
                  <a href="#!" class="fund-link"><span class="sr-only">상세보기</span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      `,
      open: true,
    }) %>
    <!-- popup 상품비교 -->
	</body>
</html>