<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '상품상세'
		}) -%>
	</head>
	<body>
		<div class="wrap page-fund">
			<!-- header -->
			<%- include('../../layouts/header.ejs') %>
			<!-- // header -->
			
			<!-- container -->
			<main class="container fund-main">
				<section class="section-visual">
					<div class="inner">
						<div class="fund-info">
							<div class="fund-top">
								<ul class="category">
									<li>국내</li>
									<li>주식</li>
									<li>글로벌</li>
								</ul>
								<%- include('../../components/button.ejs', {
									variant: 'icon',
									label: '공유하기',
									size: 'xxlarge',
									icon: 'share',
									addClass: 'bg-gray round'
								}) -%>
								<!-- <button type="button" class="btn-share"><span class="sr-only">공유하기</span></button> -->
							</div>
							<h2 class="fund-tit tit-lg fc-white">한화100세시대퇴직연금코리아레전드4차산업혁명증권자투자신탁(채권혼합)</h2>
							<div class="fund-actions">
								<%- include('../../components/select.ejs', {
									variant: 'text',
									name: 'fund-code-select',
									size: 'large',
									addClass: 'fc-white',
									options: [
										{ value: 'A', text: 'A(수수료선취-오프라인)' },
										{ value: 'Ae', text: 'Ae(수수료선취-온라인)' },
										{ value: 'C4', text: 'C4(수수료미징구-오프라인-보수체감)' },
										{ value: 'Ce', text: 'Ce(수수료미징구-온라인)' },
										{ value: 'S', text: 'S(수수료후취-온라인슈퍼)' },
									]
								}) -%>
								<%- include('../../components/button.ejs', {
                  variant: 'primary',
                  label: '클래스 비교',
                  size: 'medium'
                }) -%>
							</div>
							<ul class="fund-summary">
								<li>
									<p class="tit">기준가(전일대비)</p>
									<p class="value">
										<strong>1,220.00</strong>
										<span class="unit">원</span>
									</p>
									<p class="change up">+19.24원(1.60%)</p>
									<!-- <p class="change down">+19.24원(1.60%)</p> -->
								</li>
								<li>
									<p class="tit">수익률(1주 기준)</p>
									<p class="value">
										<strong>6.48</strong>
										<span class="unit">%</span>
									</p>
									<p class="change up">+1.60%</p>
									<!-- <p class="change down">+19.24원(1.60%)</p> -->
								</li>
								<li>
									<p class="tit">총보수(연기준)</p>
									<p class="value">
										<strong>0.5090</strong>
										<span class="unit">%</span>
									</p>
								</li>
								<li>
									<p class="tit">순자산</p>
									<p class="value">
										<strong>33.3</strong>
										<span class="unit">억원</span>
									</p>
								</li>
							</ul>
						</div>
						<div class="fund-ai">
							<h3 class="tit">AI 펀드 브리핑</h3>
							<dl class="desc-wrap">
								<dt>펀드 특징</dt>
								<dd>국내 우량 채권에 안정적으로 투자 낮은 위험등급(5등급)으로 꾸준한 이자 수익을 추구하는 채권형 펀드</dd>
							</dl>
							<dl class="desc-wrap">
								<dt>투자 포인트</dt>
								<dd>장기 안정적 성과 + 분산투자로 신용위험 완화</dd>
								<dd>저평가 회사채 발굴로 추가 수익 기회</dd>
								<dd>ESG 평가 반영으로 지속가능한 투자</dd>
							</dl>
							<dl class="desc-wrap">
								<dt>투자 포인트</dt>
								<dd>예금 이상의 수익을 원하면서도 안정성을 중시하는 투자자</dd>
								<dd>장기적으로 꾸준히 자산을 불리고 싶은 투자자</dd>
							</dl>
						</div>
					</div>
				</section>
				<section class="section-detail">
					<div class="top-fixed">
						<div class="inner">
							<div class="info logo">
								<p class="name">한화100세시대퇴직연금코리아레전드4차산업혁명증권자투자신탁(채권혼합)</p>
								<%- include('../../components/button.ejs', {
									variant: '',
									hierarchy: 'secondary',
									label: '클래스 비교',
									size: 'small',
								}) -%>
							</div>
							<div class="btn-wrap">
								<%- include('../../components/button.ejs', {
									variant: 'text',
									// hierarchy: 'secondary',
									label: 'AI 펀드 브리핑',
									size: 'small',
								}) -%>
								<%- include('../../components/button.ejs', {
									variant: 'icon',
									label: '공유',
									size: 'xxlarge',
									icon: 'share',
									addClass: 'bg-white'
								}) -%>
							</div>
						</div>
					</div>
					<div class="sidebar-layout">
						<div class="siderbar-inner">
						<aside class="sidebar">
							<ul>
								<li class="active"><a href="#performance" aria-current="page">수익률</a></li>
								<li><a href="#assets">자산구성</a></li>
								<li><a href="#fees">보수 및 수수료</a></li>
								<li><a href="#info">상품정보</a></li>
							</ul>
						</aside>

						<div class="sidebar-cont">
							<div id="performance" class="cont-wrap">
								<div class="tit-wrap">
									<p class="txt-m">이 상품의 지난 기록을 살펴볼까요?</p>
									<h2 class="tit-xlg">수익률</h2>
								</div>
								<div class="graph-wrap">
									<p class="date">기준일 2025.10.17</p>
									<div class="graph-filter">
										<%- include('../../components/segmentControl.ejs', {
											tag: 'button',
											items: [
												{ label: '1주' },
												{ label: '1개월' },
												{ label: '3개월' },
												{ label: '6개월' },
												{ label: '1년' },
												{ label: '3년' },
												{ label: '5년' },
												{ label: '연초이후' },
												{ label: '설정이후' }
											]
										}) -%>
										<%- include('../../components/button.ejs', {
											label: '검색',
											size: 'large',
										}) -%>
									</div>
									<div class="graph" style="height: 500px; background: #eee;">
									</div>
								</div>
								<div class="group">
									<h3 class="tit-sm">기간별 수익률 <span class="desc">단위 %</span></h3>
									<%- include('../../components/table.ejs', { 
										caption: '기간별 수익률',
										colWidths: ['auto', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%'],
										thead: ['구분', '1주', '1개월', '3개월', '6개월', '1년', '3년', '5년', '연초이후', '설정이후'],
										tbody: [
											['펀드 수익률', '2.13', '59.16', '66.89', '46.07', '59.50', '62.11', '80.12', '4.12', '2.12'],
											['벤치마크 수익률', '4.78', '58.58', '62.25', '41.47', '40.75', '42.12', '40.21', '5.45', '3.98']
										]
									}) %>
								</div>
								<div class="group">
									<h3 class="tit-sm">위험수준</h3>
								</div>
							</div>

														<div id="performance" class="cont-wrap">
								<div class="tit-wrap">
									<p class="txt-m">이 상품의 지난 기록을 살펴볼까요?</p>
									<h2 class="tit-xlg">수익률</h2>
								</div>
								<div class="graph-wrap">
									<p class="date">기준일 2025.10.17</p>
									<div class="graph-filter">
										<%- include('../../components/segmentControl.ejs', {
											tag: 'button',
											items: [
												{ label: '1주' },
												{ label: '1개월' },
												{ label: '3개월' },
												{ label: '6개월' },
												{ label: '1년' },
												{ label: '3년' },
												{ label: '5년' },
												{ label: '연초이후' },
												{ label: '설정이후' }
											]
										}) -%>
										<%- include('../../components/button.ejs', {
											label: '검색',
											size: 'large',
										}) -%>
									</div>
									<div class="graph" style="height: 500px; background: #eee;">
									</div>
								</div>
								<div class="group">
									<h3 class="tit-sm">기간별 수익률 <span class="desc">단위 %</span></h3>
									<%- include('../../components/table.ejs', { 
										caption: '기간별 수익률',
										colWidths: ['auto', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%', '9.5%'],
										thead: ['구분', '1주', '1개월', '3개월', '6개월', '1년', '3년', '5년', '연초이후', '설정이후'],
										tbody: [
											['펀드 수익률', '2.13', '59.16', '66.89', '46.07', '59.50', '62.11', '80.12', '4.12', '2.12'],
											['벤치마크 수익률', '4.78', '58.58', '62.25', '41.47', '40.75', '42.12', '40.21', '5.45', '3.98']
										]
									}) %>
								</div>
								<div class="group">
									<h3 class="tit-sm">위험수준</h3>
								</div>
							</div>
						</div>
						</div>
					</div>
				</section>
			</main>
			<!-- // container -->
			
			<!-- footer -->
			<%- include('../../layouts/footer.ejs') %>
			<!-- // footer -->
		</div>
	</body>
</html>