<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '개인연금 | 연금펀드 | 한화펀드'
		}) -%>
	</head>
	<body class="page-fund">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container fund-pension personal">
				<section class="section-visual">
					<div class="inner">
						<div class="txt-wrap">
							<p class="sub-tit">연금펀드</p>
							<p class="tit">연금저축</p>
							<p class="desc">한화자산운용이 자랑하는 연금 운용 노하우, <br/> 한화 연금 펀드를 소개합니다.</p>
						</div>
					</div>
					<div class="img-wrap">
						<img src="~@/assets/images/fund/pension-personal-visual.png" alt="" class="pc-only">
						<img src="~@/assets/images/fund/mo-pension-personal-visual.png" alt="" class="tablet-mobile-only">
					</div>
				</section>
				<section class="section-detail">
					<div class="layout-sidebar">
						<div class="layout-inner">
							<aside class="sidebar">
								<ul>
									<li class="active"><a href="#intro" aria-current="page">연금저축이란</a></li>
									<li><a href="#summary">연금저축 개요</a></li>
									<li><a href="#benefit">세제 혜택 및 과세체계</a></li>
									<li><a href="#feature">한화자산운용 연금펀드의 특징</a></li>
								</ul>
							</aside>

							<div class="layout-content">
								<section id="intro" class="cont-group motion fade-up">
									<div class="section-tit-wrap">
										<h2 class="tit">연금저축이란?</h2>
										<p class="desc-small">노후 준비와 절세를 함께 원하는 개인이 일정 금액을 적립하고 다양한 펀드를 운용하면서 만 55세 이후 연금으로 수령하는 세제혜택 상품입니다.</p>
									</div>
									<div class="group-wrap spacing-lg">
										<h3 class="tit-sm">연금저축 특징</h3>
										<div class="gray-box small">
											<ul class="box-list-wrap">
												<li>
													<p class="tit icon-feature-01">자유로운 운용</p>
													<p class="desc">ETF, 리츠, 주식/채권형 펀드 등 다양한 금융 상품에 투자할 수 있어요.</p>
												</li>
												<li>
													<p class="tit icon-feature-02">노후자금 준비</p>
													<p class="desc">만 55세 이후 및 가입 후 5년이 지났다면 연금으로 수령할 수 있어요. 수령 시 연령대에 따라서 3.3~5.5%<sup>*</sup>로 저율 과세가 적용됩니다.</p>
													<p class="sup"><span>*</span> 지방소득세 포함</p>
												</li>
												<li>
													<p class="tit icon-feature-03">납입액의 세액공제</p>
													<p class="desc">매년 최대 600만원까지 13.2~16.5%<sup>*</sup> 세액 공제가 가능하며 연 1,800만원까지 입금할 수 있어요.</p>
													<p class="sup"><span>*</span> 총급여 혹은 종합소득금액 등 소득 기준에 따라 공제율 상이</p>
												</li>
											</ul>
										</div>
									</div>
									<div class="group-wrap spacing-lg">
										<h3 class="tit-sm">연금저축, 왜 필요할까요?</h3>
										<div class="txt-wrap">
											<p class="desc">100세 시대를 맞아 은퇴 후 약 40년간 필요한 노후 생활비는 기본 생활비 약 240만 원, 적정 생활비 약 336만 원, 여유 생활비는 약 400만 원 이상으로 예상됩니다. 하지만 국민연금과 퇴직연금만으로는 이러한 생활비를 충족하기 어려워 (개인)연금저축 가입이 필수적입니다.</p>
											<p class="note-txt">(출처: 통계청 &lt;가계금융복지조사&gt;, 2024년)</p>
										</div>
									</div>
									<div class="group-wrap">
										<div class="gray-box">
											<div class="group-wrap spacing-xlg">
												<p class="tit-xsm">
													<span>늘어나는 수명과 달리 앞당겨지는 은퇴 시기 <br/> 반드시 필요한 노후 대비, <span class="fc-primary">연금 투자는 선택이 아닌 필수</span>입니다</span>
												</p>
												<div class="group-flex-wrap">
													<div class="group-wrap">
														<div class="white-gradient-box">
															<p class="tit-xxsm">65세 이상 고령인구 비중 추이</p>
															<div class="img-wrap img-intro-01">
																<img src="~@/assets/images/fund/pension-personal-intro-01.png" alt="">	
															</div>
														</div>
														<p class="note-txt">주민등록 인구 기준으로 2000년 통계는 통계청 '2000년 인구주택총조사 전수집계 결과' 기준(자료: 행정안전부, 통계청)</p>
													</div>
													<div class="group-wrap">
														<div class="white-gradient-box">
															<p class="tit-xxsm">주요국 초고령 사회 도달 기간</p>
															<div class="img-wrap img-intro-01">
																<img src="~@/assets/images/fund/pension-personal-intro-02.png" alt="">	
															</div>
														</div>
														<p class="note-txt">65세 이상 노인 인구가 전체 인구의 15%를 넘는 고령사회에서 20%를 초과하는 초고령 사회로 진입하는 데 걸리는 기간(자료: 경제협력개발기구(OECD))</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="group-wrap">
										<div class="gray-box">
											<div class="group-wrap spacing-xlg">
												<p class="tit-xsm">
													<span>국민 노후준비 수준은 70점으로 은퇴 후 안정적 노후 소득 마련을 위해서는 <br/> <span class="fc-primary">3층 보장 연금체계</span> 기반 자산 형성이 필요합니다</span>
												</p>
												<div class="group-flex-wrap">
													<div class="list-wrap">
														<p class="sub-tit">영역별 노후 준비수준</p>
														<ul class="list">
															<li>
																<span>대인관계</span>
																<strong>64.9점</strong>
															</li>
															<li>
																<span>건강</span>
																<strong>74.5점</strong>
															</li>
															<li>
																<span>여가</span>
																<strong>60.3점</strong>
															</li>
															<li>
																<span>재무</span>
																<strong>67.6점</strong>
															</li>
															<li class="emphasis">
																<span>종합</span>
																<strong>69.9점</strong>
															</li>
														</ul>
														<p class="note-txt">2025년 한국보건사회연구원 &lt;2024년 노후준비 실태조사 및 진단지표 세분화 방안 연구 보고서&gt;</p>
													</div>
													<div class="img-wrap img-intro-02">
														<img src="~@/assets/images/fund/pension-personal-intro-04.png" alt="" class="pc-tablet-only">	
														<img src="~@/assets/images/fund/mo-pension-personal-intro-04.png" alt="" class="mobile-only">	
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section id="summary" class="cont-group motion fade-up">
									<div class="section-tit-wrap">
										<h2 class="tit">연금저축 개요</h2>
									</div>
									<div class="group-wrap">
										<%- include('../../components/table.ejs', { 
											caption: '기간별 수익률',
											colWidths: ['auto', '26%', '26%', '26%'],
											thead: ['구분', {text: '연금저축펀드', class: 'compare'}, '연금저축보험', '연금저축신탁'],
											tbody: [
												['가입대상', {text: '자산운용사', class: 'compare'}, '보험사', '은행'],
												['주요판매사', {text: '증권사, 은행, 보험사', class: 'compare'}, '증권사, 은행, 보험사', '은행'],
												['납입방식', {text: '자유납입', class: 'compare'}, '정기납입', '자유납입'],
												['연금지급방식', {text: '확정기간형(제한 없음)', class: 'compare'}, '확정기간형 또는 종신형', '확정기간형(제한 없음)'],
												['원금보장', {text: '비보장', class: 'compare'}, '보장', '비보장'],
												['예금자보호', {text: '비보호', class: 'compare'}, '보호', '보호'],
												['가입 대상', {text: '연령 제한 없이 누구나 가입 가능', colspan: 3, align: 'left'}],
												['납입한도', {text: 
													`<strong class="desc">연간 1,800만원 內</strong>
													<ul class="note-list depth-1">
														<li>전 금융기관 합산 한도 기준, 분기별 한도 제한 없음</li>
														<li>연금저축계좌 및 퇴직연금 DC/IRP 가입자 납입분 합산</li>
													</ul>`, 
													colspan: 3, align: 'left'}],
												['세액공제', {text: 
													`<ul class="note-list depth-1">
														<li>세액공제 한도 : 개인연금 최대 600만원 (IRP 합산 최대 900만원)</li>
														<li>세액공제율 : <strong class="fc-gray">16.5%</strong> (지방소득세율 포함) <br/> 단, 총 급여 5,500만원 또는 종합소득금액 4,500만원 초과의 경우 13.2%</li>
													</ul>`, 
													colspan: 3, align: 'left'}],
												['연금수령대상', {text: '만 55세 이상 및 5년 이상 가입고객', colspan: 3, align: 'left'}],
												['중도인출', {text: 
													`<p class="desc">가입자 필요 시 중도인출 가능</p>
													<ul class="note-list depth-1">
														<li>중도해지하거나 계약기관 종류 후 연금 외 형태로 수령 시 세액공제 받은 납입원금 및 수익에 대해 기타소득세(16.5%) 부과될 수 있음</li>
													</ul>`
													, colspan: 3, align: 'left'}],
												['인출 시 세금', {text: 
													`<p class="desc">연금적립금에서 출금 시 차감되는 세금을 줄이기 위해 세율이 낮은 적립금부터 출금</p>
													<ul class="note-list depth-1">
														<li>1순위: 연말 세액공제 시청하지 않은 비과세 대상 금액</li>
														<li>2순위: 연말 세액공제 신청한 납입금 및 연금저축에서 발생한 수익</li>
													</ul>`
													, colspan: 3, align: 'left'}],
											],
											rowHeaders: true,
											addClass: 'tertiary scroll small',
										}) %>
										<%- include('../../components/note-list.ejs', { 
											depth: 1,
											items: [
												'금융투자규정 법령에 따라 2018년 부터 연금저축신탁은 신규 가입이 불가합니다.',
												'연금저축계좌 관련 세제는 소득세법 등 관련 법정의 개정등에 따라 변경될 수 있으니 유의하여 주시기 바랍니다.',
											],
											addClass: 'small'
										}); %>
									</div>
								</section>
								<section id="benefit" class="cont-group motion fade-up">
									<div class="section-tit-wrap">
										<h2 class="tit">세제 혜택 및 과세체계</h2>
									</div>
									<div class="group-wrap spacing-lg">
										<h3 class="tit-sm">세제 혜택</h3>
										<div class="gray-box small">
											<div class="group-wrap">
												<p class="tit-xsm txt-center">매년 연금저축에 납입한 돈</p>
												<div class="img-wrap img-benefit">
													<img src="~@/assets/images/fund/pension-personal-benefit-01.png" alt="" class="pc-tablet-only">	
													<img src="~@/assets/images/fund/mo-pension-personal-benefit-01.png" alt="" class="mobile-only">	
												</div>
											</div>
										</div>
										<%- include('../../components/table.ejs', { 
											caption: '세제혜택',
											colWidths: ['30%', '28%', 'auto'],
											thead: ['총급여 <br class="mobile-only"/>(종합소득급여)', {text: '세액공제율 <br class="mobile-only"/>(지방소득세 포함)', class: 'compare'}, {text: '세금절감 효과 <br class="mobile-only"/>(연간불입액*세액공제율 %)', class: 'compare'}],
											tbody: [
												['5,500만원 이하(4,500만원)', {text: '16.5%', class: 'compare'}, {text: '99만원~148.5만원 <br/> (연금저축 600만원 혹은 IRP 900만원 * 16.5%)', class: 'compare'}],
												['5,500만원 초과(4,500만원)', {text: '13.2%', class: 'compare'}, {text: '79.2만원~118.8만원 <br/> (연금저축 600만원 혹은 IRP 900만원 * 13.2%)', class: 'compare'}],
											],
											// addClass: 'scroll',
										}) %>
										<p class="note-txt fc-gray">상기 세율은 관련 세법에 따라 달라질 수 있습니다.</p>
									</div>
									<div class="group-wrap spacing-lg">
										<h3 class="tit-sm">과세체계</h3>
										<div class="gray-box small">
											<div class="group-wrap">
												<p class="tit-xsm txt-center">연금 수령 시</p>
												<div class="img-wrap img-benefit">
													<img src="~@/assets/images/fund/pension-personal-benefit-02.png" alt="" class="pc-tablet-only">	
													<img src="~@/assets/images/fund/mo-pension-personal-benefit-02.png" alt="" class="mobile-only">	
												</div>
											</div>
										</div>
										<div class="group-wrap">
											<h4 class="tit-xsm">연금 수령 시</h4>
											<%- include('../../components/table.ejs', {
												rowHeaders: true,
												caption: '세제혜택',
												colWidths: ['30%', 'auto'],
												colAligns: ['left', 'left'],
												thead: [],
												tbody: [
													[{text: '세액 공제 받지 않은 금액', class: 'compare'}, {text: '비과세', class: 'compare'},],
													[{text: '세액 공제 받은 금액 및 운용수익', class: 'compare'}, {text: 
													`<ul class="note-list depth-1">
														<li>연간 연금액 1,500만원 이하: 연금소득세만 부담 (연금소득세 연령대에 따라 차등 부담: 만 55세 이상~만 70세 미만 5.5%, 만 70세 이상~만 80세 미만 4.4%, 만 80세 이상 3.3%)</li>
														<li>연간 연금액 1,500만원 초과: 종합소득신고 혹은 분리과세(16.5%) 신고</li>	
													</ul>`, class: 'compare'},],
													[{text: '연한도', class: 'compare'}, {text: '계좌 평가금액/(11-연금수령연차)*120%', class: 'compare'},],
												],
												// addClass: 'scroll',
											}) %>
											<p class="note-txt fc-gray">상기 세율은 관련 세법에 따라 달라질 수 있습니다.</p>
										</div>
										<div class="group-wrap">
											<h4 class="tit-xsm">일시금 수령 시</h4>
											<%- include('../../components/table.ejs', {
												rowHeaders: true,
												caption: '세제혜택',
												colWidths: ['30%', 'auto'],
												colAligns: ['left', 'left'],
												thead: [],
												tbody: [
													['세액 공제 받지 않은 금액', '비과세'],
													['세액 공제 받은 금액 및 운용수익', 
													`<ul class="note-list depth-1">
														<li>기타소득세 16.5%</li>
														<li>부득이한 경우 연금소득세만 부담(사망, 해외이주, 개인파산/회생, 3개월 이상 요양 (금액 제한), 천재지변)</li>	
													</ul>`],
												],
												// addClass: 'scroll',
											}) %>
											<p class="note-txt fc-gray">연금저축계좌 관련 세제는 소득세법 등 관련 법정의 개정등에 따라 변경될 수 있으니 유의하여 주시기 바랍니다.</p>
										</div>
									</div>
								</section>
								<section id="feature" class="cont-group motion fade-up">
									<div class="section-tit-wrap">
										<h2 class="tit">한화자산운용 연금펀드의 특징</h2>
									</div>
									<div class="group-wrap spacing-lg">
										<h3 class="tit-sm">한화자산운용은 연금펀드에 대한 철학과 장기 운용 경험을 보유하고 있습니다</h3>
										<div class="txt-wrap">
											<p class="desc">한화자산운용의 운용철학은 장기적으로 지속적이고 우월한 성과를 창출하는 것이며, 이 운용 철학은 한화자산운용 연금펀드의 근간이 되고 있습니다. <br/> 한화자산운용은 국내 굴지의 보험사인 한화생명의 자회사로 국민연금, 연기금, 여러 생보사의 다양한 장기상품 운용 경험을 보유하고 있으며, 개인연금제도가 도입된 1994년부터  연금펀드를 운용하고 있습니다.</p>
										</div>
									</div>
									<div class="group-wrap">
										<div class="img-wrap img-feature">
											<img src="~@/assets/images/fund/pension-personal-feature.png" alt="" class="pc-tablet-only">
											<img src="~@/assets/images/fund/mo-pension-personal-feature.png" alt="" class="mobile-only">
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</section>
				<section class="section-trend">
					<div class="inner">
						<div class="cont-group motion fade-up">
							<div class="section-tit-wrap">
								<h2 class="tit txt-en txt-gradient">Investment Trend</h2>
								<p class="desc">지금 인기있는 펀드를 확인해보세요</p>
							</div>
							<%- include('../../layouts/trendList.ejs', {
								badgeLabels: ['아세안', '주식혼합', '중소형주/성장주']
							}) -%>
						</div>
					</div>
				</section>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>

		<!-- popover -->
		<%- include('../../components/popover.ejs', {
			id: 'popover-share',
			title: '공유하기',
			popSlot: `
				<ul class="share-sns-list">
					<li class="kakao">
						<a href="#!">카카오톡</a>
					</li>
					<li class="blog">
						<a href="#!">블로그</a>
					</li>
					<li class="instagram">
						<a href="#!">인스타그램</a>
					</li>
					<li class="copy">
						<button type="button">URL복사</button>
					</li>
				</ul>
			`
		}) %>
		<!-- // popover -->

		<%- include('../../components/toast.ejs') -%>
	</body>
</html>