<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '클래스비교 팝업'
		}) -%>
	</head>
	<body>
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container" style="padding: 6rem 0;">
				<div class="inner">
          <%- include('../../components/button.ejs', {
            label: '클래스비교 팝업',
            targetType: 'modal',
            targetId: 'modalClassCompare',
          }) -%>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
		
    <!-- popup 클래스 비교 -->
		<% const classCompareTable = include('../../components/table.ejs', { 
				caption: '클래스 비교',
				colWidths: ['auto', '17.2%', '17.2%', '17.2%', '17.2%', '17.2%'],
				thead: ['상품명', '설정일', '기준가(기준가 등락)', '수익률(1개월 기준)', '총 보수(연)', '순자산'],
				tbody: [
					['Class A', '2025-07-15', '1,978.57원 <p 17.12% class="change down">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class A-e', '2025-07-15', '1,978.57원 <p 17.12% class="change up">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class C-e', '2025-07-15', '1,978.57원 <p 17.12% class="change up">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class C1', '2025-07-15', '1,978.57원 <p 17.12% class="change up">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class CA', '2025-07-15', '1,978.57원 <p 17.12% class="change up">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class C5', '2025-07-15', '1,978.57원 <p 17.12% class="change up">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class S', '2025-07-15', '1,978.57원 <p 17.12% class="change down">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class 기타', '2025-07-15', '1,978.57원 <p 17.12% class="change down">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class J', '2025-07-15', '1,978.57원 <p 17.12% class="change down">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class K', '2025-07-15', '1,978.57원 <p 17.12% class="change down">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class C5', '2025-07-15', '1,978.57원 <p 17.12% class="change up">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class S', '2025-07-15', '1,978.57원 <p 17.12% class="change down">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class 기타', '2025-07-15', '1,978.57원 <p 17.12% class="change down">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class J', '2025-07-15', '1,978.57원 <p 17.12% class="change down">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
					['Class K', '2025-07-15', '1,978.57원 <p 17.12% class="change down">0.05</p>', '8.04%', '1.61%', '100,208,917원'],
				],
				colAligns: ['', '', 'right', '', '', 'right'],
				addClass: 'scroll'
			});
		-%>
		<%- include('../../components/modal.ejs', {
			id: 'modalClassCompare',
			variant: 'modal',
			title: '클래스 비교',
			content: classCompareTable,
      open: true,
		}) %>
		<!-- popup 클래스 비교 -->
	</body>
</html>