<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '기준가 팝업'
		}) -%>
	</head>
	<body>
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container" style="padding: 6rem 0;">
				<div class="inner">
          <%- include('../../components/button.ejs', {
            label: '기준가 팝업',
            targetType: 'modal',
            targetId: 'modalDailyPrice',
          }) -%>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>

    <!-- popup 일자별 기준가 -->
    <% const DailyPriceSegmentControl = include('../../components/segmentControl.ejs', {
        tag: 'button', variant: 'bg',
        items: [ { label: '1주' }, { label: '1개월' }, { label: '3개월' }, { label: '6개월' }, { label: '1년' }, { label: '3년' }, { label: '5년' }, { label: '연초이후' }, { label: '설정이후' }]
      });
      const DailyPriceInputCalendar = include('../../components/calendar.ejs', { size: 'large'});
      const DailyPriceInputButton = include('../../components/button.ejs', { label: '검색', size: 'large'});
      const DailyPriceInputButtonMo = include('../../components/button.ejs', { tag: 'button', variant: 'text', label: '직접설정', size: 'large', preIcon: 'filter', targetType: 'modal', targetId: 'mobilFilterBottomSheet',});
      const DailyPriceFilter = 
      `<div class="filter-period">
        <div class="scroll-wrap">
          ${DailyPriceSegmentControl}
        </div>
        <div class="pc-only">
          <div class="form-input-group">
            ${DailyPriceInputCalendar}
            ${DailyPriceInputButton}
          </div>
        </div>
        <div class="mobile-only justify-end">
          ${DailyPriceInputButtonMo}
        </div>
      </div>`

      const DailyPriceTable = include('../../components/table.ejs', { 
        caption: '일자별 기준가',
        colWidths: ['15.16%', '21.21%', '21.21%', '21.21%', '21.21%'],
        thead: ['일자', '기준가지수', '등락', '수정기준가', '과표기준가'],
        tbody: [
          ['2025-10-13', '1940.57', '<p 17.12% class="change up">17.12%</p>', '2128.45원', '1010.65원'],
          ['2025-10-12', '1940.57', '<p class="change down">12.12%</p>', '2128.45원', '1010.65원'],
          ['2025-10-12', '1940.57', '<p 17.12% class="change up">17.12%</p>', '2128.45원', '1010.65원'],
          ['2025-10-12', '1940.57', '<p 17.12% class="change up">17.12%</p>', '2128.45원', '1010.65원'],
          ['2025-10-12', '1940.57', '<p 17.12% class="change up">17.12%</p>', '2128.45원', '1010.65원'],
          ['2025-10-12', '1940.57', '<p 17.12% class="change up">17.12%</p>', '2128.45원', '1010.65원'],
          ['2025-10-12', '1940.57', '<p 17.12% class="change up">17.12%</p>', '2128.45원', '1010.65원'],
        ],
        addClass: 'scroll'
      });
    -%>
    <%- include('../../components/modal.ejs', {
      id: 'modalDailyPrice',
      variant: 'modal',
      title: '일자별 기준가',
      content: `
        <div class="tit-wrap">
          <h2 class="tit">
            한화한국오퍼튜니티증권 자투자신탁(주식)
            <small>C-e(수수료미징구-온라인)</small>
          </h2>
        </div>
        ${DailyPriceFilter}
        ${DailyPriceTable}
      `,
      open: true,
    }) %>
    <!-- popup 일자별 기준가 -->
	</body>
</html>