<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '스튜어드십코드'
		}) -%>
	</head>
	<body>
		<div class="wrap page-notice">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">스튜어드십코드</h2>
						</div>
						<%
						const faq = include('../../components/accordion.ejs', {
							items: [
								{
									category: '원칙 1.', title: '기관투자자는 고객, 수익자 등 타인 자산을 관리·운영하는 수탁자로서 책임을 충실히 이행하기 위한 명확한 정책을 마련해 공개해야 한다.', 
									content: 
										`회사는 1988년 4월 15일 국내외 금융시장·실물경제 연구 및 선진 자산운용기법 시현을 목표로 제일투자자문주식회사로 설립되어, 1996년 8월 27일 한화투자신탁운용주식회사로 상호를 변경하였으며, 2009년 4월 29일 한화생명 100% 자회사로 편입된 뒤, 2011년 9월 19일 푸르덴셜자산운용과 합병, 현재의 한화자산운용 주식회사로 상호를 변경하였습니다.
										<br/><br/>
										회사는 「자본시장과 금융투자업에 관한 법률」(이하 ‘자본시장법’)에서 정하고 있는 집합투자업, 투자일임업 및 투자자문업 등 법령상 인·허가를 얻거나 등록·신고한 업무 또는 감독당국이 별도로 승인·허용한 업무를 주요 사업으로 영위하고 있으며, 자본시장과 투자대상회사에 대한 깊은 이해도를 강점으로 하고 있습니다.
										<br/><br/>
										회사는 고객의 자산을 위탁 받아 운용하는 자산운용자(Asset Manager)로서 고객 자산의 중·장기 이익의 확대를 도모할 책임이 있습니다. 이의 실현을 위해 회사는 스튜어드십 코드를 수용하고, 심도 있는 리서치를 기반으로 투자대상회사에 대한 중·장기적 관점의 기업가치 향상과 자본 효율의 증대에 중점을 두고 있습니다. 또한, 투자대상회사의 지속적인 성장을 촉진하기 위해 투자대상회사와의 건설적인 대화를 포함하여 자료 요청, 이사회 또는 경영진과의 회의, 의견서 전달, 의결권 행사 등 다양한 방법으로 수탁자 책임을 위한 주주 관여활동 (이하 ‘관여활동(engagement)’)을 수행하며, 투자대상회사의 재무 정보와 함께 환경·사회·지배구조(ESG; Environment, Social, Governance) 등의 비재무 정보도 중요한 투자 요소로 고려합니다.
										<br/><br/>
										회사는 창의적인 생각, 깊이 있는 분석, 소신 있는 투자를 기본 원칙으로 하여 철저하고 심도 있는 실사와 리서치를 바탕으로 미래가치 있는 다양한 투자기회를 발굴하여 투자하고, 전문적인 운용·관리를 통한 장기적으로 지속적이고 탁월한 성과 창출을 투자철학으로 하고 있습니다. 그리고 언제나 고객을 가장 먼저 생각하며 장기적 관점과 주인의식을 가지고 투자원칙과 소신을 지켜 수평적으로 신속한 의사소통, 정보 공유 그리고 모두가 하나의 팀(one team)임을 우선적으로 생각하는 강한 “팀워크”를 통해 고객에게 장기적이고 지속적인 이익을 제공하도록 노력합니다.
										<br/><br/>
										회사의 수탁자 책임은 충실의무와 선관주의의무에 국한하지 않으며 운용하는 집합투자기구의 유형별, 자산군별, 투자기간 등에 따라 구별하여 달리할 수 있습니다. 회사는 원칙적으로 모든 액티브, 패시브(ETF, 퀀트 등) 스타일의 펀드에 대해서 스튜어드십 코드를 적용합니다. 다만, 패시브 스타일의 경우 지수를 추종하는 Tracking Error 관리와 같은 운용 전략상 제약으로 인하여, 적극적인 관여활동보다는 의결권 행사를 통한 수탁자 책임 이행에 주력하고 있습니다. 그리고 일임자산의 경우 자산소유자의 수탁자 책임 지침에 따라 중장기 고객의 이익 향상을 위해 활동을 전개하며, 경영참여형 집합투자기구는 관계 법령, 정관 및 기타 내부규정에 따릅니다.
										<br/><br/>
										회사의 수탁자 책임 이행과 관련된 관여활동 및 의결권 행사 관련 사항은 [원칙 4]와 [원칙 5]에 상세히 기재하고 있습니다.`, 
									active: true
								},
								{
									category: '원칙 2.', title: '기관투자자는 수탁자로서 책임을 이행하는 과정에서 실제 직면하거나 직면할 가능성이 있는 이해상충 문제를 어떻게 해결할지에 관해 효과적이고 명확한 정책을 마련하고 그 내용을 공개해야 한다.',
									content: '<p>내용2</p>'
								},
								{
									category: '원칙 3.', title: '기관투자자는 투자대상회사의 중장기적인 가치를 제고하여 투자자산의 가치를 보존하고 높일 수 있도록 투자대상회사를 주기적으로 점검해야 한다.',
									content: '<p>Class로 구분되어 있는 펀드는 종류형(Muti-Class) 펀드라 하며으로 차이점은 선취 판매 수수료의 유무 등 환매 수수료의 차이 및 펀드 보수의 차이 등입니다. <br/> 고객님의 투자기간, 투자방향 등에 따라 선택하여 가입하여 주시기 바랍니다.</p>'
								},
								{
									category: '원칙 4.', title: '기관투자자는 투자대상회사와의 공감대 형성을 지향하되, 필요한 경우 수탁자 책임 이행을 위한 활동 전개시기와 절차, 방법에 관한 내부지침을 마련해야 한다.',
									content: 
									`회사는 리서치 및 운용역을 중심으로 목적이 분명하고 건설적인 대화를 기반으로 하는 수탁자 책임을 이행하기 위해 관여활동을 수행합니다. 관여활동은 최종적으로 고객의 권익 향상과 기업의 가치 증대를 목적으로 하고 있으며, 투자대상회사의 재무적 측면뿐만 아니라 ESG 등의 비재무적 요인도 함께 고려하여 그 지속가능성을 판단합니다.
									<br/><br/>
									회사의 관여활동은 IR 등 관련 부서와의 회의, 이사회 또는 경영진과의 건설적인 대화·협의, 의견서 전달 등의 방법으로 투자대상회사의 배당 및 자기주식 매매와 같은 주주이익 환원 정책, 경영 전략, 재무활동 등 다양한 주제를 대상으로 합니다. 다만, 회사가 영위할 수 있는 관여활동은 이에 국한하지는 않으며 회사는 투자대상회사에 대한 투자규모, 보유지분 등을 감안하여 이를 차별화할 수 있습니다.
									<br/><br/>
									회사는 수탁자 책임 활동의 투명성을 위해 원칙적으로 관여활동 결과를 회사 홈페이지에 게시하거나 별도의 양식으로 보고하는 방식으로 공개할 수 있습니다. 다만, 투자대상회사에 대한 관여활동 공개가 주주가치, 자산가치 등에 미치는 영향을 종합적으로 고려하여 필요한 경우 이를 비공개로 할 수 있습니다.
									<br/><br/>
									회사의 관여활동은 미공개 중요 사실의 취득을 목적으로 하지 않습니다. 미공개 중요 사실을 수령 한 경우, 내부통제기준에 따라 준법감시인과 컴플라이언스팀에 전달하고 미공개 중요 사실 습득에 따른 시장 영향을 최소화하도록 투자대상회사에 내용 공시를 요청하는 등 필요한 조치를 취합니다.`
								},
								{
									category: '원칙 5.', title: '기관투자자는 충실한 의결권 행사를 위한 지침·절차·세부기준 등을 포함한 의결권 정책을 마련해 공개해야하며, 의결권 행사의 적정성을 파악할 수 있도록 의결권 행사의 구체적인 내용 및 그 사유를 공개해야 한다.',
									content: '<p>내용5</p>'
								},
								{
									category: '원칙 6.', title: '기관투자자는 의결권 행사와 수탁자 책임 이행 활동에 관해 고객과 수익자에게 주기적으로 보고해야 한다.',
									content: 
									`회사는 수탁자 책임 이행 활동을 자본시장의 투명성과 효율성을 높이는데 기여하는 매우 중요한 요소로 보고 의결권 행사와 관여활동을 이러한 활동의 핵심사항으로 인식하고 있습니다. 회사는 수탁자 책임 이행 활동을 정기적으로 검토하며 이와 관련된 기록을 유지합니다. 이러한 보고 활동은 회사의 수탁자 책임 활동에 대한 평가를 정량적 평가에 한정하지 않고 정성적 평가의 범위까지 확대하여 전체적인 수탁자 책임 활동의 수준을 높이는데 기여합니다.
									<br/><br/>
									수탁자 책임 이행 활동 중 의결권 행사는 그 내용을 선별하여 영업보고서에 기재하고 이를 통해 고객에게 보고하고 있습니다. 그리고 이를 회사 웹페이지에 게시함으로써 영업보고서를 통한 고객에 대한 직접적인 보고에 대신할 수 있습니다.
									<br/><br/>
									다만, 회사의 투자대상회사에 대한 관여활동의 경우, 기록의 공개가 주주가치 및 자산가치 등에 미치는 영향을 종합적으로 고려하여 이를 비공개로 할 수 있습니다.`
								},
								{
									category: '원칙 7.', title: '기관투자자는 수탁자 책임의 적극적이고 효과적인 이행을 위해 필요한 역량과 전문성을 갖춰야 한다.',
									content: 
									`회사는 고객의 자산을 위탁 받아 운용하는 한국의 대표 자산운용사로서 장기적으로 지속적이고 탁월한 성과 창출을 위해 효율적이고 전문적인 운용 조직체계를 갖추고 있습니다. 회사는 준법감시인을 중심으로 효과적인 수탁자 책임 이행을 위해 노력하고 있으며, 실무적으로는 리서치, 운용역이 관여활동을 주관하고, 주식운용지원업무 담당부서에서 의결권 행사를 담당합니다.
									<br/><br/>
									수탁자 책임의 적극적이고 효과적인 이행을 위해 회사는 임직원을 대상으로 관련 세미나·포럼에의 참석, 산업 현장 실사, 산업 교육 훈련의 자체 실시, 외부 교육의 참석 등 다양한 활동의 기회를 제공하고 있습니다.
									<br/><br/>
									또한, 회사는 의결권 및 주주활동 관련 자문을 받기 위해 외부 전문자문기관을 적극 활용하고 있으며, 이러한 자문기관의 활용에도 불구하고 회사는 의결권 행사, 기타 주주활동 등 스튜어드십 코드 운영 전반에 대한 수탁자 책임이 외부 자문기관이 아닌 회사에 있음을 명확히 하고 있습니다.`
								},
							],
						});
						const table = include('../../components/table.ejs', { 
							caption: '스튜어드십 코드 담당자 및 책임자 ',
							colWidths: ['24%', '12.5%', 'auto', 'auto', 'auto',],
							thead: ['구분', '성명', '부서', '직책(직위)', '연락처'],
							tbody: [
								['책임자(수탁자책임활동)', '김종호', '-', '대표이사', '-'],
								['담당자(수탁자책임활동)', '황운경', '지속가능전략팀', '팀장', '02-6950-0210'],
								['책임자(이해상충방지)', '서주희', '준법감시실', '실장', '02-6950-0060'],
							],
							rowHeaders: true,
							addClass: 'scroll'
						});

						const board1 = `
						<div class="terms-content">
							<div class="terms-group">
								<h2 class="terms-tit">기관투자자의 수탁자 책임에 관한 원칙</h2>
								<p class="terms-txt">
									한화자산운용 주식회사
									<br/><br/>
									한화자산운용 주식회사(이하 ‘회사’)는 2016년 12월 16일 스튜어드십 코드 제정위원회에서 제정한 [기관투자자의 수탁 책임에 관한 원칙(이하 '스튜어드십 코드')]에 동의합니다. 
									회사는 기관투자자로서 투자대상회사의 지속적인 성장과 고객∙ 수익자 등(이하 '고객')의 수익 향상을 위한 선량한 자산관리자로서 2018년 7월 25일 부로 ‘원칙 준수 및 예외 설명(comply or explain)’ 방식에 따라 스튜어드십 코드 7가지 원칙 모두에 대해 다음과 같은 방침을 정하여 이행하고 있습니다.
								</p>
								${faq}
							</div>
							<div class="terms-group">
								<h2 class="terms-tit">스튜어드십 코드 담당자 및 책임자</h2>
								${table}
							</div>
						</div>
						`;
						const board2 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									title: '의결권 행사내역 2024.04~2025.03',
									hasFile: true,
									date: '2024-11-22',
									isNew: true
								},
								{
									title: '의결권 행사 지침 및 국내주식 의결권 행사 가이드라인 개정',
									hasFile: true,
									date: '2024-11-22'
								},
								{
									title: '투자일임업자 의결권 위임 행사 기준 등 공시',
									hasFile: true,
									date: '2024-11-22'
								},
								{
									title: '의결권 행사내역 2023.04 ~ 2024.03',
									hasFile: true,
									date: '2024-04-16'
								},
								{
									title: '의결권 행사 지침 및 국내주식 의결권 행사 가이드라인 개정',
									hasFile: true,
									date: '2024-04-16'
								},
								{
									title: '의결권 행사내역 2022.04~2023.03',
									hasFile: true,
									date: '2021-11-03'
								},
								{
									title: '의결권 행사 지침 및 국내주식 의결권 행사 가이드라인 개정',
									hasFile: true,
									date: '2021-11-03'
								},
								{
									title: '의결권 행사내역 2021.04~2022.03',
									hasFile: true,
									date: '2021-11-03'
								},
								{
									title: '의결권 행사내역 2020.04~2021.03',
									hasFile: true,
									date: '2021-11-03'
								},
								{
									title: '해외주식 의결권 행사 가이드라인 제정',
									hasFile: true,
									date: '2021-11-03'
								},
							],
						});
						const board3 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									title: 'Stewardship and Responsible Investment Report 2023',
									hasFile: true,
									date: '2024-07-29',
								},
								{
									title: 'Stewardship and Responsible Investment Report 2022',
									hasFile: true,
									date: '2023-08-11'
								},
								{
									title: 'Stewardship and Responsible Investment Report 2021',
									hasFile: true,
									date: '2022-07-18'
								},
								{
									title: 'Stewardship and Responsible Investment Report 2020',
									hasFile: true,
									date: '2021-06-15'
								},
								{
									title: '2020년 engagement 진행사항 보고',
									hasFile: true,
									date: '2020-10-26'
								},
							],
						});
						%>
						<%- include('../../components/tab.ejs', {
							// active: 0,
							variant: 'line',
							tablist: ['스튜어드십코드', '의결권 행사 내역', '수탁자 책임 이행활동',],
							contents: [board1, board2, board3],
						}) -%>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>