<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '이메일무단수집거부'
		}) -%>
	</head>
	<body>
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container" style="padding: 6rem 0;">
				<div class="inner">
          <%- include('../../components/button.ejs', {
            label: '이메일무단수집거부',
            targetType: 'modal',
            targetId: 'modalEmailCollection',
          }) -%>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>