<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '개인정보처리방침'
		}) -%>
	</head>
	<body>
		<div class="wrap page-policy">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">개인정보처리방침</h2>
							<%- include('../../components/select.ejs', {
								variant: 'outline',
								size: 'large',
								targetGroup: "privacyPolicyVersionContent",
								options: [
									{ value: 'privacyPolicyVersion0', text: '개인정보처리방침 ver 14.0' },
								],
							}) -%>
						</div>
						<div class="terms-content" id="privacyPolicyVersion0" data-group="privacyPolicyVersionContent">
							<div class="terms-group">
								<p class="terms-txt">한화자산운용 주식회사(이하 “한화자산운용”이라 합니다)는 개인정보보호법 제30조에 따라 고객의 개인정보 및 권익을 보호하고 개인정보와 관련한 고객의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.</p>
								<ul class="note-list depth-1 dash">
									<li>"한화자산운용" 개인정보처리방침은 법률의 제·개정, 정부의 정책 변경, "한화자산운용" 내부 방침의 변경에 따라 바뀔 수 있습니다.</li>
									<li>"한화자산운용"은 개인정보처리방침을 개정하는 경우 "한화자산운용" 홈페이지(<a href="www.hanwhafund.co.kr" target="_blank">www.hanwhafund.co.kr</a>) 통하여 공지할 것입니다.</li>
									<li>고객 여러분들께서는 "한화자산운용" 홈페이지 방문 시 수시로 확인해 주시길 바랍니다.</li>
								</ul>
								<p class="terms-txt fw-medium">본 방침은 2025년 8월 11일 부터 시행됩니다. 개인정보처리방침의 순서는 다음과 같습니다.</p>
							</div>
							<div class="terms-group">
								<%- include('../../components/accordion.ejs', {
									items: [
										{category: '01.', title: '총칙', content: `
										<ul class="note-list depth-1 number">
											<li><span>1.</span> 개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다.</li>
											<li><span>2.</span> "한화자산운용"은 고객의 개인정보보호를 매우 중요시하며, "개인정보보호법" 상의 개인정보보호규정 및 관련 정부부처가 제정한 "표준개인정보보호지침"을 준수하고 있습니다.</li>
											<li><span>3.</span> "한화자산운용"은 개인정보처리방침을 통하여 고객께서 제공하시는 개인정보가 어떠한 용도의 방식으로 이용되고 있으며 개인정보 보호를 위해 어떠한 조치가 취해지고 있는지 알려 드립니다.</li>
											<li><span>4.</span> "한화자산운용"은 개인정보처리방침을 홈페이지에 공개함으로써 고객께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.</li>
											<li><span>5.</span> "한화자산운용"은 개인정보처리방침의 지속적인 개선을 위하여 개인정보처리방침을 개정하는데 필요한 절차를 정하고 있습니다. 그리고 개인정보처리방침을 개정하는 경우 개정된 사항을 고객께서 쉽게 알아보실 수 있도록 하고 있습니다.</li>
										</ul>
										`},
										{category: '02.', title: '개인정보의 수집항목 및 수집 방법', content: `
										<ul class="note-list depth-1 number">
											<li><span>1.</span> "한화자산운용"은 고객에게 “한화자산운용”의 상품 및 서비스 등의 제공을 위한 필수정보 및 선택정보 등을 수집∙이용하고 있습니다.</li>
											<li><span>2.</span> 고객은 아래와 같은 개인정보의 수집∙이용에 거부할 권리가 있으나, 필수정보의 수집∙이용에 거부할 경우 계좌개설 불가 등 금융거래 서비스의 이용에 제약이 있을 수 있습니다.
												<ul class="note-list depth-2 number">
													<li>
														<span>1)</span> 금융거래 고객의 개인정보
														<ul class="note-list depth-3 order">
															<li>
																<span>가)</span> 필수정보(공통): 필수정보(공통)는 계좌개설 또는 상품계약 체결∙이행 등을 위하여 반드시 필요한 최소한의 정보입니다.
																<ul class="note-list depth-4 dash">
																	<li>개인식별정보: 성명, 성명, 고유식별정보(주민등록번호, 운전면허번호, 외국인등록번호), 연계정보(CI), 주소, 성별, 연락처, 직업, 국적, 비밀번호, 이메일, 실명확인증 발급일</li>
																	<li>거래매체관련정보: 매체종류(OS, 버전), IP주소, 매체식별번호, 접근매체정보, 서비스이용기록</li>
																	<li>고객확인정보(CDD/EDD): 자금출처, 거래목적 등</li>
																	<li>금융거래정보: 상품 및 서비스의 종류, 거래조건/일시/금액 등 거래 설정 및 내역 정보, 금융거래의 유지ᆞ이행ᆞ관리를 위한 생성정보 및 전자금융 거래 기록,금융기관 계좌정보(금융기관명, 계좌번호 등), </li>
																	<li>신용도 판단정보: 명의도용 정보, 금융질서문란정보 등</li>
																</ul>
															</li>
															<li>
																<span>나)</span> 필수정보(상품별): 필수정보(상품별)은 해당 금융거래상품 및 서비스의 제공 등을 위하여 반드시 필요한 최소한의 정보입니다.
																<ul class="note-list depth-4 dash">
																	<li>
																		분리과세, 개인연금(연금저축) 가입
																		<ul class="note-list depth-5">
																			<li>세금우대정보(금융거래정보, 납입내역정보)</li>
																			<li>과세제외금액정보: 연도별 연금저축 소득세액</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span>다)</span> 선택정보: 선택정보는 금융거래상품 및 서비스 외에 부가서비스의 제공 등을 위한 정보입니다. 상품서비스 안내 등의 마케팅 관련 선택적 정보의 수집∙이용에 대한 동의는 거부하더라도 기본적인 금융거래가 가능하며, 이에 대한 불이익은 없습니다.
																<ul class="note-list depth-4 dash">
																	<li>상품서비스 안내 등의 마케팅에 필요한 정보: 이름, 주소, 연락처 등</li>
																	<li>모바일 행동분석 및 광고식별 정보: 쿠키, ADID/IDFA</li>
																</ul>
															</li>
														</ul>
													</li>
													<li>
														<span>2)</span> 준회원 고객의 개인정보 <br/> 준회원 고객의 개인정보는 수집∙이용하는 목적에 따라 변동될 수 있습니다.
														<ul class="note-list depth-3">
															<li>개인식별정보: 성명, 성별, 연락처(휴대전화 번호), 연계정보(CI), 이메일</li>
															<li>거래매체관련정보: 매체종류(OS, 버전), IP주소, 매체식별번호, 접근매체정보, 서비스이용기록</li>
															<li>행동분석 및 광고식별 정보: 쿠키, ADID/IDFA 등</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span>3.</span> “한화자산운용”은 고객의 개인정보를 수집∙이용∙제공하고자 하는 경우, 개인정보 수집∙이용∙제공 동의서 등을 통하여 온라인, 내점 등의 방법으로 고객의 개인정보에 대한 동의를 받고 있습니다.
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 인터넷 홈페이지, 온라인 서비스, 내점을 통한 회원가입</li>
													<li><span>2)</span> 금융투자상품 신청서, 금융서비스 계약서, 경품행사 응모 및 이벤트 참여 등</li>
													<li><span>3)</span> 홈페이지 또는 생성정보 수집 툴을 통한 수집</li>
												</ul>
											</li>
										</ul>
										`},
										{category: '03.', title: '개인정보의 처리에 대한 동의 및 방법', content: '<p>“한화자산운용”은 고객의 개인(신용)정보를 수집 · 이용 · 제공하고자 하는 경우, 개인(신용)정보 수집 · 이용 · 제공 동의서 등을 통하여 온라인, 내점 등의 방법으로 고객의 개인정보에 대한 동의(만 14세 미만 아동의 경우 법정대리인 동의)를 받고 있습니다.</p>'},
										{category: '04.', title: '개인정보의 처리 목적', content: `
										<p class="terms-txt">“한화자산운용”은 관련 법령 또는 규정이 허용하는 범위에서 개인정보를 수집·이용하고, 개인정보의 처리 목적에 필요한 범위에서 개인정보를 처리하며, 그 목적 외의 용도로 활용하지 않습니다. 수집하는 개인정보 항목에 따른 구체적인 수집목적 및 이용목적은 다음과 같습니다.</p>
										<ul class="note-list depth-1 number">
											<li>
												<span>1.</span> 금융거래 고객
												<ul class="note-list depth-2 number">
													<li><span>1)</span> 필수정보(공통, 상품별) (금융)계약의 체결∙유지∙이행∙관리∙개선, 법령상 의무이행(실명확인, 특정금융거래보고, 불공정거래예방, 적합성확인 등), 금융사고 방지(본인확인, 이상금융거래탐지 등), 분쟁∙민원처리 등 사고 조사, 통계, 리스크 관리, 고객서비스 품질 향상</li>
													<li><span>2)</span> 선택정보 신규 상품 및 서비스 안내, 이벤트, 사은행사 안내 및 경품지급 배송, 상품개발 연구 및 고객분석 목적, 경품이벤트 기타 광고성 정보 전송 및 마케팅 활동 목적</li>
												</ul>
											</li>
											<li>
												<span>2.</span> 준회원 고객
												<p class="terms-txt">금융서비스 및 투자정보 제공, 이벤트/설명회 경품∙사은품 배송, 경품이벤트 기타 광고성 정보 전송 및 마케팅 활동 목적</p>
											</li>
											<li>
												<span>3.</span> 공통
												<p class="terms-txt">정보주체의 개인정보 열람, 정정, 삭제, 처리정지 요구 시 본인확인 목적</p>	
											</li>
										</ul>
										`},
										{category: '05.', title: '개인정보의 처리 및 보유 기간', content: `
										<ul class="note-list depth-1 number">
											<li><span>1.</span> “한화자산운용”은 고객으로부터 수집한 때로부터 ‘개인정보 처리 목적’이 달성될 때까지 고객의 개인정보를 보유 및 이용하며, ‘개인정보 처리 목적’이 달성된 경우에는 지체 없이 파기합니다.</li>
											<li><span>2.</span> 금융거래와 관련한 개인(신용)정보는 동의일로부터 (금융)거래 종료일 이후 5년까지 보유∙이용합니다.</li>
											<li><span>3.</span> 상품서비스 안내 등 마케팅을 위한 개인(신용)정보는 동의일로부터 (금융)거래 종료일 또는 동의 철회 시까지 보유∙이용 합니다.</li>
											<li><span>4.</span> 상기 내용에도 불구하고, 아래와 같이 관련법령 및 기타 감독기관의 요청, 금융사고 조사, 분쟁 해결, 민원 처리 등에 따라 의무이행 또는 권리구제를 위해 보관의 필요성이 존재하는 개인정보는 ‘개인정보 처리 목적’을 달성하더라도 개인정보를 파기하지 아니하고 제출 등에 활용 할 수 있으며, 대상이 되는 정보와 관련 근거, 처리 및 보유기간은 아래와 같습니다.
												<ul class="note-list depth-2 number">
													<li><span>1)</span> 대상: 투자권유, 금융투자상품의 매매, 투자자재산의 운용 등과 관련된 자료
														<ul class="note-list depth-3 order">
															<li><span>가)</span> 근거: 자본시장과 금융 투자업에 관한 법률 및 시행령</li>
															<li><span>나)</span> 처리 및 보유기간: 10년 이상(자료의 성격에 따라 일부 상이할 수 있음)</li>
														</ul>
													</li>
													<li><span>2)</span> 대상: 거래정보 등에 관한 기록
														<ul class="note-list depth-3 order">
															<li><span>가)</span> 근거: 금융실명거래 및 비밀보장에 관한 법률</li>
															<li><span>나)</span> 처리 및 보유기간: 5년</li>
														</ul>
													</li>
													<li><span>3)</span> 대상: 전자금융거래에 관한 기록
														<ul class="note-list depth-3 order">
															<li><span>가)</span> 근거: 전자금융거래법</li>
															<li><span>나)</span> 처리 및 보유기간: 5년</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
										`},
										{category: '06.', title: '개인정보의 제3자 제공 및 공유', content: `
										<ul class="note-list depth-1 number">
											<li><span>1.</span> “한화자산운용”은 고객의 동의가 있거나 관련법령의 규정에 의한 경우, “한화자산운용”이 고객에게 제공하는 서비스 또는 상품의 공급을 위하여 필요한 경우를 제외하고는 본 개인정보 처리방침에서 고지한 범위를 넘어 고객의 개인정보를 이용하거나 타인 또는 타기업·기관에 제공하지 않습니다.</li>
											<li><span>2.</span> 고객의 개인정보를 제공하거나 공유하는 경우에는 사전에 고객에게 제공받거나 공유 받는 자가 누구이며 주된 사업이 무엇인지, 제공 또는 공유되는 개인정보항목이 무엇인지, 개인정보를 제공하거나 공유하는 목적이 무엇인지 등에 대해 개별적으로 전자우편 또는 서면을 통해 고지한 후 이에 대한 동의를 구합니다.</li>
											<li>
												<span>3.</span> 상기 내용에도 불구하고, 다음의 경우에는 관련 법령의 규정에 의하여 고객의 동의 없이 개인정보를 제공할 수도 있사오니 이점 양지해 주시기 바랍니다.
												<ul class="note-list depth-2 number">
													<li><span>1)</span> 통계법 등 관련 법률에 따라 통계작성·학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우</li>
													<li><span>2)</span> 금융실명거래 및 비밀보장에 관한 법률, 개인정보보호법, 신용정보의 이용 및 보호에 관한 법률, 전기통신기본법, 전기통신사업법, 지방세법, 소비자보호법, 한국은행법, 형사소송법 등 법률에 특별한 규정이 있는 경우</li>
													<li><span>3)</span> 정부기관(준정부기관 포함)이나 법원의 명령에 의하여 개인정보를 제공하는 경우</li>
													<li><span>4)</span> 범죄의 수사와 공소의 제기 및 유지를 위하여 필요한 경우</li>
													<li><span>5)</span> 분쟁해결 등 법원의 재판업무 수행을 위하여 필요한 경우</li>
												</ul>
											</li>
											<li><span>4.</span> 제휴업체에 제공된 고객의 개인정보는 해당 이용목적이 달성될 때까지(서비스 만기, 고객의 동의 철회, 계약의 해제 · 해지 등) 보유 및 처리되며, 해당 이용목적이 달성된 경우에는 지체없이 파기됩니다. 다만 상법, 자본시장 및 금융투자업에 관한 법률, 관련세법 등의 관련법령 또는 규정상의 의무이행 및 기타 감독기관의 요청 · 명령에 따른 제출할 의무이행에 필요할 것으로 판단되는 정보에 대해서는 개인정보를 파기하지 아니하고 제출 등에 활용할 수 있습니다.</li>
										</ul>
										`},
										{category: '07.', title: '개인정보처리의 위탁', content: '<p>“한화자산운용”은 법규의 준수나 계약사항의 이행, 서비스의 향상이나 원활한 업무처리 등을 위하여 개인정보 처리업무를 외부 전문업체에 일부 위탁하고 있으며, 위탁계약 체결 시 위탁업무 수행목적 외 개인정보 처리금지, 기술적∙관리적 보호조치, 재 위탁 제한, 수탁자에 대한 관리∙감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다. 관련한 수탁업체 현황은 &lt;별첨 1&gt;과 같습니다.</p>'},
										{category: '08.', title: '정보주체의 권리·의무 및 그 행사방법', content: `
										<p class="terms-txt">고객은 언제든지 등록되어 있는 고객의 개인정보를 열람하거나 정정하실 수 있으며 당사가 고객의 개인정보를 이용하거나 제3자에게 제공한 내역을 확인하실 수 있습니다. 고객의 개인정보 열람, 정정, 삭제 등 권리의무 및 행사방법은 아래와 같습니다.</p>
										<ul class="note-list depth-1 number">
											<li>
												<span>1.</span> 개인정보 열람
												<p class="terms-txt">고객은 회사가 처리하는 개인정보에 대하여 열람하실 수 있습니다. 다만, 회사는 다음과 같은 사유로 개인정보 열람을 거절할 수 있습니다</p>
												<ul class="note-list depth-2 dash">
													<li>법률에 따라 열람이 금지되거나 제한되는 경우</li>
													<li>다른 사람의 생명∙신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</li>
												</ul>
												<p class="terms-txt">고객의 개인정보는 내방하시거나 고객센터(☏ 1599-9150)로 전화하셔서 확인하실 수 있습니다.</p>
											</li>
											<li>
												<span>2.</span> 개인정보 정정 및 삭제
												<p class="terms-txt">고객은 회사가 처리하는 개인정보에 대하여 정정 및 삭제를 신청하실 수 있습니다. 다만, 관련법령 및 기타 감독기관의 요청에 따라 의무이행을 위해 보관의 필요성이 존재하는 개인정보는 분리보관 등의 조치를 통해 보관하고, 그 이외의 불필요한 정보는 지체 없이 삭제 처리합니다.</p>
											</li>
											<li>
												<span>3.</span> 개인정보 처리 정지 요구
												<p class="terms-txt">고객은 회사에서 보유하고 있는 본인의 개인정보에 대하여 처리 정지를 신청하실 수 있습니다. 다만, 회사는 다음과 같은 사유로 개인정보 처리 정지를 거절할 수 있습니다.</p>
												<ul  class="note-list depth-2 dash">
													<li>법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우</li>
													<li>다른 사람의 생명∙신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</li>
													<li>개인정보를 처리하지 아니하면 정보주체와 약정한 서비스를 제공하지 못하는 등 계약의 이행에 곤란한 경우로서 정보주체가 그 계약의 해지 의사를 명확하게 밝히지 아니한 경우</li>
												</ul>
												<p class="terms-txt">고객의 개인정보 처리 정지 요구는 내방하시거나 고객센터(☏ 1599-9150)로 전화하셔서 요청 하실 수 있습니다.</p>
											</li>
											<li>
												<span>4.</span> 개인정보 수집, 이용, 제공에 대한 동의 철회 요구
												<p class="terms-txt">계좌개설 등을 통한 거래관계의 설정 등을 통하여 동의하신 내용을 내방하시거나 고객센터(☏ 1599-9150)를 통해 언제든지 철회하실 수 있습니다. 다만, 일부 동의 철회의 경우 상품 거래 등의 제한이 발생할 수 있어 즉시 처리가 불가할 수 있습니다.</p>
												<p class="terms-txt">
													만14세 미만의 아동으로부터 개인정보를 수집하거나 제3자에게 아동의 개인정보를 제공하고자 하는 경우에는 그 법정대리인의 동의를 구해야 합니다. 이 경우 당사는 그 아동에게 법정대리인의 동의를 얻기 위하여 필요한 법정대리인의 성명, 관계, 연락처의 정보를 요구할 수 있습니다.
													법정대리인은 상기 아동의 개인정보에 대한 동의를 철회할 수 있으며, 당해 아동이 제공한 개인정보에 대한 열람 또는 오류의 정정을 요구할 수 있습니다.
													당사는 법정대리인의 동의 없이 아동에 관한 정보를 제3자에게 제공하거나 공유하지 않으며, 아동으로부터 수집한 개인정보에 대하여 법정대리인이 오류의 정정을 요구하는 경우 그 오류를 정정할 때까지 해당 개인정보의 이용 및 제공을 금지합니다.
												</p>
											</li>
										</ul>
										`},
										{category: '09.', title: '개인정보 파기절차 및 방법', content: `
										<ul class="note-list depth-1 number">
											<li><span>1.</span> “한화자산운용”은 개인정보의 보유기간이 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.</li>
											<li>
												<span>2.</span> 상기 내용에도 불구하고, 자본시장과 금융투자업에 관한 법률 등 다른 법률에 근거하여 개인정보를 파기하지 아니하고 보존하여야 하는 경우에는 물리적 또는 기술적 방법으로 분리하여서 저장관리합니다.
												<ul class="note-list depht-2 dash">
													<li>분리 보관하는 개인정보 항목: 성명, 고유식별정보, 휴대전화번호, 주소, 이메일, 계좌정보 등</li>
												</ul>
											</li>
											<li>
												<span>3.</span> “한화자산운용”에서 처리하는 개인정보를 파기할 때에는 다음의 방법으로 파기합니다.
												<ul class="note-list depht-2 dash">
													<li>전자적 파일 : 복구∙재생할 수 없도록 파기하거나, 다른 이용자의 개인정보와 분리하여 별도로 저장∙관리함</li>
													<li>인쇄물, 서면, 그 밖의 기록매체 : 파쇄 또는 소각</li>
												</ul>
											</li>
										</ul>
										`},
										{category: '10.', title: '개인정보 안전성 확보조치', content: `
										<p>“한화자산운용”은 고객의 개인정보가 분실·도난·유출·변조 또는 훼손되지 아니하도록 내부 관리계획 수립, 접속기록 보관 등 안전성 확보에 필요한 기술적·관리적 및 물리적 조치를 다음과 같이 하고 있습니다.</p>
										<ul class="note-list depth-1 number">
											<li>
												<span>1.</span> 기술적 조치
												<ul class="note-list depth-2 number">
													<li><span>1)</span> 시스템에 대한 접근 권한을 업무 수행에 필요한 최소 범위로 차등 부여 하고 있음</li>
													<li><span>2)</span> 정보통신망을 통한 불법적인 접근 및 침해사고 방지를 위해 침입차단 및 침입탐지시스템을 운영하고 있으며 24시간 365일 보안관제 하고 있음</li>
													<li><span>3)</span> 시스템의 접속 기록의 보관 및 위/변조 방지를 위해 로그관리 시스템 운영 및 정기 백업을 실시하고 있으며 개인정보 문서의 도난/분실에 대응하기 위해 문서암호화 솔루션 (DRM시스템)을 적용하고 있음</li>
													<li><span>4)</span> 개인정보처리시스템 또는 업무용 컴퓨터에 악성 프로그램을 방지/치료 할 수 있는 백신소프트웨어 등의 보안프로그램을 설치/운영하고 있음</li>
												</ul>
											</li>
											<li>
												<span>2.</span> 관리적 조치
												<ul class="note-list depth-2 number">
													<li><span>1)</span> 개인정보의 안전한 처리를 위한 내부관리계획의 수립</li>
													<li><span>2)</span> 개인정보를 직접 취급하는 임직원 및 수탁자 등에 대한 교육계획 수립 및 실시</li>
													<li><span>3)</span> 내부관리계획에 따른 정기적인 자체 점검의 실시</li>
												</ul>
											</li>
											<li>
												<span>3.</span> 물리적 조치
												<p class="terms-txt">“한화자산운용”는 정보유출 등을 방지하기 위해 외부인의 출입을 통제하는 출입통제 시스템 및 장비를 상시 운영하고 있습니다. 또한 본사에서는 24시간 CCTV 및 보안업체의 경비시스템이 운영되고 있고, 주요 통제구역은 별도의 시건된 장소에 설치되어 인가된 자만이 출입할 수 있도록 하고 있습니다.</p>
											</li>
										</ul>
										`},
										{category: '11.', title: '개인정보를 자동으로 수집하는 장치의 설치 운영 및 그 거부에 관한 사항', content: `
										<ul class="note-list depth-1 number">
											<li><span>1.</span> 회사는 고객이 홈페이지에 접속한 상태에서 편리한 이용을 제공하기 위하여 ‘쿠키(cookie)’를 이용하고 있습니다.
												<ul class="note-list depth-2 asterisk">
													<li>쿠키(cookie)는 웹사이트를 운영하는데 이용되는 서버(http)가 고객의 컴퓨터 브라우저에게 보내는 소량의 정보이며 고객 컴퓨터의 하드디스크에 저장되기도 합니다. </li>
													<li>쿠키 사용 목적: 통계 및 분석을 통한 고객 기기에 최적화된 서비스 제공</li>
													<li>쿠키 거부 방법(쿠키 저장을 거부해도 홈페이지 이용에는 지장이 없습니다)
														<ul class="note-list depth-3 dash">
															<li>[Chrome] : 설정 - 개인 정보 보호 및 보안 - 쿠키 및 기타 사이트 데이터 - 타사 쿠키 차단</li>
															<li>[Edge] : 설정 - 쿠키 및 사이트 권한 - 쿠키 및 사이트 데이터 관리 및 삭제 - 타사 쿠키 차단</li>
															<li>[Safari] : 설정 - 개인정보 보호 - 모든 쿠키 차단</li>
														</ul>
													</li>
												</ul>
											</li>
											<li><span>2.</span> 모바일 앱의 경우 다음 각 호와 같은 목적으로 고객의 휴대폰 기기 종류, OS 타입, IP 주소, 단말기 아이디 등의 기기 정보를 수집합니다. 또한 쿠키, 광고 식별자, 모바일 애플리케이션 아이디 등 기기에서 자동적으로 생성된 정보를 수집합니다.
												<ul class="note-list depth-3 dash">
													<li>서비스의 비인가 또는 부정 사용 예방</li>
													<li>고객 기기에 최적화된 서비스 제공</li>
													<li>
														전자금융 거래 정보와 연계한 고객 행동 분석
														<ul class="note-list depth-4 asterisk">
															<li>수집정보: 고객 아이디, 접속일시, IP주소 또는 전화번호, 전자적 장치와 접근매체 관련 정보(운영체제 종류 브라우저 버전 등), 전자금융 거래 내용, 광고식별정보(ADID/IDFA) 등</li>
															<li>모바일 앱의 경우 상기 정보에 대해 별도의 거부 절차는 없으나 광고식별정보의 경우 아래와 같이 거부할 수 있습니다.</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span>3.</span> 광고식별정보(ADID/IDFA) 거부 방법
												<p class="terms-txt">[Android]</p>
												<ul class="note-list depth-3 no-bullet">
													<li>설정 -&gt; 계정 -&gt; 구글 계정 선택 -&gt; 광고 선택 -&gt; 광고 맞춤 설정 선택 해제 또는 </li>
													<li>설정 -&gt; 보안 및 개인정보 보호 -&gt; 개인정보 보호 -&gt; 기타 설정 -&gt; 광고 -&gt; 광고 ID 재설정 또는 광고 ID 삭제</li>
												</ul>
												<p class="terms-txt">[iOS]</p>
												<ul class="note-list depth-3 dash">
													<li>iOS 14.5 이상 : 설정 -&gt; 개인정보 보호 및 보안 -&gt; 추적 -&gt; 앱이 추적을 요청하도록 허용(앱 별로)</li>
													<li>iOS 14 이상 : 설정 -&gt; 개인정보보호 -&gt; 추적 -&gt; 앱이 추적을 요청하도록 허용</li>
													<li>iOS 14 이하 : 설정 -&gt; 개인정보보호 -&gt; 광고 -&gt; 광고추적제한 OFF</li>
												</ul>
											</li>
										</ul>
										`},
										{category: '12.', title: '행태정보의 수집 이용 제공 및 거부 등에 관한 사항', content: `
										<p>회사는 상품·서비스 개발 및 고객분석 등에 활용하기 위해 행태정보를 수집∙이용하고 있습니다. 행태정보란 웹/앱 사용이력, 구매 및 검색 이력 등 고객 및 회원의 관심, 성향 등을 파악하고 분석할 수 있는 온라인 상의 이용자 활동정보를 말합니다.</p>
										<ul class="note-list depth-1 number">
											<li>
												<span>1.</span> 수집하는 행태정보의 항목
												<ul class="note-list depth-2 dash">
													<li>이용자의 웹/앱 서비스 내 방문기록, 검색·클릭 등의 사용기록, 광고식별정보</li>
												</ul>
											</li>
											<li>
												<span>2.</span> 행태정보 수집 방법
												<p class="terms-txt">이용자가 웹/앱 내에서 행해지는 주요행동에 대해 생성정보 수집 툴 등을 통해 자동수집 전송하고 있으며, 쿠키(Cookie) 또는 광고식별정보(ADID/IDFA)를 통하여 당사 웹/앱 이용자의 행태정보를 수집합니다.</p>
											</li>
											<li>
												<span>3.</span> 행태정보 전달받는 자
												<ul class="note-list depth-2 dash">
													<li>앱스플라이어 (수집일로부터 최대 24개월간 보유, 이용되며 보유기간 경과 후에 삭제)</li>
												</ul>
											</li>
											<li>
												<span>4.</span> 행태정보 수집목적
												<p class="terms-txt">회사는 다음과 같은 목적으로 이용자들의 행태정보를 이용할 수 있습니다.</p>
												<p class="terms-txt">[상품·서비스 개발, 통계, 고객분석 등 이용자 분석을 통한 고객서비스 품질 향상]</p>
											</li>
											<li>
												<span>5.</span> 이용자 통제권 행사방법
												<ul class="note-list depth-2 asterisk">
													<li>
														웹브라우저
														<ul class="note-list depth-3 no-bullet">
															<li>[Chrome] : 설정 - 개인 정보 보호 및 보안 - 쿠키 및 기타 사이트 데이터 - 타사 쿠키 차단</li>
															<li>[Edge] : 설정 - 쿠키 및 사이트 권한 - 쿠키 및 사이트 데이터 관리 및 삭제 - 타사 쿠키 차단</li>
															<li>[Safari] : 설정 - 개인정보 보호 - 모든 쿠키 차단</li>
														</ul>
													</li>
													<li>
														스마트폰
														<p class="terms-txt">[Android]</p>
														<ul class="note-list depth-3 no-bullet">
															<li>설정 -&gt; 계정 -&gt; 구글 계정 선택 -&gt; 광고 선택 -&gt; 광고 맞춤 설정 선택 해제 또는</li>
															<li>설정 -&gt; 보안 및 개인정보 보호 -&gt; 개인정보 보호 -&gt; 기타 설정 -&gt; 광고 -&gt; 광고 ID 재설정 또는 광고 ID 삭제</li>
														</ul>
														<p class="terms-txt">[iOS]</p>
														<ul class="note-list depth-3 no-bullet">
															<li>iOS 14.5 이상 : 설정 -&gt; 개인정보 보호 및 보안 -&gt; 추적 -&gt; 앱이 추적을 요청하도록 허용(앱 별로)</li>
															<li>iOS 14 이상 : 설정 -&gt; 개인정보보호 -&gt; 추적 -&gt; 앱이 추적을 요청하도록 허용</li>
															<li>iOS 14 이하 : 설정 -&gt; 개인정보보호 -&gt; 광고 -&gt; 광고추적제한 OFF</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span>6.</span> 이용자 피해구제 방법
												<ul class="note-list depth-2 dash">
													<li>행태정보에 관한 문의, 거부권행사, 피해신고 접수 등은 한화자산운용 고객센터(☎ 1599-9150)를 통하여 제공 받을 수 있습니다. </li>
												</ul>
											</li>
										</ul>
										`},
										{category: '13.', title: '추가적인 이용·제공 관련 판단 기준', content: `
										<p class="temrs-txt">"한화자산운용"은 법령에 따라 고객의 동의없이 개인정보를 추가적으로 이용 · 제공할 수 있습니다. 이에 따라 고객의 동의 없이 추가적인 이용 · 제공을 하기 위해서 다음과 같은 사항을 고려하고 있습니다.</p>
										<ul class="note-list depth-1 number">
											<li><span>1.</span> 개인정보를 추가적으로 이용 · 제공하려는 목적이 당초 수집 목적과 관련성이 있는지 여부</li>
											<li><span>2.</span> 개인정보를 수집한 정황 또는 처리 관행에 비추어 볼 때 추가적인 이용 · 제공에 대한 예측 가능성이 있는 지 여부</li>
											<li><span>3.</span> 개인정보의 추가적인 이용 · 제공이 정보주체의 이익을 부당하게 침해하는 지 여부</li>
											<li><span>4.</span> 가명처리 또는 암호화 등 안전성 확보에 필요한 조치를 하였는 지 여부</li>
										</ul>
										<p class="note-txt">※금융거래 서비스 제공 시 수집된 개인정보 항목을 최소화하여 업무 처리 하거나, 중요 개인정보를 대체 항목으로 변환 처리하는 등의 추가적인 이용 · 제공 업무 수행</p>
										`},
										{category: '14.', title: '개인정보 보호책임자에 관한 사항 및 개인정보의 열람청구를 접수·처리하는 부서 ', content: '<p>내용1</p>'},
										{category: '15.', title: '개인정보침해 관련 상담 및 신고', content: '<p>내용1</p>'},
										{category: '16.', title: '개인정보 처리방침의 변경에 따른 공지의무', content: '<p>내용1</p>'},
									],
								})	-%>
							</div>
							<div class="terms-group">
								<h3 class="terms-tit">수탁(업무처리 위탁)현황</h3>
								<p class="terms-txt">당사와 고객간 계약의 체결∙유지∙이행∙관리를 위해 아래의 수탁업체가 귀하의 개인(신용)정보를 처리할 수 있음을 알려드립니다. 수탁 및 제휴업체의 추가 또는 변경 시에는 당사 홈페이지를 통해 확인하실 수 있습니다.</p>
								<%- include('../../components/table.ejs', {
									infoTxt: '기준일 2025.5.19',
									caption: '위탁업무와 수탁업체',
									colWidths: ['50%', '50%'],
									thead: ['위탁업무', '수탁업체'],
									tbody: [
										['수익증권 원장관리 및 백오피스 업무', '㈜코스콤'],
										['개인신용정보 전송요구권에 따른 (거점)중계기관이용', '㈜코스콤'],
										['신분증 진위여부 조회', '㈜코스콤'],
										['이벤트, 프로모션 행사 경품 업무대행', '㈜대학내일(재위탁: (주)티아이커머스)'],
										['휴대폰 본인확인 서비스', '㈜코리아크레딧뷰로'],
										['자금이체, 예금주조회, ARS 인증서비스', '㈜쿠콘'],
									],
									addClass: 'scroll'
								}); %>
								<p class="terms-txt">당사는 개인(신용)정보의 처리업무를 위탁한 수탁업체의 재위탁 현황과 업무의 내용 등을 아래와 같이 공개합니다.</p>
								<%- include('../../components/table.ejs', { 
									caption: '위탁업무와 수탁업체',
									colWidths: ['auto', '38%', '38%'],
									thead: ['수탁업체', '재수탁사', '재위탁업무 내용'],
									tbody: [
										[{text: '㈜코스콤', rowspan: 4}, '이썸테크', '계좌서비스 부문'],
										[null, '브릿지C&C', '영업지원 및 업무지원 서비스 부문'],
										[null, '지비아이티', '금융상품서비스 부문'],
										[null, '위보스', '매매서비스 및 화면전담 부문'],
										['대학내일', '(주)티아이커머스', '경품 발송'],
									],
									addClass: 'scroll'
								}); %>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>