<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '사이버신문고 | 윤리경영'
		}) -%>
	</head>
	<body>
		<div class="wrap page-policy">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">윤리경영</h2>
						</div>
						<%
						const board1 = `
						<div class="terms-group">
							<h3 class="terms-tit">윤리경영이란?</h3>
							<p class="terms-txt">
								윤리경영이란 회사경영 및 기업활동에 있어 ‘기업윤리’를 최우선 가치로 생각하는 것을 의미합니다. <br/>
								한화자산운용은 윤리헌장을 선포하여 투명하고 공정한 업무 수행을 실천하며 사회적 책임을 다 하고자 노력합니다.
							</p>
						</div>
						<div class="terms-group">
							<h3 class="terms-tit">윤리헌장</h3>
							<p class="terms-txt">
								한화자산운용은 신의와 공정성을 기업경영의 덕목으로 삼고 윤리헌장을 제정하여 임직원 모두의 가치판단과 행동의 기준으로 삼아 적극 실천하고자 합니다.
							</p>
						</div>`;
						const board2 = `
						<div class="terms-group">
							<h3 class="terms-tit">전문</h3>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">핵심가치를 기반한 동반 성장</p>
								<p class="terms-txt">우리는 창의와 혁신에 바탕을 둔 지속 가능한 경영활동으로 기업가치를 향상시켜, 고객 및 주주, 임직원과 지역사회를 포함한 모든 경제 주체들이 동반 성장할 수 있도록 도전, 헌신, 정도의 핵심가치를 바탕으로 최선의 노력을 다한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">기업시민으로서 사회적 책임</p>
								<p class="terms-txt">우리는 법과 제도 및 기업경영과 관련된 국제규범을 준수하고 건강한 기업생태계 구현을 위해 노력하며, 사회적 가치와 관습을 소중히 여기고 다양한 사회공헌 활동을 통하여 기업의 사회적 책임을 다한다.</p>
							</div>
							<p class="terms-txt">
								이에 우리의 가치판단과 행동의 기준으로 ‘한화자산운용 윤리강령’을 제정하고, 이를 적극 실천할 것을 다짐한다.
							</p>
						</div>
						<div class="terms-group">
							<h3 class="terms-tit">윤리강령</h3>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 1 조 목적</p>
								<p class="terms-txt">이 강령은 회사의 윤리경영 실천 및 임직원의 올바른 윤리의식 함양을 통해 금융인으로서의 책임과 의무를 성실히 수행하고, 투자자를 보호하며 자본시장의 건전한 발전 및 국가 경제 발전에 기여함을 목적으로 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 2 조 고객우선</p>
								<p class="terms-txt">회사와 임직원은 항상 고객의 입장에서 생각하고 고객에게 보다 나은 금융서비스를 제공하기 위해 노력하여야 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 3 조 법규준수</p>
								<p class="terms-txt">회사와 임직원은 업무를 수행함에 있어 관련 법령 및 제 규정을 이해하고 준수하여야한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 4 조 신의성실</p>
								<p class="terms-txt">회사와 임직원은 정직과 신뢰를 가장 중요한 가치관으로 삼고 신의성실의 원칙에 입각하여 맡은 업무를 충실히 수행하여야 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 5 조 시장질서 존중</p>
								<p class="terms-txt">회사와 임직원은 공정하고 자유로운 시장경제 질서를 존중하고, 이를 유지하기 위하여 노력하여야 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 6 조 정보보호</p>
								<p class="terms-txt">회사와 임직원은 업무수행 과정에서 알게 된 회사의 업무정보와 고객정보를 안전하게보호하고 관리하여야 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 7 조 자가혁신</p>
								<p class="terms-txt">회사와 임직원은 경영환경 변화에 유연하게 적응하기 위하여 창의적 사고를 바탕으로끊임없이 자기혁신에 힘써야 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 8 조 상호존중</p>
								<p class="terms-txt">회사는 임직원 개개인의 자율과 창의를 존중하고 삶의 질 향상을 위하여 노력하여야하며, 임직원은 서로를 존중하고 원활한 의사소통과 적극적인 협조 자세를 견지하여야한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 9 조 주주가치 극대화</p>
								<p class="terms-txt">회사와 임직원은 합리적인 의사결정과 투명한 경영활동을 통하여 주주와 기타 이해관계자의 가치를 극대화하기 위하여 최선을 다하여야 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 10 조 사회적 책임</p>
								<p class="terms-txt">회사와 임직원 모두 시민사회의 일원임을 인식하고, 사회적 책임과 역할을 다하여야한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 11 조 경영진의 책임</p>
								<p class="terms-txt">회사의 경영진은 직원을 대상으로 윤리교육을 실시하는 등 올바른 윤리문화 정착을위하여 노력하여야 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 12 조 위반행위의 보고</p>
								<p class="terms-txt">임직원은 업무와 관련하여 법규 또는 윤리강령의 위반 사실을 발견하거나 그 가능성을 인지한 경우, 회사가 정하는 절차에 따라 즉시 보고하여야 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 13 조 품의유지</p>
								<p class="terms-txt">임직원은 회사의 품위나 사회적 신뢰를 훼손할 수 있는 일체의 행위를 하여서는 아니 된다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 14 조 사적이익 추구금지</p>
								<p class="terms-txt">임직원은 회사의 재산을 부당하게 사용하거나 자신의 지위를 이용하여 사적 이익을 추구하여서는 아니 된다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 15 조 고용계약 종료 후의 의무</p>
								<p class="terms-txt">임직원은 회사를 퇴직하는 경우 업무관련 자료의 반납 등 적절한 후속조치를 취하여야 하며, 퇴직 이후에도 회사와 고객의 이익을해하는 행위를 하여서는 아니된다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제 16 조 대외활동</p>
								<p class="terms-txt">임직원이 외부강연이나 기고, 언론매체 접촉, Social Network Service(SNS) 등 전자통신수단을 이용한 대외활동을 하는 경우 회사의 내부통제기준, 홍보관련행위지침, SNS운영정책, SNS운영 및 이용 가이드라인 등 회사의 관련 사규를 준수해야 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">부칙 2013. 11. 22</p>
								<div class="terms-txt-wrap">
									<p class="terms-txt-tit">제 1조 (시행일)</p>
									<p class="terms-txt">이 윤리강령은 2013년 11월 22일부터 시행한다.</p>
								</div>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">부칙 2016. 03. 31</p>
								<div class="terms-txt-wrap">
									<p class="terms-txt-tit">제 1조 (시행일)</p>
									<p class="terms-txt">이 윤리강령은 2016년 02월 01일부터 소급하여 시행한다.</p>
								</div>
							</div>
						</div>
						<div class="terms-group">
							<h3 class="terms-tit">임직원 행동지침 <small>[별칙1]</small></h3>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제1조(목적)</p>
								<p class="terms-txt">이 지침은 한화자산운용 임직원으로서 준수하여야 할 행동기준을 규정하는 것을 목적으로 한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제2조(적용 대상 및 운영)</p>
								<ul class="note-list depth-1 number">
									<li>
										<span>(1)</span> 거래관계에 있는 회사 선정 및 공정거래 관련
										<ul class="note-list depth-2 order">
											<li>
												<span>가.</span> 기본사항
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 거래 관계에 있는 회사에게는 회사에서 규정한 원칙과 절차에 따라 공정한 기회 및 조건을 부여하여 업체를 선정하고 거래하여야 한다.</li>
													<li><span>2)</span> 거래 관계에 있는 회사와 관련하여 각 회사에 적용되는 법령(공정거래법, 하도급법 등)에서 금지하는 제반 불공정 거래행위는 물론 회사 규정을 위반하는 어떠한 부당행위도 해서는 안된다.</li>
												</ul>
											</li>
											<li>
												<span>나.</span> 유형별 예시
												<ul class="note-list depth-3 no-bullet">
													<li>구체적인 예시는 별첨1 “거래관계에 있는 회사 선정 및 공정거래 관련 유형별 예시”에서 정한 바와 같다.</li>
												</ul>
											</li>
										</ul>
									</li>	
									<li>
										<span>(2)</span> 금품·향응 수수관련
										<ul class="note-list depth-2 order">
											<li>
												<span>가.</span> 기본사항
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 대가성 유무를 불문하고 이해관계자가 제공하는 금품·향응·편의제공 등 부적절한 사례를 받지 않아야 한다.</li>
													<li><span>2)</span> 가족, 친인척, 지인 등을 통한 수수 행위는 임직원 본인의 행위로 간주한다.</li>
													<li><span>3)</span> 본인의 의사와 상관없이 금품·향응·편의제공 등의 부적절한 사례를 받았을 경우, 본 지침에서 정한 방법에 따라 신고하여야 한다. 단, 회사의 “재산상 이익 수수절차”에 따라 준법감시인에게 승인 또는 보고한 경우는 제외한다.</li>
												</ul>
											</li>
											<li>
												<span>나.</span> 유형별 예시
												<ul class="note-list depth-3 no-bullet">
													<li>구체적인 예시는 별첨2 “금품·향응 수수 관련 유형별 예시”에서 정한 바와 같다.</li>
												</ul>
											</li>
											<li>
												<span>다.</span> 신고 및 처리 방법
												<ul class="note-list depth-3 number">
													<li>
														<span>1)</span>불가피하게 이해관계자로부터 부적절한 금품·향응 및 각종 편의를 제공받은 자는 즉시 윤리경영 담당 부서에 “금품·향응 수수신고서”(별지1호)를 작성하여 신고하고 편의를 제공한 자에게 대가를 지급하여야 한다.
														<ul class="note-list depth-4 dash">
															<li>전화, 이메일 등으로 약식 신고 후 신고서 추후 제출 가능</li>	
															<li>자진 신고한 건에 대해서는 정상 참작 가능</li>	
														</ul>
													</li>	
													<li><span>2)</span>임직원은 상사 및 동료가 부적절한 금품·향응·편의제공 등을 받았으나 본 지침에 따른 신고 등 적절한 조치를 취하지 않은 사실을 알게 된 경우에는 윤리 경영 담당 부서에 이 사실을 신고하여야 한다.</li>	
													<li><span>3)</span>금품 수수에 해당하는 신고를 받은 윤리경영 담당 부서는 제공받은 금품에 대해 지체 없이 반환토록 처리하고, 반환이 불가능한 경우 제공자 소속 회사명의로 기증하는 것을 원칙으로 한다.</li>	
													<li><span>4)</span>이해관계자로부터 고용 보장이나 거래 약속 등의 제의를 받은 경우 즉시 상위 관리자 및 담당 임원에게 보고 후 윤리경영 담당부서에 신고하여야 한다.</li>	
												</ul>
											</li>
										</ul>
									</li>	
									<li>
										<span>(3)</span> 회사자산 사용 관련
										<ul class="note-list depth-2 order">
											<li>
												<span>가.</span> 기본사항
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 회사의 유·무형 자산 및 비밀 정보 등은 회사의 사업 활동 및 승인된 목적으로만 사용되어야 하며, 임직원은 자산의 분실, 오용, 도난 및 유출에 대비 할 책임이 있다.</li>
													<li><span>2)</span> 회사의 비용은 건전한 기업 활동을 위해 정해진 목적에 맞게 사용 되어야 하며, 회사의 관련 규정을 준수하여야 한다.</li>
												</ul>
											</li>
											<li>
												<span>나.</span> 유형별 예시
												<ul class="note-list depth-3 no-bullet">
													<li>구체적인 예시는 별첨3 “회사자산 사용 관련 유형별 예시”에서 정한 바와 같다.</li>
												</ul>
											</li>
											<li>
												<span>다.</span> 신고 및 처리 방법
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 회사 자산을 불가피하게 사적 용도로 활용하였을 경우 즉시 사용내역을 상위 관리자 및 담당임원에게 보고해야 하며, 발생된 비용은 회사의 회계처리 규정에 따라 반환, 정산하여야 한다.</li>	
													<li><span>2)</span> 임직원은 상사 및 동료가 회사 자산을 사적인 용도로 활용하거나 공금을 횡령(유용 포함)하는 사실을 인지하였을 경우 윤리경영 담당 부서에 이 사실을 신고하여야 한다.</li>	
												</ul>
											</li>
										</ul>
									</li>	
									<li>
										<span>(4)</span> 문서·계수 조작 및 허위보고 관련 
										<ul class="note-list depth-2 order">
											<li>
												<span>가.</span> 기본사항
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 모든 정보의 기록과 보고는 정확하고 정직하게 이루어져야 한다.</li>
													<li><span>2)</span> 중요 사안에 대한 문서 및 계수가 사실과 다르게 보고될 경우 의사결정권자의 오판으로 이어질 수 있고, 이로 인해 회사의 이익이 크게 훼손될 수 있는바, 고의 조작은 물론 과실에 의한 왜곡도 발생하지 않도록 세심한 주의를 기울여야 한다.</li>
													<li><span>3)</span> 결산을 포함한 모든 회계 문서는 관련법(세법 등)과 기업 회계 기준에 따라 공정하게 작성되어야 한다.</li>
												</ul>
											</li>
										</ul>
									</li>	
									<li>
										<span>(5)</span> 기타
										<ul class="note-list depth-2 order">
											<li>
												<span>가.</span> 직장 내 성희롱 관련 행위 금지
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 회사 내 임직원간의 음담패설을 삼가한다.</li>
													<li><span>2)</span> 회식 때 상대방에게 시중을 강요하거나 성적 수치심을 유발하는 언어 사용, 행동 및 신체적 접촉을 하지 않는다.</li>
													<li><span>3)</span> 직장동료의 신체에 대해 성적인 비유를 하지 않으며, 고정된 성 역할을 강조하는 말을 하지 않는다.</li>
													<li><span>4)</span> 기타 사회 통념상 성적 굴욕감이나 혐오감을 유발할 수 있는 언어나 행동을 일체 하지 않는다.</li>
												</ul>
											</li>
											<li>
												<span>나.</span> 임직원간 금전거래 및 선물 수수 금지
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 임직원 상호간 금전거래는 경제적 피해는 물론 조직원간 불신을 조직분위기를 저해할 수 있어 금지한다.</li>
													<li><span>2)</span> 기념일, 생일, 송별 등을 위한 임직원간의 선물 수수를 원칙적으로 금지하나, 사회 통념상 인정되는 선물은 예외로 한다. (자발적인 참여에 한하며, 강요 및 임의 할당 금지)</li>
													<li><span>3)</span> 상사에게 청탁의 의미가 있는 개인적인 선물을 금지한다.</li>
												</ul>
											</li>
											<li>
												<span>다.</span> 정보의 보호 및 유출 금지
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 회사의 비밀이나 보안을 요하는 정보를 승인 없이 외부를 유출하지 않는다.</li>
													<li><span>2)</span> 고객의 사전 동의와 회사의 정상적인 절차를 통해 승인되지 않는 고객 정보는 사외로 누설하지 않는다.</li>
													<li><span>3)</span> 불법 소프트웨어 사용을 금지하며, 필요 시 관련부서를 통해 정상적으로 사용한다.</li>
													<li><span>4)</span> 회사와 관련된 회사 정보를 왜곡·날조하거나 무단 훼손해서는 안되며. 이를 이용해 부당이득을 취하지 않는다.</li>
													<li><span>5)</span> 회사와 관련하여 허위 사실이나 유언비어를 유포하지 않아야 한다.</li>
												</ul>
											</li>
											<li>
												<span>라.</span> 인력 유출 행위 금지
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 경쟁관계에 있는 회사에 사내 인력의 스카우트 알선 및 상호 만남 주선 등 인력 유출에 협조하는 행위를 하지 않는다.</li>
													<li><span>2)</span> 경쟁사 및 헤드헌터 등에 회사 내부의 조직현황이나 인력에 대한 인사 정보 등을  무단으로 제공하지 않는다.</li>
												</ul>
											</li>
											<li>
												<span>마.</span> SNS 사용 가이드 라인
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 회사와 관련된 모든 내부 기밀정보, 공표하지 않은 회사 관련 사건, 정보, 루머 등은 언급하지 않는다.</li>
													<li><span>2)</span> 고객, 주주, 거래처, 경쟁사, 동료를 비방하지 않고, 회사와 관련된 내용으로 SNS 사용자와 논쟁하거나 대립적인 자세를 취하지 않는다.</li>
													<li><span>3)</span> 회사와 또는 타인의 명예를 실추시킬 수 있는 욕설, 인종차별, 성차별, 엽기, 음란물 등의 내용을 거래하지 않는다.</li>
													<li><span>4)</span> 개인적인 의견 피력 시 회사를 대표하는 것으로 오해 받지 않도록 개인의 의견임을 반드시 밝힌다.</li>
													<li><span>5)</span> 회사 사명, 로고, 상표 이미지 및 타인의 지적 재산권 등을 허가 없이 사용하지 않는다.</li>
													<li><span>6)</span> 소셜미디어 활동에서 얻게 된 중요한 고객 의견 및 언론취재 요청 등은 절차에 따라 각 사 홍보 담당 부서에 알린다. </li>
													<li><span>7)</span> 대외활동으로 인하여 금전적인 보상을 받게 되는 경우 회사에 신고하여야 한다.</li>
													<li><span>8)</span> 공정한 시장질서를 유지하고 건전한 투자문화 조성을 위해 최대한 노력하여야 한다.</li>
												</ul>
											</li>
											<li>
												<span>바.</span> 건전한 직장 생활
												<ul class="note-list depth-3 number">
													<li><span>1)</span> 회사 및 임직원의 명예를 실추하는 언행을 하지 않는다.</li>
													<li><span>2)</span> 불법 도박을 금지하며, 마약/음주운전 등 사회적 지탄을 받을 수 있는 퇴폐적, 불법적 행위를 하지 않는다.</li>
													<li><span>3)</span> 업무에 지장을 주거나 동료, 상사 직원 및 이해관계자 등을 통한 다단계판매, 보험판매 등을 금지한다.</li>
													<li><span>4)</span> 회사 外 타 직장에 종사(이중취업 금지-취업규칙)하거나, 회사에 해가 되어 업무에 지장을 주는 부업행위를 금한다.</li>
													<li><span>5)</span> 근무시간 내 업무와 관련 없는 행위를 삼가한다.</li>
													<li><span>6)</span> 사적인 외출, 무단 외출, 조기 퇴근, 지각 중/간식 시간 미 준수 등의 근무기강을 저해하는 행동을 하지 않는다. (단, 정상적인 근태 처리나 특별한 사유로 상사의 사전 허락을 득한 경우는 제외될 수 있다.)</li>
													<li><span>7)</span> 직위나 직무를 이용하여 사적인 용무 또는 부당 행위의 수행을 요청하거나 강요하지 않는다.</li>
													<li><span>8)</span> 직원 상호간 폭력 행사 등 품위를 훼손하는 행동을 하지 않는다.</li>
													<li><span>9)</span> 기타 임직원으로 품위를 손상하거나 건전한 직장생활을 영위하는데 지장을 초래하는 행위는 삼가한다.</li>
												</ul>
											</li>
											<li>
												<span>사.</span> 고용계약 종료 후의 의무
												<ul class="note-list depth-3 no-bullet">
													<li>직원은 퇴사하는 경우 업무 관련 자료의 반납 등 적절한 후속조치를 취하여야 하며, 퇴직 이후에도 회사와 고객의 이익을 해하는 행위를 하여서는 아니 된다. </li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제3조 (윤리경영 실천 준수 사례 활용)</p>
								<ul class="note-list depth-1 number">
									<li>
										<span>(1)</span> 적용 대상 및 운영
										<ul class="note-list depth-2 order">
											<li><span>가.</span> 임직원은 회사의 윤리강령을 준수하여야 하며, 이해관계자에게도 준수하도록 권장하여야 한다.</li>	
											<li><span>나.</span> 임직원은 회사의 윤리강령 위반 사례를 인지한 경우 회사 윤리경영 담당부서에 신고하여야 하며, 회사는 신고인의 신분을 보장하고 신고에 따른 어떠한 차별이나 불이익을 받지 않도록 하여야 한다.</li>	
											<li><span>다.</span> 임직원은 회사의 윤리강령을 미인지한 것이 면책 사유가 될 수 없음을 인식하고, 윤리강령관련 의문사항이 있거나 위반이 의심될 경우 소속회사 윤리경영 담당 부서에 문의하여야 한다.</li>	
										</ul>
									</li>
									<li>
										<span>(2)</span> 위반자 처리
										<ul class="note-list depth-2 order">
											<li><span>가.</span> 윤리경영 담당 부서는 신고 받은 사항을 검토하여 임직원이 윤리강령을 위반한 사실이 인정될 경우 인사위원회에 이를 회부할 수 있다.</li>	
											<li><span>나.</span> 회사의 인사위원회는 윤리규범 위반 정도에 따라 징계 수위를 결정하고 윤리경영 담당 부서는 이에 따른 적절한 조치를 취한다.</li>	
											<li><span>다.</span> 협력회사 등 이해관계자가 연루된 경우, 사안의 경중을 고려하여 적절한 조치를 취한다.</li>	
										</ul>
									</li>
								</ul>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제4조 (보고 의무)</p>
								<ul class="note-list depth-1 number">
									<li>
										<span>(1)</span> 임직원은 다음의 어느 하나에 해당하는 사실이 발생한 경우 상위 결재권자와 준법감시인에게 그 사실을 지체 없이 보고하여야 한다.
										<ul class="note-list depth-2 order">
											<li><span>가.</span> 자신 또는 다른 임직원이 이 지침, 관계법령등 및 회사의 정책 등을 위반하였거나 위반한 것으로 의심되는 경우</li>	
											<li><span>나.</span> 정부․금융위원회 및 금융감독원, 협회등이 회사의 주요 내부정보를 요구하는 경우</li>	
											<li><span>다.</span> 위법·부당행위 또는 그러한 것으로 의심이 가는 행위와 연루되었거나 다른 임직원이 연루된 것을 인지한 경우</li>	
											<li><span>라.</span> 임직원이 체포 또는 기소되거나 유죄 판결을 받은 경우</li>	
										</ul>
									</li>
									<li>
										<span>(2)</span> 임직원은 업무를 수행함에 있어서 이 기준, 회사의 정책 및 관계법령 등에 위배되는지의 여부가 의심스럽거나 통상적으로 수행하던 절차 및 기준과 상이한 경우 준법감시인의 확인을 받아야 한다.
									</li>
								</ul>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">제5조 (위반 시 징계)</p>
								<p class="terms-txt">본 지침을 위반하였을 경우에는 회사의 “징계 규정”에 따라 징계를 결정한다.</p>
							</div>
						</div>
						`;
						const board3 = `
						<div class="terms-group">
							<h3 class="terms-tit">제1장 목적</h3>
							<p class="terms-txt">이 지침은 한화자산운용 윤리강령에 따라 임직원이 준수하여야 할 행동기준을 규정하는 것을 목적으로 한다.</p>
						</div>
						<div class="terms-group">
							<h3 class="terms-tit">제2장 정의</h3>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">1. 재산상 이익</p>
								<p class="terms-txt">"재산상 이익”이란 임직원이 외부인에 대하여 또는 외부인이 임직원에 대하여 업무와 관련하여 그 비용의 일부 또는 전부를 직접적 또는 간접적으로 지불하는 금전, 물품, 편익 등 모든 형태의 혜택 또는 가치물을 말한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">2. 향응</p>
								<p class="terms-txt">“향응”이란 식사, 음주, 스포츠, 오락 등의 수혜를 말한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">3. 고객정보</p>
								<p class="terms-txt">“고객정보”란 고객의 개인정보, 신용정보 및 금융거래의 내용에 대한 정보를 말한다.</p>
							</div>
							<div class="terms-sub-group">
								<p class="terms-sub-tit">4. 영업비밀</p>
								<p class="terms-txt">“영업비밀”이란 공공연히 알려져 있지 아니한 회사의 영업활동에 유용한 기술상 또는 경영상의 정보를 말한다.</p>
							</div>
						</div>
						<div class="terms-group">
							<h3 class="terms-tit">제3장 재산상 이익의 제공 및 수령 제한</h3>
							<ul class="note-list depth-1 order">
								<li><span>1.</span> 임직원은 판매회사 및 그 임직원, 기타 거래 상대방에 대하여 업무와 관련하여 관련법규가 정하는 기준 또는 일반인이 통상적으로 이해하는 수준을 초과하여 직접 또는 간접으로 재산상 이익을 제공하거나 제공받는 행위를 하여서는 아니 된다.</li>
								<li><span>2.</span> 임직원은 업무수행 과정에서 판매회사 및 그 임직원, 거래 상대방, 투자자 등과 재산적 가치가 있는 재화와 서비스를 제공하거나 수령함에 있어서 회사가 마련한 기준과 절차를 준수하여야 한다.</li>
								<li>
									<span>3.</span> 임직원은 업무와 관련하여 다음의 어느 하나에 해당하는 행위를 하여서는 아니 된다.
									<ul class="note-list depth-2 order">
										<li><span>가.</span> 부당한 선물이나 향응 등을 수수하는 행위</li>	
										<li><span>나.</span> 부당한 금전적 보상이나 상품의 지급, 자금을 대여하는 행위</li>	
										<li><span>다.</span> 제3자에게 용역을 의뢰하거나 의무를 면제하는 조건으로 정당한 대가 이외의 금전적인 이익을 수수하는 행위</li>	
									</ul>
								</li>
							</ul>
						</div>
						<div class="terms-group">
							<h3 class="terms-tit">제4장 보안 및 정보보호</h3>
							<ul class="note-list depth-1 order">
								<li>
									<span>1.</span> 임직원은 업무상 취득한 고객정보와 관련하여 다음의 어느 하나에 해당하는 행위를 하여서는 아니 된다.
									<ul class="note-list depth-2 order">
										<li><span>가.</span> 고객의 동의 없이 고객정보를 제3자에게 제공하는 행위</li>	
										<li><span>나.</span> 고객정보를 함부로 방치하는 행위</li>	
										<li><span>다.</span> 부정한 목적으로 고객정보를 사용하는 행위</li>	
									</ul>
								</li>
								<li>
									<span>2.</span> 임직원은 회사의 영업비밀과 관련하여 다음의 어느 하나에 해당하는 행위를 하여서는 아니 된다.
									<ul class="note-list depth-2 order">
										<li><span>가.</span> 회사의 승인 없이 영업비밀을 제3자에게 제공하는 행위</li>	
										<li><span>나.</span> 절취, 기망, 협박 기타 부정한 수단으로 영업비밀을 취득하는 행위</li>	
										<li><span>다.</span> 부정한 목적으로 영업비밀을 사용하는 행위</li>	
									</ul>
								</li>
								<li><span>3.</span> 임직원은 휴대전화, 전자메일, 게시판 및 웹사이트 등의 전자통신수단을 사용하는 경우에도 위 사항을 준수하여야 한다.</li>
							</ul>
						</div>
						<div class="terms-group">
							<h3 class="terms-tit">제5장 보고 및 신고의무</h3>
							<ul class="note-list depth-1 order">
								<li>
									<span>1.</span> 임직원은 다음의 어느 하나에 해당하는 사실이 발생한 경우 상위 결재권자와 준법감시인에게 그 사실을 지체 없이 보고하여야 한다.
									<ul class="note-list depth-2 order">
										<li><span>가.</span> 자신 또는 다른 임직원이 이 지침, 관계법령 등 및 회사의 정책 등을 위반하였거나 위반한 것으로 의심되는 경우</li>	
										<li><span>나.</span> 정부·금융위원회 및 금융감독원, 협회 등이 회사의 주요 내부정보를 요구하는 경우</li>	
										<li><span>다.</span> 위법·부당행위 또는 그러한 것으로 의심이 가는 행위와 연루되었거나 다른 임직원이 연루된 것을 인지한 경우</li>	
										<li><span>라.</span> 임직원이 체포 또는 기소되거나 유죄 판결을 받은 경우</li>	
									</ul>
								</li>
								<li><span>2.</span> 임직원은 업무를 수행함에 있어서 이 기준, 회사의 정책 및 관계법령 등에 위배되는지의 여부가 의심스럽거나 통상적으로 수행하던 절차 및 기준과 상이한 경우 준법감시인의 확인을 받아야 한다.</li>
								<li><span>3.</span> 임직원은 자신 또는 다른 임직원이 이 지침, 관계법령 등 및 회사의 정책 등을 위반한 경우 준법감시인에게 그 사실을 지체 없이 신고하여야 한다.</li>
							</ul>
						</div>
						`;

						const noteList4_1 = include('../../components/note-list.ejs', { 
							depth: 1,
							items: [
								'투자자 피해, 회사의 손실 초래 또는 금융질서 문란 등 중대한 금융범죄 행위',
								'부당한 업무지시, 성희롱 등 복무규정 위반',
								'금융사고 발생 및 그 은폐',
								'위법·부당한 업무처리로 인한 손실 발생',
								'법규, 사규, 윤리강령 등 위반 행위',
								'기타 위 내용이 발생할 우려가 있는 경우',
								'회계, 내부회계 및 감사 관련 위법·위규·부당행위',
							],
						});
						const noteList4_2 = include('../../components/note-list.ejs', { 
							depth: 1,
							items: [
								'금융범죄행위에 관한 사항 (회사의 임직원이 그 직무를 수행함에 있어 회사 또는 금융거래자에게 손실을 초래하거나 금융질서를 문란하게 한 경우로서, 「자본시장과 금융투자업에 관한 법률」, 「특정경제범죄 가중처벌 등에 관한 법률」, 「형법」 및 「금융기관 검사 및 제제에 관한 규정」 제3조 제16호에 따른 금융관련법규를 위반하여 범한 죄를 말합니다).',
								'금융사고 발생 및 그 은폐에 관한 사항 (소속 임직원이나 소속 임직원 이외의 자가 위법ㆍ부당한 행위를 함으로써 회사에 손실을 초래하게 하거나 금융질서를 문란하게 한 경우를 말하는 것으로 횡령, 배임 등을 말합니다.)',
								'윤리강령 등 내부통제기준 위배에 관한 사항 (문서조작 및 부정보고, 불공정행위, 절도, 경비 사적유용 등)',
								'복무규정에 해당하는 사항 (상급자의 부당한 업무지시, 부당대우, 성희롱, 청탁 및 부당한 요구 등)',
								'위법, 부당한 업무처리로 회사에 대한 손실을 초래',
								'기타 (※일반 민원 및 단순 문의 제외)',
							],
						});
						const noteList4_3 = include('../../components/note-list.ejs', { 
							depth: 1,
							items: [
								'대외기관에 민원이나 분쟁이 이미 접수된 사항',
								'사실확인이 불가능한 루머, 허위사실',
								'특정인을 비방, 중상, 모략하기 위한 내용으로 신고대상 유형에 해당하지 않는 사실',
								'타인의 인적사항 등 개인정보와 관련된 사항',
							],
						});
						const radio1 = include('../../components/radio.ejs', {
							label: '실명',
							name: 'nameType'
						});
						const radio2 = include('../../components/radio.ejs', {
							label: '익명',
							name: 'nameType',
						});
						const inputName = include('../../components/input.ejs', {
							title: "이름",
							type: "text",
							placeholder: "이름을 입력해주세요.",
							required: true,
						});
						const inputPhone = include('../../components/input.ejs', {
							title: "휴대폰번호",
							type: "tel",
							placeholder: "휴대폰 번호를 입력해주세요.",
							required: true,
						});
						const inputEmail = include('../../components/input.ejs', {
							title: "이메일",
							type: "text",
							placeholder: "이메일을 입력해주세요.",
							required: true,
							formGroupAddClass: 'full',
						});
						const inputTitle = include('../../components/input.ejs', {
							title: "제목",
							type: "text",
							placeholder: "제목을 입력해 주세요.",
							required: true,
							formGroupAddClass: 'full',
						});
						const textarea = include('../../components/textarea.ejs', {
							title: "내용",
							placeholder: `육하원칙(누가, 언제, 어디서, 무엇을, 어떻게, 왜)에 의거하여 구체적으로 작성부탁드립니다. 타인을 비방하거나 명예를 회손할 목적의 허위 사실, 음해성 제보의 경우 조사가 진행되지 않을 수 있음을 알려드립니다.`,
							required: true,
							formGroupAddClass: 'full',
						});
						const check = include('../../components/checkbox.ejs', {
							label: '<span class="fc-red">[필수]</span> 개인정보 수집 및 이용, 제공 등에 관한 동의',
							variant: '',
						});
						const textBtn = include('../../components/button.ejs', {
							variant: 'text',
							label: '자세히보기',
							size: 'medium',
							icon: 'arrow-right',
						});
						const formBtn = include('../../components/button.ejs', {
							label: '제보하기',
						});

						const board4 = `
						<div class="terms-content">
							<div class="terms-group">
								<h3 class="terms-tit">한화자산운용 고발제도 (신문고)</h3>
								<div class="terms-sub-group">
									<p class="terms-txt">
										한화자산운용은 임직원 또는 외부 이해관계자(임직원이었던 자, 고객, 계약업체, 협력사 등)가 직무수행 과정 및 아래 신고대상에 해당하는 사실을 인지하여 회사에 신고할 수 있는 내부고발 및 외부고발 절차(신문고 제도)를 운영하고 있습니다.
									</p>
									<p class="terms-txt">
										신고는 회사 홈페이지외에도 접수부서로의 이메일, 전화, 우편, 면담 등 다양한 방식으로 가능하며, 신고자의 신분은 철저히 보호됩니다.
										회사는 제보 내용을 철저히 조사하고, 원칙적으로 신고 접수일로부터 30일 이내 처리됩니다. 다만, 사안의 복잡성 등의 이유로 연장이 필요한 경우 처리기간이 연장될 수 있으며 이 경우 
										신고자에게 이 사실이 통지됩니다.
									</p>
									<p class="terms-txt">
										신고자께서 신고한 내용은 회사의 경영개선 및 금융사고 예방을 위하여 적극적으로 수렴하여 반영할 수 있도록 최선을 다하겠습니다.
									</p>
								</div>
								<div class="terms-sub-group">
									<p class="terms-sub-tit">신고대상</p>
									<p class="terms-txt">내부고발 또는 외부고발 신고대상은 아래와 같습니다.</p>
									${noteList4_1}
								</div>
								<div class="terms-sub-group">
									<p class="terms-sub-tit">신고대상 유형</p>
									${noteList4_2}
								</div>
								<div class="terms-sub-group">
									<p class="terms-sub-tit">신고 제외대상</p>
									<p class="terms-txt">아래 제외대상의 신고의 경우, 당사 지침 등에 따라 아래 신고 제외대상에 해당하는 것으로 판단되는 경우, 접수부서에서는 해당 신고에 대한 조사를 진행하지 않을 수 있습니다. 이 경우 신고자에 대하여 조사결과 등 결과를 통보하지 않을 수 있습니다.</p>
									${noteList4_3}
								</div>
							</div>
							<div class="terms-group">
								<h3 class="terms-tit">신고방법</h3>
								<p class="terms-txt">
									홈페이지, 우편, 전자우편(audit.hamc@hanwha.com), 유선전화 (02-6950-0142, 0352 감사부서 담당자) <br/>
									우편: 서울시 영등포구 63로 50(여의도동, 한화금융센터_63) 한화자산운용 감사팀
								</p>
								<div class="terms-form">
									<div class="radio-wrap">
										${radio1}
										${radio2}
									</div>
									<div class="form-wrap">
										${inputName}
										${inputPhone}
										${inputEmail}
										${inputTitle}
										${textarea}
									</div>
									<div class="agree-chk-wrap">
										${check}
										${textBtn}
									</div>
									<div class="btn-wrap array-center">
										${formBtn}
									</div>
								</div>
							</div>
						</div>
						`;
						%>
						<%- include('../../components/tab.ejs', {
							active: 0,
							variant: 'line',
							tablist: ['윤리경영', '윤리헌장', '윤리행동지침', '사이버신문고'],
							contents: [board1, board2, board3, board4],
						}) -%>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>