<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '보호금융상품등록부'
		}) -%>
	</head>
	<body>
		<div class="wrap page-policy">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">보호금융상품등록부</h2>
						</div>
						<div class="terms-content">
							<div class="terms-group">
								<h3 class="terms-tit">예금자보호안내</h3>
								<div class="terms-sub-group">
									<p class="terms-txt">
										본 금융회사가 예금 등 채권의 지급정지 후 파산하게 되는 경우, 예탁한 금액 중 유가증권의 매수 등에 사용되지 않고 계좌에 현금으로 남아있는 금액에 대하여는 예금보험공사가 고객 1인당 원금과 소정의 이자를 합하여 최고 1억원까지 보호합니다. <br/>
										“소정의 이자”라 함은 약정이자와 예금보험공사가 정하는 이자(부보금융회사의 1년만기 정기예금 또는 이에 준하는 금융상품의 평균이자율을 고려하여 결정) 중 적은 금액
									</p>
									<p class="terms-txt">한화자산운용이 취급하는 금융상품 중 예금보험공사가 예금자보호법에 의하여 보호하는 종류는 다음과 같습니다.</p>
								</div>
								<div class="terms-sub-group">
									<%- include('../../components/table.ejs', { 
										caption: '위탁업무와 수탁업체',
										colWidths: ['10%', 'auto'],
										thead: ['번호', '금융상품명'],
										tbody: [
											['1', '집합투자증권 투자자예수금'],
										],
										addClass: 'scroll',
										infoTxt: '(기준일 : 2025년 09월 01일 현재)'
									}); %>
								</div>
								<div class="terms-sub-group">
									<%- include('../../components/note-list.ejs', { 
										depth: 1,
										items: [
											'정부, 지방자치단체, 한국은행, 금융감독원, 예금보험공사, 부보금융기관이 가입한 금융상품은 보호되지 않습니다.',
											'보험상품은 보험계약자 및 보험료 납부자가 법인이면 보호되지 않습니다. 그러나 확정기여형 퇴직연금보험은 그러하지 않습니다.',
											'예금보험공사(1588-0037) 홈페이지(www.kdic.or.kr)를 방문하시면 예금자보호제도에 대한 보다 자세한 안내를 받으실 수 있습니다.',
										],
									}) -%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>