<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '리츠공시 | 공시안내'
		}) -%>
	</head>
	<body class="page-notice">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">공시안내</h2>
						</div>
						<%
						const board1 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									category: '파생공시',
									title: '집합투자재산(파생형) 위험지표 공시',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									category: '투자설명서',
									title: '연금저축비교공시_수수료율',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const board2 = include('../../layouts/board.ejs', {
							segmentControl: true, 
							boardListItems: [
								{
									category: '파생공시',
									title: '집합투자재산(파생형) 위험지표 공시',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									category: '투자설명서',
									title: '연금저축비교공시_수수료율',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const board3 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									title: '임원 선임 및 사임(해임) 공시',
									hasFile: true,
									date: '2025-09-17',
								},
								{
									title: '금융소비자보호 내부통제기준 개정 사항 공지',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const board4 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									title: '25년도 제18회 이사회 의사록',
									hasFile: true,
									date: '2025-09-17',
								},
								{
									title: '제8기 사업연도 1분기 투자보고서 및 주석',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const board5 = include('../../layouts/board.ejs', {
							segmentControl: ['수익률', '수수료율'], 
							boardListItems: [
								{
									title: '연금저축비교공시_수수료율_20190930',
									hasFile: true,
									date: '2025-09-17',
								},
								{
									title: '연금저축비교공시_수익률_20190930',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						%>
						<%- include('../../components/tab.ejs', {
							active: 3,
							variant: 'line',
							tablist: ['전체', '펀드공시', '경영공시', '리츠공시', '연금공시'],
							contents: [board1, board2, board3, board4, board5],
						}) -%>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>