<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '공시상세'
		}) -%>
	</head>
	<body class="page-notice">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<%- include('../../layouts/boardDetail.ejs', {
							title: '집합투자재산(파생형) 위험지표 공시',
							date: '2025-09-29',
							content: `
								<p>2025년 09월 29일 (기준일 : 2025년 09월 26일) 집합투자재산(파생형)의 위험지표를 공시합니다.</p>
							`,							
							files: [
								{ label: '한화자산운용VaR20250926.pdf'},
								{ label: '한화자산운용VaR20250926.zip'}
							],
							nav: {
								prev: {
									title: '[수시공시] 한화Japan REITs 부동산 투자신탁 1호 (리츠-재간접형)',
									desc: '운용기간 2025.05.31 - 2025.08.30'
								},
								next: {
									title: '[수시공시] 한화Japan REITs 부동산 투자신탁 1호 (리츠-재간접형)',
									desc: '운용기간 2025.09.01 - 2025.10.30'
								}
							},
						}) %>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>