<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '공시 상세'
		}) -%>
	</head>
	<body>
		<div class="wrap page-notice">
			<!-- header -->
			<%- include('../../layouts/header.ejs') %>
			<!-- // header -->
			
			<!-- container -->
			<main class="container notice-detail">
				<div class="inner">
					<div class="cont-group">
						<div class="board-detail">
							<div class="board-detail-top">
								<h2 class="tit">집합투자재산(파생형) 위험지표 공시</h2>
								<p class="date">작성일 2025-09-29</p>
							</div>
							<div class="board-detail-con">
								<p>​2025년 09월 29일 (기준일 : 2025년 09월 26일) 집합투자재산(파생형)의 위험지표를 공시합니다.</p>
							</div>
							<div class="board-detail-files">
								<div class="item">
									<a href="#!" download="">
										한화자산운용VaR20250926.pdf
									</a>
								</div>
							</div>
							<div class="board-detail-nav">
								<div class="item prev">
									<a href="#!">
										<p class="tit">[수시공시] 한화Japan REITs 부동산 투자신탁 1호 (리츠-재간접형)</p>
										<p class="desc">운용기간 2025.05.31 - 2025.08.30</p>
									</a>
								</div>
								<div class="item next">
									<a href="#!">
										<p class="tit">[수시공시] 한화Japan REITs 부동산 투자신탁 1호 (리츠-재간접형)</p>
										<p class="desc">운용기간 2025.05.31 - 2025.08.30</p>
									</a>
								</div>
							</div>
							<div class="btn-wrap array-center">
								<%- include('../../components/button.ejs', {
									label: '목록', hierarchy: 'tertiary'
								}) %>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') %>
			<!-- // footer -->
		</div>
	</body>
</html>