<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '공시안내'
		}) -%>
	</head>
	<body>
		<div class="wrap page-notice">
			<!-- header -->
			<%- include('../../layouts/header.ejs') %>
			<!-- // header -->
			
			<!-- container -->
			<main class="container notice-main">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">공시안내</h2>
						</div>
						<% 
						const segmentControl = include('../../components/segmentControl.ejs', {
							tag: 'button',
							items: [
								{ label: '전체' },
								{ label: '투자설명서' },
								{ label: '운용역변경' },
								{ label: '소규모펀드공시' },
								{ label: '파생공시' },
								{ label: '자산운용보고서' },
								{ label: '기타' },
							]
						});

						const searchIcon = include('../../components/button.ejs', { variant: 'icon', label: '검색', size: 'xlarge', icon: 'search'});
						const search = include('../../components/input.ejs', {
							ariaLabel: "검색어 입력",
							size: 'large',
							placeholder: '검색어를 입력해 주세요.',
							preSlot: searchIcon
						});

						const btnMore = include('../../components/button.ejs', {label: '더보기', hierarchy: 'tertiary', 
							slot: `<span class="page-num">(<strong>1</strong>/<em>10</em>)</span>`}
						);

						const badge = include('../../components/badge.ejs', { label: 'N', color: 'new', size: 'small',});
						-%>
						<%- include('../../components/tab.ejs', {
							// active: 0,
							variant: 'line',
							tablist: ['전체', '펀드공시', '경영공시', '리츠공시', '연금공시'],
							contents: [
								`
								<div class="board-con">
									<div class="scroll-wrap">
										${segmentControl}
									</div>
									<form class="board-search">
										<p class="total">전체 21,307건</p>
										${search}
									</form>
									<div class="board-list-wrap line-top">
										<div class="board-thead">
											<p class="th num">NO</p>
											<p class="th category">구분</p>
											<p class="th tit">제목</p>
											<p class="th file">첨부</p>
											<p class="th date">등록일</p>
										</div>
										<ul class="board-tbody">
											<li>
												<a href="#!">
													<p class="td num">21307</p>
													<p class="td category">파생공시</p>
													<p class="td tit">집합투자재산(파생형) 위험지표 공시 ${badge}</p>
													<span class="td file"><span class="sr-only">첨부파일</span><i class="svg-icon icon-file"></i></span>
													<p class="td date">2025-09-17</p>
												</a>
											</li>
											<li>
												<a href="#!">
													<p class="td num">21306</p>
													<p class="td category">투자설명서</p>
													<p class="td tit">연금저축비교공시_수수료율_20190930 연금저축비교공시_수수료율_20190930</p>
													<span class="td file"><span class="sr-only">첨부파일</span><i class="svg-icon icon-file"></i></span>
													<p class="td date">2025-09-17</p>
												</a>
											</li>
										</ul>
									</div>
									<div class="btn-wrap array-center">
										${btnMore}
									</div>
								</div>
								`,
								'<p>탭 2 내용</p>',
								'<div>탭 3 내용</div>',
								'탭 4 내용',
								''
							],
						}) -%>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') %>
			<!-- // footer -->
		</div>
	</body>
</html>