<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '경영공시 | 공시안내'
		}) -%>
	</head>
	<body class="page-notice">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">공시안내</h2>
						</div>
						<%
						const board1 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									category: '파생공시',
									title: '집합투자재산(파생형) 위험지표 공시',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									category: '투자설명서',
									title: '연금저축비교공시_수수료율',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const board2 = include('../../layouts/board.ejs', {
							segmentControl: true, 
							boardListItems: [
								{
									category: '파생공시',
									title: '집합투자재산(파생형) 위험지표 공시',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									category: '투자설명서',
									title: '연금저축비교공시_수수료율',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const tableHtml = include('../../components/table.ejs', { 
							infoTxt: '단위 : 백만원',
							caption: '요약 연결포괄 손익계산서',
							colWidths: ['auto', '35%', '35%'],
							thead: ['항목', '제37기 <br class="tablet-small-only"/> (2024.01.01 <br class="tablet-small-only"/>~2024.12.31)', '제36기 <br class="tablet-small-only"/> (2023.01.01 <br class="tablet-small-only"/>~2023.12.31)'],
							tbody: [
								{className: 'emphasis', data: ['영업수익', '2,684,362', '2,137,333']},
								['수수료수익', '359,216', '328,843'],
								['증권평가/처분이익', '368,225', '379,927'],
								['파생상품관련이익', '1,325,077', '836,776'],
								['기타수익', '631,844', '591,787'],
								{className: 'emphasis', data: ['영업비용', '2,617,720', '2,059,850']},
								['수수료비용', '48,245', '37,462'],
								['증권평가/처분손실', '548,659', '415,772'],
								['파생상품관련손실', '1,105,804', '781,925'],
								['기타비용', '915,012', '824,691'],
								{className: 'emphasis', data: ['영업이익', '66,642', '77,483']},
								['영업외손익', '95,023', '(15,165)'],
								['법인세비용', '47,725', '15,672'],
								{className: 'emphasis', data: ['당기순이익', '113,940', '46,646']},
								['기타포괄손익', '128,744', '9,626'],
							],
							addClass: 'scroll small',
						});
						const board3 = include('../../layouts/board.ejs', {
							segmentControl: ['경영공시', '요약 연결포괄 손익계산서', '요약 연결재무상태표'],
							segmentActiveIndex: 1,
							showSearch: false,
							includeContent: tableHtml,
						});
						const board4 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									title: '25년도 제18회 이사회 의사록',
									hasFile: true,
									date: '2025-09-17',
								},
								{
									title: '제8기 사업연도 1분기 투자보고서 및 주석',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const board5 = include('../../layouts/board.ejs', {
							segmentControl: ['수익률', '수수료율'], 
							boardListItems: [
								{
									title: '연금저축비교공시_수수료율_20190930',
									hasFile: true,
									date: '2025-09-17',
								},
								{
									title: '연금저축비교공시_수익률_20190930',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						%>
						<%- include('../../components/tab.ejs', {
							active: 2,
							variant: 'line',
							tablist: ['전체', '펀드공시', '경영공시', '리츠공시', '연금공시'],
							contents: [board1, board2, `
							<!-- [2026-01-07] 마크업 수정 -->
							${board3}
							<!-- // [2026-01-07] 마크업 수정 -->
							`, board4, board5],
						}) -%>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>