<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '경영공시 | 공시안내'
		}) -%>
	</head>
	<body class="page-notice">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">공시안내</h2>
						</div>
						<%
						const board1 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									category: '파생공시',
									title: '집합투자재산(파생형) 위험지표 공시',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									category: '투자설명서',
									title: '연금저축비교공시_수수료율',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const board2 = include('../../layouts/board.ejs', {
							segmentControl: true, 
							boardListItems: [
								{
									category: '파생공시',
									title: '집합투자재산(파생형) 위험지표 공시',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									category: '투자설명서',
									title: '연금저축비교공시_수수료율',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const tableHtml = include('../../components/table.ejs', { 
							infoTxt: '단위 : 백만원',
							caption: '요약 연결재무상태표',
							colWidths: ['auto','35%', '35%'],
							thead: ['항목', '제37기 (2024.12.31)', '제36기 (2023.12.31)'],
							tbody: [
								['현금및예치금', '1,105,284', '1,484,823'],
								['당기손익-공정가치금융자산', '9,568,213', '7,595,314'],
								['기타포괄손익-공정가치금융자산', '970,262', '662,495'],
								['관계기업투자', '239,061', '361,447'],
								['파생상품자산', '386,661', '248,525'],
								['대출채권', '2,068,444', '2,965,272'],
								['투자부동산', '84', '86'],
								['유무형자산', '88,072', '62,861'],
								['사용권자산', '48,185', '56,244'],
								['기타금융자산', '502,410', '788,572'],
								['기타자산', '133,125', '151,455'],
								{className: 'emphasis', data: ['자산총계', '15,109,801', '14,382,022']},
								['예수부채', '902,653', '1,122,515'],
								['당기손익-공정가치금융부채', '1,765,887', '1,879,109'],
								['차입부채 및 발행사채', '8,321,435', '7,151,943'],
								['파생상품부채', '565,297', '537,096'],
								['충당부채', '65,857', '58,393'],
								['순확정급여부채', '7,939', '3,332'],
								['리스부채', '48,626', '56,707'],
								['기타부채', '755,752', '1,140,280'],
								{className: 'emphasis', data: ['부채총계', '12,433,446', '11,949,375']},
								['자본금', '1,070,000', '1,070,000'],
								['기타불입자본', '3,394', '3,394'],
								['기타자본구성요소', '101,673', '23,758'],
								['이익잉여금', '570,807', '478,060'],
								['비지배지분', '930,481', '857,435'],
								{className: 'emphasis', data: ['자본총계', '2,676,355', '2,432,647']},
							],
							addClass: 'scroll small'
						});
						const board3 = include('../../layouts/board.ejs', {
							segmentControl: ['경영공시', '요약 연결포괄 손익계산서', '요약 연결재무상태표'],
							segmentActiveIndex: 2,
							showSearch: false,
							includeContent: tableHtml,
						});
						const board4 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									title: '25년도 제18회 이사회 의사록',
									hasFile: true,
									date: '2025-09-17',
								},
								{
									title: '제8기 사업연도 1분기 투자보고서 및 주석',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const board5 = include('../../layouts/board.ejs', {
							segmentControl: ['수익률', '수수료율'], 
							boardListItems: [
								{
									title: '연금저축비교공시_수수료율_20190930',
									hasFile: true,
									date: '2025-09-17',
								},
								{
									title: '연금저축비교공시_수익률_20190930',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						%>
						<%- include('../../components/tab.ejs', {
							active: 2,
							variant: 'line',
							tablist: ['전체', '펀드공시', '경영공시', '리츠공시', '연금공시'],
							contents: [board1, board2, `
							<!-- [2026-01-07] 마크업 수정 -->
							${board3}
							<!-- // [2026-01-07] 마크업 수정 -->
							`, board4, board5],
						}) -%>
					</div>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>