<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '인사이트'
		}) -%>
	</head>
	<body>
		<div class="wrap page-insite">
			<!-- header -->
			<%- include('../../layouts/header.ejs') %>
			<!-- // header -->
			
			<!-- container -->
			<main class="container notice-main">
				<div class="inner">
					<div class="cont-group">
						<div class="section-tit-wrap">
							<h2 class="tit">인사이트</h2>
						</div>
						<%
						const board1 = include('../../layouts/board.ejs', {
							boardListItems: [
								{
									title: '[한화자산운용] 한화녹색ESG인프라 프로젝트 펀드 모집 공고(수시접수)',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									title: '[한화녹색ESG인프라] 하위 블라인드 펀드 위탁운용사 선정 공고 및 설명회 개최 안내',
									hasFile: true,
									date: '2025-09-17'
								},
								{
									title: 'The Korea Defense Industry Index',
									hasFile: true,
									date: '2025-09-17'
								},
								{
									title: '한화자산운용 사칭 오픈톡, 리딩방 주의 안내',
									hasFile: true,
									date: '2025-09-17'
								},
								{
									title: '개인정보처리방침 개정 안내',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const thumbList1 = include('../../layouts/thumbList.ejs', {
							listClass: 'link',
							items: [
								{title: '월급으로 부자 되기 힘들다? 이진우 기자에게 제대로 배웠습니다', sourceType: 'instagram'},
								{title: '중국 10대 기업 차곡 차곡 사 모아라', sourceType: 'blog'},
								{title: '전쟁 끝나면 방산주는 찬밥? 장기 성장주인 이유', sourceType: 'youtube'},
								{title: '은퇴를 앞둔 5060 포트폴리오부터 MZ세대를 연금 계좌 전략!', sourceType: 'youtube'},
								{title: '시진핑이 무너진다? 중국 증시 폭등의 진짜 이유', sourceType: 'youtube'},
								{title: '시드머니가 없는뎁쇼...? 적립식으로 반복투자를 해야 하는 이유!', sourceType: 'instagram'},
								{title: '앞이 캄캄한 시장 지수 반등의 조건은?', sourceType: 'youtube'},
								{title: '이것만 알고 투자하자!', sourceType: 'blog'},
								{title: '환경의, 환경에 의한, 환경을 위한 펀드매니저가 있다?!', sourceType: 'youtube'},
							]
						});
						const thumbList2 = include('../../layouts/thumbList.ejs', {
							cols: 3,
							items: [
								{title: '2025년 9월 글로벌 매크로 및 자산시장', date: '2025.08.29' },
								{title: '2025년 9월 국내외 채권시장 전망', date: '2025.08.29' },
								{title: '2025년 9월 글로벌 매크로 및 자산시장', date: '2025.08.29' },
								{title: '2025년 9월 국내외 채권시장 전망', date: '2025.08.29' },
								{title: '2025년 9월 국내외 채권시장 전망', date: '2025.08.29' },
								{title: '2025년 9월 글로벌 매크로 및 자산시장', date: '2025.08.29' },
								{title: '2025년 9월 국내외 채권시장 전망', date: '2025.08.29' },
								{title: '2025년 9월 국내외 채권시장 전망', date: '2025.08.29' },
								{title: '2025년 9월 글로벌 매크로 및 자산시장', date: '2025.08.29' },
							]
						});
						const board2 = include('../../layouts/board.ejs', {
							theadChanges: { category: { text: '언론사' } },
							boardListItems: [
								{
									category: '프레스나인',
									title: '테슬라·美테크지수 동시 투자…3개월 수익률 11.76%[ETF 줌인]',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									category: '이데일리',
									title: '테슬라·美테크지수 동시 투자…3개월 수익률 11.76%[ETF 줌인]',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
						const faq = include('../../components/accordion.ejs', {
							items: [
								{title: '제목1', content: '<p>내용1</p>', active: true },
								{title: '제목2', content: '<p>내용2</p>' },
								{title: '제목3', content: '<p>내용3</p>' }
							],
						});
						-%>
						<%- include('../../components/tab.ejs', {
							active: 1,
							variant: 'line',
							tablist: ['공지', '투자정보', '시황', '뉴스룸', 'FAQ'],
							contents: [board1, thumbList1, thumbList2, board2, faq],
						}) -%>
					</div> 
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') %>
			<!-- // footer -->
		</div>
	</body>
</html>
