<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '메인'
		}) -%>
	</head>
	<body>
		<div class="wrap page-main">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- contents -->
			<main class="contents">
				<div class="section-visual">
					<div class="inner">

					</div>
				</div>
			</main>
			<!-- // contents -->
			
			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>