<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '통합검색'
		}) -%>
	</head>
	<body>
		<div class="wrap page-search">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<section class="section-search">
					<div class="inner">
						<div class="section-tit-wrap">
							<h2 class="tit lg">통합검색</h2>
						</div>
						<div class="search-wrap">
							<% const searchIcon = include('../../components/button.ejs', { variant: 'icon', label: '검색', size: 'xxlarge', icon: 'search'}); -%>
							<div class="search-con">
								<%- include('../../components/input.ejs', {
									ariaLabel: "펀드명 입력",
									size: 'xlarge',
									placeholder: '펀드명을 입력하세요',
                  value: '투자신탁',
									slot: searchIcon,
									addClass: 'line search'
								}) -%>
								<%- include('../../components/tag.ejs', {
									variant: 'text',
									tagList: ['#ETF', '#월배당ETF', '#바이오', '#자산분배형', '#ESG'],
									size: 'medium'
								}) -%>
							</div>
						</div>
          </div>
				</section>
        <section class="section-result">
          <div class="inner">
            <p class="result-txt">‘<strong class="value">투자신탁</strong>'에 대한 <strong>1120</strong>건의 <br class="mobile-only"/> 검색결과가 있습니다</p>
            <%
            const badge = include('../../components/badge.ejs', { 
              badgeItems: [
                { label: '국내', variant: 'solid', color: 'domestic' },
                { label: '주식', variant: 'solid', color: 'stock' },
                { label: '글로벌', variant: 'solid', color: 'global' }
              ]
            });
            const moreBtn = include("../../components/button.ejs", { label: '더보기', hierarchy: 'tertiary', size: 'large', slot: `<span class="page-num">(<strong>1</strong>/<em>10</em>)</span>`});
            const thumbList1 = include('../../layouts/thumbList.ejs', {
							listClass: 'link',
              isSearchResult: true,
							items: [
								{title: '월급으로 부자 되기 힘들다? 이진우 기자에게 제대로 배웠습니다', sourceType: 'instagram'},
								{title: '중국 10대 기업 차곡 차곡 사 모아라', sourceType: 'blog'},
								{title: '전쟁 끝나면 방산주는 찬밥? 장기 성장주인 이유', sourceType: 'youtube'},
								{title: '은퇴를 앞둔 5060 포트폴리오부터 MZ세대를 연금 계좌 전략!', sourceType: 'youtube'},
								{title: '시진핑이 무너진다? 중국 증시 폭등의 진짜 이유', sourceType: 'youtube'},
								{title: '시드머니가 없는뎁쇼...? 적립식으로 반복투자를 해야 하는 이유!', sourceType: 'instagram'},
								{title: '앞이 캄캄한 시장 지수 반등의 조건은?', sourceType: 'youtube'},
								{title: '이것만 알고 투자하자!', sourceType: 'blog'},
							]
						});
						const boardNews = include('../../layouts/board.ejs', {
              showSearch: false,
              showNoData: false,
              hideNumber: true,
							theadChanges: { category: { text: '언론사' } },
							boardListItems: [
								{
									category: '프레스나인',
									title: '테슬라·美테크지수 동시 투자…3개월 수익률 11.76%[ETF 줌인]',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									category: '이데일리',
									title: '테슬라·美테크지수 동시 투자…3개월 수익률 11.76%[ETF 줌인]',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
            const boardPublic = include('../../layouts/board.ejs', {
              showSearch: false,
              showNoData: false,
              hideNumber: true,
							boardListItems: [
								{
									category: '파생공시',
									title: '집합투자재산(파생형) 위험지표 공시',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									category: '투자설명서',
									title: '연금저축비교공시_수수료율',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
            const boardNotice = include('../../layouts/board.ejs', {
              showSearch: false,
              showNoData: false,
              hideNumber: true,
							boardListItems: [
								{
									title: '[한화자산운용] 한화녹색ESG인프라 프로젝트 펀드 모집 공고(수시접수)',
									hasFile: true,
									date: '2025-09-17',
									isNew: true
								},
								{
									title: '[한화녹색ESG인프라] 하위 블라인드 펀드 위탁운용사 선정 공고 및 설명회 개최 안내',
									hasFile: true,
									date: '2025-09-17'
								},
								{
									title: 'The Korea Defense Industry Index',
									hasFile: true,
									date: '2025-09-17'
								},
								{
									title: '한화자산운용 사칭 오픈톡, 리딩방 주의 안내',
									hasFile: true,
									date: '2025-09-17'
								},
								{
									title: '개인정보처리방침 개정 안내',
									hasFile: true,
									date: '2025-09-17'
								},
							],
						});
            const boardFaq = include('../../components/accordion.ejs', {
							items: [
								{category: '펀드상품', title: 'ETF란 무엇인가요?', content: '<p>내용1</p>', active: true},
								{category: '펀드상품', title: '절세형 펀드상품은 무엇이 있나요?', content: '<p>내용2</p>'},
								{category: '펀드상품', title: '같은 펀드에 Class가 여러 개인데 단지 수수료같은 차이만 있는건가요? 아니면 투자방향과 성격이 틀린건가요?', content: '<p>Class로 구분되어 있는 펀드는 종류형(Muti-Class) 펀드라 하며으로 차이점은 선취 판매 수수료의 유무 등 환매 수수료의 차이 및 펀드 보수의 차이 등입니다. <br/> 고객님의 투자기간, 투자방향 등에 따라 선택하여 가입하여 주시기 바랍니다.</p>'},
								{category: '펀드상품', title: '펀드계산기는 어떤 기능인가요?', content: '<p>내용4</p>'},
								{category: '펀드상품', title: '가입한 펀드의 수익률을 확인하려면 어디서 해야 하나요?', content: '<p>내용5</p>'},
								{category: '펀드상품', title: '펀드에 가입하면 자산운용보고서를 받는다던데 무엇인가요?', content: '<p>내용6</p>'},
								{category: '펀드상품', title: '펀드에 투자하려면 목돈이 필요한가요?', content: '<p>내용7</p>'},
								{category: '펀드상품', title: '한화자산운용에서 펀드를 직접 가입할 수 있나요?', content: '<p>내용8</p>'},
							],
						});

						const resultFund = 
            `<div class="result-group">
                <h3 class="tit-xlg">펀드상품 <span class="count">123</span></h3>
                <div class="card-list-wrap bg-gray">
                  <ul class="card-list">
                    <li class="card-item">
                      <a href="#!">
                        <div class="card-top">
                          ${badge}
                          <p class="tit">선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
                        </div>
                        <div class="card-con">
                          <div class="chart-area line">
                            <div class="chart">
                              <!-- Chart 영역 -->
                            </div>
                          </div>
      
                          <div class="info-list">
                            <dl class="txt-emphasis">
                              <dt>3개월 수익률</dt>
                              <dd>2.56<small>%</small></dd>
                            </dl>
                            <dl>
                              <dt>기준가</dt>
                              <dd>1,452.33원</dd>
                            </dl>
                            <dl>
                              <dt>순자산</dt>
                              <dd>3억원</dd>
                            </dl>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="card-item">
                      <a href="#!">
                        <div class="card-top">
                          ${badge}
                          <p class="tit">한화그린히어로증권자투자신탁(주식) A</p>
                        </div>
                        <div class="card-con">
                          <div class="chart-area line">
                            <div class="chart">
                              <!-- Chart 영역 -->
                            </div>
                          </div>
      
                          <div class="info-list">
                            <dl class="txt-emphasis">
                              <dt>3개월 수익률</dt>
                              <dd>2.56<small>%</small></dd>
                            </dl>
                            <dl>
                              <dt>기준가</dt>
                              <dd>1,452.33원</dd>
                            </dl>
                            <dl>
                              <dt>순자산</dt>
                              <dd>3억원</dd>
                            </dl>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="card-item">
                      <a href="#!">
                        <div class="card-top">
                          ${badge}
                          <p class="tit">한화코리아레전드4차산업혁명증권자투자신탁(주식)종류A</p>
                        </div>
                        <div class="card-con">
                          <div class="chart-area line">
                            <div class="chart">
                              <!-- Chart 영역 -->
                            </div>
                          </div>
      
                          <div class="info-list">
                            <dl class="txt-emphasis down">
                              <dt>3개월 수익률</dt>
                              <dd>-2.56<small>%</small></dd>
                            </dl>
                            <dl>
                              <dt>기준가</dt>
                              <dd>1,452.33원</dd>
                            </dl>
                            <dl>
                              <dt>순자산</dt>
                              <dd>3억원</dd>
                            </dl>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="card-item">
                      <a href="#!">
                        <div class="card-top">
                          ${badge}
                          <p class="tit">한화헤라클레스선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
                        </div>
                        <div class="card-con">
                          <div class="chart-area line">
                            <div class="chart">
                              <!-- Chart 영역 -->
                            </div>
                          </div>
      
                          <div class="info-list">
                            <dl class="txt-emphasis">
                              <dt>3개월 수익률</dt>
                              <dd>2.56<small>%</small></dd>
                            </dl>
                            <dl>
                              <dt>기준가</dt>
                              <dd>1,452.33원</dd>
                            </dl>
                            <dl>
                              <dt>순자산</dt>
                              <dd>3억원</dd>
                            </dl>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="card-item">
                      <a href="#!">
                        <div class="card-top">
                          ${badge}
                          <p class="tit">선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
                        </div>
                        <div class="card-con">
                          <div class="chart-area line">
                            <div class="chart">
                              <!-- Chart 영역 -->
                            </div>
                          </div>
      
                          <div class="info-list">
                            <dl class="txt-emphasis">
                              <dt>3개월 수익률</dt>
                              <dd>2.56<small>%</small></dd>
                            </dl>
                            <dl>
                              <dt>기준가</dt>
                              <dd>1,452.33원</dd>
                            </dl>
                            <dl>
                              <dt>순자산</dt>
                              <dd>3억원</dd>
                            </dl>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="card-item">
                      <a href="#!">
                        <div class="card-top">
                          ${badge}
                          <p class="tit">한화그린히어로증권자투자신탁(주식) A</p>
                        </div>
                        <div class="card-con">
                          <div class="chart-area line">
                            <div class="chart">
                              <!-- Chart 영역 -->
                            </div>
                          </div>
      
                          <div class="info-list">
                            <dl class="txt-emphasis">
                              <dt>3개월 수익률</dt>
                              <dd>2.56<small>%</small></dd>
                            </dl>
                            <dl>
                              <dt>기준가</dt>
                              <dd>1,452.33원</dd>
                            </dl>
                            <dl>
                              <dt>순자산</dt>
                              <dd>3억원</dd>
                            </dl>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="card-item">
                      <a href="#!">
                        <div class="card-top">
                          ${badge}
                          <p class="tit">한화코리아레전드4차산업혁명증권자투자신탁(주식)종류A</p>
                        </div>
                        <div class="card-con">
                          <div class="chart-area line">
                            <div class="chart">
                              <!-- Chart 영역 -->
                            </div>
                          </div>
      
                          <div class="info-list">
                            <dl class="txt-emphasis">
                              <dt>3개월 수익률</dt>
                              <dd>2.56<small>%</small></dd>
                            </dl>
                            <dl>
                              <dt>기준가</dt>
                              <dd>1,452.33원</dd>
                            </dl>
                            <dl>
                              <dt>순자산</dt>
                              <dd>3억원</dd>
                            </dl>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="card-item">
                      <a href="#!">
                        <div class="card-top">
                          ${badge}
                          <p class="tit">한화헤라클레스선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
                        </div>
                        <div class="card-con">
                          <div class="chart-area line">
                            <div class="chart">
                              <!-- Chart 영역 -->
                            </div>
                          </div>
      
                          <div class="info-list">
                            <dl class="txt-emphasis">
                              <dt>3개월 수익률</dt>
                              <dd>2.56<small>%</small></dd>
                            </dl>
                            <dl>
                              <dt>기준가</dt>
                              <dd>1,452.33원</dd>
                            </dl>
                            <dl>
                              <dt>순자산</dt>
                              <dd>3억원</dd>
                            </dl>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <div class="btn-wrap array-center">
                    ${moreBtn}
                  </div>
							  </div>
            </div>`;
            const resultInvest = 
            `<div class="result-group">
              <h3 class="tit-xlg">투자정보 <span class="count">345</span></h3>
              ${thumbList1}
            </div>`;
            const resultNews = 
            `<div class="result-group">
              <h3 class="tit-xlg">뉴스룸 <span class="count">80</span></h3>
              ${boardNews}
            </div>
            `;
            const resultPublic = 
            `<div class="result-group">
              <h3 class="tit-xlg">공시안내 <span class="count">45</span></h3>
              ${boardPublic}
            </div>
            `;
            const resultNotice = 
            `<div class="result-group">
              <h3 class="tit-xlg">공지사항 <span class="count">45</span></h3>
              ${boardNotice}
            </div>
            `;
            const resultFaq = 
            `<div class="result-group">
              <h3 class="tit-xlg">자주 묻는 질문 <span class="count">45</span></h3>
              ${boardFaq}
              <div class="btn-wrap array-center">
                ${moreBtn}
              </div>
            </div>
            `;

						-%>
						<%- include('../../components/tab.ejs', {
							active: 0,
							variant: 'line',
							tablist: ['전체 6026', '펀드상품 119', '투자정보 7', '뉴스룸 10', '공시안내 1', '공지 9', '자주 묻는 질문 1'],
							contents: [
								`<div class="result-con">
                  ${resultFund}
                  ${resultInvest}
                  ${resultNews}
                  ${resultPublic}
                  ${resultNotice}
                  ${resultFaq}
                </div>`,
								`<div class="result-con">
									${resultFund}
								</div>`,
								`<div class="result-con">
                  ${resultInvest}
								</div>`,
								`<div class="result-con">
                  ${resultNews}
								</div>`,
								`<div class="result-con">
                  ${resultPublic}
								</div>`,
								`<div class="result-con">
                  ${resultNotice}
								</div>`,
								`<div class="result-con">
                  ${resultFaq}
								</div>`,
							],
						}) -%>
          </div>
        </section>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
	</body>
</html>