<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '메인'
		}) -%>
	</head>
	<body>
		<div class="wrap page-main">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- contents -->
			<main class="contents">
				<section class="section-visual">
					<div class="swiper main-visual-swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="visual">
									<div class="inner">
										<div class="tit-wrap">
											<h2 class="tit">A Life-Long Generational Partner</h2>
											<p class="desc">탁월한 성과로 고객의 미래 성장을 지원합니다. <br/> 고객의 내일을 지키는 종합자산운용사</p>
										</div>
									</div>
									<div class="img-wrap">
										<img src="../../assets/images/main/visual-bg-01.png" alt="">
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="visual">
									<div class="inner">
										<div class="tit-wrap">
											<h2 class="tit">A Life-Long Generational Partner</h2>
											<p class="desc">탁월한 성과로 고객의 미래 성장을 지원합니다. <br/> 고객의 내일을 지키는 종합자산운용사</p>
										</div>
									</div>
									<div class="img-wrap">
										<img src="../../assets/images/main/visual-bg-01.png" alt="">
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="visual">
									<div class="inner">
										<div class="tit-wrap">
											<h2 class="tit">A Life-Long Generational Partner</h2>
											<p class="desc">탁월한 성과로 고객의 미래 성장을 지원합니다. <br/> 고객의 내일을 지키는 종합자산운용사</p>
										</div>
									</div>
									<div class="img-wrap">
										<img src="../../assets/images/main/visual-bg-01.png" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<script>
						const swiper = new Swiper(".main-visual-swiper", {
							pagination: {
								el: ".swiper-pagination",
							},
						});
					</script>
				</section>

				<section class="section-partner">
					<div class="inner">
						<div class="main-tit-wrap">
							<h2 class="tit">a visionary partner, <br/> leading excellent investment</h2>
							<p class="sub-tit">탁월한 성과를 내는 비저너리 파트너</p>
						</div>
						<div class="info-wrap">
							<div class="img-wrap">

							</div>
							<div class="txt-wrap">
								<dl>
									<dt>총 운용 자산</dt>
									<dd>116조</dd>
								</dl>
								<dl>
									<dt>국내 기관 고객</dt>
									<dd>60+</dd>
								</dl>
								<dl>
									<dt>해외 파트너</dt>
									<dd>50+</dd>
								</dl>
							</div>
						</div>
					</div>
				</section>

				<section class="section-message">
					<div class="inner">
						<h2 class="tit">one step, ahead</h2>
					</div>
				</section>

				<section class="section-business">
					<div class="inner">
						<ul class="list">
							<li class="list-item">
								<p class="tit">VC 투자</p>
								<p class="desc">
									한화자산운용 VC투자본부는 지난 10여 년간 축적된 벤처투자 운용 역량을 기반으로, 현재 약 2.3조 원 규모의 VC 자산을 운용 중인 종합자산운용사 내 최대 규모의 벤처투자 운용 조직입니다.
								</p>
							</li>
							<li class="list-item">
								<p class="tit">사모펀드</p>
								<p class="desc">
									한화자산운용 VC투자본부는 지난 10여 년간 축적된 벤처투자 운용 역량을 기반으로, 현재 약 2.3조 원 규모의 VC 자산을 운용 중인 종합자산운용사 내 최대 규모의 벤처투자 운용 조직입니다.
								</p>
							</li>
							<li class="list-item">
								<p class="tit">펀드</p>
								<p class="desc">
									한화자산운용 VC투자본부는 지난 10여 년간 축적된 벤처투자 운용 역량을 기반으로, 현재 약 2.3조 원 규모의 VC 자산을 운용 중인 종합자산운용사 내 최대 규모의 벤처투자 운용 조직입니다.
								</p>
							</li>
						</ul>
					</div>
				</section>

				<section class="section-trend">
					<div class="inner">
						<div class="cont-group motion fade-up">
							<div class="main-tit-wrap">
								<h2 class="tit">Investment Trend</h2>
							</div>
							<div class="card-list-wrap">
								<ul class="card-list">
									<li class="card-item motion fade-up" data-delay="0.1">
										<a href="#!">
											<div class="card-top">
												<%- include('../../components/badge.ejs', { 
													badgeItems: [
														{ label: '국내', variant: 'solid', color: 'domestic' },
														{ label: '주식', variant: 'solid', color: 'stock' },
														{ label: '글로벌', variant: 'solid', color: 'global' }
													]
												}) -%>
												<p class="tit">선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
											</div>
											<div class="card-con">
												<div class="chart-area line">
													<div class="chart">
														<!-- Chart 영역 -->
													</div>
												</div>
		
												<div class="info-list">
													<dl class="txt-emphasis">
														<dt>3개월 수익률</dt>
														<dd>2.56<small>%</small></dd>
													</dl>
													<dl>
														<dt>기준가</dt>
														<dd>1,452.33원</dd>
													</dl>
													<dl>
														<dt>순자산</dt>
														<dd>3억원</dd>
													</dl>
												</div>
											</div>
										</a>
									</li>
									<li class="card-item motion fade-up" data-delay="0.2">
										<a href="#!">
											<div class="card-top">
												<%- include('../../components/badge.ejs', { 
													badgeItems: [
														{ label: '국내', variant: 'solid', color: 'domestic' },
														{ label: '주식', variant: 'solid', color: 'stock' },
														{ label: '글로벌', variant: 'solid', color: 'global' }
													]
												}) -%>
												<p class="tit">한화그린히어로증권자투자신탁(주식) A</p>
											</div>
											<div class="card-con">
												<div class="chart-area line">
													<div class="chart">
														<!-- Chart 영역 -->
													</div>
												</div>
		
												<div class="info-list">
													<dl class="txt-emphasis">
														<dt>3개월 수익률</dt>
														<dd>2.56<small>%</small></dd>
													</dl>
													<dl>
														<dt>기준가</dt>
														<dd>1,452.33원</dd>
													</dl>
													<dl>
														<dt>순자산</dt>
														<dd>3억원</dd>
													</dl>
												</div>
											</div>
										</a>
									</li>
									<li class="card-item motion fade-up" data-delay="0.3">
										<a href="#!">
											<div class="card-top">
												<%- include('../../components/badge.ejs', { 
													badgeItems: [
														{ label: '국내', variant: 'solid', color: 'domestic' },
														{ label: '주식', variant: 'solid', color: 'stock' },
														{ label: '글로벌', variant: 'solid', color: 'global' }
													]
												}) -%>
												<p class="tit">한화코리아레전드4차산업혁명증권자투자신탁(주식)종류A</p>
											</div>
											<div class="card-con">
												<div class="chart-area line">
													<div class="chart">
														<!-- Chart 영역 -->
													</div>
												</div>
		
												<div class="info-list">
													<dl class="txt-emphasis">
														<dt>3개월 수익률</dt>
														<dd>2.56<small>%</small></dd>
													</dl>
													<dl>
														<dt>기준가</dt>
														<dd>1,452.33원</dd>
													</dl>
													<dl>
														<dt>순자산</dt>
														<dd>3억원</dd>
													</dl>
												</div>
											</div>
										</a>
									</li>
									<li class="card-item motion fade-up" data-delay="0.4">
										<a href="#!">
											<div class="card-top">
												<%- include('../../components/badge.ejs', { 
													badgeItems: [
														{ label: '국내', variant: 'solid', color: 'domestic' },
														{ label: '주식', variant: 'solid', color: 'stock' },
														{ label: '글로벌', variant: 'solid', color: 'global' }
													]
												}) -%>
												<p class="tit">한화헤라클레스선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)</p>
											</div>
											<div class="card-con">
												<div class="chart-area line">
													<div class="chart">
														<!-- Chart 영역 -->
													</div>
												</div>
		
												<div class="info-list">
													<dl class="txt-emphasis">
														<dt>3개월 수익률</dt>
														<dd>2.56<small>%</small></dd>
													</dl>
													<dl>
														<dt>기준가</dt>
														<dd>1,452.33원</dd>
													</dl>
													<dl>
														<dt>순자산</dt>
														<dd>3억원</dd>
													</dl>
												</div>
											</div>
										</a>
									</li>
								</ul>
								<div class="btn-wrap array-center">
									<%- include('../../components/button.ejs', {
										tag: 'a',
										label: '더보기',
										size: 'large',
										hierarchy: 'tertiary',
										addClass: 'more',
									}) -%>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section-insight">
					<div class="overlay-box-wrap">
						<div class="visual-box">
							<p class="tit-md">investment insight</p>
						</div>
						<div class="info-box">
							<ul class="news-list">
								<li class="list-item">
									<a href="#!">
										<div class="item-top">
											<p class="category">News</p>
											<p class="date">2025-10-22</p>
										</div>
										<div class="item-con">
											<p class="tit">대체 불가능한 자원, 불안정한 공급망 속 투자기회 '희토류'</p>
											<p class="desc">미• 중 패권 경쟁 속에서 희토류의 전략적 가치가 날로 부각되고 있는 가운데, 향후 수급 전망을 분석해 보았습니다. IEA(국제에너지기구) 의 분석에 따르면, 2030년까지 희토류 수요는 시나리오에 따라 연평균 5~8%의 성장률(CAGR)을 기록할 것으로 전망됩니다. 클린에너지 를 중심으로 한 견조한 수요가 지속되는 반면, 공급 측면에서는 중국 외 국가들의 공급 확대가 이루어지며, 2030년까지 중국의 채굴 점유 율은 8%p, 정제 점유율은 15%p 하락할 것으로 예상됩니다. 이처럼 중국에 대한 의존도를 점진적으로 낮추면서 공급망 안정성을 확보하 려는 글로벌 움직임은 앞으로도 이어질 수밖에 없으며, 이에 따라 희토류의 전략적 가치는 향후 더욱 부각될 가능성이 큽니다.</p>
										</div>
									</a>
								</li>
								<li class="list-item">
									<a href="#!">
										<div class="item-top">
											<p class="category">Notice</p>
											<p class="date">2025-10-22</p>
										</div>
										<div class="item-con">
											<p class="tit">배당소득 분리과세, 감액배당 혜택 받는 숨은 알짜 기업은?</p>
											<p class="desc">미• 중 패권 경쟁 속에서 희토류의 전략적 가치가 날로 부각되고 있는 가운데, 향후 수급 전망을 분석해 보았습니다. IEA(국제에너지기구) 의 분석에 따르면, 2030년까지 희토류 수요는 시나리오에 따라 연평균 5~8%의 성장률(CAGR)을 기록할 것으로 전망됩니다. 클린에너지 를 중심으로 한 견조한 수요가 지속되는 반면, 공급 측면에서는 중국 외 국가들의 공급 확대가 이루어지며, 2030년까지 중국의 채굴 점유 율은 8%p, 정제 점유율은 15%p 하락할 것으로 예상됩니다. 이처럼 중국에 대한 의존도를 점진적으로 낮추면서 공급망 안정성을 확보하 려는 글로벌 움직임은 앞으로도 이어질 수밖에 없으며, 이에 따라 희토류의 전략적 가치는 향후 더욱 부각될 가능성이 큽니다.</p>
										</div>
									</a>
								</li>
								<li class="list-item">
									<a href="#!">
										<div class="item-top">
											<p class="category">News</p>
											<p class="date">2025-10-22</p>
										</div>
										<div class="item-con">
											<p class="tit">K방산 대표기업 정말 비싸진 걸까요?</p>
											<p class="desc">미• 중 패권 경쟁 속에서 희토류의 전략적 가치가 날로 부각되고 있는 가운데, 향후 수급 전망을 분석해 보았습니다. IEA(국제에너지기구) 의 분석에 따르면, 2030년까지 희토류 수요는 시나리오에 따라 연평균 5~8%의 성장률(CAGR)을 기록할 것으로 전망됩니다. 클린에너지 를 중심으로 한 견조한 수요가 지속되는 반면, 공급 측면에서는 중국 외 국가들의 공급 확대가 이루어지며, 2030년까지 중국의 채굴 점유 율은 8%p, 정제 점유율은 15%p 하락할 것으로 예상됩니다. 이처럼 중국에 대한 의존도를 점진적으로 낮추면서 공급망 안정성을 확보하 려는 글로벌 움직임은 앞으로도 이어질 수밖에 없으며, 이에 따라 희토류의 전략적 가치는 향후 더욱 부각될 가능성이 큽니다.</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</section>

				<section class="section-banner">
					<div class="inner">
						<div class="main-tit-wrap">
							<h2 class="tit">from promise to prosperity</h2>
							<p class="desc">고객의 내일을 지키는 종합 자산운용사로 나아갑니다</p>
						</div>
					</div>
				</section>
			</main>
			<!-- // contents -->
			
			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>