<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : '통합검색'
		}) -%>
	</head>
	<body class="page-search">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container">
				<section class="section-search">
					<div class="inner">
						<div class="section-tit-wrap">
							<h2 class="tit lg">통합검색</h2>
						</div>
						<div class="search-wrap obj">
							<% const searchIcon = include('../../components/button.ejs', { variant: 'icon', label: '검색', size: 'xxlarge', icon: 'search'}); -%>
							<div class="search-con">
								<%- include('../../components/input.ejs', {
									ariaLabel: "펀드명 입력",
									size: 'xlarge',
									placeholder: '펀드명을 입력하세요',
                  value: '가나다',
									slot: searchIcon,
									addClass: 'line search'
								}) -%>
								<!-- [2026-01-05] 띄어쓰기 추가 -->
								<%- include('../../components/tag.ejs', {
									variant: 'text',
									tagList: ['# ETF', '# 월배당ETF', '# 바이오', '# ESG', '# 자산분배형', '# 개인연금'],
								}) -%>
								<!-- // [2026-01-05] 띄어쓰기 추가 -->
							</div>
						</div>
          </div>
				</section>
        <section class="section-result">
          <div class="inner">
            <div class="no-result">
              <p class="txt">입력한 키워드의 검색결과가 없습니다</p>
            </div>
          </div>
        </section>
        <section class="section-trend bg-gray">
          <div class="inner">
            <div class="cont-group">
              <div class="section-tit-wrap">
								<h2 class="tit">원하는 펀드를 못찾으셨다면,</h2>
								<p class="desc">지금 주목받는 이달의 펀드를 확인해보세요</p>
							</div>
							<%- include('../../layouts/trendList.ejs', {
								type: 'gray',
							}) -%>
            </div>
          </div>
        </section>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
	</body>
</html>