@charset "UTF-8";
@use 'sass:map';
@use "../util" as *;

//default
html{
  font-size: var(--#{$prefix}-font-size-base);
  scroll-behavior: smooth;

  &[lang="ko-KR"], &[lang="ko"]{
    font-family: $font-family-kr;
  }
}

.wrap{
  color: var(--#{$prefix}-color-text-basic);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: var(--#{$prefix}-base-line-height);
}

/* blind */
.blind, .sr-only {
    @include sr-only();
}

/* common */
.txt-center{text-align: center !important;}
.txt-left{text-align: left !important;}
.txt-right{text-align: right !important;}

.flex{display: flex;}
.justify-start{justify-content: flex-start !important;}
.justify-end{justify-content: flex-end !important;}
.justify-center{justify-content: center !important;}
.justify-between{justify-content: space-between !important;}
.align-start{align-items: flex-start !important;}
.align-end{align-items: flex-end !important;}
.align-center{align-items: center !important;}
.align-between{align-items: space-between !important;}

.flex-col{flex-direction: column !important;};
.flex-row{flex-direction: row !important;};

.fc-white{color: var(--#{$prefix}-color-text-white) !important;}
.fc-gray{color: var(var(--#{$prefix}-color-neutral-70)) !important;}

.w-full{width: 100% !important;}
.scroll-wrap{overflow-x: auto;}

.pc-only{display: flex !important;}
.tablet-only{display: none !important;}
.mobile-only{display: none !important;}
// .tablet-mobile-only{display: none !important;}

@include mq(tablet){
	// .pc-only{display: none !important;}
	.tablet-only{display: flex !important;}
	// .mobile-only{display: none !important;}
	// .tablet-mobile-only{display: flex !important;}
}
@include mq(mobile){
	.pc-only{display: none !important;}
	// .tablet-only{display: none !important;}
	.mobile-only{display: flex !important;}
	// .tablet-mobile-only{display: flex !important;}
}


//gradient line
.line-bottom {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(90deg, #FF4D32 25%, #803C4A 50%, #022A62 100%);
  }
}

.line-top {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(90deg, #FF4D32 25%, #803C4A 50%, #022A62 100%);
  }
}

//spacing
$spacing-sizes: (0, 4, 8, 12, 16, 20, 24, 32, 56);
$properties: (p: padding, m: margin);
$directions: (t: top, b: bottom, l: left, r: right);

@each $prop-key, $prop-value in $properties {
  @each $dir-key, $dir-value in $directions {
    @each $size in $spacing-sizes {
      
      .#{$prop-key}#{$dir-key}-#{$size} {
        #{$prop-value}-#{$dir-value}: calc(#{$size} * 0.1rem) !important;
      }
    }
  }
}

//gap
$gap-sizes: (0, 8, 16, 40, 80);
@each $size in $gap-sizes {
  .gap-#{$size} {
    gap: calc(#{$size} * 0.1rem) !important;
  }
}

// 타이틀 데이터 맵
$tit-sizes: (
  // "xlg": (size: 16rem, lh: 1.2),
  // "lg": (size: 12rem, lh: 1.2),
  // "md": (size: 6.4rem, lh: 1.2),
  "xxlg": (size: 6.4rem, lh: 1.1),
  "xlg": (size: 4.8rem, lh: 1.4),
  "lg": (size: 4rem, lh: 1.5),
  "md": (size: 3.2rem, lh: 1.5),
  "sm": (size: 2.8rem, lh: 1.5),
  "xsm": (size: 2.4rem, lh: 1.5),
  "xxsm": (size: 2.1rem, lh: 1.5)
);

// 본문 텍스트 데이터 맵
$txt-sizes: (
  "xxlg": (size: 4rem, lh: 1.5),
  "xlg": (size: 3.2rem, lh: 1.4),
  "lg": (size: 2.4rem, lh: 1.5),
  "md": (size: 2.1rem, lh: 1.5),
  "sm": (size: 1.8rem, lh: 1.5),
  "xsm": (size: 1.6rem, lh: 1.5),
  "xxsm": (size: 1.5rem, lh: 1.5),
);

// 폰트 웨이트 변수
$fw-sizes: (
  "el": 100,  //ExtraLight
  "sl": 200, //SemiLight
  "l": 300, //Light
  "r": 400, //Regular
  "m": 500, //Medium
  "sb": 600, //SemiBold
  "b": 700, //Bold
  "eb": 800, //ExtraBold
  "hb": 900 //HeavyBold
);

// 타이틀 클래스 생성
@each $name, $props in $tit-sizes {
  .tit-#{$name} {
    font-size: map.get($props, size);
    line-height: map.get($props, lh);
		font-weight: 700;
		color: #151414;
  }
}

.tit-sm{
	small{
		font-size: 1.6rem;
		font-weight: 400;
		color: #757070;
	}
}

// 본문 텍스트 클래스 생성
@each $name, $props in $txt-sizes {
  .txt-#{$name} {
    font-size: map.get($props, size);
    line-height: map.get($props, lh);
  }
}

@each $name, $weight in $fw-sizes {
  .fw-#{$name} {
    font-weight: $weight !important;
  }
}

.txt-en{font-family: $font-family-en; font-weight: 400;}
.txt-gradient{
  width: fit-content;
  background: var(--#{$prefix}-color-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@include mq(mobile) {
  // 1. 모바일에서 사용할 맵을 '새로운 변수명'으로 정의합니다.
  // [중요] PC 버전에 있던 모든 키(xsm, xxsm 등)에 대한
  // 모바일 값을 정의해야 PC 크기가 상속되지 않습니다.
  $tit-sizes-mobile: (
    "xxlg": (size: 4rem, lh: 1.2),
    "xlg": (size: 3.2rem, lh: 1.5),
    "lg": (size: 2.8rem, lh: 1.5),
    "md": (size: 2.8rem, lh: 1.5),
    "sm": (size: 2.4rem, lh: 1.5),
    // "xsm": (size: 2.1rem, lh: 1.5), 
    // "xxsm": (size: 1.8rem, lh: 1.5) 
  );

  // 2. 모바일 본문 텍스트 맵도 모두 정의합니다.
  $txt-sizes-mobile: (
    // "xxlg": (size: 3.2rem, lh: 1.5), 
    // "xlg": (size: 2.8rem, lh: 1.4), 
    "lg": (size: 2.1rem, lh: 1.5),
    // "md": (size: 1.8rem, lh: 1.5), 
    // "sm": (size: 1.6rem, lh: 1.5), 
    // "xsm": (size: 1.5rem, lh: 1.5), 
    // "xxsm": (size: 1.4rem, lh: 1.5) 
  );

  @each $name, $props in $tit-sizes-mobile {
    .tit-#{$name} {
      font-size: map.get($props, size);
      line-height: map.get($props, lh);
    }
  }

  @each $name, $props in $txt-sizes-mobile {
    .txt-#{$name} {
      font-size: map.get($props, size);
      line-height: map.get($props, lh);
    }
  }
}