@charset "UTF-8";
@use "../util" as *;

//default
html{
    // font-size: $body-fz;
    font-size: 62.5%;
    font-weight: 400;
    line-height: $base-line-height;
    color: $base-color;

    &[lang="ko-KR"], &[lang="ko"]{
        font-family: $font-family-ko;
    }
}

/* blind */
.blind, .sr-only {
    @include sr-only();
}

/* common */
.txt-al-center{text-align: center !important;}
.txt-al-left{text-align: left !important;}
.txt-al-right{text-align: right !important;}

.pc-only{display: block !important;}
.mo-only{display: none !important;}

.flex{display: flex;}
.justify-start{justify-content: flex-start !important;}
.justify-end{justify-content: flex-end !important;}
.justify-center{justify-content: center !important;}
.justify-between{justify-content: space-between !important;}
.align-start{align-items: flex-start !important;}
.align-end{align-items: flex-end !important;}
.align-center{align-items: center !important;}
.align-between{align-items: space-between !important;}

.flex-col{flex-direction: column !important;};
.flex-row{flex-direction: row !important;};

.fc-white{color: #fff !important;}
.fc-gray{color: #514E4D !important;}