@charset "UTF-8";
@use "../util" as *;

//default
html{
    // font-size: $body-fz;
    font-size: 62.5%;
    font-weight: 400;
    line-height: $base-line-height;
    color: $base-color;

    &[lang="ko-KR"], &[lang="ko"]{
        font-family: $font-family-ko;
    }
}

/* blind */
.blind, .sr-only {
    @include sr-only();
}

/* common */
.txt-al-center{text-align: center !important;}
.txt-al-left{text-align: left !important;}
.txt-al-right{text-align: right !important;}

.pc-only{display: block !important;}
.mo-only{display: none !important;}

.flex{display: flex;}
.flex-end{@include flex-layout($jc: 'flex-end !important');}
.flex-center{@include flex-layout($jc: 'center !important');}
.flex-start{@include flex-layout($jc: 'flex-start !important');}
.flex-between{@include flex-layout($jc: 'space-between !important');}

.flex-column{flex-direction: column !important;};

.fc-white{color: #fff !important;}