@charset "UTF-8";
@use 'sass:map';
@use "../util" as *;

//default
html{
  font-size: var(--#{$prefix}-font-size-base);
  scroll-behavior: smooth;

  &[lang="ko-KR"], &[lang="ko"]{
    font-family: $font-family-kr;
  }
}

.wrap{
  color: var(--#{$prefix}-color-text-basic);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: var(--#{$prefix}-base-line-height);
}

/* blind */
.blind, .sr-only {
    @include sr-only();
}

/* common */
.txt-center{text-align: center !important;}
.txt-left{text-align: left !important;}
.txt-right{text-align: right !important;}

.flex{display: flex;}
.justify-start{justify-content: flex-start !important;}
.justify-end{justify-content: flex-end !important;}
.justify-center{justify-content: center !important;}
.justify-between{justify-content: space-between !important;}
.align-start{align-items: flex-start !important;}
.align-end{align-items: flex-end !important;}
.align-center{align-items: center !important;}
.align-between{align-items: space-between !important;}

.flex-col{flex-direction: column !important;};
.flex-row{flex-direction: row !important;};

.fc-white{color: var(--#{$prefix}-color-text-white) !important;}
.fc-gray{color: var(var(--#{$prefix}-color-gray-70)) !important;}
.fc-red{color: #F94339 !important;}
.fc-primary{color: var(--#{$prefix}-color-text-primary-dark) !important;}
.fc-black{color: var(--#{$prefix}-color-text-basic) !important;}

.w-full{width: 100% !important;}
.scroll-wrap{overflow-x: auto;}

.pc-only{display: flex !important;}
.tablet-only{display: none !important;}
.pc-tablet-only{display: flex !important;}
.tablet-small-only{display: none !important;}
.mobile-only{display: none !important;}
// .tablet-mobile-only{display: none !important;}

@include mq(tablet){
	.pc-only{display: none !important;}
	.tablet-only{display: flex !important;}
	// .mobile-only{display: none !important;}
	// .tablet-mobile-only{display: flex !important;}
}
@include mq(tablet-small){
	.pc-tablet-only{display: flex !important;}
	.pc-only{display: none !important;}
	.tablet-small-only{display: flex !important;}
	// .mobile-only{display: none !important;}
	// .tablet-mobile-only{display: flex !important;}
}
@include mq(mobile){
	.pc-tablet-only{display: none !important;}
	.pc-only{display: none !important;}
	// .tablet-only{display: none !important;}
	.mobile-only{display: flex !important;}
	// .tablet-mobile-only{display: flex !important;}
}


//gradient line
.line-bottom {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(90deg, #FF4D32 25%, #803C4A 50%, #022A62 100%);
  }
}

.line-top {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(90deg, #FF4D32 25%, #803C4A 50%, #022A62 100%);
  }
}

//spacing
$spacing-sizes: (0, 4, 8, 12, 16, 20, 24, 32, 56);
$properties: (p: padding, m: margin);
$directions: (t: top, b: bottom, l: left, r: right);

@each $prop-key, $prop-value in $properties {
  @each $dir-key, $dir-value in $directions {
    @each $size in $spacing-sizes {
      
      .#{$prop-key}#{$dir-key}-#{$size} {
        #{$prop-value}-#{$dir-value}: calc(#{$size} * 0.1rem) !important;
      }
    }
  }
}

//gap
$gap-sizes: (0, 8, 16, 24, 40, 80);
@each $size in $gap-sizes {
  .gap-#{$size} {
    gap: calc(#{$size} * 0.1rem) !important;
  }
}