@charset "UTF-8";

:root {
  //default 변수
  --text-body-default: 14px;

  //line-height
  --base-line-height: 1.4;

  //color
  --gray-100: #f7f9fa;
  --gray-200: #eff2f4;
  --gray-300: #dfe2e5;
  --gray-400: #b5b9bc;
  --gray-500: #959799;
  --gray-600: #636566;
  --gray-700: #474747;
  --gray-800: #313233;
  --gray-900: #19191a;

  --orange-100: #fcf2e6;
  --orange-500: #f58220;

  --blue-100: #e1ebff;
  --blue-500: #4789e5;

  --red-500: #e05c60;

  //background color
  --color-background: var(--gray-100); /* 기본 배경, 테이블 헤더, 요약 영역 */
  --color-background-banner: var(--orange-100); /* 배너 배경 */
  --color-background-highlight: var(--blue-100); /* 하이라이트 배경 */

  //text color
  --color-text-title: var(--gray-900); /* 가장 중요한 제목 */
  --color-text-base: var(--gray-800); /* 기본 텍스트 */
  --color-text-body: var(--gray-700); /* 본문 텍스트 */
  --color-text-light: var(--gray-600); /* 부드러운 텍스트 (회색) */
  --color-text-lighter: var(--gray-500); /* 보조, 정보 텍스트 (더 연한 회색) */
  --color-text-primary: var(--orange-500); /* 강조 텍스트 */
  --color-text-red: var(--red-500);
  --color-text-blue: var(--blue-500);

  //border color
  --color-border: var(--gray-200); /* 연한 경계선, 구분선 */
  --color-border-dark: var(--gray-300); /* 조금 더 진한 구분선 */

  --color-list-bullet: var(--gray-400); /* 리스트 불릿(bullet) 등 */
}
