@charset "UTF-8";
@use "../util/variables" as *;
@use "../util/breakpoints" as *;

:root {
  // base
  --#{$prefix}-font-size-base: 62.5%;
  --#{$prefix}-base-line-height: 1.5;

  // content
  --#{$prefix}-content-width: 130rem;
  --#{$prefix}-content-width-large: 168rem;
  --#{$prefix}-content-padding-x: 4rem;
  --#{$prefix}-content-wrap-width: calc(var(--#{$prefix}-content-width) + var(--#{$prefix}-content-padding-x) * 2);
  --#{$prefix}-content-wrap-width-large: calc(var(--#{$prefix}-content-width-large) + var(--#{$prefix}-content-padding-x) * 2);

  // font-size (pc)
  --#{$prefix}-font-size-en-display-large: 16rem;
  --#{$prefix}-font-size-en-display-medium: 12rem;
  --#{$prefix}-font-size-en-display-small: 9.6rem;

  --#{$prefix}-font-size-title-xxlarge: 6.4rem;
  --#{$prefix}-font-size-title-xlarge: 4.8rem;
  --#{$prefix}-font-size-title-large: 4rem;
  --#{$prefix}-font-size-title-medium: 3.2rem;
  --#{$prefix}-font-size-title-small: 2.8rem;
  --#{$prefix}-font-size-title-xsmall: 2.4rem;
  --#{$prefix}-font-size-title-xxsmall: 2.1rem;

  --#{$prefix}-font-size--body-xxlarge: 4rem;
  --#{$prefix}-font-size--body-xlarge: 3.2rem;
  --#{$prefix}-font-size--body-large: 2.4rem;
  --#{$prefix}-font-size--body-medium: 2.1rem;
  --#{$prefix}-font-size--body-small: 1.8rem;
  --#{$prefix}-font-size--body-xsmall: 1.6rem;
  --#{$prefix}-font-size--body-xxsmall: 1.5rem;
  --#{$prefix}-font-size--body-xxxsmall: 1.4rem;

  --#{$prefix}-font-size-label-large: 1.8rem;
  --#{$prefix}-font-size-label-medium: 1.6rem;
  --#{$prefix}-font-size-label-small: 1.5rem;

  // radius
  --#{$prefix}-radius-medium: 0.2rem;
  --#{$prefix}-radius-large: 0.4rem;
  --#{$prefix}-radius-max: 100rem;

  // icon-size
  --#{$prefix}-icon-size-xsmall: 1.2rem;
  --#{$prefix}-icon-size-small: 1.4rem;
  --#{$prefix}-icon-size-medium: 1.6rem;
  --#{$prefix}-icon-size-large: 2rem;
  --#{$prefix}-icon-size-xlarge: 2.4rem;
  --#{$prefix}-icon-size-xxlarge: 4rem;
  --#{$prefix}-icon-size-xxxlarge: 4.8rem;

  // transition
  --#{$prefix}-transition-base: 0.4s ease-in-out;

  // color
  --#{$prefix}-color-gray-5: #F5F4F4;
  --#{$prefix}-color-gray-10: #E6E5E5;
  --#{$prefix}-color-gray-20: #D7D5D5;
  --#{$prefix}-color-gray-30: #C3C1C1;
  --#{$prefix}-color-gray-40: #969292;
  --#{$prefix}-color-gray-50: #757070;
  --#{$prefix}-color-gray-60: #605C5C;
  --#{$prefix}-color-gray-70: #494646;
  --#{$prefix}-color-gray-80: #272626;
  --#{$prefix}-color-gray-90: #151414;

  --#{$prefix}-color-sub-5: #f3f2f1;
  --#{$prefix}-color-sub-10: #e7e5e4;
  --#{$prefix}-color-sub-20: #dcd8d6;
  --#{$prefix}-color-sub-30: #c7c1bd;
  --#{$prefix}-color-sub-40: #A19187;
  --#{$prefix}-color-sub-50: #A19187;
  --#{$prefix}-color-sub-60: #685950;
  --#{$prefix}-color-sub-70: #51453D;
  --#{$prefix}-color-sub-80: #2C2320;
  --#{$prefix}-color-sub-90: #1A140F;

  --#{$prefix}-color-orange-lighter: #feeae1;
  --#{$prefix}-color-orange-light: #ffcdb8;
  --#{$prefix}-color-orange-base: #fe5b16;
  --#{$prefix}-color-orange-dark: #f54500;
  --#{$prefix}-color-brown-base: #030303;
  --#{$prefix}-color-navy-base: #02204b;
  --#{$prefix}-color-white: #ffffff;
  --#{$prefix}-color-black: #000000;

  --#{$prefix}-color-change-up: #ee0f07;
  --#{$prefix}-color-change-up-dark: #f65565;
  --#{$prefix}-color-change-down: #0a6beb;
  --#{$prefix}-color-change-down-dark: #3485fa;

  --#{$prefix}-color-point-darkblue: #063874;
  --#{$prefix}-color-point-darkorange: #d76800;
  --#{$prefix}-color-point-darkred: #bc271f;

  --#{$prefix}-color-gradient-text: linear-gradient(90deg, #ff5532 0%, #04021e 100%);
  --#{$prefix}-color-gradient-text-dark: ;
  --#{$prefix}-color-gradient-line: linear-gradient(90deg, #ff4d32 25%, #803c4a 50%, #022a62 100%);
  --#{$prefix}-color-gradient-bg: linear-gradient(90deg, rgba(223, 188, 165, 0) 0%, rgba(244, 178, 134, 0.7) 100%);

	//tag-color
	--#{$prefix}-color-tag-point-bright-red: #F94339;
	--#{$prefix}-color-tag-point-vivid-orange: #FF8401;
	--#{$prefix}-color-tag-point-violet: #8347EB;

  // text-color
  --#{$prefix}-color-text-strong: var(--#{$prefix}-color-gray-90); //#151414
  --#{$prefix}-color-text-basic: var(--#{$prefix}-color-gray-80); //#272626
  --#{$prefix}-color-text-subtle: var(--#{$prefix}-color-gray-70); //#494646
  --#{$prefix}-color-text-subtler: var(--#{$prefix}-color-gray-50); //#757070
  --#{$prefix}-color-text-primary: var(--#{$prefix}-color-orange-base); //#fe5b16
  --#{$prefix}-color-text-primary-dark: var(--#{$prefix}-color-orange-dark); //#F54500
  --#{$prefix}-color-text-white: var(--#{$prefix}-color-white); //#fff

  --#{$prefix}-color-text-disabled: #b1b8be;
  --#{$prefix}-color-text-disabled-on: #8a949e;

  /* --#{$prefix}-color-text-subtle-inverse: #b1b8be; */
  /* --#{$prefix}-color-text-point: #ab2b36;
--#{$prefix}-color-text-danger: #bd2c0f;
--#{$prefix}-color-text-warning: #8a5c00;
--#{$prefix}-color-text-success: #267337;
--#{$prefix}-color-text-information: #096ab3; */

  // input
  --#{$prefix}-color-input-surface: #ffffff;
  --#{$prefix}-color-input-surface-disabled: #E6E5E5;
  --#{$prefix}-color-input-surface-gray: var(--#{$prefix}-color-sub-80); //#2C2320
  --#{$prefix}-color-input-border: #C3C1C1;
  --#{$prefix}-color-input-border-active: #FE5B16;
  --#{$prefix}-color-input-border-disabled: #C3C1C1;
  --#{$prefix}-color-input-border-error: #E81311;

  // button
  --#{$prefix}-color-button-primary-fill: var(--#{$prefix}-color-orange-dark); //#f54500
  --#{$prefix}-color-button-primary-fill-hover: #8a240f;
  --#{$prefix}-color-button-primary-fill-pressed: #8a240f;
  --#{$prefix}-color-button-secondary-fill: #fcebe4;
  --#{$prefix}-color-button-secondary-fill-hover: #f4c0a9;
  --#{$prefix}-color-button-secondary-fill-pressed: #f4c0a9;
  --#{$prefix}-color-button-secondary-border: #f4c0a9;
  --#{$prefix}-color-button-tertiary-fill: #f3f2f1;
  --#{$prefix}-color-button-tertiary-fill-hover: #ddd;
  --#{$prefix}-color-button-tertiary-fill-pressed: #ddd;
  --#{$prefix}-color-button-black-fill: var(--#{$prefix}-color-sub-80); //#2C2320
  --#{$prefix}-color-button-black-fill-hover: var(--#{$prefix}-color-gray-90); //#151414
  --#{$prefix}-color-button-black-fill-pressed: var(--#{$prefix}-color-gray-90); //#151414
  --#{$prefix}-color-button-disabled-fill: var(--#{$prefix}-color-sub-30); //#C7C1BD
  --#{$prefix}-color-button-disabled-border: var(--#{$prefix}-color-sub-30); //#C7C1BD

  --#{$prefix}-color-button-text-fill: #ffffff00; // transparent
  --#{$prefix}-color-button-text-fill-hover: #f5f5f5;
  --#{$prefix}-color-button-text-fill-pressed: transparent;
  --#{$prefix}-color-button-text-disabled: var(--#{$prefix}-color-text-white); //#ffffff
  --#{$prefix}-color-button-text-disabled-on: #8a949e;


	@include mq(mobile){
		--#{$prefix}-content-padding-x: 1.6rem;

    //font-size
    // --#{$prefix}-font-size-en-display-large: 16rem;
    // --#{$prefix}-font-size-en-display-medium: 12rem;
    // --#{$prefix}-font-size-en-display-small: 9.6rem;

    --#{$prefix}-font-size-title-xxlarge: 4rem;
    --#{$prefix}-font-size-title-xlarge: 3.2rem;
    --#{$prefix}-font-size-title-large: 2.8rem;
    --#{$prefix}-font-size-title-medium: 2.8rem;
    --#{$prefix}-font-size-title-small: 2.4rem;
    // --#{$prefix}-font-size-title-xsmall: 2.4rem;
    // --#{$prefix}-font-size-title-xxsmall: 2.1rem;

    // --#{$prefix}-font-size--body-xxlarge: 4rem;
    // --#{$prefix}-font-size--body-xlarge: 3.2rem;
    --#{$prefix}-font-size--body-large: 2.1rem;
    // --#{$prefix}-font-size--body-medium: 2.1rem;
    // --#{$prefix}-font-size--body-small: 1.8rem;
    // --#{$prefix}-font-size--body-xsmall: 1.6rem;
    // --#{$prefix}-font-size--body-xxsmall: 1.5rem;
    // --#{$prefix}-font-size--body-xxxsmall: 1.4rem;
	}
}
