@charset "UTF-8";
@use "../util" as *;

$fonts-style-kr: ( Thin: 100, ExtraLight: 200, Light: 300, Regular: 400, Medium: 500, SemiBold: 600, Bold: 700, ExtraBold: 800, Black: 900);
$fonts-style-en: ( XLight: 200, Light: 300, Regular: 400, Medium: 500, Bold: 700, XBold: 800, Black: 900, XBlack: 900);
$fonts-style-hanwha: ( L: 300, R: 400,);

@each $font, $weight in $fonts-style-kr {
  $font-name: $font-kr;
  @font-face {
    @include font( #{$font-name}, "#{$font-name}-#{$font}", ("opentype", "truetype"), #{$weight} );
  }
}

@each $font, $weight in $fonts-style-hanwha {
  $font-name: $font-hanwha;
  @font-face {
    @include font( #{$font-name}, "#{$font-name}#{$font}", ("truetype"), #{$weight} );
  }
}

@each $font, $weight in $fonts-style-en {
  $font-name: $font-en;
  @font-face {
    @include font( #{$font-name}, "#{$font-name}-#{$font}", "opentype", #{$weight} );
  }
}

@each $font, $weight in $fonts-style-en {
  $font-name: $font-en;
  @font-face {
    @include font( #{$font-name}, "#{$font-name}-#{$font}", "opentype", #{$weight}, italic );
  }
}