@use "sass:map";
@use "../util" as *;

/* 셀렉트 */
// 사이즈 정의
$form-select-variants: (
  box: (
    small: (
      size-height: 4rem,
      icon-size: var(--#{$prefix}-icon-size-small),
      option-icon-size: 1.6rem,
      option-padding: 0.8rem,
      radius: var(--#{$prefix}-radius-medium),
      pc-font-size: var(--#{$prefix}-pc-font-size-label-small),
      tablet-font-size: var(--#{$prefix}-tablet-font-size-label-small),
      mobile-font-size: var(--#{$prefix}-mobile-font-size-label-small),
    ),
    medium: (
      size-height: 4.8rem,
      icon-size: var(--#{$prefix}-icon-size-medium),
      option-icon-size: 2rem,
      option-padding: 1rem,
      radius: var(--#{$prefix}-radius-medium),
      pc-font-size: var(--#{$prefix}-pc-font-size-label-medium),
      tablet-font-size: var(--#{$prefix}-tablet-font-size-label-medium),
      mobile-font-size: var(--#{$prefix}-mobile-font-size-label-medium),
    ),
    large: (
      size-height: 5.6rem,
      icon-size: var(--#{$prefix}-icon-size-large),
      option-icon-size: 2.4rem,
      option-padding: 1.2rem,
      radius: var(--#{$prefix}-radius-medium),
      pc-font-size: var(--#{$prefix}-pc-font-size-label-large),
      tablet-font-size: var(--#{$prefix}-tablet-font-size-label-large),
      mobile-font-size: var(--#{$prefix}-mobile-font-size-label-large),
    ),
  ),
  text: (
    small: (
      icon-size: 1.6rem,
      option-icon-size: 1.6rem,
      pc-font-size: 1.5rem,
      tablet-font-size: 1.5rem,
      mobile-font-size: 1.5rem,
    ),
    medium: (
      icon-size: 1.8rem,
      option-icon-size: 2rem,
      pc-font-size: 1.6rem,
      tablet-font-size: 1.6rem,
      mobile-font-size: 1.6rem,
    ),
    large: (
      icon-size: 2rem,
      option-icon-size: 2.4rem,
      pc-font-size: 1.8rem,
      tablet-font-size: 1.8rem,
      mobile-font-size: 1.8rem,
    ),
    xlarge: (
      icon-size: 2.4rem,
      option-icon-size: 3.2rem,
      pc-font-size: 3.2rem,
      tablet-font-size: 3.2rem,
      mobile-font-size: 3.2rem,
    ),
  ),
);

// 컬러 정의
@mixin form-select-color-variable() {
  --#{$prefix}-form-select--icon-color-background: var(--#{$prefix}-color-icon-gray);
  --#{$prefix}-form-select--icon-color-background-readonly: var(--#{$prefix}-color-icon-disabled-on);
  --#{$prefix}-form-select--icon-color-background-disabled: var(--#{$prefix}-color-icon-disabled-on);

  --#{$prefix}-form-select--color-text: var(--#{$prefix}-color-text-disabled);
  --#{$prefix}-form-select--color-text-active: var(--#{$prefix}-color-text-basic);
  --#{$prefix}-form-select--color-text-completed: var(--#{$prefix}-color-text-subtle);
  --#{$prefix}-form-select--color-text-disabled: var(--#{$prefix}-color-text-disabled-on);
  --#{$prefix}-form-select--color-text-readonly: var(--#{$prefix}-color-text-subtle);
  --#{$prefix}-form-select--color-text-error: var(--#{$prefix}-color-text-subtle);

  --#{$prefix}-form-select--color-background: #F3F2F1;;
  --#{$prefix}-form-select--color-background-readonly: var(--#{$prefix}-color-input-surface-disabled);
  --#{$prefix}-form-select--color-background-disabled: var(--#{$prefix}-color-input-surface-disabled);
  --#{$prefix}-form-select--color-background-error: var(--#{$prefix}-color-input-surface);

  --#{$prefix}-form-select--color-border: var(--#{$prefix}-color-input-border);
  --#{$prefix}-form-select--color-border-active: var(--#{$prefix}-color-input-border-active);
  --#{$prefix}-form-select--color-border-readonly: var(--#{$prefix}-color-input-border-disabled);
  --#{$prefix}-form-select--color-border-disabled: var(--#{$prefix}-color-input-border-disabled);
  --#{$prefix}-form-select--color-border-error: var(--#{$prefix}-color-input-border-error);

  --#{$prefix}-form-select-listbox--color-text: var(--#{$prefix}-color-text-basic);
  --#{$prefix}-form-select-listbox--color-text-selected: var(--#{$prefix}-color-text-primary);
  --#{$prefix}-form-select-listbox--color-border: var(--#{$prefix}-color-border-neutral-light);
  --#{$prefix}-form-select-listbox--color-background: #fff;
  --#{$prefix}-form-select-listbox--shadow-start: var(--#{$prefix}-color-alpha-shadow1);
  --#{$prefix}-form-select-listbox--shadow-end: var(--#{$prefix}-color-alpha-shadow2);

  --#{$prefix}-form-select-listbox-option--color-background: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-form-select-listbox-option--color-background-hover: var(--#{$prefix}-color-action-neutral-hover);
  --#{$prefix}-form-select-listbox-option--color-background-pressed: var(--#{$prefix}-color-action-neutral-pressed);
  --#{$prefix}-form-select-listbox-option--color-background-selected: var(--#{$prefix}-color-action-transparency);

  //text
  --#{$prefix}-form-select-text--color-background: transparent;
  --#{$prefix}-form-select-text--color-background-hover: var(--#{$prefix}-color-action-primary-hover);
  --#{$prefix}-form-select-text--color-background-pressed: var(--#{$prefix}-color-action-primary-pressed);
  --#{$prefix}-form-select-text--color-text: var(--#{$prefix}-color-text-basic);
  --#{$prefix}-form-select-text--color-text-white: var(--#{$prefix}-color-text-white);

  --#{$prefix}-form-select-text-listbox-option--color-background-hover: var(--#{$prefix}-color-action-primary-hover);
  --#{$prefix}-form-select-text-listbox-option--color-background-pressed: var(--#{$prefix}-color-action-primary-pressed);
}

@mixin generate-css-variables($config, $variant-prefix) {
  @each $size, $types in $config {
    @each $type, $value in $types {
      // css variable 생성
      --#{$prefix}-#{$variant-prefix}--#{$type}-#{$size}: #{$value};
    }
  }
}

.form-select {
  $box-config: map.get($form-select-variants, "box");
  $text-config: map.get($form-select-variants, "text");

  @include generate-css-variables($box-config, "form-select");
  @include generate-css-variables($text-config, "form-select-text");
  @include form-select-color-variable();

  --#{$prefix}-form-select--padding-default: 1.6rem;
  --#{$prefix}-form-select-listbox-option--padding-default: 1.2rem;
  --#{$prefix}-form-select--border-width-focus: 0.1rem;

  --#{$prefix}-form-select-underline--padding-default: 0.4rem;

  --#{$prefix}-form-select-text--padding-default: 0.8rem;
  --#{$prefix}-form-select-text--radius: 0.2rem;

  & {
    position: relative;
    border: 0.1rem solid var(--#{$prefix}-form-select--color-border);
    padding: 0 var(--#{$prefix}-form-select--padding-default);
    color: var(--#{$prefix}-form-select--color-text);
    transition: var(--#{$prefix}-transition-base);
    cursor: pointer;
    background-color: var(--#{$prefix}-form-select--color-background);

    .select-button {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      width: 100%;
      height: 100%;
      color: inherit;
      text-align: left;

      &::after{
        content: '';
        display: block;
        flex-shrink: 0;
        margin-left: auto;
        @include square(2rem);
        @include icon-set(angle);
        background-color: currentColor;
        // transition: var(--#{$prefix}-transition-base);
      }

      .select-value {
        @include ellipsis(1);
        width: 100%;
        color: var(--#{$prefix}-form-select--color-text-completed);

        &.placeholder {
          color: var(--#{$prefix}-form-select--color-text);
        }
      }
    }

    // .ui-select {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    // }

    .select-listbox {
      overflow-y: auto;
      position: absolute;
      left: 0;
      top: calc(100% + var(--#{$prefix}-form-select--border-width-focus));
      z-index: 10;
      padding: 0.8rem;
      width: 100%;
      color: var(--#{$prefix}-form-select-listbox--color-text);
      background-color: var(--#{$prefix}-form-select-listbox--color-background);
      border: 0.1rem solid var(--#{$prefix}-form-select-listbox--color-border);
      border-radius: 0.2rem;
      box-shadow: 0 0 0.2rem 0 var(--#{$prefix}-form-select-listbox--shadow-start), 0 0.4rem 0.8rem 0 var(--#{$prefix}-form-select-listbox--shadow-end);

      .select-option {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;

        &::after {
          content: "";
          display: block;
          flex-shrink: 0;
          margin-left: auto;
          @include icon-set(checkbox-checked);
          background-color: #ddd;
        }

        &[aria-selected="true"] {
          color: var(--#{$prefix}-form-select-listbox--color-text-selected);
          font-weight: 700;
          background-color: var(--#{$prefix}-form-select-listbox-option--color-background-selected);

          &::after {
            background-color: currentColor;
            // background-color: var(--#{$prefix}-form-select-listbox--color-text-selected);
          }
        }
        &:focus {
          border: var(--#{$prefix}-form-select--border-width-focus) solid var(--#{$prefix}-form-select--color-border-active);
          outline-width: 0;
          box-shadow: none;
          background-color: var(--#{$prefix}-form-select-listbox-option--color-background);
        }
        &:hover {
          background-color: var(--#{$prefix}-form-select-listbox-option--color-background-hover);
        }
        &:active {
          background-color: var(--#{$prefix}-form-select-listbox-option--color-background-pressed);
        }
      }
    }

    &.ico-plus{
      .select-button::after{
        @include icon-set(plus);
      }
    }

    &.gray{
      color: var(--#{$prefix}-color-text-white);
      background-color: var(--#{$prefix}-color-input-surface-gray);

      .select-button{
        .select-value{
          color: inherit;
        }
      }

      &:focus,
      &:focus-within,
      &.focus {
        color: #fff;

        .select-button {
          .select-value {
            color: #fff;
          }
        }
      }

      &.completed {
        color: #fff;
      }
    }
  }

  // --- Variant: box (기본 스타일) ---
  @each $size, $types in $box-config {
    &.#{$size} {
      height: map.get($types, "size-height");
      border-radius: map.get($types, "radius");
      font-size: map.get($types, pc-font-size);

      @include mq(tablet) {
        font-size: map.get($types, tablet-font-size);
      }
      @include mq(mobile) {
        font-size: map.get($types, mobile-font-size);
      }

      .select-button::after {
        @include square(map.get($types, "icon-size"));
      }

      .select-listbox {
        --form-select-listbox-max-height: calc(map.get($types, size-height) * var(--form-select-listbox-option-length) + map.get($types, "option-padding") * 2);
        max-height: var(--form-select-listbox-max-height);

        .select-option {
          padding: map.get($types, "option-padding");
          border-radius: map.get($types, "radius");

          &::after {
            @include square(map.get($types, "icon-size"));
          }
        }
      }
    }
  }

  &:focus,
  &:focus-within,
  &.focus {
    border-color: var(--#{$prefix}-form-select--color-border-active);
    border-width: var(--#{$prefix}-form-select--border-width-focus);
    outline: none;
    box-shadow: none;
    color: var(--#{$prefix}-form-select--color-text-active);

    .select-button {
      &::after {
        background-color: currentColor;
      }

      .select-value {
        // color: var(--#{$prefix}-form-select--color-text-active);
        color: inherit;

      }
    }
  }

  &.completed {
    color: var(--#{$prefix}-form-select--color-text-completed);
  }

  &.is-error {
    border-color: var(--#{$prefix}-form-select--color-border-error);
    border-width: var(--#{$prefix}-form-select--border-width-focus);
  }

  &[disabled],
  &.disabled {
    @include icon-set(angle-disabled, $effect: pure);

    background-color: var(--#{$prefix}-form-select--color-background-disabled) !important;
    border-color: var(--#{$prefix}-form-select--color-border-disabled);
    color: var(--#{$prefix}-form-select--color-text-disabled);
    cursor: default;

    .select-button {
      cursor: default;

      &::after{
        background-color: currentColor;
      }

      .select-value {
        color: inherit;
        // color: var(--#{$prefix}-form-select--color-text-disabled);
      }
    }
  }

  &[readonly],
  &.readonly {
    @include icon-set(angle-disabled, $effect: pure);

    background-color: var(--#{$prefix}-form-select--color-background-disabled) !important;
    border-color: var(--#{$prefix}-form-select--color-border-disabled);
    color: var(--#{$prefix}-form-select--color-text-readonly);
    cursor: default;

    .select-button {
      cursor: default;

      &::after{
        background-color: currentColor;
      }

      .select-value {
        color: inherit;
        // color: var(--#{$prefix}-form-select--color-text-readonly);
      }
    }
  }

  // --- Variant: outline (라인 스타일) ---
  &.outline {
    background-color: var(--#{$prefix}-color-input-surface);
    border: 0.1rem solid var(--#{$prefix}-color-neutral-30);

    &:focus,
    &:focus-within,
    &.focus {
      border-color: var(--#{$prefix}-form-select--color-border-active);
      // border-width: var(--#{$prefix}-form-select--border-width-focus);
    }

    &.is-error {
      border-color: var(--#{$prefix}-form-select--color-border-error);
      // border-width: var(--#{$prefix}-form-select--border-width-focus);
    }

    &[readonly],
    &.readonly {
      border-color: var(--#{$prefix}-form-select--color-border-disabled);
    }
  }

  //--- Variant: text ---
  &.text {
    width: fit-content;
    padding: 0 var(--#{$prefix}-form-select--padding-text-default);
    background-color: var(--#{$prefix}-form-select-text--color-background) !important;
    border: none;
    color: var(--#{$prefix}-form-select-text--color-text);

    @each $size, $types in $text-config {
      &.#{$size} {
        height: auto;
        border-radius: 0;

        font-size: map.get($types, pc-font-size);

        @include mq(tablet) {
          font-size: map.get($types, tablet-font-size);
        }
        @include mq(mobile) {
          font-size: map.get($types, mobile-font-size);
        }

        .select-listbox {
          --form-select-text-listbox-max-height: calc(map.get($types, "size-height") * var(--form-select-listbox-option-length) + map.get($types, "option-padding") * 2);

          max-height: var(--form-select-text-listbox-max-height);

          .select-option {
            padding: map.get($types, "option-padding");

            &::after {
              @include square(map.get($types, "icon-size"));
            }
          }
        }
      }
    }

    &:hover:not([disabled]):not(.disabled) {
      background-color: var(--#{$prefix}-form-select-text--color-background-hover) !important;
    }

    &:focus,
    &.focus {
      background-color: var(--#{$prefix}-form-select-text--color-background-pressed) !important;
    }

    .select-listbox {
      width: max-content;
      min-width: 100%;

      .select-option {
        &::after {
          content: "";
          order: -1;
        }
      }
    }

    &.white{
      color: var(--#{$prefix}-form-select-text--color-text-white);

      // position: relative;
      // &::after{
      //   content: '';
      //   position: absolute;
      //   display: block;
      //   top: 50%;
      //   right: 0.4rem;
      //   @include square(2rem);
      // }
    }
  }
}
