<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : 'Our Business | What we do | Private Market'
		}) -%>
	</head>
	<body class="page-business">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/en_header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container business-wedo">
				<section class="section-employ">
					<div class="inner">
						<div class="cont-group">
							<div class="section-tit-wrap">
								<h2 class="tit">What we do</h2>
							</div>
							<div class="group-wrap spacing-lg">
								<h3 class="tit-sm">Private Market</h3>
							</div>
							<div class="overlay-list-wrap">
								<div class="overlay-box-wrap">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-01.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-01.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap">
											<p class="tit">PE Investment</p>
										</div>
										<div class="desc-wrap">
											<p class="desc">
												Hanwha's PE Investment Group is Hanwha Asset Management's private equity arm, targeting direct investments in 
												<span class="fc-primary">high-performing companies with durable growth, resilient business models, and expanding global competitiveness</span>
											</p>
										</div>
									</div>
								</div>
								<div class="overlay-box-wrap reverse">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-02.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-02.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap">
											<p class="tit">Credit Investment</p>
										</div>
										<div class="desc-wrap">
											<p class="desc">
												Focusing on Thematic Investments and Continuous Event-Driven Lending Opportunities in Asia-Pacific Private Credit Market
												Special Focus on <span class="fc-primary">High-Growth Sectors such as Asia High-Tech and Next-Generation Infrastructure</span>
												Private IG Aims to Deliver Tailored Private Debt Solutions for Asian Companies (Conglomerates), Particularly in Korea
											</p>
										</div>
									</div>
								</div>
								<div class="overlay-box-wrap">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-03.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-03.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap">
											<p class="tit">Real Estate Platform Investment </p>
										</div>
										<div class="desc-wrap">
											<p class="desc">
												Hanwha's Real Estate Platform Investment Group is specialized in investing in <span class="fc-primary">“New Economy” real estate</span> through <span class="fc-primary">partnering with operators</span> to enerate income enhancement and capital appreciation
											</p>
										</div>
									</div>
								</div>
								<div class="overlay-box-wrap reverse">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-04.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-04.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap">
											<p class="tit">Infrastructure Platform Investment</p>
										</div>
										<div class="desc-wrap">
											<p class="desc">
												Infrastructure Platform Investment Group specializes in investments across <span class="fc-primary">infrastructure, the AI ecosystem, and sustainability-focused sectors</span>
												With deep expertise and market insights, we continue to build a strong track record and deal pipeline across diverse investment opportunities
											</p>
										</div>
									</div>
								</div>
								<div class="overlay-box-wrap">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-05.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-05.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap">
											<p class="tit">FoFs Investment</p>
										</div>
										<div class="desc-wrap">
											<p class="desc">
												Manage institutional capital deployed globally across PE,private credit, real estate and infrastructure asset classes
											</p>
											<%- include('../../components/note-list.ejs', { 
												depth: 1,
												items: [
													`<span class="fc-primary">Bridge Domestic Investors to the Global Private Capital Market</span>`,
													'<span class="fc-primary">Asia Fund Program :</span> Expand to Global Investor Base with Deep Investment Experience',
												],
											}) -%>
										</div>
									</div>
								</div>
								<div class="overlay-box-wrap reverse">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-06.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-06.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap">
											<p class="tit">VC Investment</p>
										</div>
										<div class="desc-wrap">
											<p class="desc">
												Capture selectively sourced global opportunities byinvesting in high-growth companies and leading fund managers to drive superior returns
											</p>
											<%- include('../../components/note-list.ejs', { 
												depth: 1,
												items: [
													`<span class="fc-primary">Direct Investment :</span>By leveraging our strong networks and analytical capabilities, selectively access well-validated, high-potential opportunities`,
													'<span class="fc-primary">Fund of Funds Investment :</span> Strategic access to leading global venture funds through top-tier GP networks',
												],
											}) -%>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/en_footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>