<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : 'Our Business | What we do'
		}) -%>
	</head>
	<body class="page-business">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/en_header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container business-wedo">
				<section class="section-employ">
					<div class="inner">
						<div class="cont-group">
							<div class="section-tit-wrap">
								<h2 class="tit">What we do</h2>
							</div>
							<div class="group-wrap spacing-lg">
								<h3 class="tit-sm">Our Business</h3>
								<p>
									At <span class="f-hanwha">Hanwha</span> Asset Management, shared growth is more than a business principle — it is the foundation of our identity. <br/>
									Our philosophy of “Going Further Together” reflects a long-held belief that progress happens when trust, loyalty, and partnership move in the same direction.
								</p>
							</div>
							<ul class="business-list">
								<li>
									<div class="img-wrap">
										<img src="~@/assets/images/business/business-01.png" alt="">
									</div>
									<div class="txt-wrap">
										<h3 class="tit-lg line-bottom">Public Market</h3>
										<p class="desc">We provide a broad range of investment solutions in Global Equity, Fixed Income, and ETFs, leveraging deep market insights to deliver optimal performance.</p>
									</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="~@/assets/images/business/business-02.png" alt="">
									</div>
									<div class="txt-wrap">
										<h3 class="tit-lg line-bottom">Private Market</h3>
										<p class="desc">Our Private Market strategies provide exclusive access to alternative investments, including private equity, venture capital, credit investment, real estate, and infrastructure.</p>
										<%- include('../../components/button.ejs', {
											label: 'Find out more about Private market', 
											hierarchy: 'tertiary',
											size: 'medium',
										}); %>
									</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="~@/assets/images/business/business-03.png" alt="">
									</div>
									<div class="txt-wrap">
										<h3 class="tit-lg line-bottom">Solution Business</h3>
										<p class="desc">We deliver tailored portfolio solutions to meet diverse client needs, integrating advanced risk management and innovative investment approaches.</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/en_footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>