<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : 'Multi-monitoring system | Risk Management'
		}) -%>
	</head>
	<body class="page-business">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/en_header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container business-wedo">
				<section class="section-employ">
					<div class="inner">
						<div class="cont-group">
							<div class="section-tit-wrap">
								<h2 class="tit">What we do</h2>
							</div>
							<div class="group-wrap spacing-lg">
								<h3 class="tit-sm">Our Business</h3>
								<p>
									At Hanwha Asset Management, shared growth is more than a business principle — it is the foundation of our identity. <br/>
									Our philosophy of “Going Further Together” reflects a long-held belief that progress happens when trust, loyalty, and partnership move in the same direction.
								</p>
							</div>
							<div class="overlay-list-wrap">
								<div class="overlay-box-wrap">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-01.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-01.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap spacing-lg">
											<p class="tit">PE Investment</p>
											<p class="desc">Hanwha's PE Investment Group is Hanwha Asset Management's private equity arm, targeting direct investments in high-performing companies with durable growth, resilient business models, and expanding global competitiveness</p>
										</div>
									</div>
								</div>
								<div class="overlay-box-wrap reverse">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-02.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-02.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap spacing-lg">
											<p class="tit">Credit Investment</p>
											<p class="desc">
												Focusing on Thematic Investments and Continuous Event-Driven Lending Opportunities in Asia-Pacific Private Credit Market <br/>
												Special Focus on High-Growth Sectors such as Asia High-Tech and Next-Generation Infrastructure <br/>
												Private IG Aims to Deliver Tailored Private Debt Solutions for Asian Companies (Conglomerates), Particularly in Korea
											</p>
										</div>
									</div>
								</div>
								<div class="overlay-box-wrap">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-03.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-03.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap spacing-lg">
											<p class="tit">Real Estate Platform Investment </p>
											<p class="desc">
												Hanwha's Real Estate Platform Investment Group is specialized in investing in <span class="fc-primary">“New Economy” real estate</span> through <span class="fc-primary">partnering with operators</span> to enerate income enhancement and capital appreciation
											</p>
										</div>
									</div>
								</div>
								<div class="overlay-box-wrap reverse">
									<div class="visual-box">
										<img src="~@/assets/images/business/what-wedo-04.jpg" alt="" class="pc-tablet-only">
										<img src="~@/assets/images/business/mo-what-wedo-04.jpg" alt="" class="mobile-only">
									</div>
									<div class="info-box">
										<div class="tit-wrap spacing-lg">
											<p class="tit">Infrastructure Platform Investment</p>
											<p class="desc">
												Infrastructure Platform Investment Group specializes in investments across infrastructure, the AI ecosystem, and sustainability-focused sectors <br/>
												With deep expertise and market insights, we continue to build a strong track record and deal pipeline across diverse investment opportunities
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/en_footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>