<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : 'Our Company'
		}) -%>
	</head>
	<body class="page-company">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/en_header.ejs') -%>
			<!-- // header -->
			
			<!-- contents -->
			<main class="contents company-main">
				<section class="section-vision">
					<div class="inner">
						<div class="company-tit-wrap">
							<p class="sub-desc txt-gradient">vision</p>
							<h2 class="tit txt-gradient">Hanwha Asset Management Overview</h2>
							<p class="sub-tit txt-gradient">a life-long generational partner</p>
						</div>
					</div>
					<div class="dimmed"></div>
				</section>

				<section class="section-mission">
					<div class="img-wrap">
						<ul class="img-list">
							<li><img src="~@/assets/images/company/main-mission-bg-01.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-02.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-03.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-04.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-05.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-06.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-mission-bg-07.png" alt=""></li>
						</ul>
					</div>

					<div class="inner">
						<div class="company-tit-wrap medium">
							<p class="sub-desc txt-gradient">mission</p>
							<p class="sub-tit txt-gradient">Leading innovation across markets and technologies <br/> through disciplined investment excellence</p>
						</div>
					</div>
				</section>

				<section class="section-slogan">
					<div class="inner">
						<div class="company-tit-wrap">
							<p class="sub-desc txt-gradient">slogan</p>
							<p class="deco-tit txt-gradient">one step ahead</p>
						</div>
					</div>
				</section>

				<section class="section-value">
					<div class="img-wrap">
						<ul class="img-list">
							<li><img src="~@/assets/images/company/main-value-bg-01.png" alt=""></li>
							<li><img src="~@/assets/images/company/main-value-bg-02.png" alt=""></li>
						</ul>
					</div>

					<div class="inner">
						<div class="company-tit-wrap">
							<p class="sub-desc txt-gradient">core value</p>
						</div>
						<ul class="value-list">
							<li>
								<p class="tit">Building Trust</p>
								<!-- <p class="desc txt-gradient ">Building Trust</p> -->
							</li>
							<li>
								<p class="tit">Purpose-Driven Innovation</p>
								<!-- <p class="desc txt-gradient">Purpose-Driven Innovation</p> -->
							</li>
							<li>
								<p class="tit">Generational Partnership</p>
								<!-- <p class="desc txt-gradient">Generational Partnership</p> -->
							</li>
						</ul>
					</div>
				</section>

				<section class="section-info">
					<div class="inner">
						<div class="company-tit-wrap">
							<h2 class="tit txt-gradient">Expanding Globally, <br/> Hanwha Asset Management</h2>
						</div>
						<div class="txt-wrap">
							<dl>
								<dt>
									<p>Total AUM (USD)</p>
									<small>(As of the end of June 2025)</small>
								</dt>
								<dd>
									<span class="counter" data-num="78.6">0</span>
									<small class="unit">B</small>
								</dd>
							</dl>
							<dl>
								<dt>
									<p>Overseas AUM among Korean Asset Manages</p>
									<small>AUM USD 2.44B (As of the end of June 2025)</small>
								</dt>
								<dd>
									<small class="unit">No.</small>
									<span class="counter" data-num="1">0</span>
								</dd>
							</dl>
							<dl>
								<dt>
									<p>Global Offices</p>
									<small>San Francisco (USA), Singapore, UAE (opening in 2025)</small>
								</dt>
								<dd>
									<span class="counter" data-num="3">3</span>
									<small class="unit">locations</small>
								</dd>
							</dl>
						</div>
					</div>
				</section>

				<section class="section-history">
					<div class="inner">
						<div class="message">
							<div class="company-tit-wrap">
								<h2 class="desc txt-gradient">Hanwha Asset Management has led the growth of Kore's asset management industry backed by more than 40 years of investment experience.</h2>
							</div>
						</div>

						<div class="timeline-wrap motion fade-up">
							<div class="txt-wrap">
								<div class="company-tit-wrap">
									<h2 class="tit txt-en">history</h2>
								</div>
								<div class="blur-box">
									<ul class="timeline-list">
										<li>
											<p class="year">2025</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<div class="desc"><p>Established UAE subsidiary</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2024</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">07</span>
													<div class="desc"><p>Renewed PLUS ETF brand rebranding</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2023</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>Listed Hanwha Real Estate Investment Trust (Hanwha REIT)</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2021</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">08</span>
													<div class="desc"><p>Acquired equity stake in Hanwha Investment & Securities</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">06</span>
													<div class="desc"><p>Published Responsible Investment Report (Stewardship and Responsible Investment Report 2020)</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">05</span>
													<div class="desc"><p>Established ESG Committee within the Board of Directors</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc"><p>Declared support for the Coal Phase-Out Finance Declaration</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2019</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">10</span>
													<div class="desc"><p>Developed the Korea's first ESG data evaluation system among domestic asset managers</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2017</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>Acquired Hanwha Life Insurance's New York subsidiary</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2015</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">08</span>
													<div class="desc"><p>Opened Singapore subsidiary (RFMC)</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2011</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">09</span>
													<div class="desc">
														<p>Launched Hanwha Asset Management on September 19 (Merger of Hanwha Investment Trust Management and Prudential Asset Management)</p>
														<div class="sub-desc-wrap">
															<strong class="sub-tit">Merger</strong>
															<ul class="sub-desc-list">
																<li>
																	<p>2010. 06</p>
																	<p>Became an affiliate of Hanwha Group</p>
																</li>
																<li>
																	<p>2004. 06</p>
																	<p>Became a subsidiary of Prudential Financial</p>
																	<p>Renamed as Prudential Asset Management</p>
																</li>
																<li>
																	<p>1999. 02</p>
																	<p>Renamed as Hyundai Investment Trust Management</p>
																</li>
																<li>
																	<p>1998. 02</p>
																	<p>Established Kukmin Investment Trust Management(Separated the investment management division from Kukmin Investment Trust)</p>
																</li>
																<li>
																	<p>1982. 06</p>
																	<p>Established Kukmin Investment Trust</p>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">1996</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">08</span>
													<div class="desc"><p>Renamed as Hanwha Investment Trust Management Co., Ltd.</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">1988</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">04</span>
													<div class="desc"><p>Established Cheil Investment Advisory Co., Ltd.</p></div>
												</div>
											</div>
										</li>
									</ul>
								</div> 
							</div>
							<div class="img-wrap">
								<img src="~@/assets/images/company/main-history-01.jpg" alt="">
							</div>
						</div>

						<div class="timeline-wrap reverse motion fade-up">
							<div class="txt-wrap">
								<div class="company-tit-wrap">
									<h2 class="tit txt-en">awards</h2>
								</div>
								<div class="blur-box">
									<aside class="timeline-sidebar">
										<ul>
											<li class="active"><a href="#year1" aria-current="page">2025-2020</a></li>
											<li><a href="#year2">2019-2014</a></li>
											<li><a href="#year3">2013-2008</a></li>
										</ul>
									</aside>
									<ul class="timeline-list">
										<li id="year1">
											<p class="year">2025</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">10</span>
													<div class="desc"><p>The Dong-A Ilbo 2025 K-ESG Management Awards - Social ESG Grand Prize: Hanwha Asset Management</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">04</span>
													<div class="desc"><p>2025 Maeil Business Newspaper Securities Awards - Fund Category Grand Prize: Hanwha Asset Management</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>KG Zeroin 2025 Korea Fund Awards - Best Domestic Equity Fund: Hanwha Asset Management</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc"><p>The Institute for Industrial Policy Studies 2025 Korea Brand Hall of Fame - ETF Category: PLUS ETF</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2024</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc">
														<p>2024 Korea Fund Awards - Innovation Fund of the Year (ETF Category): PLUS K-Defense</p>
														<p>I-AWARDS 2024 - PLUS ETF Website UI/UX & Technology Innovation Grand Award</p>
														<p>GDWEB Design Awards - Top Grand Prize in the Financial/Insurance Category: PLUS ETF</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc">
														<p>The Chosun Ilbo Most Trusted Brand Awards - Fund Platform Category: PINE</p>
														<p>JoongAng Ilbo Customer Recommendation Awards - Fund Platform Category: PINE</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2023</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">06</span>
													<div class="desc"><p>The Chosun Ilbo National Brand Awards - Fund Investment Platform Category: PINE</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>Korea Fund Awards - Special Award in the Retirement Pension Category: Hanwha Natural Resources Fund</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2022</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>Korea Fund Awards - Best Overseas Equity Fund: Hanwha Global Healthcare Fund</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2021</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">11</span>
													<div class="desc"><p>Herald Investment Awards - Real Estate Fund Grand Prize: Hanwha Asset Management K-REITs Fund</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>Korea Fund Awards - Best Global Bond Fund: Hanwha Global Bond Fund</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2020</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">10</span>
													<div class="desc"><p>Herald Investment Awards - Best Pension Fund: Hanwha Asset Management LIFEPLUS TDF</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc">
														<p>Korea Fund Awards - Best TDF: Hanwha LIFEPLUS TDF</p>
														<p>Korea Fund Awards - Best Domestic Equity Fund: Hanwha Korea Legend 4th Industrial Revolution Fund</p>
														<p>KG Zeroin 2020 Korea Fund Awards - Best TDF</p>
														<p>KG Zeroin 2020 Korea Fund Awards - Best Domestic Equity Fund: Hanwha Korea Legend 4th Industrial Revolution Fund</p>
													</div>
												</div>
											</div>
										</li>
										<li id="year2">
											<p class="year">2019</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">11</span>
													<div class="desc">Korea Securities Awards - Best Alternative Investment Fund</div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc">
														<p>Maeil Business Newspaper Securities Awards 2019 - Best Asset Management Company (ETF Category)</p>
														<p>KG Zeroin 2019 Fund Awards - Best Overseas Bond Fund</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2017</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>Korea Securities Awards - Best Alternative Investment Fund</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">11</span>
													<div class="desc">
														<p>Herald Fund Awards - Best Overseas Fund: Hanwha China Mainland Fund</p>
														<p>The Seoul Economic Daily Korea Securities Awards - Best Overseas Fund: Hanwha China Mainland Fund</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">10</span>
													<div class="desc"><p>Maeil Business Newspaper Best CIO Awards - Best Domestic Index CIO Head of Equity Division</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">09</span>
													<div class="desc"><p>Economic Review 2017 Best Financial Products (H1) - Hanwha Energy Infrastructure MLP Fund</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>The Asia Business Daily Asia Fund Awards 2017 - Best Domestic Bond Fund</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2016</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>Money Today Korea Fund Awards 2016 - Best ETF: ARIRANG High Dividend ETF</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>Morningstar Fund Awards 2016 - China Equity Fund Grand Prize: Hanwha China Mainland Securities Investment Trust</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc"><p>The Korea Economic Daily& Korea Fund Ratings 2016 Korea Fund Awards - Best Domestic Bond Fund: Hanwha Short-Term Government & Public Bond Securities Investment Trust</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2015</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc">
														<p>Korea Financial Investment Association - Excellence Prize in Investment Advertising Awards (Product Category): Hanwha Korea Legend</p>
														<p>13th Web Award Korea - Best Award in the Finance General Category: Hanwha Asset Management Website</p>
														<p>Money Today 2015 Korea Fund Awards - Innovation ETF of the Year: ARIRANG Smart Beta ETF</p>
														<p>2015 Herald Fund Awards - Fund Manager of the Year: Portfolio Manager of Hanwha Korea Legend</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc">
														<p>6th Asia Fund Awards - Best Domestic Index Equity Fund: HanwhaSmart++ Index Securities Investment Trust</p>
														<p>2015 Morningstar Fund Awards - Best Overseas Equity Fund House</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc">
														<p>14th Maeil Business Newspaper Korea Fund Awards - Best Index Equity Fund: Hanwha Smart++ Index Securities Investment Trust</p>
														<p>KG Zeroin 2015 Korea Fund Awards - Best Index Fund: Hanwha Smart++ Index Securities Investment Trust</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc">
														<p>The Korea Economic Daily & Korea Fund Ratings 14th Korea Fund Awards - Best ETF</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2014</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>KG Zeroin 2014 Korea Fund Awards - Excellence Award in the General Bond Category: Hanwha Long-Term Corporate Bond Fund</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>5th The Asia Business Daily Asia Fund Awards - Best Overseas Equity Fund: Hanwha Global Healthcare Fund</p></div>
												</div>
											</div>
										</li>
										<li id="year3">
											<p class="year">2013</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>Money Today Korea Fund Awards 2013 - Best Overseas Equity Fund: Hanwha Japan Core Fund</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">11</span>
													<div class="desc">
														<p>Herald Fund Awards 2013 - Best Overseas Bond Fund: Hanwha Strategic Income Fund</p>
														<p>Herald Fund Awards 2013 - Best Domestic Bond Fund: Hanwha Long-Term Corporate Bond Fund</p>
													</div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>KG Zeroin 2013 Korea Fund Awards - Best Fund Manger (Bond Category)</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>Maeil Business Newspaper Korea Fund Awards - Best Domestic Bond Fund: Hanwha Long-Term Corporate Bond Fund</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2012</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>Korea Post - Plaque of Appreciation from the President of Korea Post in the Indirect Bond Investment Category / Herald Fund Awards 2012 - Best Overseas Fund: Hanwha Strategic Income Fund</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">03</span>
													<div class="desc"><p>Zeroin Korea Fund Awards 2012 - Excellence Award in the Mixed Equity Category: Hanwha Pension 60 Convertible Securities KM1 Mixed Equity Fund</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">01</span>
													<div class="desc"><p>Kyobo Life Insurance - Selected as an outstanding asset management firm and portfolio manager in the Corporate Bond Category</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2011</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>Herald Fund Awards 2011 - Best AI Fund: Hanwha Smart Alpha Bond Mixed Fund</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>Zeroin Korea Fund Awards 2011 - Best Domestic Index Fund: Hanwha Smart++ Index Equity Fund</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2010</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">12</span>
													<div class="desc"><p>Korea Post - Citation in the Indirect Bond Investment Category: Best one-year performance among corporate bond fund strategies</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2009</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">06</span>
													<div class="desc"><p>Economy Plus Magazine & Zeroin - Selected as the best asset management firm in the Bond Category based on three-year financial soundness, risk management, and performance</p></div>
												</div>
												<div class="desc-wrap">
													<span class="month">02</span>
													<div class="desc"><p>Premium Boundary No. 1 - Winner of the 2008 Zeroin Fund Awards in the Conservative Asset Allocation Fund category</p></div>
												</div>
											</div>
										</li>
										<li>
											<p class="year">2008</p>
											<div class="desc-list-wrap">
												<div class="desc-wrap">
													<span class="month">04</span>
													<div class="desc"><p>First Korean financial institution to obtain 201QFII - QFII: (Qualified Foreign Institutional Investor)</p></div>
												</div>
											</div>
										</li>
									</ul>
								</div> 
							</div>
							<div class="img-wrap">
								<img src="~@/assets/images/company/main-history-02.jpg" alt="">
							</div>
						</div>
					</div> 
				</section>

				<section class="section-banner">
					<div class="inner">
						<div class="company-tit-wrap">
							<h2 class="desc-small txt-gradient motion fade-down" data-duration="1.5">
								Leading Market and Digital Innovation <br/> as a Life-Long Generational Partner
							</h2>
						</div>
						<div class="blur-box motion fade-up" data-duration="1.5">
							<p class="txt">Hanwha Asset Management leverages the strengths of the Hanwha Group to invest in future-oriented innovative technologies and actively develop thematic ETFs that are at the forefront of global megatrends. Through trusted global partnerships and differentiated investment strategies, Hanwha Asset Management will continue to grow as a leading global asset management firm representing Korea.</p>
							<div class="btn-wrap">
								<%- include('../../components/button.ejs', {
									tag: 'a',
									variant: 'outline',
									label: 'Download Company Profile <br/> (Korean)',
									icon: 'download',
									download: true,
									addClass: 'white'
								}) -%>
								<%- include('../../components/button.ejs', {
									tag: 'a',
									variant: 'outline',
									label: 'Download Company Profile <br/> (English)',
									icon: 'download',
									download: true,
									addClass: 'white'
								}) -%>
							</div>
						</div>
					</div>
				</section>
			</main>
			<!-- // contents -->
			
			<!-- footer -->
			<%- include('../../layouts/en_footer.ejs') -%>
			<!-- // footer -->
		</div>
		<script src="/assets/js/company.js" type="text/javascript"></script>
	</body>
</html>