<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : 'Hanwha Finance | Our Company'
		}) -%>
	</head>
	<body class="page-company">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/en_header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container company-finance">
				<div class="cont-group">
					<div class="inner">
						<div class="section-tit-wrap">
							<!-- [2026-01-05] 마크업 수정 -->
							<h2 class="tit"><span class="f-hanwha">Hanwha</span> Finance</h2>
							<!-- // [2026-01-05] 마크업 수정 -->
						</div>
					</div>
					<section class="section-intro">
						<div class="inner">
							<div class="group-wrap spacing-lg">
								<h3 class="tit-sm">A digital financial value chain leading the evolution of finance</h3>
								<!-- [2026-01-05] 마크업 수정 -->
								<p>
									<span class="f-hanwha">Hanwha</span> is expanding beyond traditional financial services into new areas such as global alternative investments and emerging business opportunities, pioneering new horizons in finance. <br/>
									We will continue to enhance asset management through advanced digital finance and provide a unique financial experience.
								</p>
								<!-- // [2026-01-05] 마크업 수정 -->
								<div class="gray-box-wrap">
									<div class="gray-box line-top">
										<div class="tit-wrap">
											<!-- [2026-01-05] 클래스 추가 -->
											<p class="tit-sm f-hanwha">Hanwha</p>
											<!-- // [2026-01-05] 클래스 추가 -->
											<p class="desc">Fortune Global 500 Ranking</p>
											<small class="desc-small">(As of year-end 2024)</small>
										</div>
										<div class="white-box">
											<p class="emphasis">372</p>
										</div>
									</div>
									<div class="gray-box line-top">
										<div class="tit-wrap">
											<!-- [2026-01-05] 클래스 추가, br 삭제 -->
											<p class="tit-sm f-hanwha">Hanwha Life</p>
											<!-- // [2026-01-05] 클래스 추가, br 삭제 -->
											<p class="desc">Ranking by total assets among Korean life insurers</p>
											<small class="desc-small">(As of year-end 2024)</small>
										</div>
										<div class="white-box">
											<p class="emphasis"><small>TOP</small> 2</p>
										</div>
									</div>
									<div class="gray-box line-top">
										<div class="tit-wrap">
											<!-- [2026-01-05] 클래스 추가 -->
											<p class="tit-sm f-hanwha">Hanwha <br/> Asset Management</p>
											<!-- // [2026-01-05] 클래스 추가 -->
											<p class="desc">Ranking by total assets among Korean asset management companies</p>
											<small class="desc-small">(As of year-end 2024)</small>
										</div>
										<div class="white-box">
											<p class="emphasis"><small>TOP</small> 5</p>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</section>
					<section class="section-network">
						<div class="inner">
							<div class="group-wrap gap-40">
								<ul class="category-list">
									<li>Global <br/> Business</li>
									<li>Insurance <br/> Services</li>
									<li>Digital <br/> Finance</li>
									<li>LIFEPLUS &<br/>Global Talent</li>
									<li>Global <br/> Investment</li>
								</ul>
								<div class="img-wrap">
									<img src="~@/assets/images/company/finance-network.png" alt="" class="pc-tablet-only">
									<img src="~@/assets/images/company/mo-finance-network.png" alt="" class="mobile-only">
								</div>
							</div>
						</div>
					</section>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/en_footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>