<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : 'Global Network'
		}) -%>
	</head>
	<body class="page-company">
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container company-network">
				<div class="cont-group">
					<div class="inner">
						<div class="section-tit-wrap">
							<h2 class="tit">글로벌 네트워크</h2>
						</div>
					</div>
					<section class="section-visual">
						<div class="inner">
							<ul class="map-info-list">
								<li>
									<p class="tit">
										<small>국내 금융사 최초</small>
										<strong>한화 AI 센터(샌프란시스코)</strong>
									</p>
									<ul class="note-list depth-1 fc-white">
										<li>2024년 12월 개소</li>
										<li>한화생명, 한화손해보험, <br/> 한화자산운용 3사 공동 설립</li>
									</ul>
								</li>
								<li>
									<p class="tit">
										<small class="f-hanwha">한화자산운용</small>
										<strong>미국(샌프란시스코) 법인</strong>
									</p>
									<ul class="note-list depth-1 fc-white">
										<li>2005년 6월 설립</li>
										<li>해외 채권 위탁운용 AUM 4조원</li>
									</ul>
								</li>
								<li>
									<p class="tit">
										<small class="f-hanwha">한화자산운용</small>
										<strong>아랍에미리트(UAE) 법인</strong>
									</p>
									<ul class="note-list depth-1 fc-white">
										<li>2025년 7월 설립</li>
										<li>중동지역에 특화된 사모펀드 출시 및 현지 투자자를 대상으로 한 마케팅 전개하여 MENA(중동 및 북아프리카)지역에서의 영향력 확대</li>
									</ul>
								</li>
								<li>
									<p class="tit">
										<small class="f-hanwha">한화자산운용</small>
										<strong>싱가포르 법인</strong>
									</p>
									<ul class="note-list depth-1 fc-white">
										<li>2014년 10월 설립</li>
										<li>2025년 Hanwha Korea Enhanced Yield Bond Strategy Fund 출시 </li>
									</ul>
								</li>
								<li>
									<p class="tit">
										<small class="f-hanwha">한화자산운용</small>
										<strong>본사(서울)</strong>
									</p>
									<ul class="note-list depth-1 fc-white">
										<li>1988년 설립</li>
									</ul>
								</li>
							</ul>
						</div>
					</section>
					<section class="section-detail">
						<div class="inner">
							<ul class="network-list">
								<li>
									<h3 class="tit-sm">샌프란시스코</h3>
									<div class="group-flex-wrap">
										<div class="img-wrap">
											<img src="~@/assets/images/company/network-01.png" alt="">
										</div>
										<div class="txt-wrap line-top">
											<dl>
												<dt>설립연도</dt>
												<dd>2005년</dd>
											</dl>
											<dl>
												<dt>주요상품</dt>
												<dd>VC 2025년 Next Generation Opportunity Fund</dd>
											</dl>
											<dl>
												<dt>특징</dt>
												<dd>
													<ul class="note-list depth-1">
														<li>북미 거점 선진국 채권 투자</li>
														<li>차세대 산업 대체 자산 투자전략</li>
													</ul>
												</dd>
											</dl>
											<dl>
												<dt>연혁</dt>
												<dd>
													<ul class="note-list depth-1">
														<li>설립 2005년 6월, 인수 2017년 2월</li>
														<li>선진국 위주 해외 채권 현지 직접 운용 경쟁력 제고</li>
														<li>2022년 샌프란시스코로 본점 이전 및 뉴욕 지점 설립</li>
														<li>2023년 미주법인 1호 대체투자 펀드 출시</li>
													</ul>
												</dd>
											</dl>
										</div>
									</div>
								</li>
								<li>
									<h3 class="tit-sm">싱가포르</h3>
									<div class="group-flex-wrap">
										<div class="img-wrap">
											<img src="~@/assets/images/company/network-02.png" alt="">
										</div>
										<div class="txt-wrap line-top">
											<dl>
												<dt>설립연도</dt>
												<dd>2014년</dd>
											</dl>
											<dl>
												<dt>주요상품</dt>
												<dd>Hanwha Enhanced Yield Bond Strategy Fund</dd>
											</dl>
											<dl>
												<dt>특징</dt>
												<dd>
													<ul class="note-list depth-1">
														<li>아시아 성장 국가 중심 투자 및 투자자문</li>
													</ul>
												</dd>
											</dl>
											<dl>
												<dt>연혁</dt>
												<dd>
													<ul class="note-list depth-1">
														<li>2014년 10월 설립</li>
														<li>아시아 지역 대체투자 분야에 대한 적극적 투자 기회 발굴</li>
													</ul>
												</dd>
											</dl>
										</div>
									</div>
								</li>
								<li>
									<h3 class="tit-sm">아랍 에미레이트</h3>
									<div class="group-flex-wrap">
										<div class="img-wrap">
											<img src="~@/assets/images/company/network-03.png" alt="">
										</div>
										<div class="txt-wrap line-top">
											<dl>
												<dt>설립연도</dt>
												<dd>2025년</dd>
											</dl>
											<dl>
												<dt>특징</dt>
												<dd>
													<ul class="note-list depth-1">
														<li>중동 지역에 특화된 사모펀드 출시</li>
														<li>현지 투자자를 대상으로한 마케팅 전개</li>
														<li>MENA(중동 및 북아프리카)지역에서의 영향력 확대</li>
													</ul>
												</dd>
											</dl>
										</div>
									</div>
								</li>
								<li>
									<h3 class="tit-sm">한화 AI센터 (샌프란시스코)</h3>
									<div class="group-flex-wrap">
										<div class="img-wrap">
											<img src="~@/assets/images/company/network-04.png" alt="">
										</div>
										<div class="txt-wrap line-top">
											<dl>
												<dt>설립연도</dt>
												<dd>2024년</dd>
											</dl>
											<dl>
												<dt>특징</dt>
												<dd>
													<ul class="note-list depth-1">
														<li>한화생명, 한화손해보험, 한화자산운용 한화 금융 3개사 공동 설립</li>
													</ul>
												</dd>
											</dl>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</section>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>