<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../layouts/head.ejs', { 
			title : 'all Menu'
		}) -%>
	</head>
	<body>
		<div class="wrap">
			<!-- header -->
			<%- include('../../layouts/en_header.ejs') -%>
			<!-- // header -->
			
			<!-- container -->
			<main class="container" style="padding: 20rem 0;">
				<div class="inner">
          <%- include('../../components/button.ejs', {
            label: '전체메뉴',
            targetType: 'modal',
            targetId: 'modalAllMenu',
          }) -%>
				</div>
			</main>
			<!-- // container -->

			<!-- footer -->
			<%- include('../../layouts/en_footer.ejs') -%>
			<!-- // footer -->
		</div>
	</body>
</html>