<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layouts/head.ejs') %>
</head>
<body>
  <%- include('../layouts/header.ejs') %>
  
  <div class="container">
    <h1>🎉 성공 dsdfsdf!</h1>
    <p>설정이 정상 작동합니다.</p>

		<%- include('../components/button.ejs') %>
		
		<%- include('../components/tab.ejs', {
			active: 1,
			variant: 'line',
			tablist: ['탭 1', '탭 2', '탭 3', '탭 4'],
			contents: [
				'탭 1 내용',
				'<p>탭 2 내용</p>',
				'<div>탭 3 내용</div>',
				'탭 4 내용'
			],
		}) %>
		

		<%- include('../components/button.ejs', {
			variant: 'text',
			label: '클릭하세요',
			hierarchy: 'secondary',
			disabled: false,
			tag: 'a',
			preSlot: '<span class="icon">★</span>',
			addClass: 'custom-btn',
			size: 'large'
		}) %>

		<%- include('../components/button.ejs', {
			variant: 'text',
			label: '클릭하세요',
			hierarchy: 'secondary',
			tag: 'button',
			preIcon: 'sch',
			disabled: true,
			size: 'large'
		}) %>

		<%- include('../components/button.ejs', {
			variant: 'text',
			label: '클릭하세요',
			hierarchy: 'secondary',
			tag: 'button',
			preIcon: 'sch',
			size: 'large',
			iconOnly: true,
		}) %>


		<%- include('../components/badge.ejs', {
			label: '',
			variant: 'outline',
			color: 'primary',
			size: 'large',
		}) %>
		<%- include('../components/badge.ejs', {
			label: '',
			variant: 'solid',
			color: 'secondary',
			size: 'medium',
		}) %>
		<%- include('../components/badge.ejs', {
			label: '',
			variant: 'solid-pastel',
			color: 'tertiary',
			size: 'medium',
		}) %>

		<%- include('../components/tag.ejs', {
			tagList: ['태그1', '태그2', '태그3'],
			variant: 'sorting',
			size: 'large',
		}) %>
		<%- include('../components/tag.ejs') %>

		<%- include('../components/checkbox.ejs', {
			label: '',
			variant: '',
			size: 'large',
		}) %>
		<%- include('../components/checkbox.ejs', {
			label: '',
			variant: 'check',
			size: '',
		}) %>
		<%- include('../components/checkbox.ejs', {
			label: '한화2.2배레버리지인덱스증권투자신탁',
			slot: `
			<div class="chk-con fund-item">
				<div class="info">
					<p class="tag">아세안ㆍ주식혼합ㆍ중소형주/성장주</p>
					<p class="name">한화2.2배레버리지인덱스증권투자신탁 (주식-파생재간접형)</p>
				</div>
				<div class="price">
					<dl>
						<dt>기준가</dt>
          	<dd>724.47</dd>
					</dl>
					<dl>
						<dt>순자산</dt>
          	<dd>3,333.19</dd>
					</dl>
				</div>
				<ul class="rate">
					<li>12.71</li>
					<li>12.71</li>
					<li>15.81</li>
					<li>32.5</li>
					<li>37.15</li>
					<li>37.15</li>
					<li>37.15</li>
					<li>37.15</li>
				</ul>
			</div>
			`,
			variant: 'check',
			size: '',
			addClass: 'card'
		}) %>


		<%- include('../components/radio.ejs', {
			label: '',
			variant: 'check',
			size: '',
		}) %>
		<%- include('../components/radio.ejs', {
			label: '한화2.2배레버리지인덱스증권투자신탁',
			slot: `
			<div class="chk-con fund-item">
				<div class="info">
					<p class="tag">아세안ㆍ주식혼합ㆍ중소형주/성장주</p>
					<p class="name">한화2.2배레버리지인덱스증권투자신탁 (주식-파생재간접형)</p>
				</div>
			</div>
			`,
			variant: 'check',
			size: '',
			addClass: 'card'
		}) %>



  </div>

	<%- include('../layouts/footer.ejs') %>
</body>
</html>