@use 'sass:map';
@use "../util" as *;

/* 아코디언 */
// 사이즈 정의
@mixin accordion-size-variable() {
  --#{$prefix}-accordion--list-margin-y: var(--#{$prefix}-padding-2);
  --#{$prefix}-accordion--padding: 2rem;
  --#{$prefix}-accordion--button-padding-right: calc(var(--#{$prefix}-accordion--padding) + 1.6rem + var(--#{$prefix}-accordion--button-icon-size));
  --#{$prefix}-accordion--medium-padding: 1.6rem;
  --#{$prefix}-accordion--line-button-padding-right: calc(1.6rem + var(--#{$prefix}-accordion--button-icon-size));
  --#{$prefix}-accordion--button-icon-size: var(--#{$prefix}-icon--size-large);
  --#{$prefix}-accordion--button-arrow: var(--#{$prefix}-number-10);
  --#{$prefix}-accordion--button-arrow-medium: var(--#{$prefix}-number-9);
  --#{$prefix}-accordion--radius: 100rem;
  --#{$prefix}-accordion--mobile-button-font-size: var(--#{$prefix}-mobile-font-size-heading-small);
  --#{$prefix}-accordion--tablet-button-font-size: var(--#{$prefix}-tablet-font-size--heading-small);
  --#{$prefix}-accordion--pc-button-font-size: var(--#{$prefix}-pc-font-size--heading-small);
  --#{$prefix}-accordion--mobile-button-font-size-medium: var(--#{$prefix}-mobile-font-size-heading-xsmall);
  --#{$prefix}-accordion--tablet-button-font-size-medium: var(--#{$prefix}-tablet-font-size--heading-xsmall);
  --#{$prefix}-accordion--pc-button-font-size-medium: var(--#{$prefix}-pc-font-size--heading-xsmall);
}

// 컬러 정의
@mixin accordion-color-variable() {
  --#{$prefix}-accordion--color-action: var(--#{$prefix}-color-surface-neutral-subtler);
  --#{$prefix}-accordion--button-color-action: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-accordion--button-color-action-hover: var(--#{$prefix}-color-action-primary-pressed);
  --#{$prefix}-accordion--button-color-action-pressed: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-accordion--color-action-open: var(--#{$prefix}-color-surface-neutral-subtler);
  --#{$prefix}-accordion--color-action-open-border: var(--#{$prefix}-color-border-neutral-light);
  --#{$prefix}-accordion--color-divider: var(--#{$prefix}-color-border-neutral-light);
  --#{$prefix}-accordion--color-divider-open: var(--#{$prefix}-color-divider-gray-dark);
  --#{$prefix}-accordion--button-color-text: var(--#{$prefix}-color-text-basic);
  --#{$prefix}-accordion--button-color-text-open: var(--#{$prefix}-color-text-secondary);
  --#{$prefix}-accordion--color-icon: var(--#{$prefix}-color-icon-gray);
}

.accordion {
  @include accordion-color-variable();
  @include accordion-size-variable;

  .accordion-item {
    padding: var(--#{$prefix}-accordion--list-margin-y) 0;
    border-top: 0.1rem solid var(--#{$prefix}-accordion--color-divider);
    transition: var(--#{$prefix}-transition-base);

    .btn-accordion {
      @include flex-layout($ai: center);
      position: relative;
      width: 100%;
      gap: 1.6rem;
      padding: var(--#{$prefix}-accordion--padding) 0;
      background-color: var(--#{$prefix}-accordion--button-color-action);
      border-radius: var(--#{$prefix}-accordion--radius);

      .title-wrap {
        @include flex-layout($ai: center);
        gap: 0.8rem;
        flex: 1 0 0;
      }

      .title {
        font-size: var(--#{$prefix}-accordion--pc-button-font-size);
        color: var(--#{$prefix}-accordion--button-color-text);
        font-weight: var(--#{$prefix}-small-font-weight-regular);
        text-align: left;

        @include mq(tablet) {
          font-size: var(--#{$prefix}-accordion--tablet-button-font-size);
        }

        @include mq(mobile) {
          font-size: var(--#{$prefix}-accordion--mobile-button-font-size);
        }
      }

      &:focus,
      &:hover {
        background-color: var(--#{$prefix}-accordion--button-color-action-hover);
      }

      &:active {
        background-color: var(--#{$prefix}-accordion--button-color-action-pressed);
      }

      &::after {
        @include pseudo;
        @include svg-icon(var(--#{$prefix}-accordion--button-arrow));
        @include icon-set(angle);

        background-color: var(--#{$prefix}-accordion--color-icon);
        transition: var(--#{$prefix}-transition-base);
        transform: rotate(0deg);
      }

      &.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.active {
      .title {
        color: var(--#{$prefix}-accordion--button-color-text-open);
        font-weight: var(--#{$prefix}-font-weight-semibold);
      }

      .btn-accordion {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    .accordion-collapse {
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s cubic-bezier(0, 1, 0, 1);
      visibility: hidden;
    }

    .accordion-body {
      padding: 0 var(--#{$prefix}-accordion--padding) var(--#{$prefix}-accordion--padding);
      color: var(--#{$prefix}-color-text-subtler);
      font-size: var(--#{$prefix}-pc-font-size-body-xsmall);

      @include mq(tablet) {
          font-size: var(--#{$prefix}-tablet-font-size--body-xsmall);
        }

      @include mq(mobile) {
        font-size: var(--#{$prefix}-mobile-font-size--body-xsmall);
      }
    }

    &.active {
      padding-bottom: 2.4rem;

      .accordion-collapse {
        height: auto;
        max-height: 100vh;
        transition: all 1.5s ease-in-out;
        visibility: visible;
      }

      .accordion-body {
        background-color: var(--#{$prefix}-accordion--color-action-open);
        border: 0.1rem dashed var(--#{$prefix}-accordion--color-action-open-border);
      }
    }
  }

  // size - medium
  &.medium {
    .accordion-item {
      .btn-accordion {
        padding: var(--#{$prefix}-accordion--medium-padding);

        .title {
          font-size: var(--#{$prefix}-accordion--pc-button-font-size-medium);

          @include mq(tablet) {
            font-size: var(--#{$prefix}-accordion--tablet-button-font-size-medium);
          }

          @include mq(mobile) {
            font-size: var(--#{$prefix}-accordion--mobile-button-font-size-medium);
          }
        }

        &::after {
          @include svg-icon(var(--#{$prefix}-accordion--button-arrow-medium));
        }
      }

      &.active {
        padding-bottom: 2rem;
      }
    }
  }
}

@include mq(mobile) {
  .accordion {
    --#{$prefix}-accordion--padding: 1.6rem;
    --#{$prefix}-accordion--line-padding: 1.2rem;
    --#{$prefix}-accordion--button-icon-size: var(--#{$prefix}-icon--size-medium);
  }
}
