@use 'sass:map';
@use "../util" as *;

/* 아코디언 */
// 사이즈 정의
@mixin accordion-size-variable() {
  --#{$prefix}-accordion--padding-x: 2.4rem;
  --#{$prefix}-accordion--padding-y: 2.8rem;
  --#{$prefix}-accordion--button-padding-right: calc(var(--#{$prefix}-accordion--padding-x) + var(--#{$prefix}-accordion--title-button-gap) + var(--#{$prefix}-accordion--button-icon-size));
  --#{$prefix}-accordion--font-size: 1.8rem;
  --#{$prefix}-accordion--button-icon-size: 2.4rem;
  --#{$prefix}-accordion--title-button-gap: 0.8rem;

  --#{$prefix}-accordion--list-padding-x: 0;
  --#{$prefix}-accordion--list-button-padding-right: calc(var(--#{$prefix}-accordion--list-padding-x) + var(--#{$prefix}-accordion--title-button-gap) + var(--#{$prefix}-accordion--button-icon-size));
  --#{$prefix}-accordion--list-body-padding-top: 0.8rem;
  --#{$prefix}-accordion--list-body-padding-bottom: 2.4rem;
  --#{$prefix}-accordion--list-button-icon-size: 2rem;
}

// 컬러 정의
@mixin accordion-color-variable() {
  --#{$prefix}-accordion--color-divider: #E7E5E4;
  --#{$prefix}-accordion--body-color-bg: #F3F2F1;
  
  --#{$prefix}-accordion--category-color: var(--#{$prefix}-color-text-primary);
  --#{$prefix}-accordion--title-color: var(--#{$prefix}-color-text-subtle);
  --#{$prefix}-accordion--body-color: var(--#{$prefix}-color-text-subtle);
	
  --#{$prefix}-accordion--button-color-action: transparent;
  --#{$prefix}-accordion--button-color-action-hover: #F3F2F1;
	
	--#{$prefix}-accordion--translucent-color-divider: rgba(255, 255, 255, 0.25);
  --#{$prefix}-accordion--translucent-title-color: var(--#{$prefix}-color-text-strong);
  --#{$prefix}-accordion--translucent-body-color: var(--#{$prefix}-color-text-strong);

	--#{$prefix}-accordion--list-body-color-bg: transparent;
  --#{$prefix}-accordion--list-title-color: var(--#{$prefix}-color-text-strong);
  --#{$prefix}-accordion--list-button-color-action-hover: transparent;
}

.accordion {
  @include accordion-color-variable();
  @include accordion-size-variable;

  .accordion-item {
    border-top: 0.1rem solid var(--#{$prefix}-accordion--color-divider);
    transition: var(--#{$prefix}-transition-base);

    &:last-child{
      border-bottom: 0.1rem solid var(--#{$prefix}-accordion--color-divider);
    }

    .btn-accordion {
      position: relative;
      display: flex;
      gap: 1.6rem;
      padding: var(--#{$prefix}-accordion--padding-y) var(--#{$prefix}-accordion--button-padding-right) var(--#{$prefix}-accordion--padding-y) var(--#{$prefix}-accordion--padding-x);
      width: 100%;
      text-align: left;
      background-color: var(--#{$prefix}-accordion--button-color-action);
			color: var(--#{$prefix}-accordion--title-color);

      .category{
        flex-shrink: 0;
        color: var(--#{$prefix}-accordion--category-color);
        font-weight: 500;
      }
      .tit {
				word-break: keep-all;
      }
      // &:hover {
      //   background-color: var(--#{$prefix}-accordion--button-color-action-hover);
      // }

      //button-icon
      &::after {
        position: absolute;
        top: var(--#{$prefix}-accordion--padding-y);
        right: var(--#{$prefix}-accordion--padding-x);
        flex-shrink: 0;
        @include pseudo;
        @include icon-set(plus);
        @include square(var(--#{$prefix}-accordion--button-icon-size));
        background-color: currentColor;
      }
    }

    &.active {
			.category{
				font-weight: 600;
			}
      .tit {
        font-weight: 600;
      }

      .btn-accordion {
        &::after {
          @include icon-set(minus);
          background-color: var(--#{$prefix}-color-orange-base);
        }
      }
    }
    
    .accordion-body {
      position: relative;
      padding: var(--#{$prefix}-accordion--padding-y) var(--#{$prefix}-accordion--padding-x);
      color: var(--#{$prefix}-color-text-subtle);
      font-size: var(--#{$prefix}-accordion--font-size);
      background-color: var(--#{$prefix}-accordion--body-color-bg);

      //gradient-line
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        background: linear-gradient(90deg, #FF4D32 25%, #803C4A 50%, #022A62 100%);
      }
    }
  }
  + .btn-wrap{
    --#{$prefix}-accordion--more-button-gap: 4.8rem;

    margin-top: var(--#{$prefix}-accordion--more-button-gap);
  }

	// 반투명, 메인
	&.translucent{
		@include translucent(rgba(255, 255, 255, 0.20), 6rem, rgba(255, 255, 255, 0.25));

		.accordion-item{
			border-top-width: 0;
			border-bottom: 0.1rem solid var(--#{$prefix}-accordion--translucent-color-divider);

			.btn-accordion{
				background-color: transparent;

				.tit{
					color: var(--#{$prefix}-accordion--translucent-title-color);
				}
			}
			.accordion-body{
				color: var(--#{$prefix}-accordion--translucent-body-color);
				background-color: transparent;

				&::before{
					display: none;
				}
			}
		}
	}

	//리스트형
	&.list{
		.accordion-item{
			border-top: 0;

			&:last-child{
				border-bottom: 0;
			}

			&.active{
				.btn-accordion{
					&::after{
						transform: rotate(180deg);
					}
				}
			}

			.btn-accordion{
				padding-left: var(--#{$prefix}-accordion--list-padding-x);
				padding-right: var(--#{$prefix}-accordion--list-button-padding-right);

				&::after{
					margin-top: 0.4rem;
					@include square(var(--#{$prefix}-accordion--list-button-icon-size));
					@include icon-set('arrow-down');
				}

				&:hover, &:active{
					background-color: var(--#{$prefix}-accordion--list-button-color-action-hover);
				}
				
				.tit{
					display: flex;
					gap: 0.8rem;
					color: var(--#{$prefix}-accordion--list-title-color);

					.count{
						color: #FE5B16;
						font-weight: 400;
					}
				}
			}
			.accordion-body{
				&::before{
					display: none;
				}
				padding: var(--#{$prefix}-accordion--list-body-padding-top) var(--#{$prefix}-accordion--list-padding-x) var(--#{$prefix}-accordion--list-body-padding-bottom);
				background-color: var(--#{$prefix}-accordion--list-body-color-bg);
			}
		}
	}

  @include mq(tablet-small) {
    .accordion-item {
			.btn-accordion{
				flex-direction: column;
				gap: 0.4rem;
			}
    }
  }
  @include mq(mobile) {
    --#{$prefix}-accordion--padding-x: 1.6rem;
    --#{$prefix}-accordion--padding-y: 2rem;
    --#{$prefix}-accordion--font-size: 1.8rem;
    --#{$prefix}-accordion--button-icon-size: 2.4rem;

    +.btn-wrap{
      --#{$prefix}-accordion--more-button-gap: 4rem;
    }
  }
}
