@use 'sass:map';
@use "../util" as *;

/* 배지 */
// 사이즈 정의
$badge-size: (
  small: (
    size-height: 2.4rem,
    padding-x: 0.8rem,
    font-size: 1.3rem,
  ),
  medium: (
    size-height: 3rem,
    padding-x: 0.8rem,
    font-size: 1.5rem,
  ),
) !default;

@mixin badge-size($size) {
  @each $size, $types in $badge-size {
    &.#{$size} {
      padding: 0 var(--#{$prefix}-badge--padding-x-#{$size});
      height: var(--#{$prefix}-badge--size-height-#{$size});
      font-size: var(--#{$prefix}-badge--font-size-#{$size});
    }
  }
}

// 컬러 정의
@mixin badge-color-variable() {
  // 컬러 변수 배열 생성
  $badge-color-variable: (
    domestic: (
      element: var(--#{$prefix}-color-tag-point-bright-red),
      text: var(--#{$prefix}-color-text-white),
    ),
    stock: (
      element: var(--#{$prefix}-color-tag-point-vivid-orange),
      text: var(--#{$prefix}-color-text-white),
    ),
    global: (
      element: var(--#{$prefix}-color-tag-point-violet),
      text: var(--#{$prefix}-color-text-white),
    ),
    red: (
      element: var(--#{$prefix}-color-tag-point-bright-red),
      text: var(--#{$prefix}-color-text-white),
    ),
    orange: (
      element: var(--#{$prefix}-color-tag-point-vivid-orange),
      text: var(--#{$prefix}-color-text-white),
    ),
    purple: (
      element: var(--#{$prefix}-color-tag-point-violet),
      text: var(--#{$prefix}-color-text-white),
    ),
    level1: (
			text: var(--#{$prefix}-color-text-white),
      element: #F91D00,
    ),
    level2: (
      element: #ff4891,
      text: var(--#{$prefix}-color-text-white),
    ),
    level3: (
      element: #fe6220,
      text: var(--#{$prefix}-color-text-white),
    ),
    level4: (
      element: #ffb80d,
      text: var(--#{$prefix}-color-text-white),
    ),
    level5: (
      element: #00cecf,
      text: var(--#{$prefix}-color-text-white),
    ),
    level6: (
      element: #119eff,
      text: var(--#{$prefix}-color-text-white),
    ),
    new: (
      element: #FE5B16,
      text: var(--#{$prefix}-color-text-white),
    ),
		gray:(
			element: #DCD8D6,
      text: var(--#{$prefix}-color-sub-80),
		)
  ) !default;

  // css variable 생성
  @each $color, $types in $badge-color-variable {
    @each $type, $value in $types {
      --#{$prefix}-badge--color-#{"#{$color}"}-#{$type}: #{$value};
    }
  }

  // --#{$prefix}-badge--color-background-basic: var(--#{$prefix}-color-background-white);
  --#{$prefix}-badge--color-text-basic: var(--#{$prefix}-color-text-white);

  // class 정의
  & {
    @each $color, $types in $badge-color-variable {
      &.outline-#{'#{$color}'} {
        @include color-border(#{$color});
        @include color-text(#{$color});
      }

      &.#{'#{$color}'} {
				@include color-text(#{$color});
        // color: var(--#{$prefix}-badge--color-text-basic);
        @include color-background(#{$color});
      }
    }
  }
}

// badge color border
@mixin color-border($color) {
  @if $color == 'primary' {
    border-color: var(--#{$prefix}-badge--color-primary-element);
  } @else {
    border-color: var(--#{$prefix}-badge--color-#{$color}-element);
  }

  & {
    border-width: 0.1rem;
    border-style: solid;
  }
}

// badge color text
@mixin color-text($color) {
  color: var(--#{$prefix}-badge--color-#{$color}-text);
}

// badge color background
@mixin color-background($color) {
  background-color: var(--#{$prefix}-badge--color-#{$color}-element);
}

.badge {
  --#{$prefix}-badge--radius: 0.2rem;

  @each $size, $types in $badge-size {
    @each $type, $value in $types {
      // css variable 생성
      --#{$prefix}-badge--#{$type}-#{$size}: #{$value};
    }
  }
  @include badge-color-variable();

  & {
    @include flex-layout($d: inline-flex, $ai: center, $jc: center);
    padding: 0 var(--#{$prefix}-badge--padding-x-medium);
    height: var(--#{$prefix}-badge--size-height-medium);
    font-size: var(--#{$prefix}-badge--font-size-medium);
		font-weight: 500;
    border-radius: var(--#{$prefix}-badge--radius);
  }

	@each $size, $types in $badge-size {
    &.#{$size} {
      padding: 0 var(--#{$prefix}-badge--padding-x-#{$size});
			height: var(--#{$prefix}-badge--size-height-#{$size});
			font-size: var(--#{$prefix}-badge--font-size-#{$size});
    }
  }
	&.line{
		border: 0.1rem solid #969292;
	}
}

.badge-wrap {
  --#{$prefix}-badge--wrap-gap: 0.4rem;

  display: flex;
  gap: var(--#{$prefix}-badge--wrap-gap);
}