@use "sass:map";
@use "../util" as *;

/* 달력 */
// 사이즈 정의
@mixin calendar-size-variable() {
  --#{$prefix}-calendar--radius: var(--#{$prefix}-radius-xlarge2);
  --#{$prefix}-calendar--head-pc-font-size: var(--#{$prefix}-pc-font-size-heading-xsmall);
  --#{$prefix}-calendar--head-mobile-font-size: var(--#{$prefix}-mobile-font-size-heading-xsmall);
  --#{$prefix}-calendar--head-btn-cal-switch-pc-font-size: var(--#{$prefix}-pc-font-size-label-medium);
  --#{$prefix}-calendar--head-btn-cal-switch-mobile-font-size: 1.6rem;
  --#{$prefix}-calendar--head-btn-cal-switch-radius: var(--#{$prefix}-radius-medium1);
  --#{$prefix}-calendar--head-btn-cal-move-size: var(--#{$prefix}-size-height-5);
  --#{$prefix}-calendar--table-wrap-padding: 1.6rem;
  --#{$prefix}-calendar--table-head-pc-font-size: var(--#{$prefix}-pc-font-size-label-small);
  --#{$prefix}-calendar--table-head-mobile-font-size: 1.5rem;
  --#{$prefix}-calendar--table-caption-pc-font-size: var(--#{$prefix}-pc-font-size-heading-xxsmall);
  --#{$prefix}-calendar--table-caption-mobile-font-size: var(--#{$prefix}-pc-font-size-heading-xxsmall);
  --#{$prefix}-calendar--set-date-radius: 100rem;
}

// 컬러 정의
@mixin calendar-color-variable() {
  --#{$prefix}-calendar--color-border: var(--#{$prefix}-color-border-secondary-light);
  --#{$prefix}-calendar--color-surface: var(--#{$prefix}-color-surface-secondary-subtler);
  --#{$prefix}-calendar--color-text-sub: var(--#{$prefix}-color-text-subtle);
  --#{$prefix}-calendar--head-btn-cal-move-color-text-active: var(--#{$prefix}-color-text-secondary);
  --#{$prefix}-calendar--head-btn-cal-move-color-border: var(--#{$prefix}-color-border-gray-light);
  --#{$prefix}-calendar--head-btn-cal-move-color-border-active: var(--#{$prefix}-color-border-secondary);
  --#{$prefix}-calendar--head-btn-cal-move-color-action: var(--#{$prefix}-color-action-white);
  --#{$prefix}-calendar--head-btn-cal-switch-color-action-hover: var(--#{$prefix}-color-action-secondary-hover);
  --#{$prefix}-calendar--head-btn-cal-switch-color-action-active: var(--#{$prefix}-color-action-secondary-pressed);
  --#{$prefix}-calendar--head-btn-cal-switch-color-text-disabled: var(--#{$prefix}-color-text-disabled-on);
  --#{$prefix}-calendar--head-drop-down-shadow: 0 0 0.2rem 0 var(--#{$prefix}-color-alpha-shadow1), 0 0.4rem 0.8rem 0 var(--#{$prefix}-color-alpha-shadow2);
  --#{$prefix}-calendar--date-set-color-action: var(--#{$prefix}-color-action-secondary-active);
  --#{$prefix}-calendar--date-set-color-text: var(--#{$prefix}-color-text-white);
  --#{$prefix}-calendar--date-set-color-text-day-off: var(--#{$prefix}-color-text-danger);
  --#{$prefix}-calendar--date-set-color-text-day-event: var(--#{$prefix}-color-text-information);
  --#{$prefix}-calendar--date-set-color-text-disabled: var(--#{$prefix}-color-text-disabled);
  --#{$prefix}-calendar--date-set-color-action-pressed: var(--#{$prefix}-color-action-secondary-on-pressed);
  --#{$prefix}-calendar--date-set-color-action-period: var(--#{$prefix}-color-action-secondary-on-selected);
  --#{$prefix}-calendar--date-set-color-element-today: var(--#{$prefix}-color-element-point);
  --#{$prefix}-calendar--action-btn-wrap-color-border: var(--#{$prefix}-color-divider-gray-light);
  --#{$prefix}-calendar--action-btn-wrap-color-surface: var(--#{$prefix}-color-surface-white);
}

.form-calendar-group {
  position: relative;
  display: flex;
  align-items: center;
  // gap: 0.4rem;
}
.calendar-group {
  gap: 0;

  .calendar {
    min-width: 18.1rem;

    &:focus-within {
      position: relative;
      z-index: 1;
      border-color: var(--#{$prefix}-color-orange-base);

      .btn.icon {
        .icon-calendar {
          background-color: var(--#{$prefix}-color-orange-base);
        }
      }
    }
  }
  .calendar:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    // border-right: 0;
  }
  .calendar:last-child {
    margin-left: -0.1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}


// .calendar-datepicker {
//   &.ui-widget {
//     font-family: "Pretendard", sans-serif;
//     padding: 2.4rem;
//     width: 36.2rem;
//     border-radius: 0.2rem;
//     border: 0.1rem solid var(--#{$prefix}-color-orange-base);
//     box-shadow: 0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.12);

//     .ui-widget-content {
//       border: 0;
//     }
//     input,
//     select,
//     textarea,
//     button {
//       font-family: "Pretendard", sans-serif;
//     }
//   }

//   &.ui-datepicker {
//     position: relative;
//     .ui-datepicker-header {
//       // display: flex;
//       // align-items: center;
//       margin-bottom: 1.6rem;
//       padding: 0;
//       font-family: "Pretendard", sans-serif;
//       color: var(--#{$prefix}-color-text-basic);
//       border: 0;
//       background-color: transparent;

//       .ui-datepicker-title {
//         margin: 0;
//         font-size: 2.1rem;
//         font-weight: 700;
//         line-height: 1.5;
//         text-align: left;
//       }
//       .ui-datepicker-prev,
//       .ui-datepicker-next {
//         // position: static;
//         top: 0;
//         display: inline-flex;
//         align-items: center;
//         justify-content: center;
//         width: 3.2rem;
//         height: 3.2rem;
//         // background-color: #000;

//         .ui-icon {
//           position: static;
//           margin: 0;
//           width: 2rem;
//           height: 2rem;
//           @include icon-set("arrow-right");
//           background-color: var(--#{$prefix}-color-text-basic);
//         }

//         &.ui-state-disabled {
//           opacity: 1;

//           .ui-icon {
//             background-color: #d7d5d5;
//           }
//         }
//       }
//       .ui-datepicker-prev {
//         left: inherit;
//         right: calc(3.2rem + 1rem);
//         // margin-left: auto;
//         transform: rotate(180deg);
//       }
//       .ui-datepicker-next {
//         right: 0;
//         // position: static;
//       }

//       .ui-datepicker-month,
//       .ui-datepicker-year {
//         width: fit-content;
//       }
//     }
//     table {
//       border-collapse: separate;
//       border-spacing: 0.4rem;
//       margin-bottom: 0;

//       thead {
//         margin: 0.4rem 0;
//       }

//       th {
//         height: 3rem;
//         color: var(--#{$prefix}-color-text-subtler);
//         font-size: 1.4rem;
//         font-weight: 400;
//         line-height: 1.5;
//         padding: 0 0.4rem 0 0;

//         &:last-child {
//           padding-right: 0;
//         }
//       }
//       td {
//         padding: 0;
//         width: 40px;
//         height: 40px;
//         font-size: 1.5rem;

//         .ui-state-default {
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           padding: 0;
//           width: 100%;
//           height: 100%;
//           color: var(--#{$prefix}-color-text-subtler);
//           font-weight: 400;
//           text-align: center;
//           border: 0;
//           background: transparent;
//           border-radius: 0.4rem;
//         }
//         .ui-state-active {
//           color: var(--#{$prefix}-color-text-primary-dark);
//           font-weight: 700;
//           background-color: var(--#{$prefix}-color-orange-lighter);
//         }
//         .ui-state-highlight,
//         .ui-state-hover {
//         }
//         .ui-state-disabled {
//         }
//       }
//     }
//     // .ui-datepicker-buttonpane{
//     // 	margin: 0;
//     // 	padding: 0;
//     // 	position: absolute;
//     // 	top: 5rem;

//     // 	[data-handler="today"]{
//     // 		float: none;
//     // 	}
//     // 	[data-handler="hide"]{
//     // 		display: none;
//     // 	}
//     // }
//     .calendar-today-btn {
//       // position: absolute;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       width: 100%;
//       height: 3rem;
//       background-color: #f3f2f1;
//       color: var(--#{$prefix}-color-text-subtler);

//       button {
//         // font-family: 'Pretendard', sans-serif;
//         font-size: 1.4rem;
//       }
//     }
//   }
// }
.datepicker {
  &.datepicker-dropdown {
		margin-top: 0.3rem;
    // width: 36.2rem;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--#{$prefix}-color-orange-base);
    box-shadow: 0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.12);

    &::before,
    &::after {
      display: none;
    }
  }
  &.dropdown-menu {
    padding: 2.4rem;

    th {
      padding: 0;
    }
  }
  &.datepicker-inline {
    width: 100%;
  }

  .prev,
  .next {
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
    vertical-align: middle;

    &.disabled {
      visibility: visible;
      cursor: default;
      pointer-events: none;

      &:hover,
      &:active {
        background-color: transparent;
      }

      .svg-icon {
        background-color: #d7d5d5;
      }
    }

    .svg-icon {
      width: 2rem;
      height: 2rem;
      @include icon-set("arrow-right");
      background-color: var(--#{$prefix}-color-text-basic);
    }
  }
  .prev {
    .svg-icon {
      transform: rotate(180deg);
    }
  }
  .datepicker-switch {
    width: fit-content;
    height: auto;
    color: var(--#{$prefix}-color-text-basic);
    font-size: 2.1rem;

    &:hover {
      background-color: transparent;
    }
		&::after{
			content: '';
			display: inline-block;
			width: 1.6rem;
			height: 1.6rem;
			@include icon-set('down-fill');
			background-color: currentColor;
		}
  }

  table {
    width: 100%;
    thead {
      th {
        &.dow {
          padding: 1.6rem 0 0.4rem;
          width: 4rem;
          height: 3rem;
          color: #757070;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
    tbody {
      tr {
        td {
          span {
            width: 50%;
            height: 4rem;
            line-height: 4rem;
            margin: 0;
            color: #757070;
            font-size: 1.5rem;
            border-radius: 0.4rem;

            &.disabled,
            &.disabled:hover {
              color: #c3c1c1;
              pointer-events: none;
            }
            &:hover,
            &.focused,
            &.active.active {
              color: #f54500;
              font-weight: 600;
              background-color: #feeae1;
              text-shadow: none;
            }
          }
        }
      }
    }
    tr {
      td.day {
        width: 4rem;
        height: 4rem;
        color: #757070;
        font-size: 1.5rem;

        &.old,
        &.new {
          visibility: hidden;
        }
        &.old, &.new {
          color: #c3c1c1;
        }
        &.disabled,
        &.disabled:hover {
          color: #c3c1c1;
        }
        &.today {
          color: #757070;
          // font-weight: 700;
          background-color: transparent;
          border-color: transparent;

          &.disabled,
          &.disabled:active {
            background-color: transparent;
            color: #c3c1c1;
          }
        }

        &.active.active {
          color: #f54500;
          font-weight: 600;
          background-color: #feeae1;
          border-color: #feeae1;
          text-shadow: none;
        }
      }
    }
    tfoot {
      .today {
        height: 3rem;
        color: #757070;
        font-size: 1.4rem;
        vertical-align: middle;
        background-color: #f3f2f1;
        border-radius: 0.2rem;
      }
    }
  }

  .calendar-today-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background-color: #f3f2f1;
    color: var(--#{$prefix}-color-text-subtler);
  }

	// .datepicker-days {
  //   thead {
  //     /* (월/년/버튼이 있는 첫 번째 a) */
  //     /* * (★핵심 3★)
  //      * <tr>에 display: flex를 적용하여 table 레이아웃을 무시합니다.
  //      */
  //     tr:nth-child(2) {
  //       display: flex;
  //       width: 100%; // <table>의 너비를 채움
  //       align-items: center;

  //       /* (월/년 제목) */
  //       .datepicker-switch {
  //         order: 1; /* 1. 타이틀 */
  //         flex-grow: 1; /* 남는 공간 모두 차지 */
  //         text-align: left; /* 왼쪽 정렬 (디자인 참고) */
  //         font-size: 1.8rem;
  //         font-weight: bold;
          
  //         &:hover {
  //           background: #eee;
  //         }
  //       }
  //       /* (이전 버튼) */
  //       .prev {
  //         order: 2; /* 2. 이전 버튼 */
  //         flex-grow: 0;
  //         width: 3rem; /* (너비 고정 예시) */
  //       }
  //       /* (다음 버튼) */
  //       .next {
  //         order: 3; /* 3. 다음 버튼 */
  //         flex-grow: 0;
  //         width: 3rem; /* (너비 고정 예시) */
  //       }
        
  //       /* * (★핵심 4★)
  //        * <th>의 table-cell 속성을 해제합니다.
  //        */
  //       th {
  //         display: block; // table-cell 해제
  //         width: auto; // 너비 자동
  //         height: auto;
  //         padding: 0.5em;
  //       }
  //     }
  //   }
  // }
}

.datepicker-inline-container{
	margin-top: 2.4rem;
}
