@use "sass:map";
@use "../util" as *;

/* 달력 */
// 사이즈 정의
@mixin calendar-size-variable() {
  --#{$prefix}-calendar--radius: var(--#{$prefix}-radius-xlarge2);
  --#{$prefix}-calendar--head-pc-font-size: var(--#{$prefix}-pc-font-size-heading-xsmall);
  --#{$prefix}-calendar--head-mobile-font-size: var(--#{$prefix}-mobile-font-size-heading-xsmall);
  --#{$prefix}-calendar--head-btn-cal-switch-pc-font-size: var(--#{$prefix}-pc-font-size-label-medium);
  --#{$prefix}-calendar--head-btn-cal-switch-mobile-font-size: 1.6rem;
  --#{$prefix}-calendar--head-btn-cal-switch-radius: var(--#{$prefix}-radius-medium1);
  --#{$prefix}-calendar--head-btn-cal-move-size: var(--#{$prefix}-size-height-5);
  --#{$prefix}-calendar--table-wrap-padding: 1.6rem;
  --#{$prefix}-calendar--table-head-pc-font-size: var(--#{$prefix}-pc-font-size-label-small);
  --#{$prefix}-calendar--table-head-mobile-font-size: 1.5rem;
  --#{$prefix}-calendar--table-caption-pc-font-size: var(--#{$prefix}-pc-font-size-heading-xxsmall);
  --#{$prefix}-calendar--table-caption-mobile-font-size: var(--#{$prefix}-pc-font-size-heading-xxsmall);
  --#{$prefix}-calendar--set-date-radius: 100rem;
}

// 컬러 정의
@mixin calendar-color-variable() {
  --#{$prefix}-calendar--color-border: var(--#{$prefix}-color-border-secondary-light);
  --#{$prefix}-calendar--color-surface: var(--#{$prefix}-color-surface-secondary-subtler);
  --#{$prefix}-calendar--color-text-sub: var(--#{$prefix}-color-text-subtle);
  --#{$prefix}-calendar--head-btn-cal-move-color-text-active: var(--#{$prefix}-color-text-secondary);
  --#{$prefix}-calendar--head-btn-cal-move-color-border: var(--#{$prefix}-color-border-gray-light);
  --#{$prefix}-calendar--head-btn-cal-move-color-border-active: var(--#{$prefix}-color-border-secondary);
  --#{$prefix}-calendar--head-btn-cal-move-color-action: var(--#{$prefix}-color-action-white);
  --#{$prefix}-calendar--head-btn-cal-switch-color-action-hover: var(--#{$prefix}-color-action-secondary-hover);
  --#{$prefix}-calendar--head-btn-cal-switch-color-action-active: var(--#{$prefix}-color-action-secondary-pressed);
  --#{$prefix}-calendar--head-btn-cal-switch-color-text-disabled: var(--#{$prefix}-color-text-disabled-on);
  --#{$prefix}-calendar--head-drop-down-shadow: 0 0 0.2rem 0 var(--#{$prefix}-color-alpha-shadow1), 0 0.4rem 0.8rem 0 var(--#{$prefix}-color-alpha-shadow2);
  --#{$prefix}-calendar--date-set-color-action: var(--#{$prefix}-color-action-secondary-active);
  --#{$prefix}-calendar--date-set-color-text: var(--#{$prefix}-color-text-white);
  --#{$prefix}-calendar--date-set-color-text-day-off: var(--#{$prefix}-color-text-danger);
  --#{$prefix}-calendar--date-set-color-text-day-event: var(--#{$prefix}-color-text-information);
  --#{$prefix}-calendar--date-set-color-text-disabled: var(--#{$prefix}-color-text-disabled);
  --#{$prefix}-calendar--date-set-color-action-pressed: var(--#{$prefix}-color-action-secondary-on-pressed);
  --#{$prefix}-calendar--date-set-color-action-period: var(--#{$prefix}-color-action-secondary-on-selected);
  --#{$prefix}-calendar--date-set-color-element-today: var(--#{$prefix}-color-element-point);
  --#{$prefix}-calendar--action-btn-wrap-color-border: var(--#{$prefix}-color-divider-gray-light);
  --#{$prefix}-calendar--action-btn-wrap-color-surface: var(--#{$prefix}-color-surface-white);
}

.form-calendar-group{
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.calendar-group {
  gap: 0;

  .calendar{
    min-width: 17.9rem;
  }
  .calendar:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
  .calendar:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.calendar-area {
  @include calendar-color-variable();
  @include calendar-size-variable;

  & {
    display: none;
    position: relative;
    z-index: 1000;
    width: 100%;
  }

  .calendar-wrap {
    @include position($t: 0.8rem, $l: 0);

    width: 38.4rem;
    background-color: var(--#{$prefix}-calendar--color-surface);
    border: 1px solid var(--#{$prefix}-calendar--color-border);
    border-radius: var(--#{$prefix}-calendar--radius);
    overflow: hidden;

    &.bottom {
      top: auto;
      bottom: 6.4rem;
    }

    .calendar-head {
      @include flex-layout($ai: center, $jc: space-between);

      padding: 2.4rem;
      font-size: var(--#{$prefix}-calendar--head-pc-font-size);
      font-weight: 700;
      gap: 1.6rem;

      .btn-cal-move {
        @include flex-layout($ai: center, $jc: center);
        @include square(var(--#{$prefix}-calendar--head-btn-cal-move-size));

        background-color: var(--#{$prefix}-calendar--head-btn-cal-move-color-action);
        border: 1px solid var(--#{$prefix}-calendar--head-btn-cal-move-color-border);
        border-radius: 100rem;
        flex-shrink: 0;

        &::before {
          @include pseudo;
          @include svg-icon(var(--#{$prefix}-size-height-3));
          @include icon-set(angle);

          transform: rotate(90deg);
        }

        &.next {
          &::before {
            transform: rotate(-90deg);
          }
        }
      }

      .calendar-switch-wrap {
        @include flex-layout($ai: center, $jc: center);

        gap: 0.4rem;

        .btn-cal-switch {
          @include flex-layout($ai: center, $jc: center);

          gap: 0.4rem;
          height: var(--#{$prefix}-size-height-6);
          border-radius: var(--#{$prefix}-calendar--head-btn-cal-switch-radius);
          padding: 0 0.8rem;
          transition: var(--#{$prefix}-transition-base);

          &::after {
            @include pseudo;
            @include svg-icon(var(--#{$prefix}-icon--size-small));
            @include icon-set(arrow-dropdown);
          }

          &:hover {
            background-color: var(--#{$prefix}-calendar--head-btn-cal-switch-color-action-hover);
          }

          &:focus,
          &:active,
          &.active {
            background-color: var(--#{$prefix}-calendar--head-btn-cal-switch-color-action-active);
          }

          &:disabled {
            cursor: default;
            color: var(--#{$prefix}-calendar--head-btn-cal-switch-color-text-disabled);
            background-color: var(--#{$prefix}-calendar--action-btn-wrap-color-surface);

            &::after {
              background-color: var(--#{$prefix}-calendar--head-btn-cal-switch-color-text-disabled);
            }
          }
        }

        .calendar-drop-down {
          --#{$prefix}-calendar-drop-down-btn-height: var(--#{$prefix}-size-height-6);

          position: relative;

          .calendar-select {
            @include visibility(hidden);
            @include position($t: calc(100% + 0.4rem), $l: 0);
            @include position-center(x);

            overflow: hidden auto;
            min-width: 14rem;
            max-height: calc((var(--#{$prefix}-calendar-drop-down-btn-height) * 6) + (0.8rem * 2));
            border: 1px solid var(--#{$prefix}-calendar--action-btn-wrap-color-border);
            background-color: var(--#{$prefix}-calendar--action-btn-wrap-color-surface);
            border-radius: var(--#{$prefix}-radius-medium4);
            padding: 0.8rem;
            transition: var(--#{$prefix}-transition-base);
            box-shadow: var(--#{$prefix}-calendar--head-drop-down-shadow);

            &.active {
              @include visibility(visible);

              z-index: 10;
            }

            .sel {
              @include flex-layout($fd: column);

              & li {
                width: 100%;
              }

              button {
                @include flex-layout($jc: center, $ai: center);
                @include square(100%, var(--#{$prefix}-calendar-drop-down-btn-height));

                border-radius: var(--#{$prefix}-radius-medium1);
                font-size: var(--#{$prefix}-calendar--head-btn-cal-switch-pc-font-size);
                font-weight: 400;

                &:hover {
                  background-color: var(--#{$prefix}-calendar--head-btn-cal-switch-color-action-hover);
                }

                &:focus,
                &:active {
                  background-color: var(--#{$prefix}-calendar--head-btn-cal-switch-color-action-active);
                }

                &.active {
                  color: var(--#{$prefix}-calendar--head-btn-cal-move-color-text-active);
                  border: 1px solid var(--#{$prefix}-calendar--head-btn-cal-move-color-border-active);
                  background-color: var(--#{$prefix}-calendar--action-btn-wrap-color-surface);
                }

                &:disabled {
                  cursor: default;
                  color: var(--#{$prefix}-calendar--head-btn-cal-switch-color-text-disabled);
                  background-color: var(--#{$prefix}-calendar--action-btn-wrap-color-surface);
                }
              }
            }
          }
        }
      }
    }

    .calendar-body {
      position: relative;

      .calendar-table-wrap {
        padding: 0 var(--#{$prefix}-calendar--table-wrap-padding);

        .calendar-tbl {
          caption {
            width: auto !important;
            height: auto !important;
            margin: 0 !important;
            clip: auto !important;
            text-align: left;
            top: 4.6rem;
            left: var(--#{$prefix}-calendar--table-wrap-padding);
            color: var(--#{$prefix}-calendar--color-text-sub);
            font-weight: 700;
            font-size: var(--#{$prefix}-calendar--table-caption-pc-font-size);
          }

          th,
          td {
            width: calc(100% / 7);
          }

          th {
            padding-bottom: 4.6rem;
            font-weight: 400;
            font-size: var(--#{$prefix}-calendar--table-head-pc-font-size);
          }

          td {
            padding: 0.2rem 0;

            > button {
              @include flex-layout($ai: center, $jc: center);
              @include square(100%);

              position: relative;
              width: 44px;
              height: 44px;
              margin-inline: auto;

              & span {
                z-index: 1;
              }

              &::after {
                @include position($t: 0, $l: 0);
                @include pseudo;
                @include square(100%);

                border-radius: var(--#{$prefix}-calendar--set-date-radius);
                transition: var(--#{$prefix}-transition-base);
              }
            }

            .btn-set-date:focus {
              z-index: 1;
            }

            &:not(.period, .old, .new, .disabled) .btn-set-date:hover {
              &::after {
                background-color: var(--#{$prefix}-calendar--date-set-color-action-period);
              }
            }

            &:not(.period, .old, .new, .disabled) .btn-set-date:focus,
            &:not(.period, .old, .new, .disabled) .btn-set-date:active {
              &::after {
                background-color: var(--#{$prefix}-calendar--date-set-color-action-pressed);
              }
            }

            &.today {
              .btn-set-date {
                span {
                  position: relative;

                  &::before {
                    @include pseudo;
                    @include square(0.4rem);
                    @include position($b: -10%);
                    @include position-center(x);

                    border-radius: 100rem;
                    background-color: var(--#{$prefix}-calendar--date-set-color-element-today);
                  }
                }
              }
            }

            &.day-event {
              .btn-set-date {
                color: var(--#{$prefix}-calendar--date-set-color-text-day-event);

                span {
                  position: relative;

                  @include underline(0.2rem);

                  &::before {
                    @include position($b: -38%);
                    @include position-center(x);

                    content: "이벤트";
                    font-size: 1rem;
                    font-weight: 700;
                  }
                }
              }
            }

            &.day-off {
              color: var(--#{$prefix}-calendar--date-set-color-text-day-off);
            }

            &.old,
            &.new,
            &.disabled {
              color: var(--#{$prefix}-calendar--date-set-color-text-disabled);

              & button {
                cursor: default;
              }
            }

            &.period {
              .btn-set-date {
                background-color: var(--#{$prefix}-calendar--date-set-color-action-period);
              }

              &.start,
              &.end {
                > .btn-set-date {
                  background-color: var(--#{$prefix}-calendar--date-set-color-action);
                  color: var(--#{$prefix}-calendar--date-set-color-text);
                }
              }

              &.start {
                > .btn-set-date {
                  border-top-left-radius: var(--#{$prefix}-calendar--set-date-radius);
                  border-bottom-left-radius: var(--#{$prefix}-calendar--set-date-radius);
                }
              }

              &.end {
                > .btn-set-date {
                  border-top-right-radius: var(--#{$prefix}-calendar--set-date-radius);
                  border-bottom-right-radius: var(--#{$prefix}-calendar--set-date-radius);
                }
              }
            }
          }
        }
      }
    }

    .calendar-footer {
      margin-top: var(--#{$prefix}-calendar--table-wrap-padding);

      .calendar-btn-wrap {
        @include flex-layout($jc: flex-end, $ai: center);

        gap: 0.8rem;
        padding: 1.6rem 2.4rem;
        border-top: 1px solid var(--#{$prefix}-calendar--action-btn-wrap-color-border);
        background-color: var(--#{$prefix}-calendar--action-btn-wrap-color-surface);

        & .btn:first-child {
          margin-right: auto;
        }
      }
    }

    &:not(.single) {
      .calendar-body {
        .calendar-table-wrap {
          .calendar-tbl {
            --#{$prefix}-calendar--after-size: calc(100% - 0.2rem * 2);

            td {
              position: relative;

              &::after {
                @include position($t: 50%, $l: 0);
                @include pseudo;
                @include square(100%, var(--#{$prefix}-calendar--after-size));

                transform: translateY(-50%);
              }
            }

            td.period {
              &::after {
                background-color: var(--#{$prefix}-calendar--date-set-color-action-period);
              }
            }

            td.start {
              &::after {
                background-color: var(--#{$prefix}-calendar--date-set-color-action);
                border-top-left-radius: var(--#{$prefix}-calendar--set-date-radius);
                border-bottom-left-radius: var(--#{$prefix}-calendar--set-date-radius);

                @include square(var(--#{$prefix}-calendar--after-size), var(--#{$prefix}-calendar--after-size));

                right: 0;
                left: unset;
              }
            }

            td.end {
              &::after {
                background-color: var(--#{$prefix}-calendar--date-set-color-action);
                border-top-right-radius: var(--#{$prefix}-calendar--set-date-radius);
                border-bottom-right-radius: var(--#{$prefix}-calendar--set-date-radius);

                @include square(var(--#{$prefix}-calendar--after-size), var(--#{$prefix}-calendar--after-size));
              }
            }

            td.period.start.end {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &.active {
    display: block;
  }
}

@include mq(mobile) {
  .calendar-select {
    @include scrollbar;
  }
}

@media (width <= 440px) {
  .calendar-area {
    .calendar-wrap {
      $w: calc(100vw - (var(--#{$prefix}-contents-padding-x) * 2));

      left: calc(50% - ($w / 2));
      width: $w;
    }
  }
}
