@use "sass:map";
@use "../util" as *;

/* 달력 */
// 사이즈 정의
@mixin calendar-size-variable() {
  --#{$prefix}-calendar--dropdown-padding: 2.4rem;
  --#{$prefix}-calendar--dropdown-margin-top: 0.3rem;
  --#{$prefix}-calendar--dropdown-radius: 0.2rem;
  
  --#{$prefix}-calendar--nav-btn-size: 3.2rem;
  --#{$prefix}-calendar--nav-arrow-size: 2rem;
  --#{$prefix}-calendar--switch-font-size: 2.1rem;
  --#{$prefix}-calendar--switch-icon-size: 1.6rem;
  
  --#{$prefix}-calendar--dow-padding-top: 1.6rem;
  --#{$prefix}-calendar--dow-padding-bottom: 0.4rem;
  --#{$prefix}-calendar--dow-font-size: 1.4rem;
  
  --#{$prefix}-calendar--cell-size: 4rem;
  --#{$prefix}-calendar--cell-font-size: 1.5rem;
  --#{$prefix}-calendar--cell-radius: 0.4rem;
  
  --#{$prefix}-calendar--tfoot-height: 3rem;
  --#{$prefix}-calendar--tfoot-font-size: 1.4rem;
  --#{$prefix}-calendar--tfoot-radius: 0.2rem;
  
  --#{$prefix}-calendar--inline-margin-top: 2.4rem;
}

// 컬러 정의
@mixin calendar-color-variable() {
  --#{$prefix}-calendar--dropdown-border: var(--#{$prefix}-color-orange-base);
  --#{$prefix}-calendar--dropdown-shadow: 0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.12);

  --#{$prefix}-calendar--nav-arrow-color: var(--#{$prefix}-color-text-basic);
  --#{$prefix}-calendar--nav-arrow-color-disabled: #d7d5d5;
  --#{$prefix}-calendar--switch-color: var(--#{$prefix}-color-text-basic);
  
  --#{$prefix}-calendar--dow-color: var(--#{$prefix}-color-text-subtler);
  
  --#{$prefix}-calendar--cell-color: var(--#{$prefix}-color-text-subtler);
  --#{$prefix}-calendar--cell-color-disabled: #c3c1c1;
  --#{$prefix}-calendar--cell-color-off-month: #999;
  --#{$prefix}-calendar--cell-color-hover: var(--#{$prefix}-color-text-primary-dark);
  --#{$prefix}-calendar--cell-bg-hover: #feeae1;
  --#{$prefix}-calendar--cell-color-active: var(--#{$prefix}-color-text-primary-dark);
  --#{$prefix}-calendar--cell-bg-active: #feeae1;
  
  --#{$prefix}-calendar--tfoot-bg: #f3f2f1;
  --#{$prefix}-calendar--tfoot-color: var(--#{$prefix}-color-text-subtler);
}

.datepicker {
  @include calendar-size-variable;
  @include calendar-color-variable;

  &.datepicker-dropdown {
		margin-top: var(--#{$prefix}-calendar--dropdown-margin-top);
    border-radius: var(--#{$prefix}-calendar--dropdown-radius);
    border: 0.1rem solid var(--#{$prefix}-calendar--dropdown-border);
    box-shadow: var(--#{$prefix}-calendar--dropdown-shadow);

    &::before,
    &::after {
      display: none;
    }
  }
  &.dropdown-menu {
    padding: var(--#{$prefix}-calendar--dropdown-padding);

    th {
      padding: 0;
    }
  }
  &.datepicker-inline {
    width: 100%;
  }

  .prev,
  .next {
    @include square(var(--#{$prefix}-calendar--nav-btn-size));
    text-align: center;
    vertical-align: middle;

    &.disabled {
      visibility: visible;
      cursor: default;
      pointer-events: none;

      &:hover,
      &:active {
        background-color: transparent;
      }

      .svg-icon {
        background-color: var(--#{$prefix}-calendar--nav-arrow-color-disabled);
      }
    }

    .svg-icon {
      @include square(var(--#{$prefix}-calendar--nav-arrow-size));
      @include icon-set("arrow-right");
      background-color: var(--#{$prefix}-calendar--nav-arrow-color);
    }
  }
  .prev {
    .svg-icon {
      transform: rotate(180deg);
    }
  }
  .datepicker-switch {
    width: fit-content;
    height: auto;
    color: var(--#{$prefix}-calendar--switch-color);
    font-size: var(--#{$prefix}-calendar--switch-font-size);

    &:hover {
      background-color: transparent;
    }
		&::after{
			content: '';
			display: inline-block;
      @include square(var(--#{$prefix}-calendar--switch-icon-size));
			@include icon-set('down-fill');
			background-color: currentColor;
		}
  }

  table {
    width: 100%;
    thead {
      th {
        &.dow {
          padding: var(--#{$prefix}-calendar--dow-padding-top) 0 var(--#{$prefix}-calendar--dow-padding-bottom);
          width: var(--#{$prefix}-calendar--cell-size);
          height: var(--#{$prefix}-calendar--tfoot-height);
          color: var(--#{$prefix}-calendar--dow-color);
          font-size: var(--#{$prefix}-calendar--dow-font-size);
          font-weight: 400;
        }
      }
    }
    tbody {
      tr {
        td {
          span {
            width: 50%;
            height: var(--#{$prefix}-calendar--cell-size);
            line-height: var(--#{$prefix}-calendar--cell-size);
            margin: 0;
            color: var(--#{$prefix}-calendar--cell-color);
            font-size: var(--#{$prefix}-calendar--cell-font-size);
            border-radius: var(--#{$prefix}-calendar--cell-radius);

            &.disabled,
            &.disabled:hover {
              color: var(--#{$prefix}-calendar--cell-color-disabled);
              pointer-events: none;
            }
            &:hover,
            &.focused,
            &.active.active {
              color: var(--#{$prefix}-calendar--cell-color-hover);
              font-weight: 600;
              background-color: var(--#{$prefix}-calendar--cell-bg-hover);
              text-shadow: none;
            }
          }
        }
      }
    }
    tr {
      td.day {
        @include square(var(--#{$prefix}-calendar--cell-size));
        color: var(--#{$prefix}-calendar--cell-color);
        font-size: var(--#{$prefix}-calendar--cell-font-size);

        &.old,
        &.new {
          // visibility: hidden;

          color: var(--#{$prefix}-calendar--cell-color-off-month);
          &.today {
            color: var(--#{$prefix}-calendar--cell-color-off-month);
          }
        }
        &.disabled,
        &.disabled:hover {
          color: var(--#{$prefix}-calendar--cell-color-disabled);
        }
        &.today {
          color: var(--#{$prefix}-calendar--cell-color);
          background-color: transparent;
          border-color: transparent;

          &.disabled,
          &.disabled:active {
            background-color: transparent;
            color: var(--#{$prefix}-calendar--cell-color-disabled);
          }
        }

        &.active.active {
          color: var(--#{$prefix}-calendar--cell-color-active);
          font-weight: 600;
          background-color: var(--#{$prefix}-calendar--cell-bg-active);
          border-color: var(--#{$prefix}-calendar--cell-bg-active);
          text-shadow: none;
        }
      }
    }
    tfoot {
      .today {
        height: var(--#{$prefix}-calendar--tfoot-height);
        color: var(--#{$prefix}-calendar--tfoot-color);
        font-size: var(--#{$prefix}-calendar--tfoot-font-size);
        vertical-align: middle;
        background-color: var(--#{$prefix}-calendar--tfoot-bg);
        border-radius: var(--#{$prefix}-calendar--tfoot-radius);
      }
    }
  }

  .calendar-today-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--#{$prefix}-calendar--tfoot-height);
    background-color: var(--#{$prefix}-calendar--tfoot-bg);
    color: var(--#{$prefix}-calendar--tfoot-color);
  }
}

.datepicker-inline-container{
	margin-top: 2.4rem;
}

@include mq(mobile) {

}