@use 'sass:map';
@use "../util" as *;

/* 라디오 버튼 / 체크박스 chip */
.chip-wrap {
	flex-wrap: wrap;
  gap: 0.8rem;

	&.full{
		.form-chip {
			flex: 1;
			text-align: center;

			.form-chip-outline {
				width: 100%;
				justify-content: center;

				span{
					width: auto;
				}
			}
		}
	}
	&.flow{
		flex-wrap: wrap;
	}

	&.grid{
		display: grid;

		@for $i from 1 through 6 {
			&.col-#{$i} {
				grid-template-columns: repeat($i, 1fr);
			}
		}

		.form-chip-outline {
			width: 100%;
			justify-content: center;

			span{
				width: auto;
			}
		}
	}
}


// 사이즈 정의
@mixin form-chip-size-variable() {
  $form-chip-size: (
    small: (
      size-height: 3.2rem,
      check-size: 1.4rem,
      padding-left: 0.8rem,
      padding-right: 1.2rem,
      radius: 0.3rem,
			font-size: 1.3rem,
    ),
    medium: (
      size-height: 4rem,
      check-size: 1.6rem,
      padding-left: 1.2rem,
      padding-right: 2rem,
      radius: 0.3rem,
      font-size: 1.6rem,
    ),
    large: (
      size-height: 4.8rem,
      check-size: 2rem,
      padding-left: 1.6rem,
      padding-right: 2.4rem,
      radius: 0.3rem,
      font-size: 1.8rem,
    ),
  ) !default;

  // css variable 새성
  @each $size, $types in $form-chip-size {
    @each $type, $value in $types {
      // css variable 생성
      --#{$prefix}-form-chip--#{$type}-#{$size}: #{$value};
    }
  }

  --#{$prefix}-form-chip--gap: 0.8rem;

  // class 정의
  & {
    // 사이즈 별 class
    @each $size, $types in $form-chip-size {
      &.#{$size} {
        input[type='radio'],
        input[type='checkbox'] {
          ~ label {
            @include form-chip(#{$size});
          }
        }
				button{
					@include form-chip(#{$size});
				}
        input[type='checkbox'] {
          ~ label {
            &::before {
              @include form-chip-check(#{$size});
            }
          }
        }
      }
    }
  }
}

// 컬러 정의
@mixin form-chip-color-variable() {
  --#{$prefix}-form-chip--color-text: var(--#{$prefix}-color-text-basic);
  --#{$prefix}-form-chip--color-text-checked: var(--#{$prefix}-color-text-primary-dark);
  --#{$prefix}-form-chip--color-text-disabled: var(--#{$prefix}-color-text-disabled);
  --#{$prefix}-form-chip--color-border: #D7D5D5;
  --#{$prefix}-form-chip--color-border-disabled: var(--#{$prefix}-color-sub-30);
  --#{$prefix}-form-chip--color-border-checked: var(--#{$prefix}-color-orange-base);
  --#{$prefix}-form-chip--color-action: #fff;
  --#{$prefix}-form-chip--color-action-disabled: var(var(--#{$prefix}-color-sub-30));
  --#{$prefix}-form-chip--color-action-checked: #FEEAE1;
  --#{$prefix}-form-chip--checkbox-color-border: #E6E5E5;
  --#{$prefix}-form-chip--checkbox-color-action: #F5F4F4;
  --#{$prefix}-form-chip--checkbox-color-check-icon: var(--#{$prefix}-color-gray-40);
  --#{$prefix}-form-chip--checkbox-color-check-icon-disabled: var(--#{$prefix}-color-gray-40);
  --#{$prefix}-form-chip--checkbox-color-check-icon-checked: var(--#{$prefix}-color-text-primary-dark);
}

// 칩 사이즈 정의
@mixin form-chip($size) {
  gap: var(--#{$prefix}-form-chip--gap);
  padding-left: var(--#{$prefix}-form-chip--padding-left-#{$size});
  padding-right: var(--#{$prefix}-form-chip--padding-left-#{$size});
  min-height: var(--#{$prefix}-form-chip--size-height-#{$size});
  font-size: var(--#{$prefix}-form-chip--font-size-#{$size});
  border-radius: var(--#{$prefix}-form-chip--radius-#{$size});
  transition: 0.4s cubic-bezier(0.4, 0, 0.23, 1);
}

// check icon 정의
@mixin form-chip-check($size) {
  @include svg-icon($size: var(--#{$prefix}-form-chip--check-size-#{$size}));
  @include icon-set(checkbox);
}

.form-chip {
  @include form-chip-color-variable();
  @include form-chip-size-variable;
	display: inline-flex;

  $size: large;

  input[type='radio'],
  input[type='checkbox'] {
    ~ label {
      display: inline-flex;
      align-items: center;
      position: relative;
			color: var(--#{$prefix}-form-chip--color-text);
			border: 0.1rem solid var(--#{$prefix}-form-chip--color-border);
			background-color: var(--#{$prefix}-form-chip--color-action);

      @include form-chip(#{$size});
    }

    &:disabled {
      ~ label {
        cursor: default;
				color: var(--#{$prefix}-form-chip--color-text-disabled);

				border-color: var(--#{$prefix}-form-chip--color-border-disabled);
				background-color: var(--#{$prefix}-form-chip--color-action-disabled);

				&::before {
					background-color: var(--#{$prefix}-form-chip--color-check-disabled);
				}
      }
    }

		&:checked {
			~ label {
				color: var(--#{$prefix}-form-chip--color-text-checked);
				font-weight: 700;
				border-color: var(--#{$prefix}-form-chip--color-border-checked);
				background-color: var(--#{$prefix}-form-chip--color-action-checked);

				&::before {
					background-color: var(--#{$prefix}-form-chip--color-check-checked);
				}
			}
		}
  }

  input[type='radio'] {
		~ label {
			justify-content: center;
			// color: var(--#{$prefix}-form-chip--radio-color-text);
			// border-color: var(--#{$prefix}-form-chip--radio-color-border);
      // background-color: var(--#{$prefix}-form-chip--radio-color-action);
    }

    &:disabled {
      ~ label {
        // color: var(--#{$prefix}-form-chip--radio-color-text-disabled);
        // border-color: var(--#{$prefix}-form-chip--radio-color-border-disabled);
        // background-color: var(--#{$prefix}-form-chip--radio-color-action-disabled);
      }
    }

    &:checked {
      ~ label {
        // color: var(--#{$prefix}-form-chip--radio-color-text-checked);
        // border-color: var(--#{$prefix}-form-chip--radio-color-border-checked);
        // background-color: var(--#{$prefix}-form-chip--radio-color-action-checked);
      }
    }
  }

	// checkbox 인 경우에만 아이콘 노출
	input[type='checkbox'] {
		~ label {
			// color: var(--#{$prefix}-form-chip--checkbox-color-text);
			// border-color: var(--#{$prefix}-form-chip--checkbox-color-border);
			background-color: var(--#{$prefix}-form-chip--checkbox-color-action);
			border-color: var(--#{$prefix}-form-chip--checkbox-color-border);

			&::before {
				flex-shrink: 0;
        @include pseudo;
        @include form-chip-check(#{$size});
				background-color: var(--#{$prefix}-form-chip--checkbox-color-check-icon);
				transition: 0.4s cubic-bezier(0.4, 0, 0.23, 1);
      }
		}	
		&:disabled{
			~ label {
				// color: var(--#{$prefix}-form-chip--checkbox-color-text-disabled);
				// border-color: var(--#{$prefix}-form-chip--checkbox-color-border-disabled);
				// background-color: var(--#{$prefix}-form-chip--checkbox-color-action-disabled);

				&::before {
					background-color: var(--#{$prefix}-form-chip--checkbox-color-check-icon-disabled);
				}
			}
		}

		&:checked {
			~ label {
				// color: var(--#{$prefix}-form-chip--checkbox-color-text-checked);
				// border-color: var(--#{$prefix}-form-chip--checkbox-color-border-checked);
				// background-color: var(--#{$prefix}-form-chip--checkbox-color-action-checked);

				&::before {
					// @include icon-set(checkbox-checked);
					background-color: var(--#{$prefix}-form-chip--checkbox-color-check-icon-checked);
				}
			}

		}
	}

	button {
		display: inline-flex;
		align-items: center;
		position: relative;

		@include form-chip(#{$size});

		color: var(--#{$prefix}-form-chip--button-color-text);
		border-color: var(--#{$prefix}-form-chip--button-color-border);
		background-color: var(--#{$prefix}-form-chip--button-color-action);

		&:disabled {
			cursor: default;
			color: var(--#{$prefix}-form-chip--button-color-text-disabled);
			border-color: var(--#{$prefix}-form-chip--button-color-border-disabled);
			background-color: var(--#{$prefix}-form-chip--button-color-action-disabled);
    }

		&:hover:not(:disabled) {
			background-color: var(--#{$prefix}-form-chip--button-color-action-hover);
		}

		&:active:not(:disabled) {
			background-color: var(--#{$prefix}-form-chip--button-color-action-pressed);
		}
	}

  &.focus {
		button,
    input[type='checkbox'] ~ label,
    input[type='radio'] ~ label {
      @include focus;
    }
  }

	@include mq(mobile){
		--#{$prefix}-form-chip--size-height-large: 4rem;
		--#{$prefix}-form-chip--padding-left-large: 1.2rem;
		--#{$prefix}-form-chip--font-size-large: 1.6rem;
		--#{$prefix}-form-chip--check-size-large: 1.6rem;
		--#{$prefix}-form-chip--gap: 0.6rem;
	}
}