@use "../util" as *;

$ico-list: download, file, arrow-right, share, search, menu, link, close, youtube, instagram, blog, linkedin, calendar, filter, plus, delete, reset, map;
$ico-pure-list: plus-fill, ai-star;

.svg-icon{
  display: inline-flex;
  width: 2rem;
  height: 2rem;
}
.icon{
  @each $name in $ico-list {
    &-#{$name} {
      @include icon-set(#{$name});
    }
  }
  @each $name in $ico-pure-list {
    &-#{$name} {
      @include icon-set(#{$name}, pure);
    }
  }
  &-clear{
    @include icon-set("delete-fill", pure);
  }
}