@use 'sass:map';
@use "../util" as *;

/* 입력 필드 / 텍스트 영역 */
$input-size: (
	small: (
		padding-x: 1.6rem,
		gap: 0.8rem,
		size-height: 4rem,
		button-clear-size: 1.8rem,
		radius: 0.3rem,
		font-size: var(--#{$prefix}-font-size-label-small),
	),
	medium: (
		padding-x: 1.6rem,
		gap: 0.8rem,
		size-height: 4.8rem,
		button-clear-size: 2rem,
		radius: 0.3rem,
		font-size: var(--#{$prefix}-font-size-label-medium),
	),
	large: (
		padding-x: 1.6rem,
		gap: 0.8rem,
		size-height: 5.6rem,
		button-clear-size: 2.4rem,
		radius: 0.3rem,
		font-size: var(--#{$prefix}-font-size-label-large),
	),
	xlarge: (
		padding-x: 0.8rem,
		gap: 1.6rem,
		size-height: 8rem,
		button-clear-size: 3.2rem,
		radius: 0,
		font-size: 3.2rem,
	),
) !default;

// 사이즈 정의
@mixin input-size-variable() {
  @each $size, $types in $input-size {
    @each $type, $value in $types {
      --#{$prefix}-input--#{$type}-#{$size}: #{$value};
    }
  }
}

@mixin input-size($size) {
	gap: var(--#{$prefix}-input--gap-#{$size});
	padding: 0 var(--#{$prefix}-input--padding-x-#{$size});
  height: var(--#{$prefix}-input--size-height-#{$size});
  border-radius: var(--#{$prefix}-input--radius-#{$size});
  font-size: var(--#{$prefix}-input--font-size-#{$size});
}

// 컬러 정의
@mixin input-color-variable() {
  --#{$prefix}-input--color-surface: var(--#{$prefix}-color-input-surface);
  --#{$prefix}-input--color-surface-readonly: var(--#{$prefix}-color-input-surface-disabled);
  --#{$prefix}-input--color-surface-disabled: var(--#{$prefix}-color-input-surface-disabled);
  --#{$prefix}-input--color-surface-error: var(--#{$prefix}-color-input-surface);
  --#{$prefix}-input--color-border: #C3C1C1;
  --#{$prefix}-input--color-border-active: var(--#{$prefix}-color-input-border-active);
  --#{$prefix}-input--color-border-readonly: var(--#{$prefix}-color-input-border-disabled);
  --#{$prefix}-input--color-border-disabled: var(--#{$prefix}-color-input-border-disabled);
  --#{$prefix}-input--color-border-error: var(--#{$prefix}-color-input-border-error);
  --#{$prefix}-input--color-text: var(--#{$prefix}-color-text-strong);
  --#{$prefix}-input--color-text-active: var(--#{$prefix}-color-text-strong);
  --#{$prefix}-input--color-text-readonly: var(--#{$prefix}-color-text-strong);
  --#{$prefix}-input--color-text-disabled: var(--#{$prefix}-color-text-subtler);
  --#{$prefix}-input--color-text-placeholder: var(--#{$prefix}-color-text-subtler);
  --#{$prefix}-input--color-text-error: var(--#{$prefix}-color-text-strong);
}

@mixin input-base-style() {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	background-color: var(--#{$prefix}-input--color-surface);
	border: 0.1rem solid var(--#{$prefix}-input--color-border);
	font-family: inherit;
	color: var(--#{$prefix}-input--color-text);
	transition: var(--#{$prefix}-transition-base);

	input{
		width: 100%;
		height: 100%;
		border: 0.1rem solid transparent;
		background-color: transparent;

		&:focus {
			outline: none;
		}

    &::placeholder{
      color: var(--#{$prefix}-input--color-text-placeholder);
    }
	}
}

.input {
  @include input-color-variable();
  @include input-size-variable;

  & {
		@include input-base-style;
		@include input-size(large);

		@each $size, $types in $input-size {
			&.#{$size} {
				@include input-size(#{$size});

				.btn-clear {
					@include square(var(--#{$prefix}-input--button-clear-size-#{$size}));
				}
			}
		}
  }

  &:focus-within, &:focus, &.focus {
    border-color: var(--#{$prefix}-input--color-border-active);
    outline: none;
    box-shadow: 0 0 0.8rem 0 rgba(245, 69, 0, 0.80);;

		~	.textarea-count {
			color: var(--#{$prefix}-input--count-number-color-text);
			.count-now {
				color: var(--#{$prefix}-input--count-number-color-text-active);
			}
		}
  }

  &[readonly], &.readonly {
    background-color: var(--#{$prefix}-input--color-surface-readonly);
    border-color: var(--#{$prefix}-input--color-border-readonly);
    color: var(--#{$prefix}-input--color-text-readonly);

    &.datepicker {
      background-color: var(--#{$prefix}-input--color-surface);
      border-color: var(--#{$prefix}-input--color-border);
      color: var(--#{$prefix}-input--color-text);
    }

		~	.textarea-count {
			color: var(--#{$prefix}-input--count-number-color-text);
		}

    &:focus {
      border-color: var(--#{$prefix}-input--color-border-active);
    }
  }

  &[disabled], &.disabled {
    background-color: var(--#{$prefix}-input--color-surface-disabled);
    border-color: var(--#{$prefix}-input--color-border-disabled);
    color: var(--#{$prefix}-input--color-text-disabled);

		~	.textarea-count {
			color: var(--#{$prefix}-input--count-number-color-text);
		}
  }

  &.is-error {
    background-color: var(--#{$prefix}-input--color-surface-error);
    border-color: var(--#{$prefix}-input--color-border-error);
    border-width: 2px;
    color: var(--#{$prefix}-input--color-text-error);

    &:focus {
      border-color: var(--#{$prefix}-input--color-border-active);
    }
  }
  &.is-success {

  }

  &:not(textarea):placeholder-shown {
    @include ellipsis(1);
  }

  *:not(input){
    flex-shrink: 0;
  }

	.btn-clear{
		display: none;

		.svg-icon{
			@include square(100%);
		}

		&.active {
			display: inline-flex;
		}
	}

	input:has(~ .unit) {
		text-align: right;
	}

  &.calendar{
    &[readonly], &.readonly{
      background-color: transparent;
      &:focus-within, &:focus {
        border-color: var(--#{$prefix}-input--color-border-active);
      }
    }
  }

	&.line{
		border: 0;
		border-bottom: 0.1rem solid #ddd;
		background-color: transparent;

		&:focus-within, &:focus, &.focus{
			box-shadow: none;
		}
	}

	@include mq(mobile){
		--#{$prefix}-input--font-size-xlarge: 2.1rem;
		--#{$prefix}-input--size-height-xlarge: 5.6rem;
	}
}

textarea {
  &.input {
    --#{$prefix}-input--textarea-size-height: 12rem;
    --#{$prefix}-input--textarea-padding-x: 1.6rem;
    --#{$prefix}-input--textarea-padding-y: 0.8rem;

    --#{$prefix}-input--count-number-font-size: 1.5rem;

    height: var(--#{$prefix}-input--textarea-size-height) !important;
    padding: var(--#{$prefix}-input--textarea-padding-y) var(--#{$prefix}-input--textarea-padding-x);
    line-height: var(--#{$prefix}-transition-base);
  }

	@include mq(tablet-small){
		&.input{
			--#{$prefix}-input--textarea-size-height: 24rem;
		}
	}
}
.textarea-wrap {
  @include flex-layout($fd: column, $ai: normal);

  gap: 0.8rem;
  width: 100%;

  .textarea-count {
    --#{$prefix}-input--count-number-font-size: 1.5rem;
    --#{$prefix}-input--count-number-color-text: var(--#{$prefix}-color-text-subtler);
    --#{$prefix}-input--count-number-color-text-default: var(--#{$prefix}-color-text-disabled);
    --#{$prefix}-input--count-number-color-text-active: var(--#{$prefix}-color-text-primary);
    --#{$prefix}-input--count-number-color-text-error: var(--#{$prefix}-color-text-danger);
  
    @include flex-layout($ai: center, $jc: flex-end);
    gap: 0.2rem;
    width: 100%;
    font-size: var(--#{$prefix}-input--count-number-font-size);
    color: var(--#{$prefix}-input--count-number-color-text-default);
  }

  .is-error {
    .textarea-count {
      .count-now {
        color: var(--#{$prefix}-input--count-number-color-text-error);
      }
    }
  }
  .is-success {	
    .textarea-count {
      color: var(--#{$prefix}-input--count-number-color-text);
    }
  }
}