@use 'sass:map';
@use "../util" as *;

/* info-list */
//모드 설정
$mode-setting: light;
.note-list {
	//info-list - list - margin-top
	--hwf-info-list--depth1-list-margin-top: 0;
	--hwf-info-list--depth2-list-margin-top: var(--hwf-gap-3);
	--hwf-info-list--depth3-list-margin-top: var(--hwf-gap-2);

	//info-list - dot,dash - padding-left
	--hwf-info-list--depth1-padding-left: var(--hwf-space-7);
	--hwf-info-list--depth2-padding-left: var(--hwf-space-8);
	--hwf-info-list--depth3-padding-left: var(--hwf-space-7);

	//info-list - num - padding-left
	--hwf-info-list--order-depth1-padding-left: var(--hwf-space-10);
	--hwf-info-list--order-depth2-padding-left: var(--hwf-space-10);
	--hwf-info-list--order-depth3-padding-left: var(--hwf-space-8);

	//info-list - li - gap
	--hwf-info-list--layout-gap-depth1-li-li: var(--hwf-gap-3);
	--hwf-info-list--layout-gap-depth2-li-li: var(--hwf-gap-2);
	--hwf-info-list--layout-gap-depth3-li-li: var(--hwf-gap-2);

	//info-list - color - depth 
	--hwf-info-list--color-text-depth1: var(--hwf-#{$mode-setting}-color-text-subtle);
	--hwf-info-list--color-text-depth2: var(--hwf-#{$mode-setting}-color-text-subtle);
	--hwf-info-list--color-text-depth3: var(--hwf-#{$mode-setting}-color-text-subtle);

	//info-list - text - depth
	--hwf-info-list--pc-text-depth1: var(--hwf-pc-typo-body-medium-size);
	--hwf-info-list--mobile-text-depth1: var(--hwf-mobile-typo-body-medium-size);

	--hwf-info-list--pc-text-depth2: var(--hwf-pc-typo-body-medium-size);
	--hwf-info-list--mobile-text-depth2: var(--hwf-mobile-typo-body-medium-size);

	--hwf-info-list--pc-text-depth3: var(--hwf-pc-typo-body-small-size);
	--hwf-info-list--mobile-text-depth3: var(--hwf-mobile-typo-body-small-size);

	//info-list info-txt margin-top
	--hwf-info-list--info-txt-margin-top: var(--hwf-space-7);	

	display: flex;
	flex-direction: column;
	margin-top: var(--hwf-info-list--depth1-list-margin-top);
	gap: var(--hwf-info-list--layout-gap-depth1-li-li);

	> li {
		position: relative;
		padding-left: var(--hwf-info-list--depth1-padding-left);
		color: var(--hwf-info-list--color-text-depth1);
		font-size: var(--hwf-info-list--pc-text-depth1);
		@include size-medium {
			font-size:  var(--hwf-info-list--mobile-text-depth1);
		}
		&::before {
			@include position($t: 0, $l: 0);
		}
		> .info-list { //2depth
			gap: var(--hwf-info-list--layout-gap-depth2-li-li);
			margin-top: var(--hwf-info-list--depth2-list-margin-top);
			> li {
				padding-left: var(--hwf-info-list--depth2-padding-left);
				color: var(--hwf-info-list--color-text-depth2);
				font-size: var(--hwf-info-list--pc-text-depth2);
				@include size-medium {
					font-size:  var(--hwf-info-list--mobile-text-depth2);
				}
				> .info-list { //3depth
					margin-top: var(--hwf-info-list--depth3-list-margin-top);
					> li {
						padding-left: var(--hwf-info-list--depth3-padding-left);
						color: var(--hwf-info-list--color-text-depth3);
						font-size: var(--hwf-info-list--pc-text-depth3);
						@include size-medium {
							font-size:  var(--hwf-info-list--mobile-text-depth3);
						}
					}
				}
			}
		}
		>.info-txt {
			margin-top: var(--hwf-info-list--info-txt-margin-top);
		}
	}
	&.decimal {
		> li {
			&::before {
				content: "\2022"; //bullet
			}
		}
	}
	&.dash {
		> li {
			&::before {
				content: "\002D"; //hyphen-minus
			}
		}
	}
	&.ordered {
		> li {
			padding-left: var(--hwf-info-list--order-depth1-padding-left);
			.num {
				@include position($t: 0, $l: 0);
			}
			&::before {
				display: none;
			}
			> .ordered { //2depth
				> li {
					padding-left: var(--hwf-info-list--order-depth2-padding-left);
					> .ordered { //3depth
						> li {
							padding-left: var(--hwf-info-list--order-depth2-padding-left);
						}
					}
				}
			}
		}
	}
}
.txt-refer {//참고 또는 info성 텍스트
	--hwf-txt-refer--margin-top: var(--hwf-space-9);
	--hwf-txt-refer--color-text: var(--hwf-#{$mode-setting}-color-text-subtle);

	margin-top: var(--hwf-txt-refer--margin-top);
	color: var(--hwf-txt-refer--color-text);
}