@use "sass:map";
@use "../util" as *;

/* 모달 */
// modal size
$modal-size: (
  sm: var(--#{$prefix}-modal--size-small),
  md: var(--#{$prefix}-modal--size-medium),
  lg: var(--#{$prefix}-modal--size-large),
) !default;

// modal default css
@mixin modal-default {
  display: none;
  position: fixed;
  inset: 0;
  z-index: -1;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
}

@mixin modal-size-variable() {
  --#{$prefix}-modal--size-large: 130rem;
  --#{$prefix}-modal--size-medium: 64rem;
  --#{$prefix}-modal--size-small: 40rem;
  --#{$prefix}-modal--size-min-height: 26.4rem;
  --#{$prefix}-modal--wrap-radius: 0.4rem;

  --#{$prefix}-modal--header-padding: 4rem;
  --#{$prefix}-modal--header-padding-bottom: 2.4rem;
  --#{$prefix}-modal--header-font-size: 2.8rem;

  --#{$prefix}-modal--conts-padding: 4rem;
  --#{$prefix}-modal--conts-font-size: 1.8rem;

  --#{$prefix}-modal--btn-close-position: 4rem;
  --#{$prefix}-modal--btn-close-size: 4.8rem;
  --#{$prefix}-modal--btn-close-icon-size: 4rem;
  --#{$prefix}-modal--btn-padding-x: 4rem;
  --#{$prefix}-modal--btn-padding-y-top: 1.6rem;
  --#{$prefix}-modal--btn-padding-y-bottom: 4rem;
  --#{$prefix}-modal--btn-gap: 0.8rem;
  --#{$prefix}-modal--btn-column-gap: 2rem;
  --#{$prefix}-modal--btn-size-min-width: 7.8rem;

  --#{$prefix}-modal--bottom-sheet-radius: 1.2rem;
  --#{$prefix}-modal--bottom-sheet-header-padding: 2.4rem;
  --#{$prefix}-modal--bottom-sheet-header-padding-x: 1.6rem;
  --#{$prefix}-modal--bottom-sheet-cont-padding: 1.6rem;
  --#{$prefix}-modal--bottom-sheet-btn-padding-top: 0.8rem;
  --#{$prefix}-modal--bottom-sheet-btn-padding-bottom: 4rem;
  --#{$prefix}-modal--bottom-sheet-btn-padding-side: 1.6rem;
  --#{$prefix}-modal--bottom-sheet-btn-close-size: 2.4rem;
}

// 컬러 정의
@mixin modal-color-variable() {
  --#{$prefix}-modal--color-text: var(--#{$prefix}-color-text-basic);
  --#{$prefix}-modal--wrap-color-surface: #ffffff;
  --#{$prefix}-modal--header-color-border: #E6E5E5;
  --#{$prefix}-modal--color-dim: rgba(0, 0, 0, 0.7);
  --#{$prefix}-modal--full-popup-surface: #fff;
}

.modal {
  @include modal-color-variable;
  @include modal-size-variable;
  @include modal-default;
  @include reset-text;

  > * {
    width: 100%;
  }

  &.in {
    z-index: 10;
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
  }

  &.show {
    display: block;
    z-index: 5;

    .modal-back{
      visibility: visible;
    }
  }

  &.show.in{
    opacity: 1;

    .modal-back{
      opacity: 1;
    }
  }

  // dimd
  .modal-back {
    position: fixed;
    inset: 0;
    visibility: hidden;
    z-index: -1;
    background-color: var(--#{$prefix}-modal--color-dim);
    opacity: 0;
    transition: opacity 0.2s;
  }

  // 기본타입
  .modal-dialog {
    @include flex-layout($ai: center);
    position: relative;
    margin: 0 auto;
		padding: 0 var(--#{$prefix}-content-padding-x);
		max-width: calc( var(--#{$prefix}-modal--size-large) + (var(--#{$prefix}-content-padding-x))*2 );
    height: 100%;
    min-height: var(--#{$prefix}-modal--size-min-height);
    z-index: 2;

    // modal size
    @each $size, $value in $modal-size {
      &.modal-#{$size} {
        max-width: $value;
      }
    }

    &.modal-md{
      .modal-header{
        border-bottom: 0;
      }
      .modal-conts{
        padding-top: 0;
      }
    }

    .modal-content {
      @include flex-layout($ai: center, $fd: column);
      z-index: 5;
      position: relative;
      width: 100%;
      max-height: 80%;
      color: var(--#{$prefix}-modal--color-text);
      background-color: var(--#{$prefix}-modal--wrap-color-surface);
      border-radius: var(--#{$prefix}-modal--wrap-radius);
      transition: outline-color 0.1s;

      > *:not(.btn-close) {
        width: 100%;
      }

      &:focus {
        @include focus($offset: 0.4rem, $color: var(--#{$prefix}-modal--wrap-color-surface), $alpha: 0.9);
      }
    }

    .modal-header {
      width: 100%;
      padding: var(--#{$prefix}-modal--header-padding) var(--#{$prefix}-modal--header-padding) var(--#{$prefix}-modal--header-padding-bottom);
			border-bottom: 0.1rem solid var(--#{$prefix}-modal--header-color-border);

      .modal-title {
				line-height: 1.5;
        font-size: var(--#{$prefix}-modal--header-font-size);
        font-weight: 700;
      }
    }

    .modal-conts {
      position: relative;
      overflow-y: auto;
      width: 100%;
      padding: var(--#{$prefix}-modal--conts-padding);
      font-size: var(--#{$prefix}-modal--conts-font-size);

      // @include scrollbar;

			.tit-wrap{
				margin-bottom: 4rem;

				.tit{
					display: flex;
					align-items: center;
					gap: 0.8rem;
					flex-wrap: wrap;
					font-size: 2.4rem;
					font-weight: 700;
					color: #151414;

					small{
						font-size: 1.8rem;
						font-weight: 400;
						color: #494646;
					}
				}
			}
    }

    .modal-btn {
      @include flex-layout($ai: center, $jc: space-between);
      gap: var(--#{$prefix}-modal--btn-gap);
      padding: var(--#{$prefix}-modal--btn-padding-y-top) var(--#{$prefix}-modal--btn-padding-x) var(--#{$prefix}-modal--btn-padding-y-bottom);

      @include mq(mobile) {
        padding: var(--#{$prefix}-modal--btn-padding-top) var(--#{$prefix}-modal--small-padding) var(--#{$prefix}-modal--small-padding);
      }

      .btn {
        @include flex-size(1, 1);
				min-width: var(--#{$prefix}-modal--btn-size-min-width);
      }

      &.column {
        flex-direction: column;
        gap: var(--#{$prefix}-modal--btn-column-gap);

        .btn {
          width: 100%;
        }
      }

      &.multi-conts {
        justify-content: space-between;
      }
    }

    .icon.btn-close {
      @include position($t: var(--#{$prefix}-modal--btn-close-position), $r: var(--#{$prefix}-modal--btn-close-position));
      @include square(var(--#{$prefix}-modal--btn-close-size));
			z-index: 5;

      .svg-icon{
        @include square(var(--#{$prefix}-modal--btn-close-icon-size));
      }
    }
  }

  // full 팝업
  &[data-type="full"] {
    background-color: var(--#{$prefix}-modal--full-popup-surface);

    .modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0;
    }

    .modal-header {
      padding: 2rem 2rem 0;
    }

    .modal-conts {
      padding: 2rem;
    }

    .modal-content {
      height: 100%;
      max-height: 100%;
      background: none;
      margin: 0 auto;
      border: none;
      border-radius: 0;
    }

    .modal-back.in {
      display: none;
    }
  }

  //탑시트(검색창, 전체메뉴 사용)
  &[data-type="top-sheet"]{
    --#{$prefix}-modal--top-sheet-content-padding-top: 4rem;
    --#{$prefix}-modal--top-sheet-header-padding-y: 2.4rem;
    --#{$prefix}-modal--top-sheet-conts-padding-top: 6.4rem;
    --#{$prefix}-modal--top-sheet-conts-padding-bottom: 12rem;
    --#{$prefix}-modal--top-sheet-btn-close-position-top: 6.8rem;
    --#{$prefix}-modal--top-sheet-btn-close-position-right: calc(50% - var(--#{$prefix}-content-width-large)/2);

    transition: none;

    .modal-dialog{
      align-items: flex-start;
      padding: 0;
      max-width: 100%;

      .modal-content{
        position: relative;
        padding-top: var(--#{$prefix}-modal--top-sheet-content-padding-top);
        border-radius: 0;
      }
      .modal-header{
        padding: var(--#{$prefix}-modal--top-sheet-header-padding-y) var(--#{$prefix}-content-padding-x);
        max-width: var(--#{$prefix}-content-wrap-width-large);
        border-bottom: 0;
      }
      .modal-conts{
        padding: var(--#{$prefix}-modal--top-sheet-conts-padding-top) var(--#{$prefix}-content-padding-x) var(--#{$prefix}-modal--top-sheet-conts-padding-bottom);
        max-width: var(--#{$prefix}-content-wrap-width-large);
      }
      .icon.btn-close{
        top: var(--#{$prefix}-modal--top-sheet-btn-close-position-top);
        right: var(--#{$prefix}-modal--top-sheet-btn-close-position-right);
      }
    }

    @include mq(1760){
      --#{$prefix}-modal--top-sheet-btn-close-position-right: var(--#{$prefix}-content-padding-x);
    }
    @include mq(mobile){
      --#{$prefix}-modal--top-sheet-content-padding-top: 0;
      --#{$prefix}-modal--top-sheet-header-padding-y: 1.6rem;
      --#{$prefix}-modal--top-sheet-conts-padding-top: 6.4rem;
      --#{$prefix}-modal--top-sheet-conts-padding-bottom: 6.4rem;
      --#{$prefix}-modal--top-sheet-btn-close-position-top: 1.2rem;
      --#{$prefix}-modal--btn-close-size: 4rem;

      .modal-dialog{
        .icon.btn-close{
          .svg-icon{
            @include square(3.2rem);
          }
        }
      }
    }
  }

  // 바텀시트(모바일만 사용)
  &[data-type="bottom-sheet"] {
    .modal-content {
      position: fixed;
      left: 0;
      bottom: -100%;
      border-radius: 0;
      border-top-left-radius: var(--#{$prefix}-modal--bottom-sheet-radius);
      border-top-right-radius: var(--#{$prefix}-modal--bottom-sheet-radius);
      max-height: 80%;
      transition: var(--#{$prefix}-transition-base);
    }

    .modal-header {
      @include flex-layout($ai: center, $jc: space-between);

      // min-height: calc(var(--#{$prefix}-modal--bottom-sheet-header-padding) + 4.8rem);
      padding: var(--#{$prefix}-modal--bottom-sheet-header-padding) var(--#{$prefix}-modal--bottom-sheet-header-padding-x) 0;
      flex-shrink: 0;
      border-bottom: 0;

      .modal-title {
        font-size: var(--#{$prefix}-modal--header-font-size);
      }
    }

    .modal-conts {
      display: block;
      padding: var(--#{$prefix}-modal--bottom-sheet-cont-padding);

      // @include scrollbar;
    }

    .icon.btn-close {
      top: var(--#{$prefix}-modal--bottom-sheet-header-padding);
      right: var(--#{$prefix}-modal--bottom-sheet-header-padding);
      @include square(var(--#{$prefix}-modal--bottom-sheet-btn-close-size));
      .svg-icon{
        @include square(100%);
      }
    }

    .pop-filter-top {
      width: auto;
    }

    .modal-btn {
      &.btn-wrap {
        padding: var(--#{$prefix}-modal--bottom-sheet-btn-padding-top) var(--#{$prefix}-modal--bottom-sheet-btn-padding-side) var(--#{$prefix}-modal--bottom-sheet-btn-padding-bottom);

        .btn {
          flex: 1;

          &.primary {
            flex: 0 73.35%;
          }
        }

				&.ratio{
					.btn:not(:only-child){
						&:first-child{
							min-width: auto;
							flex: 0 34%;
						}
					}
				}
        &.column {
          .btn {
            flex: none;
          }
        }
      }
    }

    &.in {
      .modal-content {
        bottom: 0;
      }
    }
  }
}

/* mobile */
@include mq(mobile) {
  .modal {
		--#{$prefix}-modal--header-font-size: 1.8rem;
		--#{$prefix}-modal--conts-font-size: 1.6rem;

    &:not([data-type="bottom-sheet"], [data-type="top-sheet"]) {
      // 기본 스타일(bottom-sheet제외), 모바일에서는 기본 모달이 full-popup으로 나옴
			--#{$prefix}-modal--header-padding: 1.6rem;
      --#{$prefix}-modal--header-padding-bottom: 1.6rem;

      --#{$prefix}-modal--conts-padding: 2.4rem 1.6rem;

      --#{$prefix}-modal--btn-close-position: 1.6rem;
      --#{$prefix}-modal--btn-close-size: 3.2rem;
      --#{$prefix}-modal--btn-close-icon-size: 2rem;
      --#{$prefix}-modal--btn-padding-x: 1.6rem;
      --#{$prefix}-modal--btn-padding-y-top: 1.6rem;
      --#{$prefix}-modal--btn-padding-y-bottom: 2.4rem;
      --#{$prefix}-modal--btn-column-gap: 1.6rem;

      .modal-dialog {
				padding: 0;
				min-height: 100vh;

				.modal-content {
					height: 100%;
					max-height: 100%;
					border-radius: 0;
				}
        .modal-conts {
					.tit-wrap{
						.tit{
							flex-direction: column;
							align-items: flex-start;
						}
					}
        }

        &.modal-md{
          min-height: auto;

          .modal-header{
            padding-top: var(--#{$prefix}-modal--bottom-sheet-header-padding);
          }

          .modal-content {
            position: fixed;
            left: 0;
            bottom: -100%;
            border-radius: 0;
            border-top-left-radius: var(--#{$prefix}-modal--bottom-sheet-radius);
            border-top-right-radius: var(--#{$prefix}-modal--bottom-sheet-radius);
            max-height: 80%;
            height: auto;
            transition: var(--#{$prefix}-transition-base);
          }

          .icon.btn-close{
            top: var(--#{$prefix}-modal--bottom-sheet-header-padding);
          }
        }
      }
    }
    &.in {
      .modal-dialog{
        &.modal-md{
          .modal-content {
            bottom: 0;
          }
        }
      }
    }

    // 풀팝업
    &[data-type="full"] {
      --#{$prefix}-modal--full-mobile-btn-close-size: var(--#{$prefix}-size-height-4);

      .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .icon.btn-close{
          @include square(var(--#{$prefix}-modal--full-mobile-btn-close-size));
        }
      }
    }
  }
}
