@use 'sass:map';
@use "../util" as *;

/* 모달 */
// 사이즈 정의
@mixin modal-size-variable() {
  // Mobile : Default
  --#{$prefix}-modal--size-large: 76rem;
  --#{$prefix}-modal--size-medium: 56rem;
  --#{$prefix}-modal--size-small: 40rem;
  --#{$prefix}-modal--size-min-height: 26.4rem;
  --#{$prefix}-modal--wrap-radius: var(--#{$prefix}-radius-max);
  --#{$prefix}-modal--small-padding: var(--#{$prefix}-small-padding-card-large);
  --#{$prefix}-modal--header-padding-top: var(--#{$prefix}-number-17);
  --#{$prefix}-modal--header-small-font-size: var(--#{$prefix}-small-font-size-heading-small);
  --#{$prefix}-modal--conts-padding-top: var(--#{$prefix}-padding-6);
  --#{$prefix}-modal--conts-padding-bottom: var(--#{$prefix}-padding-3);
  --#{$prefix}-modal--conts-gap: var(--#{$prefix}-gap-5);
  --#{$prefix}-modal--cont-small-font-size: var(--#{$prefix}-small-font-size-body-medium);
  --#{$prefix}-modal--btn-gap: var(--#{$prefix}-gap-3);
  --#{$prefix}-modal--small-btn-column-gap: var(--#{$prefix}-small-gap-layout-text-text-large);
  --#{$prefix}-modal--btn-padding-top: var(--#{$prefix}-padding-6);
  --#{$prefix}-modal--btn-size-min-width: 7.8rem;
  --#{$prefix}-modal--btn-close-position: var(--#{$prefix}-padding-3);

  // Tablet 768 ~ 1023
  --#{$prefix}-modal--medium-gap: var(--#{$prefix}-gap-7);
  --#{$prefix}-modal--medium-width: calc(100% - var(--#{$prefix}-gap-7));
  --#{$prefix}-modal--medium-height: calc(100% - var(--#{$prefix}-modal--medium-gap) * 2);
  --#{$prefix}-modal--medium-padding: var(--#{$prefix}-medium-padding-card-large);
  --#{$prefix}-modal--medium-header-padding-top: 5.2rem;
  --#{$prefix}-modal--header-medium-font-size: var(--#{$prefix}-medium-font-size-heading-small);
  --#{$prefix}-modal--conts-medium-font-size: var(--#{$prefix}-medium-font-size-body-medium);
  --#{$prefix}-modal--medium-btn-column-gap: var(--#{$prefix}-medium-gap-layout-text-text-large);
  --#{$prefix}-modal--medium-btn-close-position: var(--#{$prefix}-gap-6);
  --#{$prefix}-modal--medium-btn-padding-top: var(--#{$prefix}-padding-6);
  --#{$prefix}-modal--medium-btn-padding-bottom: var(--#{$prefix}-padding-8);

  // Desktop 1024 ~
  --#{$prefix}-modal--small-gap: var(--#{$prefix}-gap-7);
  --#{$prefix}-modal--small-width: calc(100% - var(--#{$prefix}-gap-7));
  --#{$prefix}-modal--small-height: calc(100% - var(--#{$prefix}-modal--small-gap) * 2);
  --#{$prefix}-modal--large-padding: var(--#{$prefix}-large-padding-card-large);
  --#{$prefix}-modal--small-header-padding-top: 5.2rem;
  --#{$prefix}-modal--header-large-font-size: var(--#{$prefix}-large-font-size-heading-small);
  --#{$prefix}-modal--conts-large-font-size: var(--#{$prefix}-large-font-size-body-medium);
  --#{$prefix}-modal--large-btn-column-gap: var(--#{$prefix}-large-gap-layout-text-text-large);
  --#{$prefix}-modal--small-btn-close-position: var(--#{$prefix}-gap-6);
  --#{$prefix}-modal--small-btn-padding-top: var(--#{$prefix}-padding-6);
  --#{$prefix}-modal--small-btn-padding-bottom: var(--#{$prefix}-padding-8);
}

// 컬러 정의
@mixin modal-color-variable($mode: light) {
  // --#{$prefix}-modal--border-width: var(--#{$prefix}-#{$mode}-border-width-variable-regular);
  --#{$prefix}-modal--color-text: var(--#{$prefix}-#{$mode}-color-text-basic);
  --#{$prefix}-modal--wrap-color-surface: var(--#{$prefix}-#{$mode}-color-surface-elevated-03);
  // --#{$prefix}-modal--wrap-color-border: var(--#{$prefix}-#{$mode}-color-border-gray);
  --#{$prefix}-modal--wrap-shadow: 0 0 0.2rem 0 var(--#{$prefix}-#{$mode}-color-alpha-shadow2), 0 1.6rem 2.4rem 0 var(--#{$prefix}-#{$mode}-color-alpha-shadow3);
  --#{$prefix}-modal--color-dim: var(--#{$prefix}-#{$mode}-color-surface-dimmed);
  --#{$prefix}-modal--full-popup-surface: var(--#{$prefix}-#{$mode}-color-surface-secondary-subtler);
}

// modal size
$modal-size: (
  sm: var(--#{$prefix}-modal--size-small),
  md: var(--#{$prefix}-modal--size-medium),
  lg: var(--#{$prefix}-modal--size-large),
) !default;

// modal default css
@mixin modal-default {
  // display: none;
  position: fixed;
  inset: 0;
  z-index: -1;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:
    visibility 0.15s 0.3s,
    z-index 0s 0.3s,
    opacity 0.2s;
}

.#{$prefix}-modal {
  @include modal-color-variable(map.get($modes, 'light'));
  @include modal-size-variable;
  @include modal-default;
  @include reset-text;

  > * {
    width: 100%;
  }

  &.in {
    z-index: 1010;
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
  }

  &.show {
    // display: block;
		z-index: 1010;
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;

		// .modal-back {
		// 	display: block;
    //   z-index: 1000;
    //   visibility: visible;
		// }
  }

  // dim-backgorund
  .modal-back {
    position: fixed;
    inset: 0;
    visibility: hidden;
    z-index: -1;
    background-color: var(--#{$prefix}-modal--color-dim);

    &.in {
      display: block;
      z-index: 1000;
      visibility: visible;
    }
  }

  // 기본타입
  .modal-dialog {
    @include flex-layout($ai: center);

    position: relative;
    width: var(--#{$prefix}-modal--size-large); // size클래스 없을 경우. 기본 large 84.6rem;
    height: 100%;
    min-height: var(--#{$prefix}-modal--size-min-height);
    margin: 0 auto;

    // modal size
    @each $size, $value in $modal-size {
      &.modal-#{$size} {
        max-width: $value;
      }
    }

    .modal-content {
      @include flex-layout($ai: center, $fd: column);
      
      z-index: 1020;
      position: relative;
      width: 100%;
      max-height: 80%;
      background-color: var(--#{$prefix}-modal--wrap-color-surface);
      border-radius: var(--#{$prefix}-modal--wrap-radius);
      // border: var(--#{$prefix}-modal--border-width) solid var(--#{$prefix}-modal--wrap-color-border);
      color: var(--#{$prefix}-modal--color-text);
      outline-color: transparent;
      transition: outline-color 0.1s;
      box-shadow: var(--#{$prefix}-modal--wrap-shadow);

      > *:not(.btn-close) {
        width: 100%;
      }

      &:focus {
        @include focus($offset: 0.4rem, $color: var(--#{$prefix}-modal--wrap-color-surface), $alpha: 0.9);
      }
    }

    .modal-header {
      width: 100%;
      background-color: inherit;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      padding-top: var(--#{$prefix}-modal--header-padding-top);
      padding-inline: var(--#{$prefix}-modal--small-padding);

      @include size-medium-to-large {
        padding-inline: var(--#{$prefix}-modal--medium-padding);
      }

      @include size-large-more {
        padding-inline: var(--#{$prefix}-modal--large-padding);
      }

      .modal-title {
        @include ellipsis(1);

        font-size: var(--#{$prefix}-modal--header-small-font-size);
        font-weight: var(--#{$prefix}-font-weight-bold);
        text-align: center;

        @include size-medium-to-large {
          font-size: var(--#{$prefix}-modal--header-medium-font-size);
        }

        @include size-large-more {
          font-size: var(--#{$prefix}-modal--header-large-font-size);
        }
      }
    }

    .modal-conts {
      @include flex-layout($fd: column);

      position: relative;
      overflow-y: auto;
      width: 100%;
      padding: var(--#{$prefix}-modal--conts-padding-top) var(--#{$prefix}-modal--large-padding) var(--#{$prefix}-modal--conts-padding-bottom);
      font-size: var(--#{$prefix}-modal--conts-small-font-size);

      @include scrollbar;

      @include size-medium-to-large {
        font-size: var(--#{$prefix}-modal--conts-medium-font-size);
      }

      @include size-large-more {
        font-size: var(--#{$prefix}-modal--conts-large-font-size);
      }

      > * {
        width: 100%;
      }

      .conts-area {
        @include flex-layout($fd: column);

        gap: var(--#{$prefix}-modal--conts-gap);

        > * {
          width: 100%;
        }
      }
    }

    .modal-btn {
      @include flex-layout($ai: center, $jc: space-between);

      gap: var(--#{$prefix}-modal--btn-gap);
      padding: var(--#{$prefix}-modal--btn-padding-top) var(--#{$prefix}-modal--small-padding) var(--#{$prefix}-modal--small-padding);

      @include size-medium-to-large {
        padding: var(--#{$prefix}-modal--btn-padding-top) var(--#{$prefix}-modal--medium-padding) var(--#{$prefix}-modal--medium-padding);
      }

      @include size-large-more {
        padding: var(--#{$prefix}-modal--btn-padding-top) var(--#{$prefix}-modal--large-padding) var(--#{$prefix}-modal--large-padding);
      }

      .#{$prefix}-btn {
        @include flex-size(1, 1);

        min-width: var(--#{$prefix}-modal--btn-size-min-width);
      }

      &.column{
        flex-direction: column;
        gap: var(--#{$prefix}-modal--small-btn-column-gap);

        @include size-medium-to-large {
          gap: var(--#{$prefix}-modal--medium-btn-column-gap);
        }

        @include size-large-more {
          gap: var(--#{$prefix}-modal--large-btn-column-gap);
        }
        

        .#{$prefix}-btn {
          width: 100%
        }
      }

      &.multi-conts {
        justify-content: space-between;
      }
    }

    .btn-close {
      @include position($t: var(--#{$prefix}-modal--btn-close-position), $r: var(--#{$prefix}-modal--btn-close-position));
      @include square(4.8rem);

      z-index: 901;
    }
  }

  // full 팝업(통합검색, 관련기관링크)
  &[data-type='full'] {
    background-color: var(--#{$prefix}-modal--full-popup-surface);

    .modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0;
    }

    .modal-header,
    .modal-conts {
      padding: 0;
    }

    .modal-content {
      height: 100%;
      max-height: 100%;
      background: none;
      margin: 0 auto;
      border: none;
      border-radius: 0;
    }

    .modal-back.in {
      display: none;
    }
  }

  // 바텀시트(모바일만 사용)
  &[data-type='bottom-sheet'] {
    --#{$prefix}-modal--bottom-sheet-radius: var(--#{$prefix}-radius-large);
    --#{$prefix}-modal--bottom-sheet-header-padding: var(--#{$prefix}-padding-7);
    --#{$prefix}-modal--bottom-sheet-header-padding-right: var(--#{$prefix}-number-18);
    --#{$prefix}-modal--bottom-sheet-cont-padding: var(--#{$prefix}-padding-6);
    --#{$prefix}-modal--bottom-sheet-btn-padding-top: var(--#{$prefix}-padding-3);
    --#{$prefix}-modal--bottom-sheet-btn-padding-bottom: var(--#{$prefix}-padding-8);
    --#{$prefix}-modal--bottom-sheet-btn-padding-side: var(--#{$prefix}-padding-6);

    .modal-content {
      position: fixed;
      left: 0;
      bottom: -100%;
      border-radius: 0;
      border-top-left-radius: var(--#{$prefix}-modal--bottom-sheet-radius);
      border-top-right-radius: var(--#{$prefix}-modal--bottom-sheet-radius);
      max-height: calc(100% - 8rem);
      transition: var(--#{$prefix}-transition-base);
    }

    .modal-header {
      @include flex-layout($ai: center, $jc: space-between);

      min-height: calc(var(--#{$prefix}-modal--bottom-sheet-header-padding) + 4.8rem);
      padding: var(--#{$prefix}-modal--bottom-sheet-header-padding) var(--#{$prefix}-modal--bottom-sheet-header-padding-right) 0 var(--#{$prefix}-modal--bottom-sheet-header-padding);
      flex-shrink: 0;

      .modal-title {
        
        font-size: var(--#{$prefix}-large-font-size-heading-small);
      }
    }

    .modal-conts {
      display: block;
      padding: var(--#{$prefix}-modal--bottom-sheet-cont-padding);

      @include scrollbar;
    }

    .btn-close {
      top: var(--#{$prefix}-modal--bottom-sheet-header-padding);
    }

    .pop-filter-top {
      width: auto;
    }


    .modal-btn {
      &.btn-wrap {
        padding: var(--#{$prefix}-modal--bottom-sheet-btn-padding-top) var(--#{$prefix}-modal--bottom-sheet-btn-padding-side) var(--#{$prefix}-modal--bottom-sheet-btn-padding-bottom);

        .#{$prefix}-btn {
          flex: 1;

          &.primary{
            flex: 0 73.35%;
          }
        }
      }
    }

    &.in {
      .modal-content {
        bottom: 0;
      }
    }
  }
}

/* mobile */
@include size-medium {
  .#{$prefix}-modal {
    &:not([data-type='bottom-sheet']) {
      // 기본 스타일(bottom-sheet제외)
      .modal-dialog {
        width: var(--#{$prefix}-modal--mobile-width);
        height: var(--#{$prefix}-modal--mobile-height);
        min-height: var(--#{$prefix}-modal--mobile-height);
        margin: var(--#{$prefix}-modal--mobile-gap) auto;

        .modal-header {
          padding: var(--#{$prefix}-modal--mobile-header-padding-top) var(--#{$prefix}-modal--mobile-padding) 0;

          .modal-title {
            font-size: var(--#{$prefix}-modal--header-small-font-size);
          }
        }

        .modal-content {
          max-height: 100%;
        }

        .modal-conts {
          padding-inline: var(--#{$prefix}-modal--mobile-padding);
          padding-bottom: 0;

          .conts-area {
            > * {
              width: 100%;
            }
          }
        }

        .modal-btn {
          padding: var(--#{$prefix}-modal--mobile-btn-padding-top) var(--#{$prefix}-modal--mobile-padding) var(--#{$prefix}-modal--mobile-btn-padding-bottom);
        }

        .btn-close {
          top: var(--#{$prefix}-modal--mobile-btn-close-position);
          right: var(--#{$prefix}-modal--mobile-btn-close-position);
        }
      }
    }

    // 풀팝업
    &[data-type='full'] {
      --#{$prefix}-modal--full-mobile-btn-close-size: var(--#{$prefix}-size-height-4);

      .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .btn-close {
          @include square(var(--#{$prefix}-modal--full-mobile-btn-close-size));
        }
      }
    }
  }
}

// 고대비모드
@include color-mode($mode: high-contrast) {
  .#{$prefix}-modal {
    @include modal-color-variable(map.get($modes, 'high-contrast'));

    .modal-dialog {
      .modal-conts {
        @include scrollbar(map.get($modes, 'high-contrast'));
      }
    }
  }
}
