@use 'sass:map';
@use "../util" as *;

/* 세그먼트 컨트롤 */
// 사이즈 정의
$segment-control-size: (
	small: (
		padding: 0.4rem,
		button-height: 3.2rem,
		button-padding: 0.8rem,
		gap: 0.4rem,
		radius: 0.8rem,
		font-size: 1.5rem,
	),
	medium: (
		padding: 0.4rem,
		button-height: 4rem,
		button-padding: 0.8rem,
		gap: 0.4rem,
		radius: 1rem,
		font-size: 1.6rem,
	),
	large: (
		padding: 0 0.8rem,
		button-height: 5.6rem,
		button-padding: 2rem,
		gap: 0.4rem,
		radius: 0.2rem,
		font-size: 1.8rem,
	),
) !default;

@mixin segment-control-size-variable() {
  @each $size, $types in $segment-control-size {
    @each $type, $value in $types {
      --#{$prefix}-segment-control--#{$type}-#{$size}: #{$value};
    }
  }
}
@mixin segment-size($size) {
	border-radius: var(--#{$prefix}-segment-control--radius-#{$size});
	font-size: var(--#{$prefix}-segment-control--font-size-#{$size});

	.control-btn {
		padding: 0 var(--#{$prefix}-segment-control--button-padding-#{$size});
		height: var(--#{$prefix}-segment-control--button-height-#{$size});
		border-radius: var(--#{$prefix}-segment-control--radius-#{$size});
	}
}

// 컬러 정의
@mixin segment-control-color-variable() {
  --#{$prefix}-segment-control--color-background: #F3F2F1;

  --#{$prefix}-segment-control--button-color-background-action: #F3F2F1;
  --#{$prefix}-segment-control--button-color-background-action-active: #fff;
  --#{$prefix}-segment-control--button-color-border-action-active: #FF3A08;

  --#{$prefix}-segment-control--button-color-text: var(--#{$prefix}-color-text-subtle);
  --#{$prefix}-segment-control--button-color-text-active: #FF3A08;
}

.segment-control {
  @include segment-control-color-variable();
  @include segment-control-size-variable;

	&{
		@include segment-size(large);
		display: flex;
		justify-content: center;
		gap: 0.8rem;
		overflow-x: auto;
		
		.control-btn {
			align-items: center;
			color: var(--#{$prefix}-segment-control--button-color-text);
			border: 0.1rem solid transparent;
			background-color: var(--#{$prefix}-segment-control--button-color-background-action);
			white-space: nowrap;

			&.active {
				color: var(--#{$prefix}-segment-control--button-color-text-active);
				font-weight: 700;
				background-color: var(--#{$prefix}-segment-control--button-color-background-action-active);
				border-color: var(--#{$prefix}-segment-control--button-color-border-action-active);
			}
		}

		@each $size, $types in $segment-control-size {
			&.#{$size} {
				@include segment-size(#{$size});
			}
		}
	}

	&.bg {
		gap: 0;
		justify-content: space-between;
		background-color: var(--#{$prefix}-segment-control--color-background);
	}

	&.full {
		width: 100%;
		
		.control-btn {
			flex: 1;
		}
	}

	@include mq(tablet){
		justify-content: flex-start;
	}
	@include mq(mobile){
		--#{$prefix}-segment-control--font-size-small: 1.5rem;
		--#{$prefix}-segment-control--font-size-medium: 1.6rem;
		--#{$prefix}-segment-control--font-size-large: 1.8rem;
	}
}