@use 'sass:map';
@use "../util" as *;

/* 세그먼트 컨트롤 */
// 사이즈 정의
@mixin segment-control-size-variable() {
  $segment-control-size: (
    small: (
			padding: var(--#{$prefix}-padding-2),
      button-height: 3.2rem,
			button-padding: 0.8rem,
			gap: 0.4rem,
      radius: 0.8rem,
			pc-font-size: 1.5rem,
      tablet-font-size: 1.5rem,
      mobile-font-size: 1.5rem,
    ),
    medium: (
			padding: var(--#{$prefix}-padding-2),
      button-height: 4rem,
			button-padding: 0.8rem,
			gap: 0.4rem,
      radius: 1rem,
      pc-font-size: 1.6rem,
      tablet-font-size: 1.6rem,
      mobile-font-size: 1.6rem,
    ),
  ) !default;

  // css variable 새성
  @each $size, $types in $segment-control-size {
    @each $type, $value in $types {
      // css variable 생성
      --#{$prefix}-segment-control--#{$type}-#{$size}: #{$value};
    }
  }

  // class 정의
  & {
    // 사이즈 별 class
    @each $size, $types in $segment-control-size {
      &.#{$size} {
				gap: var(--#{$prefix}-segment-control--gap-#{$size});
				padding: var(--#{$prefix}-segment-control--padding-#{$size});
				border-radius: var(--#{$prefix}-segment-control--radius-#{$size});
				font-size: var(--#{$prefix}-segment-control--pc-font-size--#{$size});

				@include mq(tablet) {
					font-size: var(--#{$prefix}-segment-control--tablet-font-size--#{$size});
				}
				@include mq(mobile) {
					font-size: var(--#{$prefix}-segment-control--mobile-font-size-#{$size});
				}

				.control-button {
					align-items: center;
					padding: 0 var(--#{$prefix}-segment-control--button-padding-#{$size});
					height: var(--#{$prefix}-segment-control--button-height-#{$size});
					border-radius: var(--#{$prefix}-segment-control--radius-#{$size});
				}
      }
    }
  }
}

// 컬러 정의
@mixin segment-control-color-variable() {
  --#{$prefix}-segment-control--color-background: var(--#{$prefix}-color-surface-neutral-subtler);

  --#{$prefix}-segment-control--button-color-background-action: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-segment-control--button-color-background-action-active: var(--#{$prefix}-color-action-default);
  --#{$prefix}-segment-control--button-shadow: var(--#{$prefix}-color-alpha-shadow1);

  --#{$prefix}-segment-control--button-color-text: var(--#{$prefix}-color-text-subtle);
  --#{$prefix}-segment-control--button-color-text-active: var(--#{$prefix}-color-text-basic);
}

.#{$prefix}-segment-control {
  @include segment-control-color-variable();
  @include segment-control-size-variable;

	display: inline-flex;
	background-color: var(--#{$prefix}-segment-control--color-background);
	
	.control-button {
		background-color: var(--#{$prefix}-segment-control--button-color-background-action);

		&.active {
			font-weight: var(--#{$prefix}-font-weight-bold);
			background-color: var(--#{$prefix}-segment-control--button-color-background-action-active);
			box-shadow: 0 0.1rem 0.3rem 0 var(--#{$prefix}-segment-control--button-shadow);
		}
	}

	&.full {
		width: 100%;
		
		.control-button {
			flex: 1;
		}
	}
}