@use 'sass:map';
@use "../util" as *;

/* 세그먼트 컨트롤 */
// 사이즈 정의
@mixin segment-control-size-variable() {
  $segment-control-size: (
    small: (
			padding: 0.4rem,
      button-height: 3.2rem,
			button-padding: 0.8rem,
			gap: 0.4rem,
      radius: 0.8rem,
			pc-font-size: 1.5rem,
      tablet-font-size: 1.5rem,
      mobile-font-size: 1.5rem,
    ),
    medium: (
			padding: 0.4rem,
      button-height: 4rem,
			button-padding: 0.8rem,
			gap: 0.4rem,
      radius: 1rem,
      pc-font-size: 1.6rem,
      tablet-font-size: 1.6rem,
      mobile-font-size: 1.6rem,
    ),
    large: (
			padding: 0 0.8rem,
      button-height: 5.6rem,
			button-padding: 2.4rem,
			gap: 0.4rem,
      radius: 0.2rem,
      pc-font-size: 1.8rem,
      tablet-font-size: 1.8rem,
      mobile-font-size: 1.8rem,
    ),
  ) !default;

  // css variable 새성
  @each $size, $types in $segment-control-size {
    @each $type, $value in $types {
      // css variable 생성
      --#{$prefix}-segment-control--#{$type}-#{$size}: #{$value};
    }
  }

  // class 정의
  & {
    // 사이즈 별 class
    @each $size, $types in $segment-control-size {
      &.#{$size} {
				// gap: var(--#{$prefix}-segment-control--gap-#{$size});
				padding: var(--#{$prefix}-segment-control--padding-#{$size});
				border-radius: var(--#{$prefix}-segment-control--radius-#{$size});
				font-size: var(--#{$prefix}-segment-control--pc-font-size-#{$size});

				@include mq(tablet) {
					font-size: var(--#{$prefix}-segment-control--tablet-font-size-#{$size});
				}
				@include mq(mobile) {
					font-size: var(--#{$prefix}-segment-control--mobile-font-size-#{$size});
				}

				.control-btn {
					align-items: center;
					padding: 0 var(--#{$prefix}-segment-control--button-padding-#{$size});
					height: var(--#{$prefix}-segment-control--button-height-#{$size});
					border-radius: var(--#{$prefix}-segment-control--radius-#{$size});
				}
      }
    }
  }
}

// 컬러 정의
@mixin segment-control-color-variable() {
  --#{$prefix}-segment-control--color-background: #F3F2F1;

  --#{$prefix}-segment-control--button-color-background-action: #F3F2F1;
  --#{$prefix}-segment-control--button-color-background-action-active: #fff;
  --#{$prefix}-segment-control--button-color-border-action-active: #FF3A08;

  --#{$prefix}-segment-control--button-color-text: #514E4D;
  --#{$prefix}-segment-control--button-color-text-active: #FF3A08;
}

.segment-control {
  @include segment-control-color-variable();
  @include segment-control-size-variable;

	display: flex;
  justify-content: space-between;
	background-color: var(--#{$prefix}-segment-control--color-background);
	
	.control-btn {
		color: var(--#{$prefix}-segment-control--button-color-text);
    border: 0.1rem solid transparent;
		background-color: var(--#{$prefix}-segment-control--button-color-background-action);

		&.active {
			font-weight: 700;
      color: var(--#{$prefix}-segment-control--button-color-text-active);
			background-color: var(--#{$prefix}-segment-control--button-color-background-action-active);
      border-color: var(--#{$prefix}-segment-control--button-color-border-action-active);
		}
	}

	&.full {
		width: 100%;
		
		.control-btn {
			flex: 1;
		}
	}
}