@use 'sass:map';
@use "../util" as *;

/* 표 */
// 사이즈 정의
@mixin table-size-variable() {
  --#{$prefix}-table--border-width: 0.1rem;
  --#{$prefix}-table--thead-height: 4rem;
  --#{$prefix}-table--thead-font-size: 1.5rem;
  --#{$prefix}-table--tbody-height: 6.4rem;
  --#{$prefix}-table--tbody-font-size: 1.8rem;
  --#{$prefix}-table--tbody-padding-x: 2.4rem;
  --#{$prefix}-table--scroll-padding-bottom: 1.6rem;
  --#{$prefix}-table--scroll-min-width: 118rem;
  --#{$prefix}-table--scrollbar-track-size: 0.4rem;
}

// 컬러 설정
@mixin table-color-variable() {
  --#{$prefix}-table--gradient-bar: linear-gradient(90deg, #FF4D32 25%, #803C4A 50%, #022A62 100%);
  --#{$prefix}-table--thead-color-text: #151414;
  --#{$prefix}-table--thead-color-surface: #F3F2F1;
  --#{$prefix}-table--tbody-color-text: #494646;
  --#{$prefix}-table--tbody-color-divider: #E7E5E4;
  --#{$prefix}-table--tbody-color-surface: #fff;
  --#{$prefix}-table--scrollbar-track-color: #F3F2F1;
  --#{$prefix}-table--scrollbar-thumb-color: #FE5B16;

  --#{$prefix}-table--secondary-border-color: #E7E5E4;
  --#{$prefix}-table--secondary-thead-color-surface: #E7E5E4;
}

.tbl-wrap {
  @include table-color-variable();
  @include table-size-variable;

  overflow-x: auto;
  position: relative;
	width: 100%;
	
  .tbl {
		position: relative;
		width: 100%;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
      height: var(--#{$prefix}-table--border-width);
      background: var(--#{$prefix}-table--gradient-bar);
		}
    
    thead{
      th {
				height: var(--#{$prefix}-table--thead-height);
        color: var(--#{$prefix}-table--thead-color-text);
        font-size: var(--#{$prefix}-table--thead-font-size);
        font-weight: 700;
        text-align: center;
        background-color: var(--#{$prefix}-table--thead-color-surface);
      }
    }

    tbody {
      th {
        font-weight: 400;
      }
      th, td {
				padding: 0 var(--#{$prefix}-table--tbody-padding-x);
        height: var(--#{$prefix}-table--tbody-height);
        color: var(--#{$prefix}-table--tbody-color-text);
        font-size: var(--#{$prefix}-table--tbody-font-size);
        text-align: center;
        border-bottom: var(--#{$prefix}-table--border-width) solid var(--#{$prefix}-table--tbody-color-divider);
        background-color: var(--#{$prefix}-table--tbody-color-surface);

				&:has(.change){
					&.txt-right{
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						justify-content: center;
					}
				}
      }
    }

    th, td {
      vertical-align: middle;
    }
  }

  &.secondary{
    .tbl{
      &::before{
        background: var(--#{$prefix}-table--secondary-border-color);
      }
      thead{
        th{
          background-color: var(--#{$prefix}-table--secondary-thead-color-surface);
        }
      }
    }
  }

  &.scroll {
    overflow: auto hidden;
    // padding-bottom: var(--#{$prefix}-table--scroll-padding-bottom);

    &::-webkit-scrollbar {
      @include square(var(--#{$prefix}-table--scrollbar-track-size));
    }
    &::-webkit-scrollbar-track {
      background-color: var(--#{$prefix}-table--scrollbar-track-color); 
      border-radius: 0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--#{$prefix}-table--scrollbar-thumb-color);
    }

    .tbl {
			min-width: var(--#{$prefix}-table--scroll-min-width);
    }
  }
}