@use 'sass:map';
@use "../util" as *;

/* 표 */
// 사이즈 정의
@mixin table-size-variable() {
  --#{$prefix}-table--border-width: 0.1rem;
  --#{$prefix}-table--thead-height: 4rem;
  --#{$prefix}-table--thead-padding-y: 0.95rem;
  --#{$prefix}-table--thead-font-size: 1.5rem;
  --#{$prefix}-table--tbody-height: 6.4rem;
  --#{$prefix}-table--tbody-font-size: 1.8rem;
  --#{$prefix}-table--tbody-padding-x: 2.4rem;
  --#{$prefix}-table--tbody-padding-y: 1.85rem;
  --#{$prefix}-table--scroll-padding-bottom: 1.6rem;
  --#{$prefix}-table--scroll-min-width: 96rem;
}

// 컬러 설정
@mixin table-color-variable() {
  --#{$prefix}-table--gradient-bar: linear-gradient(90deg, #FF4D32 25%, #803C4A 50%, #022A62 100%);
  --#{$prefix}-table--thead-color-text: #151414;
  --#{$prefix}-table--thead-color-surface: #F3F2F1;
  --#{$prefix}-table--tbody-color-text: #494646;
  --#{$prefix}-table--tbody-color-divider: #E7E5E4;
  --#{$prefix}-table--tbody-color-surface: #fff;

  --#{$prefix}-table--secondary-border-color: #E7E5E4;
  --#{$prefix}-table--secondary-thead-color-surface: #E7E5E4;
}

.tbl-wrap {
  @include table-color-variable();
  @include table-size-variable;

	display: flex;
	flex-direction: column;
	gap: 2.4rem;
  overflow-x: auto;
  position: relative;
	width: 100%;
	
  .tbl {
		position: relative;
		width: 100%;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
      height: var(--#{$prefix}-table--border-width);
      background: var(--#{$prefix}-table--gradient-bar);
		}
    
    thead{
      th {
				padding: var(--#{$prefix}-table--thead-padding-y) 0.8rem;
				min-height: var(--#{$prefix}-table--thead-height);
        color: var(--#{$prefix}-table--thead-color-text);
        font-size: var(--#{$prefix}-table--thead-font-size);
        font-weight: 600;
        text-align: center;
        background-color: var(--#{$prefix}-table--thead-color-surface);
      }
			.emphasis {
				background-color: rgba(208, 156, 88, 0.2);
			}
			.compare {
				background-color: #FEEAE1;
			}
			&:has(tr + tr){
				tr{
					border-bottom: var(--#{$prefix}-table--border-width) solid var(--#{$prefix}-table--tbody-color-divider);

					th{
						border-right: var(--#{$prefix}-table--border-width) solid var(--#{$prefix}-table--tbody-color-divider);

						&:last-child{
							border-right: 0;
						}
					}

					&:last-child{
						border-bottom: 0;
					}
				}
			}
    }

    tbody {
      th, td {
				padding: var(--#{$prefix}-table--tbody-padding-y) var(--#{$prefix}-table--tbody-padding-x);
        min-height: var(--#{$prefix}-table--tbody-height);
        color: var(--#{$prefix}-table--tbody-color-text);
        font-size: var(--#{$prefix}-table--tbody-font-size);
        text-align: center;
				word-break: keep-all;
        border-bottom: var(--#{$prefix}-table--border-width) solid var(--#{$prefix}-table--tbody-color-divider);
        background-color: var(--#{$prefix}-table--tbody-color-surface);

				&:has(.change){
					&.txt-right{
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						justify-content: center;
					}
				}
      }
			th {
				color: var(--#{$prefix}-color-text-strong);
        font-weight: 400;
				background-color: var(--#{$prefix}-table--thead-color-surface);

				&.emphasis {
					background-color: rgba(208, 156, 88, 0.2);
				}
				&.compare {
					background-color: #FEEAE1;
				}
      }
			.emphasis {
				background-color: rgba(208, 156, 88, 0.1);
				
				th{
					color: var(--#{$prefix}-color-text-basic);
					background-color: rgba(208, 156, 88, 0.2);
				}
				td{
					color: var(--#{$prefix}-color-text-basic);
					background-color: rgba(208, 156, 88, 0.1);
				}
			}
			.compare {
				background-color: #FDF5F1;

				th{
					background-color: #FEEAE1;
				}
				td{
					background-color: #FDF5F1;
				}
			}
			strong{
				font-weight: 600;
			}
			.desc{
				display: inline-block;
				margin-bottom: 0.8rem;
			}
    }

    th, td {
      vertical-align: middle;
    }
		.note-list{
			gap: 0.4rem;

			+ .note-list{
				margin-top: 1.2rem;
			}
		}
  }

  &.secondary{
    .tbl{
      &::before{
        background: var(--#{$prefix}-table--secondary-border-color);
      }
      thead{
        th{
          background-color: var(--#{$prefix}-table--secondary-thead-color-surface);
        }
      }
    }
  }
	&.tertiary{
		--#{$prefix}-table--thead-padding-y: 1.85rem;
		--#{$prefix}-table--thead-font-size: 1.8rem;

		.tbl{
			thead{
				th {
					font-size: var(--#{$prefix}-table--thead-font-size);
				}
			}
			tbody{
				tr:first-child{
					th, td{
						border-top: var(--#{$prefix}-table--border-width) solid var(--#{$prefix}-table--tbody-color-divider);
					}
				}
			} 
		}

		@include mq(mobile){
			--#{$prefix}-table--thead-padding-y: 1.2rem;
			--#{$prefix}-table--thead-font-size: 1.4rem;
		}
	}

  &.scroll {
    overflow: auto hidden;

    .tbl {
			min-width: var(--#{$prefix}-table--scroll-min-width);
    }

		&.small{
			--#{$prefix}-table--scroll-min-width: 64rem;
		}
  }

	@include mq(mobile){
		--#{$prefix}-table--tbody-font-size: 1.4rem;
		--#{$prefix}-table--thead-font-size: 1.4rem;
		gap: 1.6rem;

		.note-list{
			> li{
				padding-left: 1.4rem;
				font-size: var(--#{$prefix}-table--tbody-font-size);

				&::before{
					top: 0.8rem;
					left: 0.3rem;
				}
			}
		}
	}
}

.tbl-info{
	// margin-bottom: 2.4rem;
	font-size: 1.6rem;
	color: var(--#{$prefix}-color-text-subtler);

	@include mq(mobile){
		// margin-bottom: 1.6rem;
	}
}