@use 'sass:map';
@use "../util" as *;

/* 탭 */
// 사이즈 정의
@mixin tab-size-variable() {
  --#{$prefix}-tab--button-size-height: var(--#{$prefix}-size-large);
  --#{$prefix}-tab--button-size-min-width: 4.8rem;
  --#{$prefix}-tab--button-large-font-size: var(--#{$prefix}-large-font-size-heading-medium);
  --#{$prefix}-tab--button-medium-font-size: var(--#{$prefix}-medium-font-size-heading-medium);
  --#{$prefix}-tab--button-small-font-size: var(--#{$prefix}-small-font-size-heading-medium);
  --#{$prefix}-tab--gap: var(--#{$prefix}-gap-3);
  --#{$prefix}-tab--full-button-size-height: var(--#{$prefix}-size-large);
  --#{$prefix}-tab--full-button-large-font-size: var(--#{$prefix}-large-font-size-heading-xsmall);
  --#{$prefix}-tab--full-button-medium-font-size: var(--#{$prefix}-medium-font-size-heading-xsmall);
  --#{$prefix}-tab--full-button-small-font-size: var(--#{$prefix}-small-font-size-heading-xsmall);
  --#{$prefix}-tab--line-button-padding: var(--#{$prefix}-padding-3);
  --#{$prefix}-tab--bg-button-padding: var(--#{$prefix}-padding-5);
  --#{$prefix}-tab--bg-button-radius: var(--#{$prefix}-radius-full);
  --#{$prefix}-tab--bg-button-large-font-size: var(--#{$prefix}-large-font-size-heading-xsmall);
  --#{$prefix}-tab--bg-button-size-height: var(--#{$prefix}-size-medium);
  --#{$prefix}-tab--conts-padding-top: var(--#{$prefix}-padding-10);
  --#{$prefix}-tab--small-button-trigger-size-height: var(--#{$prefix}-size-large);
  --#{$prefix}-tab--small-button-trigger-padding-x: var(--#{$prefix}-padding-6);
  --#{$prefix}-tab--small-button-trigger-radius: var(--#{$prefix}-radius-xsmall);
}

// 컬러 정의
@mixin tab-color-variable($mode: light) {
  --#{$prefix}-tab--button-color-action: var(--#{$prefix}-#{$mode}-color-action-transparency);
  --#{$prefix}-tab--button-color-action-hover: var(--#{$prefix}-#{$mode}-color-action-neutral-hover);
  --#{$prefix}-tab--button-color-action-pressed: var(--#{$prefix}-#{$mode}-color-action-neutral-pressed);
  --#{$prefix}-tab--button-color-border: var(--#{$prefix}-#{$mode}-color-action-transparency);
  --#{$prefix}-tab--button-color-text: var(--#{$prefix}-#{$mode}-color-text-subtler);
  --#{$prefix}-tab--button-color-text-disabled: var(--#{$prefix}-#{$mode}-color-text-disabled);
  --#{$prefix}-tab--bg-button-color-action-active: var(--#{$prefix}-#{$mode}-color-action-neutral-active);
  --#{$prefix}-tab--bg-button-color-border: var(--#{$prefix}-#{$mode}-color-action-transparency);
  --#{$prefix}-tab--bg-button-color-border-active: var(--#{$prefix}-#{$mode}-color-action-neutral-active);
  --#{$prefix}-tab--bg-button-color-text: var(--#{$prefix}-#{$mode}-color-text-inverse-static);
  --#{$prefix}-tab--line-button-color-border: var(--#{$prefix}-#{$mode}-color-action-transparency);
  --#{$prefix}-tab--line-button-color-line-active: var(--#{$prefix}-#{$mode}-color-border-neutral-darker);
  --#{$prefix}-tab--line-button-color-text-active: var(--#{$prefix}-#{$mode}-color-text-basic);
  --#{$prefix}-tab--small-button-trigger-color-text: var(--#{$prefix}-#{$mode}-color-text-inverse-static);
  --#{$prefix}-tab--small-button-trigger-color-action: var(--#{$prefix}-#{$mode}-color-action-neutral-active);
}

.#{$prefix}-tab-area {
  @include flex-layout($fd: column);

  gap: var(--#{$prefix}-gap-8);
  width: 100%;

  @include size-medium {
    gap: var(--#{$prefix}-gap-8);
  }
}

.tab {
  @include tab-color-variable(map.get($modes, 'light'));
  @include tab-size-variable;

  > ul {
    @include flex-layout($ai: center);

    gap: var(--#{$prefix}-tab--gap);
    overflow-x: auto;
    width: 100%;
  }

  li,
  .btn-tab {
    @include flex-layout(inline-flex, center, center);

    position: relative;
    white-space: nowrap;
  }

  .btn-tab {
    width: 100%;
    height: var(--#{$prefix}-tab--button-size-height);
    background-color: var(--#{$prefix}-tab--button-color-action);
    border: 1px solid var(--#{$prefix}-tab--button-color-border);
    font-size: var(--#{$prefix}-tab--button-large-font-size);
    color: var(--#{$prefix}-tab--button-color-text);
    font-weight: var(--#{$prefix}-font-weight-bold);
    transition: var(--#{$prefix}-transition-base);

		@include size-medium-to-large {
			font-size: var(--#{$prefix}-tab--button-medium-font-size);
		}

    @include size-medium {
      font-size: var(--#{$prefix}-tab--button-small-font-size);
    }

    &:not(:disabled):hover {
      background-color: var(--#{$prefix}-tab--button-color-action-hover);
      transition: var(--#{$prefix}-transition-base);
    }

    &:not(:disabled):active {
      background-color: var(--#{$prefix}-tab--button-color-action-pressed);
      transition: var(--#{$prefix}-transition-base);
    }

    &:focus {
      @include focus;
    }

    &[disabled] {
      color: var(--#{$prefix}-tab--button-color-text-disabled);
      cursor: default;
    }
  }

  li {
    flex-grow: 0;
  }

  &.full {
    // 풀사이즈
    width: 100%;

    .btn-tab {
      height: var(--#{$prefix}-tab--full-button-size-height);
      padding: 0;
      font-size: var(--#{$prefix}-tab--full-button-large-font-size);

      @include size-medium-to-large {
        font-size: var(--#{$prefix}-tab--full-button-medium-font-size);
      }
      @include size-medium {
        font-size: var(--#{$prefix}-tab--full-button-small-font-size);
      }
    }

    > ul {
      @include group-wrap;

      gap: 0;

      > li {
        @include equal-width;
      }
    }
  }

  &.bg {
    // bg 타입
    .btn-tab {
			padding: 0 var(--#{$prefix}-tab--bg-button-padding);
			font-size: var(--#{$prefix}-tab--bg-button-large-font-size);
			height: var(--#{$prefix}-tab--bg-button-size-height);
      border-radius: var(--#{$prefix}-tab--bg-button-radius);

      &:focus {
        box-shadow: inset 0 0 0 0.6rem var(--#{$prefix}-#{map.get($modes, 'light')}-color-border-primary);
        outline-offset: -0.4rem;
      }
    }

    .active {
      .btn-tab {
        background-color: var(--#{$prefix}-tab--bg-button-color-action-active);
        border-color: var(--#{$prefix}-tab--bg-button-color-border-active) !important;
        color: var(--#{$prefix}-tab--bg-button-color-text);
      }
    }

    &.full {
      .btn-tab {
        border-color: var(--#{$prefix}-tab--bg-button-color-border);
      }

      > ul {
        > li {
          & + li {
            .btn-tab {
              border-left: none;
            }
          }

          .btn-tab {
            border-radius: 0;
          }

          &:first-of-type {
            .btn-tab {
              border-top-left-radius: var(--#{$prefix}-tab--bg-button-radius);
              border-bottom-left-radius: var(--#{$prefix}-tab--bg-button-radius);
            }
          }

          &:last-of-type {
            .btn-tab {
              border-top-right-radius: var(--#{$prefix}-tab--bg-button-radius);
              border-bottom-right-radius: var(--#{$prefix}-tab--bg-button-radius);
            }
          }
        }
      }
    }
  }

  &.line {
    // line 타입
    .btn-tab {
      min-width: var(--#{$prefix}-tab--button-size-min-width);
      padding: 0 var(--#{$prefix}-tab--line-button-padding);

      &::before {
        @include position($b: 0, $l: 50%);
        @include pseudo;

        width: 0;
        height: 0.4rem;
        background-color: var(--#{$prefix}-tab--line-button-color-line-active);
        transition: var(--#{$prefix}-transition-base);
      }
    }

    .active {
      .btn-tab {
        color: var(--#{$prefix}-tab--line-button-color-text-active);

        &::before {
          @include position($b: 0, $l: 0);

          width: 100%;
        }
      }
    }

    &.full {
      .btn-tab {
        border: 0;
        border-bottom: 2px solid var(--#{$prefix}-tab--line-button-color-border);

        &::before {
          bottom: -0.2rem;
        }
      }
    }
  }
}

.tab-conts-wrap {
  width: 100%;
}

.tab-conts {
  display: none;
  margin-top: var(--#{$prefix}-tab--conts-padding-top);

  &.active {
    @include flex-layout($fd: column, $ai: normal);
  }
}

// mobile only
@include size-medium {
  .tab-conts {
    &.active {
      gap: var(--#{$prefix}-padding-8);
    }
  }

  .tab {
    &.bg {
      &.full {
        .btn-tab {
          border-color: var(--#{$prefix}-tab--bg-button-color-border);
          padding: 0 var(--#{$prefix}-padding-5);
          border-width: 0;
        }

        > ul {
          gap: var(--#{$prefix}-gap-3);
          flex-wrap: nowrap;

          > li {
            width: fit-content;
            flex: none;

            .btn-tab {
              border-radius: var(--#{$prefix}-tab--bg-button-radius);
            }
          }
        }
      }
    }
  }
}

// 고대비모드
@include color-mode($mode: high-contrast) {
  .tab {
    @include tab-color-variable(map.get($modes, 'high-contrast'));
  }
}
