@use 'sass:map';
@use "../util" as *;

/* 탭 */
// 사이즈 정의
@mixin tab-size-variable() {
  --#{$prefix}-tab--gap: 0.8rem;
  --#{$prefix}-tab--button-size-height: 4.8rem;
  --#{$prefix}-tab--button-font-size: 2.4rem;

  --#{$prefix}-tab--line-button-size-min-width: 20rem;
  --#{$prefix}-tab--line-button-padding: 1.4rem 2rem;
}

// 컬러 정의
@mixin tab-color-variable() {
  --#{$prefix}-tab--button-color-action: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-tab--button-color-action-hover: var(--#{$prefix}-color-action-neutral-hover);
  --#{$prefix}-tab--button-color-action-pressed: var(--#{$prefix}-color-action-neutral-pressed);
  --#{$prefix}-tab--button-color-border: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-tab--button-color-text: var(--#{$prefix}-color-text-subtler);
  --#{$prefix}-tab--button-color-text-disabled: var(--#{$prefix}-color-text-disabled);

  --#{$prefix}-tab--line-button-color-border: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-tab--line-button-color-line: #E6E5E5;
  --#{$prefix}-tab--line-button-color-line-active: #FE5B16;
  --#{$prefix}-tab--line-button-color-text-active: #151414;
}

.tab {
  @include tab-color-variable();
  @include tab-size-variable;

  > ul {
    @include flex-layout($ai: center);
		// justify-content: center;
    gap: var(--#{$prefix}-tab--gap);
    overflow-x: auto;
    width: 100%;

    li {
      flex-grow: 0;

      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }
    }
  }

  li,
  .btn-tab {
    @include flex-layout(inline-flex, center, center);
    position: relative;
    white-space: nowrap;
  }

  .btn-tab {
    width: 100%;
    // height: var(--#{$prefix}-tab--button-size-height);
    background-color: var(--#{$prefix}-tab--button-color-action);
    border: 0.1rem solid var(--#{$prefix}-tab--button-color-border);
    font-size: var(--#{$prefix}-tab--button-font-size);
    color: var(--#{$prefix}-tab--button-color-text);
    font-weight: 700;
    transition: var(--#{$prefix}-transition-base);

    &:not(:disabled):hover {
      background-color: var(--#{$prefix}-tab--button-color-action-hover);
    }

    &:not(:disabled):active {
      background-color: var(--#{$prefix}-tab--button-color-action-pressed);
    }

    &:focus {
      @include focus;
    }

    &[disabled] {
      color: var(--#{$prefix}-tab--button-color-text-disabled);
      cursor: default;
    }
  }

  &.full {
    // 풀사이즈
    // width: 100%;

    .btn-tab {
      padding: 0;
    }

    > ul {
      @include group-wrap;

      gap: 0;

      > li {
        @include equal-width;
      }
    }
  }

  // line 타입
  &.line {
		position: relative;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 100%;
			height: 0.2rem;
			background-color: var(--#{$prefix}-tab--line-button-color-line);
		}

    .btn-tab {
      min-width: var(--#{$prefix}-tab--line-button-size-min-width);
      padding: var(--#{$prefix}-tab--line-button-padding);

      &::after {
        @include position($b: 0, $l: 50%);
        @include pseudo;

        width: 0;
        height: 0.2rem;
        background-color: var(--#{$prefix}-tab--line-button-color-line-active);
        transition: var(--#{$prefix}-transition-base);
      }
    }

    .active {
      .btn-tab {
        color: var(--#{$prefix}-tab--line-button-color-text-active);

				&::before{
					content: '';
					display: inline-block;
					align-self: flex-start;
					margin-right: 0.4rem;
					width: 0.6rem;
					height: 0.6rem;
					background-color: #F54500;
				}
        &::after {
          @include position($b: 0, $l: 0);
          width: 100%;
        }
      }
    }
  }

	@include mq(pc){
		> ul{
			justify-content: flex-start;
		}

		li{
			flex: 1;
		}
	}

	@include mq(tablet){
    --#{$prefix}-tab--line-button-size-min-width: auto;
    --#{$prefix}-tab--line-button-padding: 1.6rem 2rem;
	}
	@include mq(mobile){
    --#{$prefix}-tab--button-font-size: 2.1rem; 
    // --#{$prefix}-tab--line-button-size-min-width: auto;
    // --#{$prefix}-tab--line-button-padding: 1.6rem 2rem;

		&.line{
			margin-left: calc(var(--#{$prefix}-content-padding-x) * -1);
			margin-right: calc(var(--#{$prefix}-content-padding-x) * -1);
		}
	}
}

.tab-conts-wrap {
	--#{$prefix}-tab--conts-padding-top: 4rem;

	margin-top: var(--#{$prefix}-tab--conts-padding-top);
  width: 100%;

  .tab-conts {
    display: none;
    margin-top: var(--#{$prefix}-tab--conts-padding-top);
  
    &.active {
      @include flex-layout($fd: column, $ai: normal);
    }
  }

  @include mq(mobile){
		--#{$prefix}-tab--conts-padding-top: 2.4rem;
	}
}