@use 'sass:map';
@use "../util" as *;

/* 탭 */
// 사이즈 정의
@mixin tab-size-variable() {
  --#{$prefix}-tab--button-size-height: 4.8rem;
  --#{$prefix}-tab--button-size-min-width: 20rem;
  --#{$prefix}-tab--button-pc-font-size: 2.4rem;
  --#{$prefix}-tab--button-tablet-font-size: 2.4rem;
  --#{$prefix}-tab--button-mobile-font-size: 2.4rem;
  --#{$prefix}-tab--gap: 0.8rem;
  // --#{$prefix}-tab--full-button-size-height: 4.8rem;
  // --#{$prefix}-tab--full-button-pc-font-size: var(--#{$prefix}-pc-font-size--heading-xsmall);
  // --#{$prefix}-tab--full-button-tablet-font-size: var(--#{$prefix}-tablet-font-size--heading-xsmall);
  // --#{$prefix}-tab--full-button-mobile-font-size: var(--#{$prefix}-mobile-font-size-heading-xsmall);
  --#{$prefix}-tab--line-button-padding: 1.4rem 2rem;
  // --#{$prefix}-tab--bg-button-padding: 1.2rem;
  // --#{$prefix}-tab--bg-button-radius: var(--#{$prefix}-radius-full);
  // --#{$prefix}-tab--bg-button-pc-font-size: var(--#{$prefix}-pc-font-size--heading-xsmall);
  // --#{$prefix}-tab--bg-button-size-height: var(--#{$prefix}-size-medium);
}

// 컬러 정의
@mixin tab-color-variable() {
  --#{$prefix}-tab--button-color-action: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-tab--button-color-action-hover: var(--#{$prefix}-color-action-neutral-hover);
  --#{$prefix}-tab--button-color-action-pressed: var(--#{$prefix}-color-action-neutral-pressed);
  --#{$prefix}-tab--button-color-border: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-tab--button-color-text: var(--#{$prefix}-color-text-subtler);
  --#{$prefix}-tab--button-color-text-disabled: var(--#{$prefix}-color-text-disabled);
  // --#{$prefix}-tab--bg-button-color-action-active: var(--#{$prefix}-color-action-neutral-active);
  // --#{$prefix}-tab--bg-button-color-border: var(--#{$prefix}-color-action-transparency);
  // --#{$prefix}-tab--bg-button-color-border-active: var(--#{$prefix}-color-action-neutral-active);
  // --#{$prefix}-tab--bg-button-color-text: var(--#{$prefix}-color-text-white);
  --#{$prefix}-tab--line-button-color-border: var(--#{$prefix}-color-action-transparency);
  --#{$prefix}-tab--line-button-color-line: #E6E5E5;
  --#{$prefix}-tab--line-button-color-line-active: #FE5B16;
  --#{$prefix}-tab--line-button-color-text-active: #151414;
}

// .tab-area {
//   @include flex-layout($fd: column);

//   gap: var(--#{$prefix}-gap-8);
//   width: 100%;

//   @include mq(mobile) {
//     gap: var(--#{$prefix}-gap-8);
//   }
// }

.tab {
  @include tab-color-variable();
  @include tab-size-variable;

  > ul {
    @include flex-layout($ai: center);
		justify-content: center;

    gap: var(--#{$prefix}-tab--gap);
    overflow-x: auto;
    width: 100%;
  }

  li,
  .btn-tab {
    @include flex-layout(inline-flex, center, center);

    position: relative;
    white-space: nowrap;
  }

  .btn-tab {
    width: 100%;
    // height: var(--#{$prefix}-tab--button-size-height);
    background-color: var(--#{$prefix}-tab--button-color-action);
    border: 0.1rem solid var(--#{$prefix}-tab--button-color-border);
    font-size: var(--#{$prefix}-tab--button-pc-font-size);
    color: var(--#{$prefix}-tab--button-color-text);
    font-weight: 700;
    transition: var(--#{$prefix}-transition-base);

		@include mq(tablet) {
			font-size: var(--#{$prefix}-tab--button-tablet-font-size);
		}

    @include mq(mobile) {
      font-size: var(--#{$prefix}-tab--button-mobile-font-size);
    }

    &:not(:disabled):hover {
      background-color: var(--#{$prefix}-tab--button-color-action-hover);
      transition: var(--#{$prefix}-transition-base);
    }

    &:not(:disabled):active {
      background-color: var(--#{$prefix}-tab--button-color-action-pressed);
      transition: var(--#{$prefix}-transition-base);
    }

    &:focus {
      @include focus;
    }

    &[disabled] {
      color: var(--#{$prefix}-tab--button-color-text-disabled);
      cursor: default;
    }
  }

  li {
    flex-grow: 0;
  }

  &.full {
    // 풀사이즈
    width: 100%;

    .btn-tab {
      height: var(--#{$prefix}-tab--full-button-size-height);
      padding: 0;
      font-size: var(--#{$prefix}-tab--full-button-pc-font-size);

      @include mq(tablet) {
        font-size: var(--#{$prefix}-tab--full-button-tablet-font-size);
      }
      @include mq(mobile) {
        font-size: var(--#{$prefix}-tab--full-button-mobile-font-size);
      }
    }

    > ul {
      @include group-wrap;

      gap: 0;

      > li {
        @include equal-width;
      }
    }
  }

  // &.bg {
  //   // bg 타입
  //   .btn-tab {
	// 		padding: 0 var(--#{$prefix}-tab--bg-button-padding);
	// 		font-size: var(--#{$prefix}-tab--bg-button-pc-font-size);
	// 		height: var(--#{$prefix}-tab--bg-button-size-height);
  //     border-radius: var(--#{$prefix}-tab--bg-button-radius);

  //     &:focus {
  //       box-shadow: inset 0 0 0 0.6rem var(--#{$prefix}-color-border-primary);
  //       outline-offset: -0.4rem;
  //     }
  //   }

  //   .active {
  //     .btn-tab {
  //       background-color: var(--#{$prefix}-tab--bg-button-color-action-active);
  //       border-color: var(--#{$prefix}-tab--bg-button-color-border-active) !important;
  //       color: var(--#{$prefix}-tab--bg-button-color-text);
  //     }
  //   }

  //   &.full {
  //     .btn-tab {
  //       border-color: var(--#{$prefix}-tab--bg-button-color-border);
  //     }

  //     > ul {
  //       > li {
  //         & + li {
  //           .btn-tab {
  //             border-left: none;
  //           }
  //         }

  //         .btn-tab {
  //           border-radius: 0;
  //         }

  //         &:first-of-type {
  //           .btn-tab {
  //             border-top-left-radius: var(--#{$prefix}-tab--bg-button-radius);
  //             border-bottom-left-radius: var(--#{$prefix}-tab--bg-button-radius);
  //           }
  //         }

  //         &:last-of-type {
  //           .btn-tab {
  //             border-top-right-radius: var(--#{$prefix}-tab--bg-button-radius);
  //             border-bottom-right-radius: var(--#{$prefix}-tab--bg-button-radius);
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  &.line {
    // line 타입
		position: relative;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 100%;
			height: 0.2rem;
			background-color: var(--#{$prefix}-tab--line-button-color-line);
		}
		// border-bottom: 0.2rem solid var(--#{$prefix}-tab--line-button-color-line);
		// box-sizing: border-box;

    .btn-tab {
      min-width: var(--#{$prefix}-tab--button-size-min-width);
      padding: var(--#{$prefix}-tab--line-button-padding);

      &::after {
        @include position($b: 0, $l: 50%);
        @include pseudo;

        width: 0;
        height: 0.2rem;
        background-color: var(--#{$prefix}-tab--line-button-color-line-active);
        transition: var(--#{$prefix}-transition-base);
      }
    }

    .active {
      .btn-tab {
        color: var(--#{$prefix}-tab--line-button-color-text-active);

				&::before{
					content: '';
					display: inline-block;
					align-self: flex-start;
					margin-right: 0.4rem;
					width: 0.6rem;
					height: 0.6rem;
					background-color: #F54500;
				}
        &::after {
          @include position($b: 0, $l: 0);

          width: 100%;
        }
      }
    }

    &.full {
      .btn-tab {
        border: 0;
        border-bottom: 2px solid var(--#{$prefix}-tab--line-button-color-border);

        &::before {
          bottom: -0.2rem;
        }
      }
    }
  }

	@include mq(pc){
		> ul{
			justify-content: flex-start;
		}

		li{
			flex: 1;
		}
	}

	@include mq(mobile){
		&.line{
			margin-left: calc(var(--#{$prefix}-content-padding-x) * -1);
			margin-right: calc(var(--#{$prefix}-content-padding-x) * -1);
		}
	}
}

.tab-conts-wrap {
	--#{$prefix}-tab--conts-padding-top: 4rem;

	margin-top: var(--#{$prefix}-tab--conts-padding-top);
  width: 100%;

	@include mq(mobile){
		--#{$prefix}-tab--conts-padding-top: 2.4rem;
	}
}

.tab-conts {
  display: none;
  margin-top: var(--#{$prefix}-tab--conts-padding-top);

  &.active {
    @include flex-layout($fd: column, $ai: normal);
  }
}

// mobile only
@include mq(mobile) {
  .tab-conts {
    &.active {
      gap: 2.4rem;
    }
  }

  .tab {
    &.bg {
      &.full {
        .btn-tab {
          border-color: var(--#{$prefix}-tab--bg-button-color-border);
          padding: 0 1.2rem;
          border-width: 0;
        }

        > ul {
          gap: 0.8rem;
          flex-wrap: nowrap;

          > li {
            width: fit-content;
            flex: none;

            .btn-tab {
              border-radius: var(--#{$prefix}-tab--bg-button-radius);
            }
          }
        }
      }
    }
  }
}