@use 'sass:map';
@use "../util" as *;

/* tag style */
// 사이즈 정의
@mixin tag-size-variable() {
  // 컬러 변수 배열 생성
  $tag-size: (
    small: (
      wrapper-gap-x: 0.8rem,
      wrapper-gap-y: 1.6rem,
      size-height: 2.4rem,
			expand-button-gap: 0.1rem,
      button-size: 1.4rem,
      padding-x: 0.8rem,
      font-size: 1.3rem,
    ),
    medium: (
      wrapper-gap-x: 0rem,
      wrapper-gap-y: 0rem,
      size-height: 4rem,
      expand-button-gap: 0.2rem,
      button-size: 1.6rem,
      padding-x: 1.6rem,
      font-size: 1.8rem,
    ),
    large: (
      wrapper-gap-x: 0.8rem,
      wrapper-gap-y: 1rem,
      size-height: 4.8rem,
      expand-button-gap: 0.4rem,
      button-size: 1.8rem,
      padding-x: 2.4rem,
      font-size: 1.8rem,
    ),
  ) !default;

  // css variable 생성
  @each $size, $types in $tag-size {
    @each $type, $value in $types {
      --#{$prefix}-btn-tag--#{$type}-#{$size}: #{$value};
    }
  }

  // class 정의
  & {
    @each $size, $types in $tag-size {
      &.#{$size} {
        @include tag-wrapper(#{$size});

        .btn-tag {
          @include tag(#{$size});

          .btn-delete {
            @include tag-delete-button(#{$size});
          }
        }
				.btn-expand-wrap {
					@include tag-expand-button(#{$size}, 'wrap');

					.btn-expand {
						@include tag-expand-button(#{$size}, 'btn');
	
						&::before{
							@include tag-expand-button(#{$size}, 'icon');
						}
					}
				}

				&.expand {
					max-height: var(--#{$prefix}-btn-tag--size-height-#{$size});

					&.active {
						max-height: 1000vh;
					}
				}
      }
    }
  }
}

@mixin tag-wrapper($size) {
  gap: var(--#{$prefix}-btn-tag--wrapper-gap-y-#{$size}) var(--#{$prefix}-btn-tag--wrapper-gap-x-#{$size});
}

@mixin tag($size) {
  gap: 0.2rem;
  min-height: var(--#{$prefix}-btn-tag--size-height-#{$size});
  padding: 0.8rem var(--#{$prefix}-btn-tag--padding-x-#{$size});
  border-radius: var(--#{$prefix}-btn-tag--size-height-#{$size});
  font-size: var(--#{$prefix}-btn-tag--font-size-#{$size});
}

@mixin tag-delete-button($size) {
  @include square(var(--#{$prefix}-btn-tag--button-size-#{$size}));
}

@mixin tag-expand-button($size, $type) {
	@if $type == 'wrap' {
		width: calc(var(--#{$prefix}-btn-tag--size-height-#{$size}) + 2.4rem);
		min-height: calc(var(--#{$prefix}-btn-tag--size-height-#{$size}));
	} @else if $type == 'btn' {
		@include square(calc(var(--#{$prefix}-btn-tag--size-height-#{$size}) - var(--#{$prefix}-btn-tag--expand-button-gap-#{$size}) * 2));
	} @else if $type == 'icon' {
		@include svg-icon(calc(var(--#{$prefix}-btn-tag--size-height-#{$size}) * 0.48));
		@include icon-set(angle);
	}
}

// 컬러 정의
@mixin tag-color-variable() {
  --#{$prefix}-btn-tag--color-text: var(--#{$prefix}-color-text-basic);
  --#{$prefix}-btn-tag--color-action: var(--#{$prefix}-color-action-default);
  --#{$prefix}-btn-tag--color-action-hover: var(--#{$prefix}-color-action-neutral-hover);
  --#{$prefix}-btn-tag--color-action-pressed: var(--#{$prefix}-color-action-neutral-pressed);
  --#{$prefix}-btn-tag--color-border: var(--#{$prefix}-color-border-neutral-light);
  --#{$prefix}-btn-tag--color-border-hover: var(--#{$prefix}-btn-tag--color-action-hover);
  --#{$prefix}-btn-tag--color-border-pressed: var(--#{$prefix}-btn-tag--color-action-pressed);
  --#{$prefix}-btn-tag--color-icon: var(--#{$prefix}-color-icon-gray-light);

	--#{$prefix}-btn-tag--link-color-action: var(--#{$prefix}-color-action-primary-on);
  --#{$prefix}-btn-tag--link-color-action-hover: var(--#{$prefix}-color-action-primary-on-hover);
  --#{$prefix}-btn-tag--link-color-action-pressed: var(--#{$prefix}-color-action-primary-pressed);
  --#{$prefix}-btn-tag--link-color-border: var(--#{$prefix}-btn-tag--link-color-action);
	--#{$prefix}-btn-tag--link-color-border-hover: var(--#{$prefix}-btn-tag--link-color-action-hover);
  --#{$prefix}-btn-tag--link-color-border-pressed: var(--#{$prefix}-btn-tag--link-color-action-pressed);

	--#{$prefix}-btn-tag--button-color-background: var(--#{$prefix}-color-action-default);
	--#{$prefix}-btn-tag--button-color-border: var(--#{$prefix}-color-border-neutral-light);
	--#{$prefix}-btn-tag--button-color-icon: var(--#{$prefix}-color-icon-gray);
	--#{$prefix}-btn-tag--button-color-gradient-start: var(--#{$prefix}-color-alpha-base0);
	--#{$prefix}-btn-tag--button-color-gradient-end: var(--#{$prefix}-color-alpha-base100);
}

.tag-wrap {
  @include tag-color-variable();
  @include tag-size-variable;

  $size: medium;
	
  & {
		display: flex;
    flex-wrap: wrap;
		@include tag-wrapper(#{$size});
  }

  .btn-tag {
    @include flex-layout($d: inline-flex, $ai: center);

    position: relative;
		@include tag(#{$size});

    &:hover, &:active {
      background-color: var(--#{$prefix}-btn-tag--color-action-hover);
    }
  }

	&.text{
		background-color: transparent;

		.btn-tag{
			&:hover, &:active{
				color: var(--#{$prefix}-color-text-primary-dark);
				font-weight: 600;
				text-decoration: underline;
				text-underline-offset: 0.3rem;
			}
		}
	}

	@include mq(mobile){
	}
}
