@use 'sass:map';
@use "../util" as *;

/* 토스트 */
// 사이즈 정의
@mixin toast-size-variable() {
  --#{$prefix}-toast--group-padding: 4rem;
  --#{$prefix}-toast--group-gap: 1.2rem;
  --#{$prefix}-toast--padding: 2rem;
  --#{$prefix}-toast--radius: var(--#{$prefix}-radius-max);
  --#{$prefix}-toast--contents-font-size: 1.6rem;
}

@mixin toast-color-variable() {
  --#{$prefix}-toast--color-background: rgba(0, 0, 0, 0.7);
  --#{$prefix}-toast--color-text-color: #fff;
}

.toast-container {
  @include toast-size-variable;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: var(--#{$prefix}-toast--group-gap);
  padding: var(--#{$prefix}-toast--group-padding);
  z-index: 9999;
  pointer-events: none;

  .toast {
    @include toast-color-variable();
    display: flex;
    align-items: center;
		justify-content: center;
    gap: 0.8rem;
    width: 32rem;
    padding: var(--#{$prefix}-toast--padding);
    color: var(--#{$prefix}-toast--color-text-color);
    font-size: var(--#{$prefix}-toast--contents-font-size);
    font-weight: 600;
    border-radius: var(--#{$prefix}-toast--radius);
    background-color: var(--#{$prefix}-toast--color-background);
    pointer-events: auto;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.21, 1.02, 0.73, 1), transform 0.4s cubic-bezier(0.21, 1.02, 0.73, 1);

    .svg-icon{
      background-color: currentColor;
    }
  }

  &.top-left {
    top: var(--#{$prefix}-toast--group-space-y);
    left: var(--#{$prefix}-toast--group-space-x);
    align-items: flex-start;
  }

  &.top-center {
    top: var(--#{$prefix}-toast--group-space-y);
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  &.top-right {
    top: var(--#{$prefix}-toast--group-space-y);
    right: var(--#{$prefix}-toast--group-space-x);
    align-items: flex-end;
  }

  &.bottom-left {
    bottom: var(--#{$prefix}-toast--group-space-y);
    left: var(--#{$prefix}-toast--group-space-x);
    align-items: flex-start;
  }

  &.bottom-center {
    bottom: var(--#{$prefix}-toast--group-space-y);
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  &.bottom-right {
    bottom: var(--#{$prefix}-toast--group-space-y);
    right: var(--#{$prefix}-toast--group-space-x);
    align-items: flex-end;
  }

  &.top-left .toast,
  &.top-center .toast,
  &.top-right .toast {
    transform: translateY(-100%);
  }

  .toast{
    &.show {
      opacity: 1;
      transform: translateY(0);
    }
  }
}





