@use 'sass:map';
@use "../util" as *;

/* 토스트 */
// 사이즈 정의
@mixin toast-size-variable() {
  --#{$prefix}-toast--group-space-y: 4rem; 
  --#{$prefix}-toast--group-space-x: var(--#{$prefix}-grid-screen-margin); 
  --#{$prefix}-toast--group-gap: var(--#{$prefix}-padding-5);
  --#{$prefix}-toast--small-padding-y: var(--#{$prefix}-small-padding-card-small);
  --#{$prefix}-toast--medium-padding-y: var(--#{$prefix}-medium-padding-card-small);
  --#{$prefix}-toast--large-padding-y: var(--#{$prefix}-large-padding-card-small);
  --#{$prefix}-toast--small-padding-x: var(--#{$prefix}-small-padding-card-large);
  --#{$prefix}-toast--medium-padding-x: var(--#{$prefix}-medium-padding-card-large);
  --#{$prefix}-toast--large-padding-x: var(--#{$prefix}-large-padding-card-large);
  --#{$prefix}-toast--radius: var(--#{$prefix}-radius-full);
  --#{$prefix}-toast--contents-small-font-size: var(--#{$prefix}-small-font-size-body-small);
  --#{$prefix}-toast--contents-medium-font-size: var(--#{$prefix}-medium-font-size-body-small);
  --#{$prefix}-toast--contents-large-font-size: var(--#{$prefix}-large-font-size-body-small);
  --#{$prefix}-toast--contents-letter-spacing: var(--#{$prefix}-typo-letter-spacing-0);
  --#{$prefix}-toast--contents-gap: var(--#{$prefix}-gap-4);
  --#{$prefix}-toast--contents-icon-size: var(--#{$prefix}-number-11);
}

@mixin toast-color-variable($mode: light) {
  $toast-color-variable: (
    light: (
      text-color: var(--#{$prefix}-#{$mode}-color-text-basic),
      background: var(--#{$prefix}-#{$mode}-color-surface-elevated-03),
      shadow-bg-x: var(--#{$prefix}-#{$mode}-color-alpha-shadow2),
      shadow-bg-y: var(--#{$prefix}-#{$mode}-color-alpha-shadow3),
      shadow-width-x: var(--#{$prefix}-#{$mode}-shadow-y-3),
      shadow-width-y: var(--#{$prefix}-#{$mode}-shadow-blur-3),
    ),
    dark: (
      text-color: var(--#{$prefix}-#{$mode}-color-text-basic-inverse),
      background: var(--#{$prefix}-#{$mode}-color-surface-inverse),
    ),
  ) !default;

  // css variable 생성
  @each $color, $types in $toast-color-variable {
    @each $type, $value in $types {
      --#{$prefix}-toast--color-#{$color}-#{$type}: #{$value};
    }
  }
}

.#{$prefix}-toast-container {
  @include toast-size-variable;
  @include flex-layout($jc: center, $fd: column);

  position: fixed;
  z-index: 9999;
  width: 100%;
  gap: var(--#{$prefix}-toast--group-gap);
  pointer-events: none;

  .#{$prefix}-toast {
    @include toast-color-variable(map.get($modes, 'light'));

    width: fit-content;
    min-width: 24rem; /* 최소 너비 조정 */
    padding: var(--#{$prefix}-toast--small-padding-y) var(--#{$prefix}-toast--small-padding-x);
    font-weight: 600;
    background-color: var(--#{$prefix}-toast--color-light-background);
    box-shadow: 0 0 0.2rem 0 var(--#{$prefix}-toast--color-light-shadow-bg-x), 0 var(--#{$prefix}-toast--color-light-shadow-width-x) var(--#{$prefix}-toast--color-light-shadow-width-y) 0 var(--#{$prefix}-toast--color-light-shadow-bg-y);
    border-radius: var(--#{$prefix}-toast--radius);
    color: var(--#{$prefix}-toast--color-light-text-color);
    font-size: var(--#{$prefix}-toast--contents-small-font-size);
    letter-spacing: var(--#{$prefix}-toast--contents-letter-spacing);
    pointer-events: auto;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.21, 1.02, 0.73, 1), transform 0.4s cubic-bezier(0.21, 1.02, 0.73, 1);

    &.type-dark{
      color: var(--#{$prefix}-toast--color-dark-text-color);
      background-color: var(--#{$prefix}-toast--color-dark-background);
      box-shadow: none;
    }

    .toast-inner {
      @include flex-layout($jc: center, $ai: center);

      gap: var(--#{$prefix}-toast--contents-gap);
    }

    .svg-icon {
      @include square(2.4rem);

      flex-shrink: 0;
    }

    .toast-message{
      flex-grow: 0;
      text-align: center;
    }
  }

  /* 위치별 스타일 */
  &.top-left {
    top: var(--#{$prefix}-toast--group-space-y);
    left: var(--#{$prefix}-toast--group-space-x);
    align-items: flex-start;
  }

  &.top-center {
    top: var(--#{$prefix}-toast--group-space-y);
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  &.top-right {
    top: var(--#{$prefix}-toast--group-space-y);
    right: var(--#{$prefix}-toast--group-space-x);
    align-items: flex-end;
  }

  &.bottom-left {
    bottom: var(--#{$prefix}-toast--group-space-y);
    left: var(--#{$prefix}-toast--group-space-x);
    align-items: flex-start;
  }

  &.bottom-center {
    bottom: var(--#{$prefix}-toast--group-space-y);
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  &.bottom-right {
    bottom: var(--#{$prefix}-toast--group-space-y);
    right: var(--#{$prefix}-toast--group-space-x);
    align-items: flex-end;
  }


  /* 위치별 애니메이션 시작점 설정 */

  &.top-left .#{$prefix}-toast,
  &.top-center .#{$prefix}-toast,
  &.top-right .#{$prefix}-toast {
    transform: translateY(-100%);
  }

  /* Toast가 보이는 상태의 스타일 */
  .#{$prefix}-toast{
    &.#{$prefix}-toast--visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}





