@use 'sass:map';
@use "../util" as *;

/* typo */

// 타이틀 데이터 맵
$tit-sizes: (
  // "xlg": (size: 16rem, lh: 1.2),
  // "lg": (size: 12rem, lh: 1.2),
  // "md": (size: 6.4rem, lh: 1.2),
  "xxlg": (size: 6.4rem, lh: 1.1),
  "xlg": (size: 4.8rem, lh: 1.4),
  "lg": (size: 4rem, lh: 1.5),
  "md": (size: 3.2rem, lh: 1.5),
  "sm": (size: 2.8rem, lh: 1.5),
  "xsm": (size: 2.4rem, lh: 1.5),
  "xxsm": (size: 2.1rem, lh: 1.5)
);

// 본문 텍스트 데이터 맵
$txt-sizes: (
  "xxlg": (size: 4rem, lh: 1.5),
  "xlg": (size: 3.2rem, lh: 1.4),
  "lg": (size: 2.4rem, lh: 1.5),
  "md": (size: 2.1rem, lh: 1.5),
  "sm": (size: 1.8rem, lh: 1.5),
  "xsm": (size: 1.6rem, lh: 1.5),
  "xxsm": (size: 1.5rem, lh: 1.5),
);

// 폰트 웨이트 변수
$fw-sizes: (
  "el": 100,  //ExtraLight
  "sl": 200, //SemiLight
  "l": 300, //Light
  "r": 400, //Regular
  "m": 500, //Medium
  "sb": 600, //SemiBold
  "b": 700, //Bold
  "eb": 800, //ExtraBold
  "hb": 900 //HeavyBold
);

// 타이틀 클래스 생성
@each $name, $props in $tit-sizes {
  .tit-#{$name} {
    font-size: map.get($props, size);
    line-height: map.get($props, lh);
		font-weight: 700;
    color: var(--#{$prefix}-color-text-strong);
  }
}

// 본문 텍스트 클래스 생성
@each $name, $props in $txt-sizes {
  .txt-#{$name} {
    font-size: map.get($props, size);
    line-height: map.get($props, lh);
  }
}

@each $name, $weight in $fw-sizes {
  .fw-#{$name} {
    font-weight: $weight !important;
  }
}

.tit-sm{
	small{
		font-size: 1.6rem;
		font-weight: 400;
		color: var(--#{$prefix}-color-text-subtler);
	}
	.desc{
		display: block;
		width: 100%;
		font-size: 1.8rem;
		font-weight: 400;
		color: var(--#{$prefix}-color-text-basic);
	}
}
.txt-en{
  font-family: $font-family-en;
  font-weight: 400;
}
.txt-gradient{
  width: fit-content;
  background: var(--#{$prefix}-color-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@include mq(mobile) {
  $tit-sizes-mobile: (
    "xxlg": (size: 4rem, lh: 1.2),
    "xlg": (size: 2.4rem, lh: 1.5),
    "lg": (size: 2.8rem, lh: 1.5),
    "md": (size: 2.8rem, lh: 1.5),
    "sm": (size: 2.4rem, lh: 1.5),
    // "xsm": (size: 2.1rem, lh: 1.5), 
    // "xxsm": (size: 1.8rem, lh: 1.5) 
  );

  $txt-sizes-mobile: (
    // "xxlg": (size: 3.2rem, lh: 1.5), 
    // "xlg": (size: 2.8rem, lh: 1.4), 
    "lg": (size: 2.1rem, lh: 1.5),
    // "md": (size: 1.8rem, lh: 1.5), 
    // "sm": (size: 1.6rem, lh: 1.5), 
    // "xsm": (size: 1.5rem, lh: 1.5), 
    // "xxsm": (size: 1.4rem, lh: 1.5) 
  );

  @each $name, $props in $tit-sizes-mobile {
    .tit-#{$name} {
      font-size: map.get($props, size);
      line-height: map.get($props, lh);
    }
  }

  @each $name, $props in $txt-sizes-mobile {
    .txt-#{$name} {
      font-size: map.get($props, size);
      line-height: map.get($props, lh);
    }
  }
}