<header>
  <h1>logo</h1>
  <% if (typeof title !== 'undefined' && title) { %>
  <p><%= title %></p>
  <% } %>
  <nav class="nav-menu">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/pages/main.html">Main</a></li>
    </ul>
  </nav>
</header>
