<%
  const localsSafe = locals || {};
  const size = localsSafe.size || 'medium'; // small, medium, large
  const text = localsSafe.text || '';
	const classes = [
    `spinner`,
    size,
  ].filter(Boolean).join(' ');
-%>
<div class="<%= classes %>" role="status">
	<span class="<%= !text ? 'sr-only' : ''%>"><%= text || '로딩 중' %></span>
</div>