<%
  const localsSafe = locals || {};
  const variant = localsSafe.variant || 'link'; // link, sorting
  const size = localsSafe.size || 'medium'; // medium, large
	const tagList = Array.isArray(localsSafe.tagList) ? localsSafe.tagList : ['태그'];
	const classes = [
    `tag-wrap`,
    size,
  ].filter(Boolean).join(' ');
-%>
<div class="<%= classes %>">
	<% tagList.forEach(function(label, idx) { -%>
		<% if (variant === 'link') { -%>
			<a href="#" class="link btn-tag"><%= label %></a>
		<% } else { -%>
			<span class="btn-tag">
				<%= label %>
				<button type="button" class="btn-delete"><span class="sr-only">삭제</span></button>
			</span>
		<% } -%>
	<% }) -%>
</div>