<% 
	const title = locals.title ? locals.title : '한화자산운용'; 
-%>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> &gt; 가이드</title>

<link rel="stylesheet" href="./assets/css/prism.css" />
<link rel="stylesheet" href="./assets/css/index.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="../../assets/css/style.css"/>

<script type="text/javascript" src="../../assets/js/jquery3.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="../../assets/js/ui.common.js"></script>

<script type="text/javascript" src="./assets/js/prism.js"></script>
<script type="text/javascript" src="./assets/js/guide_script.js"></script>