<% 
	const title = locals.title ? locals.title : '한화자산운용'; 
-%>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> &gt; 가이드</title>

<link href="./assets/css/prism.css" rel="stylesheet" />
<link href="./assets/css/index.css" rel="stylesheet" />

<link href="../../assets/css/style.css" rel="stylesheet" />
<script src="../../assets/js/jquery3.min.js"></script>
<script src="../../assets/js/ui.common.js"></script>

<script src="./assets/js/prism.js"></script>
<script src="./assets/js/guide_script.js"></script>