@charset "UTF-8";
@use "../util" as *;

/* footer */
.footer {
  --footer-button-position-right: calc((100% - var(--#{$prefix}-content-width-large)) / 2);
  --footer-button-position-bottom: 4rem;

  position: relative;
  padding: 6rem 0;
  color: #fff;
  font-size: 1.6rem;
  background-color: #1A140F;

  .inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: var(--#{$prefix}-content-wrap-width-large);
  }

  .footer-top{
    .logo {
      // margin-bottom: 4rem;
      width: 16rem;
      height: 4rem;
      @include bg("logo-w.svg");
    }
  }
  .footer-con {
    display: flex;

    .address {
      li {
        margin-bottom: 1.2rem;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .nav {
      display: flex;
      gap: 12rem;
      margin-left: auto;
  
      .link-list{
        li{
          margin-bottom: 1.2rem;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .util {
      margin-left: 12rem;

      .sns-list{
        margin-top: 4rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;
      }
    }
  }
  .footer-bottom{
    padding-top: 2.4rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
  }
  .footer-btn-top{
    position: absolute;
    top: -3.4rem;
    right: var(--footer-button-position-right);
    z-index: 1;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
    &.is-fixed {
      position: fixed;
      top: initial;
      bottom: var(--footer-button-position-bottom);
    }

    .btn{
      flex-direction: column;
      gap: 0.25rem;
      padding: 0;
      width: 6.4rem;
      height: 6.4rem;
      background-color: #FE5B16;
      border-color: #FE5B16;

      .icon-arrow-up{
        @include icon-set('arrow-up');
      }
    }
  }

  @include mq(1760) {
    --footer-button-position-right: var(--#{$prefix}-content-padding-x);
    --footer-button-position-bottom: var(--#{$prefix}-content-padding-x);
  }
  @include mq(pc) {
    .footer-con{
      .address{
        width: 20%;
      }
    }
  }
  @include mq(tablet) {
    .footer-con{
      --footer-gap: 4rem;

      flex-wrap: wrap;
      row-gap: var(--footer-gap);
      
      .address{
        padding-bottom: var(--footer-gap);
        width: 100%;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
      }
      .nav{
        margin-left: 0;
      }
      .util{
        margin-left: auto;
      }
    }
  }
  @include mq(tablet-small) {
    .footer-con{
      .nav{
        gap: 6rem;
      }
    }
  }
  @include mq(mobile) {
    .footer-con{
      flex-direction: column;
      
      .address{
        width: 100%;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
      }
      .util{
        margin-left: 0;
      }
    }
  }
}

