@charset "UTF-8";
@use "../util" as *;

/* footer */
.footer {
  position: relative;
  padding: 6rem 0;
  color: #fff;
  font-size: 1.6rem;
  background-color: #1A140F;

  .inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .footer-top{
    .logo {
      // margin-bottom: 4rem;
      width: 16rem;
      height: 4rem;
      @include bg("logo-w.svg");
    }
  }
  .footer-con {
    display: flex;

    .address {
      li {
        margin-bottom: 1.2rem;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .nav {
      display: flex;
      gap: 12rem;
      margin-left: auto;
  
      .link-list{
        li{
          margin-bottom: 1.2rem;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .util {
      margin-left: 12rem;

      .sns-list{
        margin-top: 4rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;
      }
    }
  }
  .footer-bottom{
    padding-top: 2.4rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
  }
  .footer-btn-top{
    position: absolute;
    top: -3.4rem;
    right: 0;

    .btn{
      flex-direction: column;
      gap: 0.25rem;
      padding: 0;
      width: 6.4rem;
      height: 6.4rem;
      background-color: #FE5B16;
      border-color: #FE5B16;

      .icon-arrow-up{
        @include icon-set('arrow-up');
      }
    }
  }
}

@include mq(pc) {
	.footer{
		.footer-con{
			.address{
				width: 20%;
			}
		}
	}
}
@include mq(tablet) {
	.footer{
		.footer-con{
			--footer-gap: 4rem;

			flex-wrap: wrap;
			row-gap: var(--footer-gap);
			
			.address{
				padding-bottom: var(--footer-gap);
				width: 100%;
				border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
			}
			.nav{
				margin-left: 0;
			}
			.util{
				margin-left: auto;
			}
		}
	}
}
@include mq(tablet-small) {
  .footer{
    .footer-con{
      .nav{
        gap: 6rem;
      }
    }
  }
}
@include mq(mobile) {
	.footer{
		.footer-con{
			flex-direction: column;
			// row-gap: 4rem;
			
			.address{
				// padding-bottom: 4rem;
				width: 100%;
				border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
			}
			// .nav{
			// 	margin-left: 0;
			// }
			.util{
				margin-left: 0;
			}
		}
	}
}
@include mq(mobile) {

}
