@charset "UTF-8";
@use "../util" as *;

/* footer */
.footer {
  --footer-top-button-position-right: calc((100% - var(--#{$prefix}-content-width-large)) / 2);
  --footer-top-button-position-bottom: 4rem;
  --footer-top-button-size: 6.4rem;

  position: relative;
  padding: 6rem 0;
  color: #fff;
  font-size: 1.6rem;
  background-color: #1A140F;

  .inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: var(--#{$prefix}-content-wrap-width-large);
  }

  .footer-top{
    .logo {
      // margin-bottom: 4rem;
      width: 16rem;
      height: 4rem;
      @include bg("common/logo-w.svg");
    }
  }
  .footer-con {
    display: flex;
		gap: 12rem;

    .address {
			width: 100%;
      li {
        margin-bottom: 1.2rem;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .nav {
      display: flex;
      gap: 12rem;
			flex-shrink: 0;
  
      .link-list{
        li{
          margin-bottom: 1.2rem;

					&.active{
						color: var(--#{$prefix}-color-text-primary);
						font-weight: 700;
					}
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .util {
			flex-shrink: 0;

      .sns-list{
        margin-top: 4rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;
      }
			.family-site{
				.form-select{
					min-width: 23rem;
				}
			}
    }
  }
  .footer-bottom{
    padding-top: 2.4rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
  }
  .footer-btn-top{
    position: absolute;
    top: calc(var(--footer-top-button-size)/2 * -1);
    right: var(--footer-top-button-position-right);
    z-index: 1;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
    &.is-fixed {
      position: fixed;
      top: initial;
      bottom: var(--footer-top-button-position-bottom);
    }

    .btn{
      flex-direction: column;
      gap: 0.25rem;
      padding: 0;
      width: var(--footer-top-button-size);
      height: var(--footer-top-button-size);
      background-color: #FE5B16;
      border-color: #FE5B16;

      .icon-arrow-up{
        @include icon-set('arrow-up');
      }
    }
  }

  @include mq(1760) {
    --footer-top-button-position-right: var(--#{$prefix}-content-padding-x);
    --footer-top-button-position-bottom: var(--#{$prefix}-content-padding-x);
  }
  @include mq(pc) {
    .footer-con{
			gap: 8rem;

      .address{
        // width: 20%;
      }
    }
  }
  @include mq(tablet) {
    .footer-con{
      --footer-gap: 4rem;

      flex-wrap: wrap;
      row-gap: var(--footer-gap);
      
      .address{
        padding-bottom: var(--footer-gap);
        // width: 100%;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
      }
      .nav{
        margin-left: 0;
      }
      .util{
        margin-left: auto;
      }
    }
  }
  @include mq(tablet-small) {
    .footer-con{
      .nav{
        gap: 6rem;
      }
    }
  }
  @include mq(mobile) {
    --footer-top-button-size: 4.8rem;

    .footer-con{
      flex-direction: column;
      
      .address{
        width: 100%;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
      }
      .util{
        margin-left: 0;
      }
    }
    .footer-btn-top{
      .btn{
        .svg-icon{
          @include square(2.4rem);
        }
        span{
          @include sr-only;
        }
      }
    }
  }
}

html[lang="en"]{
	.footer-top{
    .logo {
      width: 38.8rem;
      height: 4rem;
      @include bg("common/en-logo-w.svg");
    }
  }

	@include mq(mobile){
		.footer-top{
			.logo {
				width: 31.1rem;
				height: 3.2rem;
			}
		}
	}
}