@charset "UTF-8";
@use "../util" as *;

/* header */
.header {
	border-bottom: 0.1rem solid #E6E5E5;

  .inner{
    max-width: var(--#{$prefix}-content-wrap-width-large);
  }
  .logo {
    width: 19.2rem;
    height: 4.8rem;
    @include bg('common/logo.svg');

    &-plusetf {
      a {
        width: 9.9rem;
        height: 1.2rem;
        @include bg('common/logo-plus-etf.svg');
      }
    }
    &-pine {
      a {
        width: 3.8rem;
        height: 1rem;
        @include bg('common/logo-pine.svg');
      }
    }
  }
  .header-top {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 0.1rem solid #E6E5E5;

    .link {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        display: flex;
        align-items: center;

        &:last-child::after {
          display: none;
        }

        &::after {
          content: "";
          display: inline-block;
          margin: 0 2.4rem;
          width: 0.1rem;
          height: 1.2rem;
          background-color: #E6E5E5;
        }
      }
    }
  }
  .header-con {
    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 9.6rem;
    }

    .nav {
			ul{
				display: flex;
				align-items: center;
				gap: 8rem;
				font-size: 2.1rem;
				color: #151414;
				font-weight: 700;
			}
    }

    .util {
      display: flex;
      align-items: center;
      gap: 2.4rem;
    }
  }

  @include mq(pc){
    .header-con{
      .nav{
        ul{
          gap: 4rem;
        }
      }
    }
  }
  @include mq(tablet){
    .header-con{
      .nav{
        display: none;
      }
      .util{
        .lang{
          display: none;
        }
      }
    }
  }
  @include mq(mobile){
    .logo {
      width: 12.8rem;
      height: 3.2rem;
    }

    .header-con{
      .inner{
        height: 6.4rem;
      }

      .util {
        .btn-search {
          width: 3.2rem;
          height: 3.2rem;
        }
        .btn-menu {
          width: 3.2rem;
          height: 3.2rem;
        }

        .btn.icon.xxlarge{
          width: 3.2rem;
          height: 3.2rem;
        }
      }
    }
  }
}

#modalSearch{
  .logo {
    width: 19.2rem;
    height: 4.8rem;
    @include bg('common/logo.svg');
  }
  .search-wrap{
    margin-top: 0;
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include mq(mobile){
    .logo {
      width: 12.8rem;
      height: 3.2rem;
    }
    .search-wrap{
      padding-left: 0;
      padding-right: 0;
    }
  }
}