@charset "UTF-8";
@use "../util" as *;

/* header */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 0.1rem solid #E6E5E5;
	transition: top 0.1s ease;
	z-index: 6;

	&.is-fixed{
		position: fixed !important;
	}
	&.is-hide{
		top: -100% !important;
	}
	&.is-show{
		top: 0 !important;
	}

  .inner{
    max-width: var(--#{$prefix}-content-wrap-width-large);
  }
  .logo {
    width: 19.2rem;
    height: 4.8rem;
    @include bg('common/logo.svg');

    &-plusetf {
      a {
        width: 9.9rem;
        height: 1.2rem;
        @include bg('common/logo-plus-etf.svg');
      }
    }
    &-pine {
      a {
        width: 3.8rem;
        height: 1rem;
        @include bg('common/logo-pine.svg');
      }
    }
  }
  .header-top {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 0.1rem solid #E6E5E5;

    .link {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        display: flex;
        align-items: center;

        &:last-child::after {
          display: none;
        }

        &::after {
          content: "";
          display: inline-block;
          margin: 0 2.4rem;
          width: 0.1rem;
          height: 1.2rem;
          background-color: #E6E5E5;
        }
      }
    }
  }
  .header-con {
    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 9.6rem;
    }

    .nav {
      height: 100%;

      .gnb-list{
        height: 100%;
        position: relative;
				display: flex;
				align-items: center;
				gap: 8rem;
				font-size: 2.1rem;
				color: var(--#{$prefix}-color-text-strong);
				font-weight: 600;

        .gnb-item{
          position: relative;
          display: flex;
				  align-items: center;
          height: 100%;
          // padding: 2rem;

          .gnb-link{
            position: relative;
          }

          &.active{
            color: var(--#{$prefix}-color-text-primary);
          }

          &.focus{
            color: var(--#{$prefix}-color-text-primary);

            .gnb-link{
              &::before{
                content: '';
                position: absolute;
                top: 0;
                left: -1rem;
                display: block;
                @include square(0.6rem);
                background-color: var(--#{$prefix}-color-text-primary-dark);
              }
            }

            .submenu {
              visibility: visible;
              opacity: 1;
            }
          }
        }

        .submenu{
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 100%;
          left: -2.4rem;
          z-index: 6;
          padding: 0.4rem 0;
          background-color: #fff;
          border-radius: 0 0 0.3rem 0.3rem;
          border: 0.1rem solid #E6E5E5;
          border-top-width: 0;
          box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.06), 0 12px 12px 0 rgba(0, 0, 0, 0.04);
          transition: all .3s;
          
          .submenu-link{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 20.2rem;
            min-height: 4.8rem;
            padding-left: 2.4rem;
            padding-right: 2rem; 
            color: var(--#{$prefix}-color-text-subtle);
            font-size: 1.7rem;
            font-weight: 400;

            &:hover, &:active{
              color: var(--#{$prefix}-color-text-primary);
              font-weight: 600;
              background-color: #FAFAFA;

              &::after{
                content: '';
                display: inline-block;
                @include square(2rem);
                @include icon-set('arrow-up');
                transform: rotate(90deg);
                background-color: var(--#{$prefix}-color-text-primary-dark);
              }
            }

            &.active{
              color: var(--#{$prefix}-color-text-primary);
            }
          }
        }
			}
    }

    .util {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      height: 100%;

      .lang{
        display: flex;
        height: 100%;
				
        .form-select.text{
					.select-button{
						.select-value{
							color: var(--#{$prefix}-color-text-strong);
						}
						&::after{
							color: var(--#{$prefix}-color-text-strong);
						}
					}
          .select-listbox{
						top: 100%;
            left: 50%;
            transform: translateX(-50%);
            padding: 0.4rem 0;
						border: 0.1rem solid #E6E5E5;
						border-top-width: 0;
						box-shadow: 0 4rem 6rem 0 rgba(0, 0, 0, 0.06), 0 12px 12px 0 rgba(0, 0, 0, 0.04);
            
            .select-option{
              padding: 1.1rem 3.2rem;

              &:hover, &:active{
                background-color: #FAFAFA;
              }
            }
          }
        }
      }
			.svg-icon{
				background-color: var(--#{$prefix}-color-text-strong);
			}
    }
  }

  @include mq(pc){
    .header-con{
      .nav{
        .gnb-list{
          gap: 4rem;
        }
      }
    }
  }
  @include mq(tablet){
    .header-con{
      .nav{
        display: none;
      }
      .util{
        .lang{
          display: none;
        }
      }
    }
  }
  @include mq(mobile){
    .logo {
      width: 12.8rem;
      height: 3.2rem;
    }

    .header-con{
      .inner{
        height: 6.4rem;
      }

      .util {
        .btn-search {
          width: 3.2rem;
          height: 3.2rem;
        }
        .btn-menu {
          width: 3.2rem;
          height: 3.2rem;
        }

        .btn.icon.xxlarge{
          width: 3.2rem;
          height: 3.2rem;
        }
      }
    }
  }

  .modal{
    &.header-search{
      .logo {
        width: 19.2rem;
        height: 4.8rem;
        @include bg('common/logo.svg');
      }
      .search-wrap{
        margin-top: 0;
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
      }

      @include mq(mobile){
        .logo {
          width: 12.8rem;
          height: 3.2rem;
        }
        .search-wrap{
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    &.sitemap{
      .modal-dialog{
        .modal-content{
          padding-top: 0;
					max-height: fit-content;
        }
        .modal-header{
          padding: 0;
					max-width: 100%;
        }
        .modal-conts{
          padding-top: 4rem;
          padding-bottom: 8rem;

          + .btn-close{
            display: none;
          }
        }
        .icon.btn-close{
          position: static;
        }
      }

			.header-con{
				.util{
					.lang{
						.form-select.text{
							.select-listbox{
								border-top: 0.1rem solid #E6E5E5;
							}
						}
					}
				}
			}

      .sitemap-wrap{
        .sitemap-list{
          display: flex;
          justify-content: center;

          .sitemap-item{
            margin-right: 8rem;
            min-width: 20rem;

            &:last-child{
              margin-right: 0;
            }
            &.company{
              > .submenu{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0 8rem;
              }
            }
            a{
              display: flex;
            }
            .depth1{
              position: relative;
              margin-bottom: 2.4rem;
              padding-bottom: 2.4rem;
              color: var(--#{$prefix}-color-text-strong);
              font-size: 2.8rem;
              font-weight: 700;

              &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.1rem;
                background: linear-gradient(90deg, #FF4D32 25%, #803C4A 50%, #022A62 100%);
              }
            }
            .depth2{
              align-items: center;
              gap: 0.8rem;
              padding: 1.05rem 0;
              font-weight: 600;

              &:hover, &:active{
                color: var(--#{$prefix}-color-text-primary);
              }
            }
            .depth3{
              padding: 0.7rem 1.6rem;
              color: var(--#{$prefix}-color-text-subtler);
              font-size: 1.7rem;

              &:hover, &:active{
                color: var(--#{$prefix}-color-text-primary);
              }
            }
            .link{
              &::after{
                content: '';
                display: inline-block;
                @include square(2rem);
                @include icon-set('link');
                background-color: currentColor;
              }
            }

            > .submenu{
              padding: 0 0.4rem;
              > li{
                margin-bottom: 0.8rem;

                &:last-child{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      @include mq(1400){
        .sitemap-wrap{
          .sitemap-list{
            justify-content: space-between;

            .sitemap-item{
              margin-right: 0;

              &.company{
                > .submenu{
                  gap: 0 4rem;
                }
              }
            }
          }
        }
      }
      @include mq(1200){
        .sitemap-wrap{
          .sitemap-list{
            .sitemap-item{
              min-width: 15rem;
            }
          }
        }
      }
      @include mq(tablet){
        .modal-dialog{
          .modal-content{
            min-height: 100vh;
            max-height: 100vh;
          }
          .modal-conts{
            padding-top: 2.4rem;
            padding-bottom: 4.4rem;
          }
        }
        .header-con{
          .logo{
            display: none;
          }
          .util{
            width: 100%;
            .lang{
              display: flex;
              margin-right: auto;
            }
          }
        }
        .sitemap-wrap{
          .sitemap-list{
            flex-direction: column;

            .sitemap-item{
              min-width: 15rem;

              &.has-sub{
                margin: 0 calc(var(--#{$prefix}-content-padding-x) * -1);
                padding: 0 var(--#{$prefix}-content-padding-x);
                
                .depth1{
                   font-weight: 600;

                   &::after{
                     content: '';
                     display: block;
                     margin-left: auto;
                     @include square(3.2rem);
                     @include icon-set('plus');
                     background-color: currentColor;
                   }

									 > span{
										padding: 0 1rem;
									 }
                }
                &.active{
                  .depth1{
										color: var(--#{$prefix}-color-text-primary);
										
										span{
											position: relative;

											&::before{
												content: '';
												display: block;
												position: absolute;
												top: 0;
												left: 0;
												display: block;
												margin-bottom: auto;
												margin-right: 0.4rem;
												@include square(0.6rem);
												background: var(--#{$prefix}-color-text-primary-dark);
											}
										}

                    &::after{
                      @include icon-set('minus');
                    }
                  }
                }
              }
              > .submenu{
                margin: 0 calc(var(--#{$prefix}-content-padding-x) * -1);
                padding: 0.8rem var(--#{$prefix}-content-padding-x);
                background-color: #F3F2F1;
                .has-sub{
                  .depth2{
                    &::after{
                      content: '';
                      display: block;
                      @include square(2rem);
                      @include icon-set('plus');
                      background-color: currentColor;
                    }
                  }

                  &.active{
                    .depth2{
                      color: var(--#{$prefix}-color-text-primary);
											font-weight: 600;

                      &::after{
                        @include icon-set('minus');
                      }
                    }
                  }
                }

                li{
                  margin-bottom: 0;
                }
              }

              .depth1{
                align-items: center;
                // justify-content: space-between;
                margin-bottom: 0;
                padding-top: 2rem;
                padding-bottom: 2rem;

                &::before{
                  display: none;
                }
              }
              .depth2{
                font-weight: 400;
              }
              .submenu, &.company .submenu{
                display: none;
              }
            }
          }
        }
      }
      @include mq(mobile){
				.header-con{
					.util{
						.lang{
							.form-select.text{
								.select-listbox{
									left: 0;
									transform: translateX(0);
								}
							}
						}
					}
				}
        .sitemap-wrap{
          .sitemap-list{
            .sitemap-item{
              .depth1{
                font-size: 2.1rem;
              }
              .depth2{
                padding: 1.45rem 0.8rem;
								font-size: 1.8rem;
              }
              > .submenu{
                padding: 0.8rem 2.4rem;
              }
            }
          }
        }
      }
    }
  }
}

html[lang="en"]{
	.header{
		.logo {
			width: 46.6rem;
			height: 4.8rem;
			@include bg('common/en-logo.svg', $size:contain);
		}
		.util{
			.btn.icon{
				&[aria-controls="modalSearch"]{
					display: none;
				}
			}
		}
		@include mq(1550){
			.logo{
				width: 35rem;
				height: 3.6rem;
			}
		}
		@include mq(1460){
			.header-con{
				.nav{
					.gnb-list{
						gap: 4rem;
						font-size: 1.8rem;
					}
				}
			}
		}
		@include mq(pc){
			.header-con{
				.nav{
					display: none;
				}
				.util{
					.lang{
						display: none;
					}
				}
			}
		}
		@include mq(mobile){
			.logo{
				width: 22.4rem;
				height: 2.3rem;
			}
		}
	}

	.modal{
		&.sitemap{
			.sitemap-wrap{
				.sitemap-list{
					.sitemap-item{
						.depth1{
							white-space: nowrap;
						}
					}
				}
			}
			@include mq(1400){
				.sitemap-wrap{
					.sitemap-list{
						gap: 2rem;

						.sitemap-item{
							min-width: 25rem;
						}
					}
				}
			}
			@include mq(1200){
				.sitemap-wrap{
					.sitemap-list{
						.sitemap-item{
							min-width: auto;
							flex: 1;
						}
					}
				}
			}
    }
		&.header-search{
			.logo{
				width: 46.6rem;
				height: 4.8rem;
				@include bg('common/en-logo.svg', $size:contain !important);
			}
			@include mq(1550){
				.logo{
					width: 35rem;
					height: 3.6rem;
				}
			}
			@include mq(mobile){
				.logo{
					width: 22.4rem;
					height: 2.3rem;
				}
			}
		}
	}
}