@charset "UTF-8";
@use "../util" as *;

/* header */
.header {
  .logo {
    width: 19.2rem;
    height: 4.8rem;
    @include bg('logo.svg');

    &-plusetf {
      a {
        width: 9.9rem;
        height: 1.2rem;
        @include bg('logo-plus-etf.svg');
      }
    }
    &-pine {
      a {
        width: 3.8rem;
        height: 1rem;
        @include bg('logo-pine.svg');
      }
    }
  }

  .header-top {
    display: flex;
    align-items: center;
    height: 4rem;

    border-bottom: 0.1rem solid #d7d6d5;

    .link {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        display: flex;
        align-items: center;

        &:last-child::after {
          display: none;
        }

        &::after {
          content: "";
          display: inline-block;
          margin: 0 2.4rem;
          width: 0.1rem;
          height: 1.2rem;
          background-color: #d7d6d5;
        }
      }
    }
  }

  .header-con {
    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 12rem;
    }

    .nav {
			ul{
				display: flex;
				align-items: center;
				gap: 8rem;
				font-size: 2.1rem;
				color: #151414;
				font-weight: 700;
			}
    }

    .util {
      display: flex;
      align-items: center;
      gap: 2.4rem;

      .btn-search {
        width: 4rem;
        height: 4rem;
        @include bg('icon/ico-search.svg');
      }
      .btn-menu {
        width: 4rem;
        height: 4rem;
        @include bg('icon/ico-menu.svg');
      }
    }
  }
}


@include mq(pc){
	.header{
		.header-con{
			.nav{
				ul{
					gap: 4rem;
				}
			}
		}
	}
}
@include mq(tablet){
	.header{
		.header-con{
			.nav{
				display: none;
			}
			.util{
				.lang{
					display: none;
				}
			}
		}
	}
}
@include mq(mobile){

}