@use "sass:list";
@use "../util" as *;

//게시판 목록
.board-con{
	--board-con-gap: 2.4rem;
	--board-search-top: 1.6rem;
	--board-btn-wrap: 1.6rem;

	display: flex;
	flex-direction: column;
	gap: var(--board-con-gap);

	.segment-control{
		// min-width: 90.7rem;
	}
	.board-search{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.total{
			color: var(--#{$prefix}-color-text-subtler);
			font-size: 1.6rem;
		}
		.input{
			width: 36rem;
		}
		&:not(:first-child){
			margin-top: var(--board-search-top);
		}
	}
	.board-list-wrap{
		.num{
			flex-shrink: 0;
			width: 12.3%;
		}
		.category{
			flex-shrink: 0;
			width: 16.15%;
		}
		.tit{
			width: 100%;
		}
		.file{
			flex-shrink: 0;
			width: 9.2%;
		}
		.date{
			flex-shrink: 0;
			width: 16.15%;
		}

		.board-thead{
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.5rem;
			font-weight: 600;
			text-align: center;
			background-color: #F3F2F1;

			.th{
				padding: 0.95rem 0;
				min-height: 4.2rem;
			}
		}
		.board-tbody{
			li{
				border-bottom: 0.1rem solid #E7E5E4;

				a{
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--#{$prefix}-color-text-subtle);
					font-size: 1.8rem;
					text-align: center;
					

					// &:hover{
					// 	background-color: #F3F2F1;
					// }
				}

				.td{
					min-height: 6.4rem;
					padding: 1.85rem 2.4rem;
				}

				.tit{
					overflow: hidden;
					display: flex;
					align-items: center;
					gap: 0.8rem;
					color: var(--#{$prefix}-color-text-basic);
					text-align: left;

					strong{
						font-weight: 400;
						@include ellipsis();
					}
				}
				.file{
					.icon-file{
						width: 2.4rem;
						height: 2.4rem;
						background-color: var(--#{$prefix}-color-text-subtle);
					}
				}
				.date{
					color: var(--#{$prefix}-color-text-subtler);
				}
				.badge{
					// margin-left: 0.4em;
					width: 1.9rem;
					height: 1.9rem;
					font-size: 1.3rem;
					vertical-align: middle;
				}

				&.no-data{
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 2.4rem;
					height: 25.6rem;
					color: var(--#{$prefix}-color-text-strong);
				}
			}
		}
		+ .btn-wrap{
			margin-top: var(--board-btn-wrap);
		}
	}
	.accordion{
		margin-top: var(--board-search-top);

		.accordion-item{
			.btn-accordion{
				.category{
					min-width: 6.4rem;
				}
			}
		}
	}

	@include mq(tablet){
		.board-list-wrap{
			.board-thead{
				display: none;
			}
			.board-tbody{
				--board-file-icon-size: 2.4rem;
				--board-padding-right: 1.6rem;
				--board-gap-txt-file: 1.6rem;

				li{
					a{
						position: relative;
						flex-direction: column;
						align-items: flex-start;
						padding: 2rem calc(var(--board-padding-right) + var(--board-file-icon-size) + var(--board-gap-txt-file)) 2rem 0;
						text-align: left;
					}
	
					.td{
						padding: 0;
						width: 100%;
						min-height: auto;
					}
					.num{
						display: none;
					}
					.category{
						font-size: 1.6rem; 
					}
					.tit{
						font-size: 1.8rem;
					}
					.file{
						position: absolute;
						top: 50%;
						right: var(--board-padding-right);
						transform: translateY(-50%);
						width: var(--board-file-icon-size);
						height: var(--board-file-icon-size);
					}
					.date{
						margin-top: 0.4rem;
						font-size: 1.4rem;
					}
				}
			}
		}
	}
	@include mq(mobile){
		--board-con-gap: 1.6rem;
		--board-search-top: 0.8rem;

		.board-search{
			flex-direction: column;
			gap: 2.4rem;
	
			.total{
				order: 1;
				align-self: self-start;
			}
			.input{
				width: 100%;
			}
		}
	}
}
//게시판 상세
.board-detail{
	--board-detail-cont-gap: 4rem;
	--board-detail-btn-gap: 4.8rem;
	--board-detail-nav-gap: 2rem;
	--board-detail-nav-padding: 4rem;
	--board-detail-nav-padding-x: calc(var(--board-detail-nav-padding) + var(--board-detail-nav-icon-size) + 1.6rem);
	--board-detail-nav-icon-size: 2.4rem;
	--board-detail-file-btn-padding: 2.4rem 4rem; 

	.board-detail-top{
		padding-bottom: var(--board-detail-cont-gap);

		.tit{
			font-size: 4.8rem;
			font-weight: 700;
			word-break: keep-all;
		}
		.date{
			margin-top: 2.4rem;
			color: var(--#{$prefix}-color-text-subtler);
			font-size: 1.8rem;
		}
	}
	.board-detail-con{
		padding: var(--board-detail-cont-gap) 0;
		min-height: 36rem;
	}
	.board-detail-file{
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		padding-bottom: var(--board-detail-cont-gap);
		border-bottom: 0.1rem solid #E6E5E5;

		.btn-file{
			display: flex;
			align-items: center;
			padding: var(--board-detail-file-btn-padding);
			height: auto;
			border: 0;
			color: var(--#{$prefix}-color-text-basic);
			border-radius: 0.2rem;	

			span{
				flex: 1;
				white-space: normal;
			}
			.icon-file{
				flex-shrink: 0;
				width: 2.4rem;
				height: 2.4rem;
			}
			.icon-download{
				flex-shrink: 0;
			}

			.svg-icon{
				background-color: currentColor;
			}

			&[disabled]{
				background-color: var(--#{$prefix}-color-button-disabled-fill);
				border-color: var(--#{$prefix}-color-button-disabled-border);
				color: var(--#{$prefix}-color-button-text-disabled-on);
        pointer-events: none;

        &:hover {
					background-color: var(--#{$prefix}-color-button-disabled-fill);
					border-color: var(--#{$prefix}-color-button-disabled-border);
					color: var(--#{$prefix}-color-button-text-disabled-on);
        }
      }
		}
	}
	.board-detail-nav{
		display: flex;
		gap: var(--board-detail-nav-gap);
		margin-top: var(--board-detail-btn-gap);

		li{
			position: relative;
			flex: 1;
			
			a{
				display: flex;
				flex-direction: column;
				height: 100%;
				padding: var(--board-detail-nav-padding);
				border-radius: 0.2rem;
				border: 0.1rem solid #E7E5E4;
				background: #fff;

				&::before{
					content: '';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					display: block;
					width: var(--board-detail-nav-icon-size);
					height: var(--board-detail-nav-icon-size);
					@include icon-set('arrow-right');
					background-color: currentColor;
				}

				&:hover{
					background-color: #F3F2F1;
				}
				&[disabled]{
					pointer-events: none;

					&:hover{
						background-color: transparent;
					}
					&::before{
						background-color: var(--#{$prefix}-color-gray-30);
					}
					.txt, .tit{
						color: var(--#{$prefix}-color-text-subtler);
						font-weight: 400;
					}
				}
			}
			&.prev{
				a{
					padding-left: var(--board-detail-nav-padding-x);
					&::before{
						left: var(--board-detail-nav-padding);
						transform: translateY(-50%) rotate(180deg);
					}
				}
			}
			&.next{
				a{
					text-align: right;
					padding-right: var(--board-detail-nav-padding-x);
					&::before{
						right: var(--board-detail-nav-padding);
					}
				}
			}
		}
		.txt{
			display: none;
		}
		.tit{
			font-weight: 600;
			@include ellipsis(2);
			height: 100%;
		}
		.desc{
			margin-top: 0.8rem;
			font-size: 1.6rem;
			color: var(--#{$prefix}-color-text-subtler);
		}
	}
	> .btn-wrap{
		margin-top: var(--board-detail-btn-gap);

		.btn{
			min-width: 11.2rem;
		}
	}
	@include mq(tablet){
		--board-detail-nav-padding: 1.6rem;

		.board-detail-nav{
			li{
				a{
					padding: var(--board-detail-nav-padding);
				}
			}
			.txt{
				display: block;
			}
			.tit, .desc{
				display: none;
			}
		}
	}
	@include mq(mobile){
		--board-detail-cont-gap: 2.4rem;
		--board-detail-btn-gap: 4rem;
		--board-detail-file-btn-padding: 2rem 1.6rem; 
		--board-detail-nav-gap: 0.8rem;

		.board-detail-top{
			.tit{
				font-size: 3.2rem;
			}
			.date{
				margin-top: 1.6rem;
			}
		}
	}
}