@use "../util" as *;

.page-business{
	.business-list{
		--business-list-gap: 8rem;
		--business-list-li-gap: 6rem;
		--business-list-li-tit-line-gap: 4rem;
		--business-list-li-txt-line-gap: 2.8rem;
		--business-list-li-txt-button-gap: 4rem;

		display: flex;
		flex-direction: column;
		gap: var(--business-list-gap);
		
		li{
			display: flex;
			gap: var(--business-list-li-gap);

			.img-wrap{
				flex-shrink: 0;
				width: 61.53%;

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.txt-wrap{
				.line-bottom{
					padding-bottom: var(--business-list-li-tit-line-gap);
					margin-bottom: var(--business-list-li-txt-line-gap);

					&::after{
						height: 0.2rem;
					}
				}

				.btn{
					margin-top: var(--business-list-li-txt-button-gap);
					white-space: normal;
				}
			}
		}

		@include mq(tablet){
			--business-list-li-gap: 4rem;

			li{
				flex-direction: column;

				.img-wrap{
					width: 100%;
				}
			}
		}

		@include mq(mobile){
			--business-list-li-tit-line-gap: 2.4rem;
			--business-list-li-txt-line-gap: 2rem;
			--business-list-li-txt-button-gap: 2.4rem;

			li{
				.img-wrap{
					margin: 0 calc(var(--#{$prefix}-content-padding-x) * -1);
					width: calc(100% + var(--#{$prefix}-content-padding-x) * 2);
				}
			}
		}
	}
}