@use "../util" as *;

@mixin txt-gradient(){
  background: var(--#{$prefix}-color-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}

.page-main{
  .inner{
    max-width: var(--#{$prefix}-content-wrap-width-large);
  }

  .main-tit-wrap {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .tit{
      width: fit-content;
      font-family: $font-family-en; 
      font-weight: 400;
      font-size: 12rem;
      line-height: 1.2;
      word-break: keep-all;
      @include txt-gradient;
    }
    .sub-tit{
      color: var(--#{$prefix}-color-text-strong);
      font-size: 3.2rem;
      font-weight: 600;
    }
  }

  
  .section-visual{
    .visual{
      position: relative;
      height: 108rem;
  
      .tit-wrap{
        // position: relative;
        // z-index: 1;
        position: absolute;
        padding-bottom: 8rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
  
        .tit{
          margin-top: auto;
          font-family: $font-family-en; 
          font-weight: 400;
          font-size: 16rem;
          color: #fff;
          white-space: nowrap;
        }
        .desc{
          margin-top: 15%;
          font-size: 2.4rem;
          font-weight: 600;
          color: #fff;
        }
      }
      .img-wrap{
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
  
      }
    }
  }

  .section-partner{
    padding: 14rem 0;
  }

  .section-message{
    padding: 10rem 0 12rem;

    .tit{
      font-family: $font-family-en; 
      font-weight: 400;
      font-size: 16rem;
      @include txt-gradient;
      text-align: center;
    }
  }

  .section-business{
    height: 100vh;
    @include bg('main/business-bg.png');

    .list{
      
    }
  }
}