@charset "UTF-8";
@use "../util" as *;

@mixin txt-gradient($color: var(--#{$prefix}-color-gradient-text)) {
  background: $color;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}

.page-main {
	--main-section-title-gap: 4rem;
	--main-section-title-font-size: 12rem;
	--main-section-sub-title-font-size: 3.2rem;
	
	--main-message-title-font-size: 16rem;

	--main-banner-title-font-size: 9.6rem;
	--main-banner-desc-font-size: var(--main-section-sub-title-font-size);

	@include mq(tablet){
		--main-section-title-font-size: 8rem;
		--main-section-sub-title-font-size: 2.8rem;

		--main-message-title-font-size: 10rem;

		--main-banner-title-font-size: 8rem;
	}
	@include mq(mobile){
		--main-section-title-gap: 2.4rem;
		--main-section-title-font-size: 4rem;
		--main-section-sub-title-font-size: 2.4rem;

		--main-message-title-font-size: 6.4rem;

		--main-banner-title-font-size: 4.8rem;
	}

	position: relative;
  .inner {
    max-width: var(--#{$prefix}-content-wrap-width-large);
  }

  .header {
		position: fixed;
    border-bottom: 0;
		background-color: transparent;
    backdrop-filter: blur(4rem);

		&:has(.modal.in), 
		&:has(.modal.show),
		&:has(.modal[style*="display: block"]) {
			transform: none !important;  
			backdrop-filter: none !important;
		}

    .logo {
      @include bg("common/logo-w.svg");
      &-plusetf {
        a {
          @include bg("common/logo-plus-etf-w.svg");
        }
      }
      &-pine {
        a {
          @include bg("common/logo-pine-w.svg");
        }
      }
    }

    > .header-top {
      background-color: rgba(0, 0, 0, 0.6);
      border-bottom: 0;
      .link {
        li {
          &::after {
            background-color: #d7d5d5;
          }
        }
      }
    }
    > .header-con {
      background-color: rgba(0, 0, 0, 0.3);
      .nav {
        .gnb-list {
					color: #fff;

					.gnb-item{
						&.active{
							color: #FFA57F;
						}
						&.focus{
							color: #FFA57F;
						}
					}

					.submenu{
						background-color: rgba(0, 0, 0, 0.3);
						border: 0;
						box-shadow: 0 4rem 6rem 0 rgba(0, 0, 0, 0.08), 0 16px 16px 0 rgba(0, 0, 0, 0.06);

						.submenu-link{
							color: #fff;

							&:hover, &:active{
								color: var(--#{$prefix}-color-text-primary);
								background: rgba(0, 0, 0, 0.5);
							}
						}
					}
        }
      }
      .util {
        .lang {
          .form-select.text {
            .select-button {
              &::after {
								background: #fff;
              }
              .select-value {
                color: #fff;
              }
            }
						.select-listbox{
							background-color: rgba(0, 0, 0, 0.3);
							border: 0;

							.select-option{
								color: #fff;

								&:hover, &:active{
									color: var(--#{$prefix}-color-text-primary);
									background: rgba(0, 0, 0, 0.5);
								}
							}
						}
          }
        }
        .btn.icon {
          .svg-icon {
            background-color: #fff;
          }
        }
      }
    }

		.sitemap{
			.logo {
				@include bg("common/logo.svg");
				&-plusetf {
					a {
						@include bg("common/logo-plus-etf.svg");
					}
				}
				&-pine {
					a {
						@include bg("common/logo-pine.svg");
					}
				}
			}
		}
  }
	.footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		background: rgba(255, 255, 255, 0.10);
		backdrop-filter: blur(5rem);

		&:has(.modal.in), 
		&:has(.modal.show),
		&:has(.modal[style*="display: block"]) {
			backdrop-filter: none !important;
		}
	}

  .main-tit-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--main-section-title-gap);

    .tit {
      width: fit-content;
      font-family: $font-family-en;
      font-weight: 400;
      font-size: var(--main-section-title-font-size);
      line-height: 1.2;
      word-break: keep-all;
      @include txt-gradient;
    }
    .sub-tit {
			word-break: keep-all;
      color: var(--#{$prefix}-color-text-strong);
      font-size: var(--main-section-sub-title-font-size);
      font-weight: 600;
    }
  }

  .section-visual {
    .visual {
      height: 108rem;

      .inner {
        position: relative;
        padding-top: 13.6rem;
        height: 100%;
      }

      .tit-wrap {
        position: relative;
        z-index: 1;
        padding-bottom: 8rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .num {
          margin-bottom: 1.6rem;
          color: #fff;
          font-weight: 500;
        }
        .desc {
          padding-bottom: 6.4rem;
          font-size: 2.4rem;
          font-weight: 600;
          color: #fff;
					word-break: keep-all;
        }
      }
      .img-wrap, .video-wrap {
				overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
				width: 100%;
        height: 100%;
				z-index: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
				video {
					width: 100%;
					height: 100%;
					object-fit: cover; 
					object-position: center center; 
				}
      }
    }
    .main-visual-swiper {
      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal {
        display: flex;
        margin: 0 var(--#{$prefix}-content-padding-x);
        max-width: var(--#{$prefix}-content-wrap-width-large);
        left: 50%;
        bottom: 8rem;
        transform: translateX(-50%);
      }
      .swiper-pagination-bullet {
				flex: 1;
        max-width: 8rem;
        height: 0.4rem;
        border-radius: 0;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.25);

        &-active {
          background-color: #fe5b16;
        }
      }
    }

		@include mq(tablet-small){
			.visual{
				height: 82.1rem;
			}
			font-size: 1.8rem;
		}
		@include mq(mobile){
			.visual{
				.tit-wrap{
					.num {
						font-size: 1.6rem;
					}
					.desc{
						font-size: 1.6rem;
					}
				}
			}
			.main-visual-swiper{
				.swiper-horizontal > .swiper-pagination-bullets,
      	.swiper-pagination-bullets.swiper-pagination-horizontal {
					margin: 0;
					max-width: calc(100% - var(--#{$prefix}-content-padding-x) * 2);
				}
			}
		}
  }

  .section-partner {
		--main-partner-padding-top: 14rem;
		--main-partner-padding-bottom: 24rem;
		--main-partner-dt-font-size: 3.2rem;
		--main-partner-dd-font-size: 20rem;
		--main-partner-dd-small-font-size: 12rem;

    padding: var(--main-partner-padding-top) 0 var(--main-partner-padding-bottom);

    .info-wrap {
      display: flex;
      align-items: center;
			justify-content: space-around;
      gap: 8rem;
      margin-top: 28rem;
			
      .img-wrap {
				flex-shrink: 0;
				position: relative;
				margin-left: 8.3%;
				width: 36.3%;

				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					transform: translate(-50%, -50%);
					display: block;
					width: 39.4%;
					height: 36rem;
					@include bg('common/obj-gradient.png');
				}

				.img-list{
					overflow: hidden;
					position: relative;
	
					&::before{
						content: '';
						padding-top: 121.6%;
						display: block;
					}
	
					li {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
						
	
						img {
							width: 100%;
							object-fit: cover;
						}
					}
				}
      }
      .txt-wrap {
				display: flex;
				flex-direction: column;
				width: 45%;

        dl {
					position: relative;
          display: flex;
          align-items: center;
					justify-content: flex-end;
					opacity: 0;
        }
        dt {
					position: absolute;
					left: 0;
					display: flex;
          padding-right: 4rem;
          color: var(--#{$prefix}-color-text-strong);
          font-size: var(--main-partner-dt-font-size);
          font-weight: 600;
					white-space: nowrap;

          &::before {
            content: "";
            display: inline-block;
            margin-right: 0.4rem;
            @include square(1.4rem);
            vertical-align: top;
            background-color: var(--#{$prefix}-color-orange-dark);
          }
        }
        dd {
					position: relative;
					display: flex;
    			align-items: baseline;
          font-size: var(--main-partner-dd-font-size);
          font-family: $font-family-en;
          line-height: 1;
          @include txt-gradient;
					white-space: nowrap;

					.counter{
						font-variant-numeric: tabular-nums;
						display: inline-block;
						text-align: right;
						min-width: 2ch;
					}

          small {
            font-size: var(--main-partner-dd-small-font-size);
            font-weight: 600;
          }

					&::after{
						position: absolute;
						bottom: 0;
    				transform: translateY(50%);
						content: '';
						display: block;
						width: 100%;
						height: 33.3%;
						z-index: -1;
						@include bg('main/partner-back.png');
					}
        }
      }
    }

		@include mq(1540){
			--main-partner-dt-font-size: 2.8rem;
			--main-partner-dd-font-size: 21rem;
			--main-partner-dd-small-font-size: 10rem;
		}
		@include mq(pc){
			--main-partner-dt-font-size: 2.1rem;
			--main-partner-dd-font-size: 15rem;
			--main-partner-dd-small-font-size: 5rem;
		}
		@include mq(tablet) {
			--main-partner-dt-font-size: 2.8rem;
			--main-partner-dd-font-size: 21rem;
			--main-partner-dd-small-font-size: 10rem;

			.info-wrap {
				flex-direction: column;

				.img-wrap {
					width: 70%;
				}
				.txt-wrap{
					width: 85%;
				}
			}
		}
		@include mq(tablet-small){
			.info-wrap {
				.txt-wrap{
					width: 100%;
				}
			}
		}
		@include mq(mobile) {
			--main-partner-padding-top: 8rem;
			--main-partner-padding-bottom: 12rem;
			--main-partner-dt-font-size: 1.8rem;
			--main-partner-dd-font-size: 8rem;
			--main-partner-dd-small-font-size: 4rem;

			.info-wrap{
				gap: 4rem;
				margin-top: 11rem;
				padding: 0 1.6rem;

				.img-wrap{
					width: 85.5%;

					&::before{
						left: 1.6rem;
						width: 36.6%;
						height: 13.8rem;
					}
					.img-list{
						width: 100%;
					}
				}
				.txt-wrap{
					dt{
						padding-right: 2.4rem;

						&::before {
							margin-right: 0.2rem;
							@include square(0.6rem);
						}
					}
				}
			}
		}
		@include mq(350) {
			.info-wrap{
				.txt-wrap{
					
					dl{
						flex-direction: column;
						
					}
					dt{
						position: initial;
						width: 100%;
					}
					dd{
						margin-left: auto;
					}
				}
			}
		}
  }

  .section-message {
    .tit {
			word-break: keep-all;
      font-family: $font-family-en;
      font-weight: 400;
      font-size: var(--main-message-title-font-size);
      @include txt-gradient;
      text-align: center;
    }
  }

  .section-business {
		--main-business-margin-top: 12rem;

		position: relative;
		margin-top: var(--main-business-margin-top);
    height: 108rem;

    .inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
			padding-top: 10.8rem;
			padding-bottom: 10.8rem;
      height: 100%;
    }

		.img-wrap{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

    .accordion.translucent {
      --accordion-padding-y: 6rem;
      --accordion-padding-x: 8rem;
      --accordion-icon-size: 5.6rem;

      width: 68rem;

      .accordion-item {
        .btn-accordion {
					display: flex;
					align-items: center;
					justify-content: space-between;
          padding: var(--accordion-padding-y) var(--accordion-padding-x);

          &::after {
						position: initial;
            @include square(var(--accordion-icon-size));
            @include icon-set("plus-large");
          }

          .tit {
						display: flex;
						gap: 0.4rem;
            font-size: 4rem;
            font-weight: 700;

            &::before {
              content: "";
              display: block;
              @include square(1.2rem);
              background-color: var(--#{$prefix}-color-orange-dark);
            }
						&::after{
							background-color: #272626;
						}
          }
        }
        .accordion-body {
          padding: 4rem var(--accordion-padding-x) var(--accordion-padding-y) calc(var(--accordion-padding-x) + 1.6rem);
          font-size: 2.1rem;
        }
        &.active {
          .btn-accordion {
            padding-bottom: 0;
						&::after {
              @include icon-set("minus-large");
							background-color: #272626;
            }
          }
        }
      }
    }

		@include mq(tablet){
			height: auto;
			.inner{
				padding: 0;
			}
			.img-wrap{
				position: inherit;

				&::before{
					content: '';
					display: block;
					padding-top: 83.3%;
				}
				img{
					position: absolute;
					top: 0;
				}
			}
			.accordion.translucent{
				margin-top: -4rem;
				width: 100%;
				border-top: 0;
				border-right: 0;
				border-left: 0;
				background: rgba(0, 0, 0, 0.04);
				backdrop-filter: blur(5rem);

				.accordion-item{
					border-bottom-color: rgba(0, 0, 0, 0.10);

					.btn-accordion{
						flex-direction: row;
					}

					&:last-child{
						border-bottom: 0;
					}
				}
			}
		}
		@include mq(mobile){
			--main-business-margin-top: 8rem;

			.img-wrap{
				&::before{
					padding-top: 120%;
				}
			}

			.accordion.translucent{
				--accordion-padding-y: 4rem;
				--accordion-padding-x: 3.2rem;
				--accordion-icon-size: 4rem;

				.accordion-item{
					.btn-accordion{
						.tit{
							gap: 0.6rem;
							font-size: 2.8rem;

							&::before{
								@include square(0.6rem);
							}
						}
					}
					.accordion-body{
						padding-top: 2.4rem;
						font-size: 1.8rem;
					}
				}
			}
		}
  }

	.section-trend{
		.inner{
			display: flex;
			flex-direction: column;
			gap: 8rem;
			padding-top: 12rem;
			padding-bottom: 12rem;
		}

		@include mq(mobile){
			.inner{
				gap: 4rem;
				padding-top: 8rem;
				padding-bottom: 8rem;
			}
		}
	}

  .section-insight {
    --main-insight-news-list-txt-gap: 1.6rem;
    --main-insight-news-list-gap: 4em;

    .overlay-box-wrap {
      .visual-box {
        position: relative;
        width: 59.31%;
				height: auto;

        .main-tit-wrap {
          position: relative;
          z-index: 1;

					.tit{
						@include txt-gradient(linear-gradient(270deg, #FFF 0.02%, rgba(216, 58, 0, 0.90) 27.9%, #EB6C31 47.12%, #EEC3B0 92.98%));
					}
        }

        .img-wrap {
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

					li{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0; /* 모든 이미지를 기본적으로 숨김 */
						transform: scale(1); /* 기본 크기 */

						img {
              width: 100%;
							height: 100%;
              object-fit: cover;
            }
	
						&:nth-child(1) {
							animation: visualRoll 9s infinite 0s;
						}
						&:nth-child(2) {
							animation: visualRoll 9s infinite 3s;
						}
						&:nth-child(3) {
							animation: visualRoll 9s infinite 6s;
						}
					}
					
					@keyframes visualRoll {
						0% {
							opacity: 0;
							transform: scale(1);
						}
						16.6% { 
							opacity: 1;
							transform: scale(1.1); 
						}
						33.3% {
							opacity: 1;
							transform: scale(1.1);
						}
						50% {
							opacity: 0;
							transform: scale(1.1);
						}
						
						100% {
							opacity: 0;
						}
					}
        }
      }
      .info-box {
        display: flex;
        flex-direction: column;
        gap: var(--main-insight-news-list-gap);
        margin-left: -6rem;
				margin-top: 0;
        width: 62.7%;
				min-width: 0;

        .news-list {
          display: flex;
          flex-direction: column;
          gap: var(--main-insight-news-list-gap);

          .news-item {
            a {
              display: flex;
              flex-direction: column;
              gap: var(--main-insight-news-list-txt-gap);

              &::after {
                content: "";
                display: inline-block;
                @include square(5.6rem);
                @include icon-set("arrow-half");
                background-color: var(--#{$prefix}-color-sub-80);
              }
            }

            .news-top {
              display: flex;
              gap: 1.6rem;

              .category {
                font-weight: 600;
              }
            }
            .news-con {
              display: flex;
              flex-direction: column;
              gap: var(--main-insight-news-list-txt-gap);

              .tit {
								word-break: keep-all;
                color: var(--#{$prefix}-color-text-strong);
                font-size: 3.2rem;
                font-weight: 700;
								@include ellipsis(1);
              }
              .desc {
                color: var(--#{$prefix}-color-text-subtle);
                @include ellipsis(2);
              }
            }
          }
        }
        .btn-wrap {
          .btn {
            justify-content: center;
            border-top-color: rgba(0, 0, 0, 0.15);
            border-bottom: 0;
          }
        }
      }
    }

		@include mq(1500){
			.overlay-box-wrap{
				flex-direction: column;
				
				.visual-box{
					width: 100%;
					min-height: 60rem;
				}
				.info-box{
					margin-top: -4rem;
					margin-left: 0;
					width: 100%;
				}
			}
		}
		@include mq(tablet){
			.overlay-box-wrap{
				.info-box{
					padding: 8rem;
				}
			}
		}
		@include mq(tablet-small){
			.overlay-box-wrap{
				.visual-box{
					min-height: 45rem;
				}
			}
		}
		@include mq(mobile){

			.overlay-box-wrap{
				.visual-box{
					padding: 4rem var(--#{$prefix}-content-padding-x);
				}
				.info-box{
					padding: 6.4rem var(--#{$prefix}-content-padding-x) 4rem;

					.news-list {
						font-size: 1.6rem;
						.news-item {
							a{
								&::after{
									@include square(4rem);
								}
							}
							.news-con{
								.tit {
									font-size: 2.4rem;
								}
								.desc{
									font-size: 1.8rem;
								}
							}
						}
					}
				}
			}
		}
  }

  .section-banner {
		--main-banner-margin-top: 8rem;
		--main-banner-footer-height: 45.7rem;
		--main-banner-padding-bottom: 31rem;

    margin-top: var(--main-banner-margin-top);
    @include bg("main/banner-bg.png");

    .main-tit-wrap {
      padding: 20rem 0 calc(var(--main-banner-padding-bottom) + var(--main-banner-footer-height));
      text-align: center;
      gap: 1.6rem;

      .tit {
        margin: 0 auto;
				color: transparent; 
				background-clip: text;
				-webkit-background-clip: text;
				background-repeat: no-repeat;
				background-image: linear-gradient(
					to right, 
					#ff5532 0%,   /* (A) 그라데이션 시작 */
					#04021e 50%, /* (A) 그라데이션 끝 */
					#ffffff 50%, /* (B) 흰색 시작 */
					#ffffff 100% /* (B) 흰색 끝 */
				);
				background-size: 200% 100%;
				background-position: 100% 0;
        font-size: var(--main-banner-title-font-size);
      }
      .sub-tit {
        color: #fff;
        font-size: var(--main-banner-desc-font-size);
      }
    }

		@include mq(1500){
			--main-banner-margin-top: 0;
		}
		@include mq(mobile){
			@include bg("main/mo-banner-bg.png");

			.main-tit-wrap{
				gap: 2.4rem;
				padding-top: 16rem;

				.sub-tit{
					font-size: 1.8rem;
				}
			}
		}
  }
}

//test
.page-main.test{
	.section-partner{
		--main-partner-padding-bottom: 10rem;
	}
	.section-business{
		min-height: 108rem;
		height: auto;
		.accordion.translucent .accordion-item.active .btn-accordion::after{
			display: none;
		}
	}
}
.page-company.test{
	.company-main{
		.section-mission{
			position: initial;
		}
		.section-slogan{
			.deco-tit{
				transform: translateX(-50%);
			}
		}
	}
}


//영문 메인
html[lang="en"]{
	.page-main{
		.header{
			.logo {
				@include bg("common/en-logo-w.svg");
			}
		}
		.section-network{
			.main-tit-wrap{
				margin-bottom: 12rem;
				.tit{
					margin: 0 auto;
					color: #fff;
					-webkit-text-fill-color: #fff;
					background: none;
				}
			}
			.btn-wrap{
				margin-top: 4.8rem;
				text-transform: capitalize;
			}

			@include mq(mobile){
				.global-network-map{
					padding-top: 8rem;
					padding-bottom: 27.6rem;
					@include bg('/main/mo-network-visual-bg-en.png');

					.main-tit-wrap{
						margin-bottom: 0;
					}
				}
			}
		}
		.section-banner{
			margin-top: 0;
		}
	}
}