@charset "UTF-8";
@use "../util" as *;

.page-search{
  .section-tit-wrap{
    position: relative;
    z-index: 5;

		@include mq(mobile){
			.desc{
				margin-top: 1.6rem;
			}
		}
  }

  .section-search{
    position: relative;
    padding-top: 8rem;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 45.2rem;
      background: linear-gradient(0deg, rgba(243, 242, 241, 0.00) 0%, #F3F2F1 100%);
      z-index: -1;
    }

		@include mq(mobile){
			padding-top: 4rem;
		}
  }

  .section-result{
		overflow: hidden;
    .result-txt{
      margin: 8rem 0;
      text-align: center;
      color: var(--#{$prefix}-color-text-strong);
      font-size: 2.8rem;
      font-weight: 600; 
      word-break: keep-all;
  
      strong{
        color: var(--#{$prefix}-color-text-primary);
        font-weight: 600;
      }
    }
    .no-result{
      --no-result-gap: 2.4rem;
      --no-result-padding-y: 20rem;
      --no-result-icon-size: 5.6rem;
      --no-result-font-size: 2.1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--no-result-gap);
      padding: var(--no-result-padding-y) 0;

      &::before{
        content: '';
        display: block;
        @include square(var(--no-result-icon-size));
        @include icon-set('no-result');
        background-color: var(--#{$prefix}-color-gray-30);
      }
      .txt{
        font-size: var(--no-result-font-size);
      }
    }
    .tab-conts-wrap{
			--tab-cont-wrap-margin-top: 8rem;
      margin-top: var(--tab-cont-wrap-margin-top);
    }
    .result-group{
			--result-group-tit-count-gap: 4rem;
			--result-group-tit-count-font-size: 4rem;
			--result-group-margin-top: 12rem;
			--result-group-card-list-padding: 4rem;

      &:last-child{
        margin-bottom: 12rem;
      }

      .tit-xlg{
        margin-bottom: var(--result-group-tit-count-gap);
        .count{
          color: var(--#{$prefix}-color-text-primary);
          font-size: var(--result-group-tit-count-font-size);
          font-weight: 500;
        }
      }
      +.result-group{
        margin-top: var(--result-group-margin-top);
      }
    }

    @include mq(mobile){
			.result-txt{
				margin: 4rem 0;
				font-size: 1.8rem;
				font-weight: 400;
			}
      .no-result{
        --no-result-gap: 1.6rem;
        --no-result-padding-y: 10rem;
        --no-result-icon-size: 4rem;
        --no-result-font-size: 1.8rem;
      }
			.tab-conts-wrap{
				--tab-cont-wrap-margin-top: 4rem;
			}
			.result-group{
				--result-group-tit-count-gap: 2.4rem;
				--result-group-tit-count-font-size: 2.4rem;
				--result-group-margin-top: 8rem;
				
				&:last-child{
					margin-bottom: 8rem;
				}
			}
    }
  }
}