@charset "UTF-8";
@use "../util" as *;

.page-search{
  .section-tit-wrap{
    position: relative;
    z-index: 3;
  }

  .section-search{
    position: relative;
    padding-top: 8rem;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 45.2rem;
      background: linear-gradient(0deg, rgba(243, 242, 241, 0.00) 0%, #F3F2F1 100%);
      z-index: -1;
    }
  }

  .section-result{
    .result-txt{
      margin: 8rem 0;
      text-align: center;
      color: var(--#{$prefix}-color-text-strong);
      font-size: 2.8rem;
      font-weight: 600; 
  
      strong{
        color: var(--#{$prefix}-color-text-primary);
        font-weight: 600;
      }
    }
    .no-result{
      --no-result-gap: 2.4rem;
      --no-result-padding-y: 20rem;
      --no-result-icon-size: 5.6rem;
      --no-result-font-size: 2.1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--no-result-gap);
      padding: var(--no-result-padding-y) 0;

      &::before{
        content: '';
        display: block;
        @include square(var(--no-result-icon-size));
        @include icon-set('no-result');
        background-color: var(--#{$prefix}-color-gray-30);
      }
      .txt{
        font-size: var(--no-result-font-size);
      }
    }
    .tab-conts-wrap{
      margin-top: 8rem;
    }
    .result-group{
      &:last-child{
        margin-bottom: 12rem;
      }

      .tit-xlg{
        margin-bottom: 4rem;
        .count{
          color: var(--#{$prefix}-color-text-primary);
          font-size: 4rem;
          font-weight: 500;
        }
      }
      +.result-group{
        margin-top: 12rem;
      }

      .card-list-wrap{
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }

    @include mq(mobile){
      .no-result{
        --no-result-gap: 1.6rem;
        --no-result-padding-y: 10rem;
        --no-result-icon-size: 4rem;
        --no-result-font-size: 1.8rem;
      }
    }
  }
}