<%
  const localsSafe = locals || {}; 
  const fundDataList = localsSafe.fundDataList || []; 

  const defaultBadges = [
    { label: '아세안', variant: 'solid', color: 'light-orange'},
    { label: '주식혼합', variant: 'solid', color: 'light-orange'},
    { label: '중소형주/성장주', variant: 'solid', color: 'light-orange'}
  ];

  const includePath = localsSafe.includePath || '../';
  const checkboxPath = includePath + 'components/checkbox.ejs';
  const badgePath = includePath + 'components/badge.ejs';
%>
<ul class="fund-list-wrap">
  <%_ fundDataList.forEach(fund => { -%>
  <li class="fund-item">
    <%- include(checkboxPath, {
      label: fund.checkboxLabel || '비교담기',
      hideLabel: true,
    }) -%>
    <div class="fund-info">
      <div class="fund-top">
				<!-- [2025-12-12] badge 컬러 light-orange 로 변경 -->
        <%- include(badgePath, { 
					badgeItems: fund.badges || defaultBadges
        }) -%>
				<!-- // [2025-12-12] badge 컬러 light-orange 로 변경 -->
        <div class="tit-wrap">
          <a href="#!">
            <p class="tit"><%= fund.title %></p>
            <p class="desc"><%= fund.desc %></p>
          </a>
        </div>
      </div>
      <div class="fund-chart">
        <div class="chart-area line">
          <div class="chart">
            <!-- Chart 영역 -->
          </div>
        </div>
      </div>
      <div class="fund-con">
				<div class="fund-txt revenue">
					<p class="tit">3개월 수익률</p>
					<p class="val">2.56<small>%</small></p>
				</div>
				<div class="fund-txt">
					<p class="tit">기준가</p>
					<p class="val">2,698.34<span class="unit">원</span></p>
				</div>
				<div class="fund-txt">
					<p class="tit">순자산</p>
					<p class="val">1,463<span class="unit">백만원</span></p>
				</div>
				<div class="period-grid">
					<div class="fund-txt">
						<p class="val up">22.02</p>
					</div>
					<div class="fund-txt">
						<p class="val up">45.89</p>
					</div>
					<div class="fund-txt">
						<p class="val up">2.45</p>
					</div>
					<div class="fund-txt">
						<p class="val up">87.98</p>
					</div>
					<div class="fund-txt">
						<p class="val up">103.62</p>
					</div>
					<div class="fund-txt">
						<p class="val up">179.85</p>
					</div>
					<div class="fund-txt">
						<p class="val down">-75.15</p>
					</div>
					<div class="fund-txt">
						<p class="val up">169.83</p>
					</div>
				</div>
      </div>
    </div>
  </li>
  <%_ }); -%>
</ul>