<% 
	const title = locals.title ? locals.title : '한화자산운용'; 
-%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%- title %> | 한화자산운용</title>
<script type="text/javascript" src="/assets/js/jquery3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>
<script type="text/javascript" src="/assets/js/gsap.min.js"></script>
<script type="text/javascript" src="/assets/js/ScrollTrigger.min.js"></script>
<script type="text/javascript" src="/assets/js/ui.common.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css">