<% 
	const title = locals.title ? locals.title : '한화자산운용'; 
-%>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>한화자산운용 &gt; <%- title %></title>
<!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
<script src="/assets/js/jquery3.min.js"></script>
<script src="/assets/js/ui.common.js"></script>